/*= Accent Color - Compatibility ====================================================*/
@supports -moz-bool-pref("userChrome+Content.tor.compatibility") {
  /*= Theme - Compatibility ===========================================================*/
  /*- Drop Indicator Color #473 ------------------------------------------*/
  #bookmarksPanel[lwt-sidebar="true"] {
    --focus-outline-color: var(--in-content-focus-outline-color, -moz-accent-color) !important;
  }
  /** System Default Theme *************************************************************/
  /*= Windows10 - UWP like color =========================================*/
  @media (-moz-platform: windows-win10) {
    :root:not(:-moz-lwtheme) {
      --win-accent-foreground-color: -moz-accent-color-foreground !important;
    }
  }
  /*= Windows10 - Titlebar accent color ==================================*/
  @media (-moz-windows-accent-color-in-titlebar) {
    /* Tab Bar */
    :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme) .titlebar-color,
    :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) .titlebar-color {
      color: -moz-accent-color-foreground;
      background-color: -moz-accent-color;
    }
    :root[tabsintitlebar]:-moz-window-inactive:not(:-moz-lwtheme) .titlebar-color,
    :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:-moz-window-inactive .titlebar-color {
      background-color: color-mix(in srgb, -moz-accent-color 65%, white); /* 70% is like Microsoft Edge */ 
    }
    :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme) .toolbar-items,
    :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) .toolbar-items {
      --toolbarbutton-icon-fill: currentColor;
      --toolbarbutton-hover-background: color-mix(in srgb, -moz-accent-color-foreground 10%, transparent);
      --toolbarbutton-active-background: color-mix(in srgb, -moz-accent-color-foreground 15%, transparent);
    }
  }
  /** Fully Theme Mode *****************************************************************/
  /*= Sidebar - Field Color ==============================================*/
  .sidebar-panel:not([lwt-sidebar]) #search-box[focused="true"],
  body:not([lwt-sidebar]) xul|search-textbox.tabsFilter[focused="true"] {
    border-color: -moz-accent-color !important; /* Hard Coded */
    outline-color: -moz-accent-color !important;
  }
  /** Proton Theme Mode ****************************************************************/
  /*= Proton Commons =====================================================*/
  @-moz-document url("chrome://global/content/commonDialog.xhtml"),
    url("chrome://pippki/content/editcacert.xhtml"),
    url("chrome://pippki/content/deletecert.xhtml"),
    url("chrome://pippki/content/exceptionDialog.xhtml"),
    url("chrome://mozapps/content/downloads/unknownContentType.xhtml"),
    url("chrome://global/content/appPicker.xhtml"),
    url("chrome://browser/content/pageinfo/pageInfo.xhtml")
  {
    .checkbox-check[checked] {
      border-color: var(--checkbox-checked-border-color, transparent) !important;
      background-color: var(--checkbox-checked-bgcolor, -moz-accent-color) !important;
      color: var(--checkbox-checked-color, -moz-accent-color-foreground) !important;
    }
    checkbox:not([disabled="true"]):hover > .checkbox-check {
      background-color: var(
        --checkbox-unchecked-hover-bgcolor,
        color-mix(in srgb, -moz-accent-color 4%, Field)
      ) !important;
    }
    checkbox:not([disabled="true"]):hover:active > .checkbox-check {
      background-color: var(
        --checkbox-unchecked-active-bgcolor,
       color-mix(in srgb, -moz-accent-color 8%, Field)
     )  !important;
    } 
    checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
      background-color: var(
        --checkbox-checked-hover-bgcolor,
        color-mix(in srgb, currentColor 12.5%, -moz-accent-color)
      ) !important;
    }
    checkbox:not([disabled="true"]):hover:active > .checkbox-check[checked] {
      background-color: var(
        --checkbox-checked-active-bgcolor,
        color-mix(in srgb, currentColor 25%, -moz-accent-color)
      ) !important;
    }
    checkbox:-moz-focusring > .checkbox-check {
      outline: 2px solid var(--focus-outline-color, -moz-accent-color) !important;
    }
    @media (prefers-contrast) {
      checkbox:not([disabled="true"]):hover > .checkbox-check {
        /* color will set the border-color on the check due to how HCM works for in-content pages. */
        color: var(--checkbox-checked-border-color, color-mix(in srgb, -moz-accent-color 4%, Field)) !important;
      }
      .checkbox-check[checked] {
        fill: var(--checkbox-checked-color, -moz-accent-color-foreground) !important;
      }
      checkbox:not([disabled="true"]):hover:active > .checkbox-check[checked] > .checkbox-check[checked],
      checkbox:not([disabled="true"]):hover > .checkbox-check[checked] > .checkbox-check[checked] {
        color: var(--checkbox-checked-border-color-hover, -moz-accent-color-foreground) !important;
        fill: var(--checkbox-checked-border-color-hover, -moz-accent-color-foreground) !important;
      }
    }
    xul|menulist:-moz-focusring {
      outline: 2px solid var(--focus-outline-color, -moz-accent-color) !important;
    }
  }
  /** Decoration ***********************************************************************/
  /*= Field Border =======================================================*/
  @media (prefers-reduced-motion: no-preference) {
    .sidebar-panel:not([lwt-sidebar]) #search-box:hover,
    body:not([lwt-sidebar]) xul|search-textbox.tabsFilter:hover {
      border-color: -moz-accent-color !important;
    }
    /* Others */
    #editBMPanel_namePicker:hover,
    #editBMPanel_tagsField:hover,
    .findbar-container .findbar-textbox:hover {
      --input-border-color: color-mix(in srgb, var(--focus-outline-color, -moz-accent-color) 50%, transparent);
    }
  }
}