/*= OS - Compatibility ==============================================================*/
/*= Windows 10 - Native Menu Active Color ==============================*/
@media (-moz-os-version: windows-win10), (-moz-platform: windows-win10) {
  @media not (-moz-windows-non-native-menus) {
    menu[_moz-menuactive="true"],
    menuitem[_moz-menuactive="true"] {
      background-color: #91c9f7 !important;
      border-color: transparent !important;
    }
    menu[_moz-menuactive="true"][disabled="true"],
    menuitem[_moz-menuactive="true"][disabled="true"] {
      background-color: color-mix(in srgb, currentColor 9%, transparent) !important;
      border-color: transparent !important;
    }
  }
}
