/*- Selected Tab - Bottom Rounded Corner --------------------------------------------*/
@supports not -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.chrome") {
  @supports not -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.edge") {
    @supports not -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.wave") {
      #TabsToolbar {
        --tab-border-radius: 3px !important;
        --uc-tab-corner-rounding: var(--tab-border-radius); /* 10px looks about like chromium - 17px looks close to Australis tabs */
        --uc-tab-corner-padding: 0px;
        --uc-tab-corner-position: calc(var(--uc-tab-corner-padding) - var(--uc-tab-corner-rounding));
      }
      .tabbrowser-tab .tab-background::before,
      .tabbrowser-tab .tab-background::after {
        content: "" !important;
        /* Box */
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 0;
        /* Shape */
        width: var(--uc-tab-corner-rounding);
        height: 100%;
        /* Color */
        fill: transparent;
        stroke: transparent;
        -moz-context-properties: fill, stroke;
        /* Image */
        background-size: var(--uc-tab-corner-rounding);
        background-repeat: no-repeat;
        background-position-y: bottom;
      }
      .tabbrowser-tab .tab-background::before {
        left: var(--uc-tab-corner-position);
        background-image: url("./../../images/tab/tab-bottom-corner-left.svg");
      }
      .tabbrowser-tab .tab-background::after {
        right: var(--uc-tab-corner-position);
        background-image: url("./../../images/tab/tab-bottom-corner-right.svg");
      }
      /* As Selected Tab - Box Shadow */
      :root:not([customizing="true"])::is([lwtheme-mozlightdark], [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"])
        #TabsToolbar[brighttext]
        #tabbrowser-tabs:not([noshadowfortests])
        .tabbrowser-tab[visuallyselected]
        .tab-background:-moz-lwtheme::before,
      :root:not([customizing="true"])::is([lwtheme-mozlightdark], [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"])
        #TabsToolbar[brighttext]
        #tabbrowser-tabs:not([noshadowfortests])
        .tabbrowser-tab[visuallyselected]
        .tab-background:-moz-lwtheme::after {
        stroke: var(--toolbar-color);
      }
    }
  }
}
@supports -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.chrome") or 
          -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.edge") or 
          -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.wave") {
  #TabsToolbar {
    --uc-tab-corner-height: calc(var(--tab-min-height) + 1px);
    --uc-tab-corner-size: var(--uc-tab-corner-height);
    --uc-tab-corner-half-size: calc(var(--uc-tab-corner-size) / 2);
    --uc-tab-corner-half-size-reverse: calc(var(--uc-tab-corner-half-size) * -1);
    --uc-tab-corner-bgimage: none;
  }
  @supports -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.chrome") {
    #TabsToolbar {
      --uc-tab-corner-left-side-svg: url("./../../images/tab/tab-bottom-corner-left-chrome.svg");
      --uc-tab-corner-left-side-clipPath: url("./../../images/tab/tab-bottom-corner-left-chrome.svg#svgClipPath");
      --uc-tab-corner-right-side-svg: url("./../../images/tab/tab-bottom-corner-right-chrome.svg");
      --uc-tab-corner-right-side-clipPath: url("./../../images/tab/tab-bottom-corner-right-chrome.svg#svgClipPath");
      --uc-tab-corner-left-side-svg-clipped: url("./../../images/tab/tab-bottom-corner-left-chrome-clipped.svg");
      --uc-tab-corner-right-side-svg-clipped: url("./../../images/tab/tab-bottom-corner-right-chrome-clipped.svg");
      --uc-tab-corner-size: 16px;
    }
  }
  @supports -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.edge") {
    #TabsToolbar {
      --uc-tab-corner-left-side-svg: url("./../../images/tab/tab-bottom-corner-left-edge.svg");
      --uc-tab-corner-left-side-clipPath: url("./../../images/tab/tab-bottom-corner-left-edge.svg#svgClipPath");
      --uc-tab-corner-right-side-svg: url("./../../images/tab/tab-bottom-corner-right-edge.svg");
      --uc-tab-corner-right-side-clipPath: url("./../../images/tab/tab-bottom-corner-right-edge.svg#svgClipPath");
      --uc-tab-corner-left-side-svg-clipped: url("./../../images/tab/tab-bottom-corner-left-edge-clipped.svg");
      --uc-tab-corner-right-side-svg-clipped: url("./../../images/tab/tab-bottom-corner-right-edge-clipped.svg");
      --uc-tab-corner-size: 14px;
    }
  }
  @supports -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.wave") {
    #TabsToolbar {
      --uc-tab-corner-left-side-svg: url("./../../images/tab/tab-bottom-corner-left-wave.svg");
      --uc-tab-corner-left-side-clipPath: url("../../../images/tab/tab-bottom-corner-left-wave.svg#svgClipPath");
      --uc-tab-corner-right-side-svg: url("./../../images/tab/tab-bottom-corner-right-wave.svg");
      --uc-tab-corner-right-side-clipPath: url("./../../images/tab/tab-bottom-corner-right-wave.svg#svgClipPath");
      --uc-tab-corner-left-side-svg-clipped: url("./../../images/tab/tab-bottom-corner-left-wave-clipped.svg");
      --uc-tab-corner-right-side-svg-clipped: url("./../../images/tab/tab-bottom-corner-right-wave-clipped.svg");
    }
  }
  .tabbrowser-tab {
    padding-inline: 0 !important;
    overflow-clip-margin: var(--uc-tab-corner-half-size) !important;
  }
  .tabbrowser-tab .tab-background {
    --tab-border-radius: 0px;
    margin-inline: var(--uc-tab-corner-half-size) !important;
    position: relative;
  }
  .tabbrowser-tab .tab-background::before,
  .tabbrowser-tab .tab-background::after {
    content: "";
    /* Box */
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -1px;
    /* Shape */
    width: var(--uc-tab-corner-size);
    height: var(--uc-tab-corner-height);
    /* Color */
    fill: transparent;
    -moz-context-properties: fill;
    /* Image */
    background-size: cover, auto auto;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, right top;
    background-attachment: scroll, fixed;
  }
  .tabbrowser-tab .tab-background::before {
    right: 100%;
    background-image: var(--uc-tab-corner-left-side-svg), var(--uc-tab-corner-bgimage);
    clip-path: var(--uc-tab-corner-left-side-clipPath);
  }
  .tabbrowser-tab .tab-background::after {
    left: 100%;
    background-image: var(--uc-tab-corner-right-side-svg), var(--uc-tab-corner-bgimage);
    clip-path: var(--uc-tab-corner-right-side-clipPath);
  }
  .tabbrowser-tab[beforeselected-visible] .tab-background::after {
    --uc-tab-corner-right-side-svg: var(--uc-tab-corner-right-side-svg-clipped);
  }
  .tabbrowser-tab[visuallyselected] + .tabbrowser-tab .tab-background::before {
    --uc-tab-corner-left-side-svg: var(--uc-tab-corner-left-side-svg-clipped);
  }
  .tabbrowser-tab:is([visuallyselected], [multiselected]) .tab-background {
    --uc-tab-corner-bgimage: var(--lwt-header-image, none);
  }
  #tabbrowser-tabs[movingtab] .tabbrowser-tab:is([visuallyselected], [multiselected]) .tab-background:-moz-lwtheme {
    --uc-tab-corner-bgimage: none;
  }
  @supports not -moz-bool-pref("userChrome+Content.padding.first_tab") {
    #tabbrowser-tabs[positionpinnedtabs],
    #tabbrowser-tabs:not([overflow]) .tabbrowser-tab[first-visible-tab],
    #tabbrowser-tabs[overflow] .tabbrowser-tab[first-visible-unpinned-tab] {
      margin-left: var(--uc-tab-corner-half-size) !important;
    }
  }
  .tabbrowser-tab[last-visible-tab] {
    margin-right: var(--uc-tab-corner-half-size) !important;
  }
}
/* Selected Fill */
.tabbrowser-tab[visuallyselected] .tab-background::before,
.tabbrowser-tab[visuallyselected] .tab-background::after {
  fill: var(--tab-selected-bgcolor, var(--toolbar-bgcolor));
  stroke: var(--tab-line-color, var(--tabs-border-color, rgba(128, 128, 142, 0.9)));
}
/* Multi-Selected Fill */
.tabbrowser-tab[multiselected]:not([visuallyselected]) .tab-background::before,
.tabbrowser-tab[multiselected]:not([visuallyselected]) .tab-background::after {
  fill: var(--uc-multiselected-tab-bgcolor);
}
/* Hover Fill */
.tabbrowser-tab:hover:not([visuallyselected], [multiselected]) .tab-background::before,
.tabbrowser-tab:hover:not([visuallyselected], [multiselected]) .tab-background::after {
  fill: color-mix(in srgb, currentColor 11%, transparent) !important;
}
