/*- Selected Tab - Bottom Rounded Corner --------------------------------------------*/
#tabbrowser-tabs {
  --tab-border-radius: 3px !important;
  --tab-corner-rounding: var(--tab-border-radius); /* 10px looks about like chromium - 17px looks close to Australis tabs */
  --tab-corner-padding: 0px;
  --tab-corner-position: calc(var(--tab-corner-padding) - var(--tab-corner-rounding));
}
.tabbrowser-tab > stack::before,
.tabbrowser-tab > stack::after {
  content: "" !important;
  /* Box */
  display: block;
  z-index: 1;
  position: absolute;
  /* Shape */
  width: var(--tab-corner-rounding);
  height: 100%;
  /* Color */
  fill: transparent;
  stroke: transparent;
  -moz-context-properties: fill, stroke;
  /* Image */
  background-size: var(--tab-corner-rounding);
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.tabbrowser-tab > stack::before {
  left: var(--tab-corner-position) !important;
  background-image: url("./../../images/tab-bottom-corner-left.svg");
}
.tabbrowser-tab > stack::after {
  left: auto;
  right: var(--tab-corner-position);
  background-image: url("./../../images/tab-bottom-corner-right.svg");
}
/* Selected Fill */
.tabbrowser-tab[selected] > stack::before,
.tabbrowser-tab[selected] > stack::after {
  fill: var(--tab-selected-bgcolor, var(--toolbar-bgcolor));
  stroke: var(--tab-line-color, var(--tabs-border-color, rgba(128, 128, 142, 0.9)));
}
/* Multi-Selected Fill */
.tabbrowser-tab[multiselected]:not([selected]) > stack::before,
.tabbrowser-tab[multiselected]:not([selected]) > stack::after {
  fill: var(--uc-multiselected-tab-bgcolor);
}
/* Hover Fill */
.tabbrowser-tab:hover:not([selected], [multiselected]) > stack::before,
.tabbrowser-tab:hover:not([selected], [multiselected]) > stack::after {
  fill: color-mix(in srgb, currentColor 11%, transparent) !important;
}
/* As Selected Tab - Box Shadow */
:root:not([customizing="true"])::is([lwtheme-mozlightdark], [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"])
  #TabsToolbar[brighttext]
  #tabbrowser-tabs:not([noshadowfortests])
  .tabbrowser-tab[selected]
  > stack:-moz-lwtheme::before,
:root:not([customizing="true"])::is([lwtheme-mozlightdark], [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"])
  #TabsToolbar[brighttext]
  #tabbrowser-tabs:not([noshadowfortests])
  .tabbrowser-tab[selected]
  > stack:-moz-lwtheme::after {
  stroke: var(--toolbar-color);
}