/*= Downloads Popup ==================================================== I'VE ADDED =*/
/* Panel and outer controls */
#downloadsSummary > .downloadTypeIcon {
  list-style-image: url("chrome://browser/skin/downloads/download-summary.svg");
}
/* Button icons */
.downloadIconCancel > .button-box > .button-icon {
  list-style-image: url("./../../images/dismiss.svg") !important;
}
.downloadIconShow > .button-box > .button-icon {
  list-style-image: url("./../../images/folder-open.svg") !important;
}
.downloadIconRetry > .button-box > .button-icon {
  list-style-image: url("./../../images/reload.svg") !important;
}
.downloadIconSubviewArrow > .button-box > .button-icon {
  list-style-image: url("./../../images/arrow-left.svg") !important;
}
.downloadIconSubviewArrow > .button-box > .button-icon:-moz-locale-dir(ltr) {
  list-style-image: url("./../../images/arrow-right.svg") !important;
}
/* BlockedStates icons */
#downloadsPanel-blockedSubview[verdict="Insecure"] .downloadsPanel-blockedSubview-image,
#downloadsPanel-blockedSubview[verdict="Malware"] .downloadsPanel-blockedSubview-image,
#downloadsListBox > richlistitem[verdict="Insecure"] .downloadBlockedBadge,
#downloadsListBox > richlistitem[verdict="Malware"] .downloadBlockedBadge {
  background-image: url("./../../images/error-filled.svg") !important;
  fill: var(--red-70) !important; /* was rgb (226, 40, 80), is rgb(164, 0, 15)=#identity-popup with warning/error */
}
#downloadsPanel-blockedSubview[verdict="Uncommon"] .downloadsPanel-blockedSubview-image,
#downloadsListBox > richlistitem[verdict="Uncommon"] .downloadBlockedBadge {
  background-image: url("./../../images/info-filled.svg") !important;
  fill: var(--blue-50) !important; /* was rgb(0, 134, 237), is rgb(10, 132, 255) */
}
#downloadsPanel-blockedSubview[verdict="PotentiallyUnwanted"] .downloadsPanel-blockedSubview-image,
#downloadsPanel-blockedSubview[verdict="DownloadSpam"] .downloadsPanel-blockedSubview-image,
#downloadsListBox > richlistitem[verdict="PotentiallyUnwanted"] .downloadBlockedBadge,
#downloadsListBox > richlistitem[verdict="DownloadSpam"] .downloadBlockedBadge  {
  background-image: url("./../../images/warning-filled.svg") !important;
  fill: var(--orange-50) !important; / was rgb(255, 191, 0), is rgb(255, 148, 0) */
}
