/*= SideBar ============================================================ I'VE ADDED =*/
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon,
#sidebarMenu-popup #sidebar-switcher-bookmarks > .toolbarbutton-icon {
  list-style-image: url("./../../images/star-line-horizontal.svg") !important;
}
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon,
#sidebarMenu-popup #sidebar-switcher-history > .toolbarbutton-icon {
  list-style-image: url("./../../images/history.svg") !important;
}
#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon,
#sidebarMenu-popup #sidebar-switcher-tabs > .toolbarbutton-icon {
  list-style-image: url("./../../images/phone-tablet.svg") !important;
}
#sidebarMenu-popup [data-l10n-id="sidebar-menu-close"] > .toolbarbutton-icon {
  list-style-image: url("./../../images/dismiss.svg") !important;
}