/*= BookMark Bar - Reduce Height ====================================================*/
/* Original 
toolbarbutton.bookmark-item:not(.subviewbutton) {
  margin-top: 2px;
  margin-bottom: 2px;
} */
:root[uidensity="compact"] #PersonalToolbar toolbarbutton {
  margin-top: 0px !important;
  margin-bottom: 1px !important;
}
