/* for Extra Drag Space */
@supports -moz-bool-pref("userChrome+Content.padding.drag_space") {
  :root {
    --uc-space-above-tabbar: 8px; /* If you want drag space, set to 8px */
  }
  @supports not -moz-bool-pref("userChrome+Content.autohide.menubar") {
    @media (-moz-platform: windows-win10) {
      :root[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"]:not([inactive]) {
        height: calc(var(--tab-min-height) + var(--uc-space-above-tabbar) - var(--tabs-navbar-shadow-size)) !important;
      }
    }
    @media (-moz-gtk-csd-available) {
      :root[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"]:not([inactive]) {
        height: calc(var(--tab-min-height) + var(--uc-space-above-tabbar)) !important;
      }
    }
  }
  @media (-moz-platform: windows-win10), (-moz-gtk-csd-available) {
    /* Add extra space to titlebar for dragging */
    :root[tabsintitlebar][sizemode="normal"][chromehidden~="menubar"] #TabsToolbar > .toolbar-items,
    :root[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] + #TabsToolbar > .toolbar-items {
      padding-top: var(--uc-space-above-tabbar) !important;
    }
  }
}
