/* for First Tab Space */
@supports -moz-bool-pref("userChrome+Content.padding.first_tab") {
  #TabsToolbar {
    --uc-space-left-tabbar: 7px; /* If you want drag space, set to 8px */
  }
  @supports -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.chrome") or 
            -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.edge") or 
            -moz-bool-pref("userChrome+Content.tab.bottom_rounded_corner.wave") {
    #TabsToolbar {
      --uc-space-left-tabbar: 0 !important; /* var(--uc-tab-corner-half-size) */
    }
  }
  :root:is([sizemode="maximized"], [sizemode="fullscreen"], [sizemode="normal"]) .titlebar-spacer[type="pre-tabs"] {
    display: flex !important;
    width: var(--uc-space-left-tabbar) !important;
  }
  /* :root:not([tabsintitlebar]) #tabbrowser-tabs,
  :root:is([sizemode="maximized"], [sizemode="fullscreen"]) #tabbrowser-tabs {
    padding-inline-start: calc(var(--tab-overflow-pinned-tabs-width, 0px) + var(--uc-space-left-tabbar)) !important;
  } */
}
