/* for First Tab Space */
@supports -moz-bool-pref("userChrome+Content.padding.first_tab") {
  :root {
    --uc-space-left-tabbar: 7px; /* If you want drag space, set to 8px */
  }
  :root:is([sizemode="maximized"], [sizemode="fullscreen"], [sizemode="normal"]) .titlebar-spacer[type="pre-tabs"] {
    display: -moz-box !important;
    width: var(--uc-space-left-tabbar) !important;
  }
  /* :root:not([tabsintitlebar]) #tabbrowser-tabs,
  :root:is([sizemode="maximized"], [sizemode="fullscreen"]) #tabbrowser-tabs {
    padding-inline-start: calc(var(--tab-overflow-pinned-tabs-width, 0px) + var(--uc-space-left-tabbar)) !important;
  } */
}
