/*= URL Bar - MegaBar Style =========================================================*/
/* https://www.userchrome.org/megabar-styling-firefox-address-bar.html */
@media (-moz-bool-pref: "userChrome+Content.padding.megabar_style") {
  /*- General Preferences ------------------------------------------------*/
  #urlbar[breakout] {
    --mbarstyler-top-pixels: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2);
    /* Number of pixels of enlargement when URL bar is focused */
    --mbarstyler-popout-pixels: 0px; /* [0px - 7px] */
    --mbarstyler-popout-top-pixels: 1px; /* 3px - 0px */
    /* Font sizes (default: 13.8px for title, 10.2px for URL) */
    --mbarstyler-title-font-size: 13.8px; /* [13px - 18px] */
    --mbarstyler-url-font-size: 12.5px; /* [12px - 16px] */
  }
  /*- URL bar enlargement or lack thereof --------------------------------*/
  #urlbar[breakout] {
    top: var(--mbarstyler-top-pixels) !important;
  }
  /* Compute new position, width, and padding */
  #urlbar[breakout][breakout-extend] {
    top: var(--mbarstyler-popout-top-pixels) !important;
    left: calc(0px - var(--mbarstyler-popout-pixels)) !important;
    width: calc(100% + (2 * var(--mbarstyler-popout-pixels))) !important;
  }
  /* Prevent shift of URL bar contents */
  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: calc(var(--urlbar-height) + (var(--mbarstyler-top-pixels) * 2) - (var(--mbarstyler-popout-top-pixels) * 2)) !important;
    margin-bottom: calc(0px - var(--mbarstyler-top-pixels) + var(--mbarstyler-popout-top-pixels)) !important;
  }
  /* Shadows */
  :root:not([lwt-toolbar-field-focus-brighttext="true"]) 
    #urlbar[breakout][breakout-extend] {
      --mbarstyler-shadow: rgba(0, 0, 0, 0.25);
  }
  :root[lwt-toolbar-field-focus-brighttext="true"] 
    #urlbar[breakout][breakout-extend] {
      --mbarstyler-shadow: rgba(255, 255, 255, 0.35);
  }
  #urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: 0px 4px 8px var(--mbarstyler-shadow) !important;
  }
  /*- Prevent top border line --------------------------------------------*/
  #urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
    border-top: none !important;
  }
  /*- Font Sizes ---------------------------------------------------------*/
  /* Title font-size */
  .urlbarView-row .urlbarView-title {
    font-size: var(--mbarstyler-title-font-size) !important;
  }
  /* URL + action font-size */
  .urlbarView-row .urlbarView-secondary,
  .urlbarView-row .urlbarView-url,
  .urlbarView-row .urlbarView-action {
    font-size: var(--mbarstyler-url-font-size) !important;
  }
}
