/*= Menu - Reduce Padding ===========================================================*/
:root {
  --menu-padding: 0.35em; /* Win7, 8: 0px */
}
:root[uidensity="compact"] {
  --menu-padding: 0.25em;
}
:root[uidensity="touch"] {
  --menu-padding: 0.5em;
}
@supports -moz-bool-pref("userChrome+Content.padding.menu_compact") {
  :root {
    --menu-padding: 2px;
  }
  :root[uidensity="compact"] {
    --menu-padding: 0px;
  }
}
menupopup:not(.in-menulist) > menuitem,
menupopup > menu {
  padding-block: var(--menu-padding) !important; /* Original: 0.5em */
  padding-inline-start: var(--arrowpanel-menuitem-padding-inline) !important;
}
#ContentSelectDropdown > menupopup > menucaption,
#ContentSelectDropdown > menupopup > menuitem {
  padding-block: 0 !important;
}
@media (-moz-gtk-csd-available) {
  #ContentSelectDropdown > menupopup > menucaption,
  #ContentSelectDropdown > menupopup > menuitem {
    padding-block: var(--menu-padding) !important;
  }
  menupopup > menu {
    padding-inline-start: 0.5em;
  }
}
/*= Menus - Set Margin ==============================================================*/
:not(#ContentSelectDropdown) menupopup:not(.in-menulist) > menuitem,
:not(#ContentSelectDropdown) menupopup > menu,
.openintabs-menuitem,
#blockedPopupDontShowMessage,
#BMB_viewBookmarksToolbar,
#clearDownloadsButton /* Library */ {
  margin: var(--arrowpanel-menuitem-margin) !important;
}
/*= Sub Menu - Nested Margin ========================================================*/
menupopup {
  --nested-margin-side: -0.3em !important;
}
menupopup > menu > menupopup {
  /* align submenus */
  margin-inline-start: var(--nested-margin-side) !important;
}
/*= Bookmark Menu - Reduce Padding ==================================================*/
:root {
  --bookmark-menu-padding: 3px;
}
:root[uidensity="compact"] {
  --bookmark-menu-padding: 1.5px;
}
@supports -moz-bool-pref("userChrome+Content.padding.menu_compact") {
  :root {
    --bookmark-menu-padding: 2px;
  }
  :root[uidensity="compact"] {
    --bookmark-menu-padding: 0px;
  }
}
:root:not([uidensity="touch"]) #BMB_bookmarksPopup .subviewbutton,
:root:not([uidensity="touch"]) #PlacesToolbar menupopup[placespopup] .bookmark-item,
:root:not([uidensity="touch"]) #PlacesToolbar menupopup[placespopup] .openintabs-menuitem {
  padding-block: var(--bookmark-menu-padding) !important;
}
@supports -moz-bool-pref("userChrome+Content.padding.menu_compact") or -moz-bool-pref("userChrome+Content.padding.bookmark_menu.compact") {
  :root:not([uidensity="touch"]) #BMB_bookmarksPopup .bookmark-item,
  :root:not([uidensity="touch"]) #PlacesToolbar menupopup[placespopup] .bookmark-item {
    min-height: unset !important; /* Original: 24px */
  }
}
/*= Global Menu - Set Padding =======================================================*/
/* Vertical Align - Center & Height: 100%  */
#main-menubar {
  flex: 1 !important;
  -moz-box-flex: 1 !important;
}
/* Menubar item padding */
:root {
  --global-menubar-padding: 2px;
}
:root[uidensity="compact"] {
  --global-menubar-padding: 1px;
}
:root[uidensity="touch"] {
  --global-menubar-padding: 4px;
}
#main-menubar > menu {
  padding-block: var(--global-menubar-padding) !important;
}
/* Reduce items */
#main-menubar > menu > menupopup menuitem,
#main-menubar > menu > menupopup menu {
  padding-block: var(--bookmark-menu-padding) !important;
}
