/*= Tab Bar - Reduce Width, Show more tabs ==========================================*/
/* for First Tab Space */
@import url("./first_tab.css");
/* Titlebar Space */
:root {
  --uc-title-pre-spacer: 30px;
  --uc-title-post-spacer: 25px;
  /* Original: 40px */
}
:root:-moz-locale-dir(rtl) {
  --uc-title-pre-spacer: 25px;
  --uc-title-post-spacer: 30px;
}
@media (-moz-platform: windows-win10) {
  .titlebar-spacer[type="pre-tabs"] {
    width: var(--uc-title-post-spacer) !important;
  }
  .titlebar-spacer[type="post-tabs"] {
    width: var(--uc-title-pre-spacer) !important;
  }
}
@media (-moz-gtk-csd-available) {
  @media (-moz-gtk-csd-reversed-placement) {
    .titlebar-spacer[type="pre-tabs"] {
      width: var(--uc-title-pre-spacer) !important;
    }
    .titlebar-spacer[type="post-tabs"] {
      width: var(--uc-title-post-spacer) !important;
    }
  }
  @media (-moz-gtk-csd-reversed-placement: 0) {
    .titlebar-spacer[type="pre-tabs"] {
      width: var(--uc-title-post-spacer) !important;
    }
    .titlebar-spacer[type="post-tabs"] {
      width: var(--uc-title-pre-spacer) !important;
    }
  }
}
/* Tabbar Buttons */
:root {
  --newtab-button-minus-width-padding: 2px;
  --newtab-button-width-padding: calc(var(--toolbarbutton-inner-padding) - var(--newtab-button-minus-width-padding));
}
#new-tab-button > .toolbarbutton-icon,
#alltabs-button > .toolbarbutton-badge-stack {
  /* Original: calc(2 * var(--toolbarbutton-inner-padding) + 16px) */
  width: calc(2 * var(--newtab-button-width-padding) + 16px) !important;
  /* Original: --toolbarbutton-inner-padding */
  padding-left: var(--newtab-button-width-padding) !important;
  padding-right: var(--newtab-button-width-padding) !important;
}
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 1px !important;
}
:root:not([uidensity="touch"]) #tabbrowser-arrowscrollbox {
  --scrollbtn-inner-padding: 1px;
  --scrollbtn-outer-padding: 3px;
}
#scrollbutton-up {
  padding-left: var(--scrollbtn-inner-padding, 4px) !important; /* Original: 4px */
  padding-right: var(--scrollbtn-outer-padding, 4px) !important;
}
#scrollbutton-down {
  padding-left: var(--scrollbtn-outer-padding, 4px) !important; /* Original: 4px */
  padding-right: var(--scrollbtn-inner-padding, 4px) !important;
}
:root:not([uidensity="touch"]) #new-tab-button,
#alltabs-button {
  --toolbarbutton-outer-padding: 1px; /* Original: 2px*/
}
/* Tab - Max Size */
:root {
  --tab-max-width: 240px;
}
.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
  max-width: var(--tab-max-width) !important; /* Original: 225px */
}
/* neighbouring tabs should "pinch" together */
.tabbrowser-tab {
  padding-inline: 1px !important;
}
.tabbrowser-tab:first-of-type {
  padding-inline-start: 1px !important;
}
.tabbrowser-tab:not(:last-of-type) {
  margin-inline-end: -1.5px !important;
}
#tabbrowser-arrowscrollbox[overflowing="true"] > .tabbrowser-tab[pinned="true"] .tab-stack {
  margin-inline-end: -1.5px;
}
