/*= Tab Bar - Reduce Height, Show more contents ====================== I'VE CHANGED =*/
/* for Extra Drag Space */
@import url("./drag_space.css");
/* Toolbar Height */
:root:not([uidensity]) {
  --tab-min-height: 32px !important;
}
:root[uidensity="compact"] {
  --tab-min-height: 32px !important; /* Original: 29px */
}
:root[uidensity="touch"] {
  --tab-min-height: 41px !important;
}
/* Top Margin */
.tab-background,
.tab-content {
  margin-top: 0 !important;
}
#TabsToolbar {
  --toolbarbutton-inner-padding: calc((var(--tab-min-height) - 18px) / 2) !important; /* Prevent overflow pinned tab bottom margin */
}
:root:not([uidensity="compact"]) #tabbrowser-arrowscrollbox,
#tabbrowser-arrowscrollbox[overflowing="true"] > .tabbrowser-tab[pinned="true"],
#tabbrowser-arrowscrollbox[overflowing="true"] > .tabbrowser-tab[pinned="true"] .tab-stack,
#tabbrowser-arrowscrollbox[overflowing="true"] > .tabbrowser-tab[pinned="true"] .tab-content {
  max-height: var(--tab-min-height) !important; /* Force apply height */
}
:root[uidensity="compact"] #tabbrowser-arrowscrollbox {
  height: var(--tab-min-height) !important;
}
/* Scroll Button - Size Fix */
:root #tabbrowser-arrowscrollbox {
  --scrollbtn-vertical-padding: 3px;
  --scrollbtn-vertical-border: 2px;
  --scrollbtn-border-radius: 7px;
}
:root:not([uidensity="touch"]) #tabbrowser-arrowscrollbox {
  --scrollbtn-vertical-padding: 1px;
}
#scrollbutton-up,
#scrollbutton-down {
  /* Original: var(--toolbarbutton-inner-padding) calc(var(--toolbarbutton-inner-padding) - 6px) = 9px */
  /* https://github.com/mozilla/gecko-dev/blob/71b1259afd1cdaf41871ae675c2dadb967ea5b34/browser/themes/shared/toolbarbuttons.inc.css#L142 */
  padding-top: var(--scrollbtn-vertical-padding, var(--toolbarbutton-inner-padding)) !important;
  padding-bottom: var(--scrollbtn-vertical-padding, var(--toolbarbutton-inner-padding)) !important;
  /* Original: 4px */
  border-top-width: var(--scrollbtn-vertical-border, 4px) !important;
  border-bottom-width: var(--scrollbtn-vertical-border, 4px) !important;
  /* Original: calc(var(--tab-border-radius) + 4px) = 8px */
  border-radius: var(--scrollbtn-border-radius, calc(var(--tab-border-radius) + 4px)) !important;
}
:root[tabsintitlebar]:not([uidensity="compact"]) #toolbar-menubar[autohide="true"] {
  height: calc(
    var(--tab-min-height) - var(--tabs-navbar-shadow-size) - 2px
  ); /* Compact: 28px, Normal: 33px, Touch: 38px */
}