@media (prefers-reduced-motion: no-preference) {
  @supports -moz-bool-pref("userChrome+Content.decoration.animate") {
    /*= Animate =========================================================================*/
    /*- Background Color ---------------------------------------------------*/
    button,
    toolbarbutton,
    stack,
    vbox,
    .toolbarbutton-icon,
    #tabs-newtab-button > .toolbarbutton-icon {
      transition: background-color 1s var(--animation-easing-function) !important;
    }
    button:hover,
    toolbarbutton:hover,
    stack:hover,
    vbox:hover,
    .toolbarbutton-icon:hover,
    #tabs-newtab-button:hover > .toolbarbutton-icon {
      transition: background-color 0.25s var(--animation-easing-function) !important;
    }
    @media (-moz-gtk-csd-available) {
      .tabbrowser-tab:is([visuallyselected], [multiselected], [selected]) .tab-background:not(:-moz-lwtheme) {
        transition: background-image 0.25s var(--animation-easing-function) !important;
      }
    }
    .subviewbutton {
      /* treechildren::-moz-tree-row: Can't apply
         menu, menuitem is not apply.
       */
      transition: background-color 0.5s var(--animation-easing-function) !important;
    }
    .subviewbutton:hover {
      transition: background-color 0.1s var(--animation-easing-function) !important;
    }
    /*- Pinned Tab ---------------------------------------------------------*/
    #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([collapsed]) {
      /* -moz-box-flex may be caused #tabbrowser-tabs[closebuttons] */
      transition: -moz-box-flex 0.2s var(--animation-easing-function),
        margin-inline-start 0.2s var(--animation-easing-function), min-width 0.1s ease-out, max-width 0.1s ease-out !important;
      max-width: var(--tab-max-width, 240px);
    }
    #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[pinned] {
      transition: margin-inline-start 0.2s var(--animation-easing-function), min-width 0.1s ease-out,
        max-width 0.1s ease-out !important;
    }
    #tabbrowser-tabs:not([movingtab]) .tab-content::before,
    #tabbrowser-tabs:not([movingtab]) .tab-content::after {
      transition: width 0.2s var(--animation-easing-function), transform 0.2s var(--animation-easing-function) !important;
    }
    #tabbrowser-tabs:not([movingtab]) .tab-content .tab-label-container {
      transition: width 0.3s var(--animation-easing-function) !important;
    }
    #tabbrowser-tabs:not([movingtab]) .tab-content .tab-icon-image {
      transition: all 0.3s var(--animation-easing-function) !important;
    }
    /*- URL / Search Bar ---------------------------------------------------*/
    #urlbar-background,
    #searchbar {
      transition: border-color 1s var(--animation-easing-function), background-color 1.5s var(--animation-easing-function) !important;
    }
    #urlbar-background:hover,
    #searchbar:hover {
      transition: border-color 0.5s var(--animation-easing-function), background-color 1s var(--animation-easing-function) !important;
    }
    /* Buttons in URL bar */
    #tracking-protection-icon-container,
    #identity-icon-box,
    #identity-permission-box,
    #notification-popup-box,
    #page-action-buttons > .urlbar-page-action {
      transition: background-color 2.5s var(--animation-easing-function) !important;
    }
    #tracking-protection-icon-container:hover,
    #identity-icon-box:hover,
    #identity-permission-box:hover,
    #notification-popup-box:hover,
    #page-action-buttons > .urlbar-page-action:hover {
      transition: background-color 1.25s var(--animation-easing-function) !important;
    }
    /*- Border - Other Fields ----------------------------------------------*/
    #search-box,
    xul|search-textbox.tabsFilter,
    #editBMPanel_namePicker,
    #editBMPanel_tagsField,
    .findbar-container .findbar-textbox {
      transition: border-color 1s var(--animation-easing-function) !important;
    }
    #search-box:hover,
    xul|search-textbox.tabsFilter:hover,
    #editBMPanel_namePicker:hover,
    #editBMPanel_tagsField:hover,
    .findbar-container .findbar-textbox:hover {
      transition: border-color 0.5s var(--animation-easing-function) !important;
    }
    /*- Sidebar ------------------------------------------------------------*/
    #sidebar-box {
      /* like #sidebar-box > #sidebar */
      min-width: 14em;
      width: 18em;
      max-width: 36em;
      /* Animation */
      transition: margin-inline-start 0.25s var(--animation-easing-function), opacity 0.25s ease-in-out, visibility 0s linear !important;
    }
    #sidebar-box[hidden="true"] {
      display: -moz-box !important;
      margin-inline-start: -18em;
      opacity: 0;
      visibility: collapse;
      transition-delay: 0s, 0s, 0.25s !important;
    }
    /*- Full Screen --------------------------------------------------------*/
    #navigator-toolbox {
      /* Full screen out */
      transition: margin-top 1s ease;
      transform-origin: top;
    }
    #navigator-toolbox[inFullscreen="true"] {
      /* Full screen enter */
      animation-duration: 1s;
      animation-name: fullscreen;
      animation-timing-function: ease;
      /* Full screen navbar not hover */
      /* transition: margin-top 0.3s var(--animation-easing-function) 50ms; */
      transition: margin-top 1.3s var(--animation-easing-function) 50ms;
    }
    #navigator-toolbox[inFullscreen="true"]:hover {
      /* transition-duration: 1.5s;  Not works, because !important */
      /* transition-delay: 0.5s; */
      margin-top: 0 !important;
    }
    @keyframes fullscreen {
      from {
        margin-top: 0;
      }
      /* Don't use `to`: Depending on density */
    }
    /*- Arrow - Edit Bookmark Popup ----------------------------------------*/
    #editBookmarkPanelRows .expander-up .button-icon,
    #editBookmarkPanelRows .expander-down .button-icon {
      transition: transform 0.1s var(--animation-easing-function) !important;
    }
    #editBookmarkPanelRows .expander-up {
      list-style-image: url("chrome://global/skin/icons/arrow-down.svg") !important;
    }
    #editBookmarkPanelRows .expander-up .button-icon {
      transform: rotate(180deg);
    }
  }
}
