@media (prefers-reduced-motion: no-preference) {
  /*= URL, Search Bar =================================================================*/
  #urlbar:hover:not([focused="true"]) > #urlbar-background,
  #searchbar:hover:not(:focus-within) {
    --toolbar-field-border-color: var(--win-toolbar-field-hover-border-color, --toolbar-field-focus-border-color);
    border-width: 1.5px !important;
    box-shadow: 0px 0px 3px var(--toolbar-field-border-color) !important;
  }
  #urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background,
  #searchbar:focus-within {
    outline-offset: -0.5px !important;
  }
  /*= Other Fields ====================================================================*/
  /* Sidebar */
  .sidebar-panel[lwt-sidebar] #search-box:hover,
  body[lwt-sidebar] xul|search-textbox.tabsFilter:hover {
    border-color: var(--lwt-sidebar-highlight-background-color, AccentColor) !important;
  }
  .sidebar-panel:not([lwt-sidebar]) #search-box:hover,
  body:not([lwt-sidebar]) xul|search-textbox.tabsFilter:hover {
    border-color: AccentColor !important;
  }
  /* Others */
  #editBMPanel_namePicker:hover,
  #editBMPanel_tagsField:hover,
  .findbar-container .findbar-textbox:hover {
    --input-border-color: color-mix(in srgb, var(--focus-outline-color, AccentColor) 50%, transparent);
  }
}
