/** Icons ****************************************************************************/
/*= Context Menu - Icons ================================ I'VE CHANGED =*/
@import "./index/context_menu.css";
/*= Global Menu ========================================= I'VE CHANGED =*/
@import "./index/global_menu.css";
/*= Downloads Popup ======================================= I'VE ADDED =*/
@import "./index/downloads_popup.css";
/*= SideBar =============================================== I'VE ADDED =*/
@import "./index/sidebar.css";
/*= SearchButton ========================================== I'VE ADDED =*/
@import "./index/searchbutton.css";