/** Toolbarbutton - Icons Layout *************************************** I'VE ADDED **/
#nav-bar toolbarbutton { /* #urlbar-container should remain 4px */
  --toolbarbutton-border-radius: 2px !important;
}
#nav-bar toolbaritem > toolbarbutton.webextension-browser-action {
  border-radius: var(--toolbarbutton-border-radius) !important;
}
#navigator-toolbox {
  border-bottom: 1.5px solid rgb(191, 191, 191) !important;
}
/* Margin */
#nav-bar-customization-target {
  --margin-nav-bar-icons: 4px !important;
}
#back-button,
#forward-button,
#stop-reload-button {
  margin-left: var(--margin-nav-bar-icons) !important;
  margin-right: var(--margin-nav-bar-icons) !important;
}
/* Stop and Reload button */
#reload-button:not([displaystop]),
#reload-button[displaystop] + #stop-button {
  visibility: visible !important;
}
/*- Change Position of ToolbarButtons and OverflowButton ---------------*/
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton:is([cui-areatype="toolbar"][hidden="true"], #downloads-button),
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton:is([cui-areatype="toolbar"][hidden="true"], #downloads-button) + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton:is([cui-areatype="toolbar"][hidden="true"], #downloads-button) + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton:is([cui-areatype="toolbar"][hidden="true"], #downloads-button) + toolbaritem + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton:is([cui-areatype="toolbar"][hidden="true"], #downloads-button) + toolbaritem + toolbaritem + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar:not([nonemptyoverflow="true"]) 
  #nav-bar-customization-target > toolbarbutton[cui-areatype="toolbar"] {
    transform: none !important;
}
/* When there is one toolbarbutton visible */
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:nth-last-child(1)) + #nav-bar-overflow-button,
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:nth-last-child(2)) + #nav-bar-overflow-button,
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:nth-last-child(3)) + #nav-bar-overflow-button,
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4)) + #nav-bar-overflow-button,
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5)) + #nav-bar-overflow-button {
  transform: translateX(calc(-2 * var(--toolbarbutton-inner-padding) + -2 * var(--toolbarbutton-outer-padding) - 16px));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(1) {
    transform: translateX(calc(2 * var(--toolbarbutton-inner-padding) + 2 * var(--toolbarbutton-outer-padding) + 16px));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(2) {
    transform: translateX(calc(4 * var(--toolbarbutton-inner-padding) + 4 * var(--toolbarbutton-outer-padding) + (2 * 16px)));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(3) {
    transform: translateX(calc(6 * var(--toolbarbutton-inner-padding) + 6 * var(--toolbarbutton-outer-padding) + (3 * 16px)));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4) {
    transform: translateX(calc(8 * var(--toolbarbutton-inner-padding) + 8 * var(--toolbarbutton-outer-padding) + (4 * 16px)));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5) {
    transform: translateX(calc(10 * var(--toolbarbutton-inner-padding) + 10 * var(--toolbarbutton-outer-padding) + (5 * 16px)));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(2) + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(3) + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(3) + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4) + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4) + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4) + toolbaritem + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5) + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5) + toolbaritem + toolbaritem ,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5) + toolbaritem + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
  > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5) + toolbaritem + toolbaritem + toolbaritem + toolbaritem {
    transform: translateX(calc(-2 * var(--toolbarbutton-inner-padding) + -2 * var(--toolbarbutton-outer-padding) - 16px));
}
/* When there are two toolbarbuttons visible */
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(1)) + #nav-bar-overflow-button,
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(2)) + #nav-bar-overflow-button,
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(3)) + #nav-bar-overflow-button,
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4)) + #nav-bar-overflow-button,
html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5)) + #nav-bar-overflow-button {
    transform: translateX(calc(-4 * var(--toolbarbutton-inner-padding) + -4 * var(--toolbarbutton-outer-padding) - 32px));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(1),
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(2) {
    transform: translateX(calc(2 * var(--toolbarbutton-inner-padding) + 2 * var(--toolbarbutton-outer-padding) + 16px));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(2),
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(3) {
    transform: translateX(calc(4 * var(--toolbarbutton-inner-padding) + 4 * var(--toolbarbutton-outer-padding) + (2 * 16px)));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(3),
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4) {
    transform: translateX(calc(6 * var(--toolbarbutton-inner-padding) + 6 * var(--toolbarbutton-outer-padding) + (3 * 16px)));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4),
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton:[cui-areatype="toolbar"]nth-last-child(5) {
    transform: translateX(calc(8 * var(--toolbarbutton-inner-padding) + 8 * var(--toolbarbutton-outer-padding) + (4 * 16px)));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
  + toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5),
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(6) {
    transform: translateX(calc(10 * var(--toolbarbutton-inner-padding) + 10 * var(--toolbarbutton-outer-padding) + (5 * 16px)));
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(2) + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(3) + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(3) + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4) + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4) + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(4) + toolbaritem + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5) + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5) + toolbaritem + toolbaritem ,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5) + toolbaritem + toolbaritem + toolbaritem,
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
  + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:nth-last-child(5) + toolbaritem + toolbaritem + toolbaritem + toolbaritem {
    transform: translateX(calc(-4 * var(--toolbarbutton-inner-padding) + -4 * var(--toolbarbutton-outer-padding) - (2 * 16px)));
}