/*= Bookmark Menu - Layout ==========================================================*/
/* Empty Menu */
menupopup menupopup[emptyplacesresult] .menu-text,
#PersonalToolbar menupopup[emptyplacesresult] .menu-text {
  margin-inline-start: 0 !important;
}
/* Windows */
@media (-moz-platform: windows) {
  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup)[placespopup="true"]  menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup)[placespopup="true"]  menu:not(.menu-iconic),
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--arrowpanel-menuitem-padding-inline) + var(--context-menu-text-padding)) !important;
    background-position: var(--uc-menu-background-position) calc(var(--arrowpanel-menuitem-padding-inline)) center !important;
  }
}
/* Linux */
@media (-moz-gtk-csd-available) {
  /* Global Menu */
  menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup) .bookmark-item {
    padding-inline-start: var(--context-menu-background-padding) !important;
  }
  /* Bookmark Popup - Iconic menu */
  #BMB_bookmarksPopup .menu-iconic-text,
  #PersonalToolbar menupopup[placespopup="true"] .bookmark-item .menu-iconic-text {
    padding-inline-start: 1px !important;
  }
  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup)[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup)[placespopup="true"] menu:not(.menu-iconic),
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--arrowpanel-menuitem-padding-inline) + 1px) !important;
  }
  @media (-moz-bool-pref: "userChrome+Content.theme.non_native_menu") {
    menupopup:is(#BMB_bookmarksPopup)[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
    menupopup:is(#BMB_bookmarksPopup)[placespopup="true"] menu:not(.menu-iconic),
    #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
    #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
      margin-inline: var(--arrowpanel-menuitem-margin-inline) !important;
    }
  }
  menupopup:is(#BMB_bookmarksPopup)[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]) .menu-text,
  menupopup:is(#BMB_bookmarksPopup)[placespopup="true"] menu:not(.menu-iconic) .menu-text,
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]) .menu-text,
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) .menu-text {
    margin-inline-start: 21px !important;
  }
}
