/** Toolbarbutton - Icons Layout *************************************** I'VE ADDED **/
#navigator-toolbox {
  border-bottom: 1.5px solid rgb(191, 191, 191) !important;
}
/* Margin */
#nav-bar-customization-target {
  --margin-nav-bar-icons: 4px !important;
}
#back-button,
#forward-button,
#stop-reload-button {
  margin-left: var(--margin-nav-bar-icons) !important;
  margin-right: var(--margin-nav-bar-icons) !important;
}
/* Stop and Reload button */
#reload-button:not([displaystop]),
#reload-button[displaystop] + #stop-button {
  visibility: visible !important;
}
/* Change position of bookmark and overflow button */
html[id="main-window"]:not([customizing="true"]) toolbar #bookmarks-menu-button {
  transform: translateX(calc(2 * var(--toolbarbutton-inner-padding) + 2 * var(--toolbarbutton-outer-padding) + 16px)); /* compact 32px */
}
html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-overflow-button {
  transform: translateX(calc(-2 * var(--toolbarbutton-inner-padding) + -2 * var(--toolbarbutton-outer-padding) - 16px)); /* compact -32px */
}
html[id="main-window"]:not([customizing="true"]) toolbar #bookmarks-menu-button:not(:last-of-type) {
  transform: translateX(calc(4 * var(--toolbarbutton-inner-padding) + 4 * var(--toolbarbutton-outer-padding) + 32px));
}
html[id="main-window"]:not([customizing="true"]) toolbar toolbarbutton.webextension-browser-action:last-of-type {
  transform: translateX(calc(-2 * var(--toolbarbutton-inner-padding) + -2 * var(--toolbarbutton-outer-padding) - 16px));
}
/* Line between bookmark and overflow button */
html[id="main-window"][chromehidden=""] #PanelUI-button::before {
  /* Box Model */
  content: "";
  display: block;
  position: absolute;
  /* Position */
  top: calc(var(--urlbar-toolbar-height) / 4);
  transform: translateX(calc(-2 * var(--toolbarbutton-inner-padding) + -2.5 * var(--toolbarbutton-outer-padding) - 16px)); /* compact -33px */
  /* Bar shape */
  width: 1.75px;
  height: calc(var(--urlbar-toolbar-height) / 2);
  /* Bar Color */
  background-color: rgb(218, 218, 218);
}
@media (prefers-color-scheme: dark) {
  html[id="main-window"][chromehidden=""] #PanelUI-button::before {
    /* Bar Color Dark Mode */
    background-color: rgb(99, 99, 99) !important;
  }
}
@media (max-width: 650px) {
  html[id="main-window"]:not([customizing="true"]) toolbar toolbarbutton {
    transform: translateX(0px) !important;
  }
  html[id="main-window"][chromehidden=""] #PanelUI-button::before {
    transform: translateX(calc(-2 * var(--toolbarbutton-inner-padding) + -2.5 * var(--toolbarbutton-outer-padding) + 16px)) !important;
  }
}