/** Toolbarbutton - Icons Layout *****************************************************/
#nav-bar toolbarbutton { /* #urlbar-container should remain 4px */
  --toolbarbutton-border-radius: 2px !important;
}
#nav-bar toolbaritem > toolbarbutton.webextension-browser-action {
  border-radius: var(--toolbarbutton-border-radius) !important;
}
#navigator-toolbox {
  border-bottom: 1.5px solid rgb(191, 191, 191) !important;
}
/* Toolbarbutton Badge */
.toolbarbutton-badge {
  max-width: calc(2 * (var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)) + 16px);
}
:root[uidensity="compact"] .toolbarbutton-badge {
  margin-inline-end: -6px !important;
}
/* Margin */
#nav-bar-customization-target {
  --margin-nav-bar-icons: 4px !important;
}
#back-button,
#forward-button,
#stop-reload-button {
  margin-left: var(--margin-nav-bar-icons) !important;
  margin-right: var(--margin-nav-bar-icons) !important;
}
/* Stop and Reload button */
#reload-button:not([displaystop]),
#reload-button[displaystop] + #stop-button {
  visibility: visible !important;
}
