/** Menu - Icons Layout **************************************************************/
menupopup menuitem:not([type="checkbox"][checked="true"], [type="radio"]),
menupopup menu:not([type="checkbox"][checked="true"], [type="radio"]),
#main-menubar > menu {
  -moz-appearance: none !important; /* Linux: menulist */
}
/* Rounding */
:not(#ContentSelectDropdown) menupopup:not(.in-menulist) > menuitem,
:not(#ContentSelectDropdown) menupopup > menu,
#context-navigation > menuitem[_moz-menuactive] .menu-iconic-icon {
  border-radius: var(--arrowpanel-menuitem-border-radius, var(--panel-border-radius)) !important;
}
/* Width */
:not(#ContentSelectDropdown) menupopup:not(.in-menulist) > menuitem,
:not(#ContentSelectDropdown) menupopup > menu {
  max-width: 25em !important;
}
/* Icon */
:not(menu, #ContentSelectDropdown)
  > menupopup:not(.in-menulist)
  > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
:not(menu, #ContentSelectDropdown) > menupopup:not(.in-menulist)
  > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menu:not(.menu-iconic, .in-menulist, [checked="true"]),
menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup)
  > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
.openintabs-menuitem,
#blockedPopupDontShowMessage,
#BMB_viewBookmarksToolbar,
#clearDownloadsButton /* Library */ {
  /* Color */
  -moz-context-properties: fill, fill-opacity, stroke !important;
  fill: currentColor !important;
  stroke: transparent;
  /* Layout */
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-image: var(--menuitem-image) !important;
}
/* For native context menus */
@supports -moz-bool-pref("widget.macos.native-context-menus") or 
          -moz-bool-pref("widget.gtk.native-context-menus") {
  :not(menu, #ContentSelectDropdown)
    > menupopup:not(.in-menulist)
    > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  :not(menu, #ContentSelectDropdown) > menupopup:not(.in-menulist)
    > menu:not(.menu-iconic, .in-menulist, [checked="true"]) {
      list-style-image: var(--menuitem-image, url("../images/blank.svg")) !important;
  }
}
/* Padding */
/* Padding as Arrow Panel */
:root {
  --uc-menu-background-position: left;
  --context-menu-background-padding: var(--arrowpanel-menuitem-padding-inline);
}
:root:-moz-locale-dir(rtl) {
  --uc-menu-background-position: right;
}
:not(menu, #ContentSelectDropdown, #context-navigation, #permission-popup-menulist)
  > menupopup:not(.in-menulist)
  > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
:not(menu, #ContentSelectDropdown, #context-navigation, #permission-popup-menulist)
  > menupopup:not(.in-menulist)
  > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menu:not(.menu-iconic, .in-menulist, [checked="true"]),
menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup)
  > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
menupopup:is(#toolbar-context-menu, #contentAreaContextMenu) menu:not([icon], .menu-iconic),
menupopup:is(#toolbar-context-menu, #contentAreaContextMenu) menuitem:not([checked="true"], [icon], .menuitem-iconic),
.openintabs-menuitem,
#blockedPopupDontShowMessage,
#BMB_viewBookmarksToolbar,
#clearDownloadsButton /* Library */ {
  background-position: var(--uc-menu-background-position) var(--context-menu-background-padding) center !important;
  padding-inline-start: var(--context-menu-background-padding) !important;
}
/* Menubar */
#main-menubar > menu > menupopup menupopup {
  --menuitem-image: none; /* Prevent Image Inheritance */
}
/* Padding - Windows */
@media (-moz-platform: windows-win7), (-moz-platform: windows-win8), (-moz-platform: windows-win10) {
  @media (-moz-windows-non-native-menus) {
    :root {
      --context-menu-text-padding: calc(var(--arrowpanel-menuicon-width) + var(--arrowpanel-menutext-padding)); /* 16px + 8px */
      --menu-background-padding-default: calc(var(--context-menu-background-padding) + var(--context-menu-text-padding));
    }
  }
  @media not (-moz-windows-non-native-menus) {
    :root {
      --context-menu-text-padding: calc(var(--arrowpanel-menuicon-width) + var(--arrowpanel-menutext-padding) + 1.4px);
      --menu-background-padding-default: 0px;
    }
    @media (-moz-platform: windows-win10) {
      @supports -moz-bool-pref("userChrome+Content.compatibility.os.win11") {
        :root {
          --context-menu-background-padding: 5px;
        }
        #main-menubar {
          --context-menu-background-padding: calc(5px + ((1.45em - 16px) / 2));
        }
        menuitem:is([type="checkbox"], [type="radio"]) {
          --menu-padding: 0px;
        }
        menuitem[checked="true"] {
          --context-menu-background-padding: 0px;
        }
        menuitem[checked="true"] > .menu-iconic-left {
          transform: translateX(2px);
        }
      }
      menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic > .menu-iconic-left,
      menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menuitem-iconic > .menu-iconic-left,
      menupopup:not([placespopup="true"]) .menu-iconic > .menu-iconic-left,
      menupopup:not([placespopup="true"]) .menuitem-iconic > .menu-iconic-left {
        appearance: none !important;
        padding-block: 0 !important;
        padding-inline-start: 0px;
        margin-inline-end: 6px !important; /* var(--arrowpanel-menutext-padding) */
      }
      @supports -moz-bool-pref("userChrome+Content.compatibility.os.win11") {
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic > .menu-iconic-left,
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menuitem-iconic > .menu-iconic-left,
        menupopup:not([placespopup="true"]) .menu-iconic > .menu-iconic-left,
        menupopup:not([placespopup="true"]) .menuitem-iconic > .menu-iconic-left {
          box-sizing: content-box;
        }
      }
      menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-accel,
      menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic-accel,
      menupopup:not([placespopup="true"]) .menu-accel,
      menupopup:not([placespopup="true"]) .menu-iconic-accel {
        box-sizing: content-box;
        min-height: 16px;
      }
      menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-accel,
      menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic-accel,
      menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-text,
      menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic-text,
      menupopup:not([placespopup="true"]) .menu-accel,
      menupopup:not([placespopup="true"]) .menu-iconic-accel,
      menupopup:not([placespopup="true"]) .menu-text,
      menupopup:not([placespopup="true"]) .menu-iconic-text {
        padding-block: 0 !important;
      }
    }
  }
  :not(menu, #ContentSelectDropdown, #context-navigation, #permission-popup-menulist)
    > menupopup:not(.in-menulist)
    > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  :not(menu, #ContentSelectDropdown, #context-navigation, #permission-popup-menulist)
    > menupopup:not(.in-menulist)
    > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menu:not(.menu-iconic, .in-menulist, [checked="true"]),
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup)
    > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
  menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
  menupopup:is(#toolbar-context-menu, #contentAreaContextMenu) menu:not([icon], .menu-iconic),
  menupopup:is(#toolbar-context-menu, #contentAreaContextMenu) menuitem:not([checked="true"], [icon], .menuitem-iconic),
  .openintabs-menuitem,
  #blockedPopupDontShowMessage,
  #BMB_viewBookmarksToolbar,
  #clearDownloadsButton /* Library */ {
    padding-inline-start: var(--menu-background-padding-default) !important;
  }
}
/* Padding - Linux */
@media (-moz-gtk-csd-available) {
  :root {
    --context-menu-background-padding: 6px; /* var(--arrowpanel-menuitem-padding-inline) */
  }
  #main-menubar > menu > .menubar-text {
    padding-inline-start: 3px;
  }
}
