/*= Bookmark Menu - Layout ==========================================================*/
/* Empty Menu */
menupopup menupopup[emptyplacesresult] .menu-text,
#PersonalToolbar menupopup[emptyplacesresult] .menu-text {
  margin-inline-start: 0 !important;
}
/* Bookmark Popup - As Arrow Panel */
#BMB_bookmarksPopup,
#PersonalToolbar {
  --context-menu-background-padding: var(--arrowpanel-menuitem-padding-inline);
}
/* Windows */
@media (-moz-platform: windows-win10) {
  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup)  menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup)  menu:not(.menu-iconic),
  #PersonalToolbar menupopup[placespopup="true"] menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    padding-inline-start: calc(var(--arrowpanel-menuitem-padding-inline) + var(--context-menu-text-padding)) !important;
    background-position: var(--uc-menu-background-position) calc(var(--arrowpanel-menuitem-padding-inline)) center !important;
  }
}