/** Library Menu ***************************************************** I'VE CHANGED **/
/*= placesMenu =========================================================*/
#organizeButton {
  list-style-image: url("./../images/settings.svg") !important;
}
#viewMenu {
}
#maintenanceButton {
  list-style-image: url("./../images/arrow-sort.svg") !important;
}
#clearDownloadsButton {
  --menuitem-image: url("./../images/delete.svg");
}
/*= organizeButtonPopup ================================================*/
#newbookmark {
  --menuitem-image: url("./../images/star-add.svg");
}
#newfolder {
  --menuitem-image: url("./../images/folder.svg");
}
#newseparator {
  --menuitem-image: url("./../images/vertical-line.svg");
}
#orgUndo {
  --menuitem-image: url("./../images/undo.svg");
}
#orgRedo {
  --menuitem-image: url("./../images/redo.svg");
}
#orgCut {
  --menuitem-image: url("./../images/edit-cut.svg");
}
#orgCopy {
  --menuitem-image: url("./../images/edit-copy.svg");
}
#orgPaste {
  --menuitem-image: url("./../images/edit-paste.svg");
}
#orgDelete {
  --menuitem-image: url("./../images/delete.svg");
}
#orgSelectAll {
  --menuitem-image: url("./../images/select-all-on.svg");
}
#orgClose {
  --menuitem-image: url("./../images/dismiss.svg");
}
/*= viewMenuPopup ======================================================*/
#viewColumns {
  --menuitem-image: url("chrome://global/skin/icons/columnpicker.svg");
}
#viewSort {
  --menuitem-image: url("./../images/text-sort-ascending.svg");
}
/*= maintenanceButtonPopup =============================================*/
#backupBookmarks {
  --menuitem-image: url("./../images/database.svg");
}
#fileRestoreMenu {
}
#fileImport {
  --menuitem-image: url("./../images/folder.svg");
}
#fileExport {
  --menuitem-image: url("./../images/save.svg");
}
#browserImport {
  --menuitem-image: url("./../images/import.svg");
}
