:root {
  --uc-sidebar-icon: url("./../images/sidebar.svg");
  --uc-sidebar-icon-reverse: url("chrome://browser/skin/sidebars-right.svg");
}
:root:has(#sidebar-box[positionend="true"]) {
  --uc-sidebar-icon: url("chrome://browser/skin/sidebars-right.svg");
  --uc-sidebar-icon-reverse: url("./../images/sidebar.svg");
}
/*= Panel - Main ====================================================================*/
#appMenu-proton-addon-banners > .addon-banner-item > .toolbarbutton-icon {
  display: inline-flex !important;
  margin-inline-start: var(--arrowpanel-menuicon-padding);
  order: -1 !important;
  -moz-box-ordinal-group: 0 !important;
}
#appMenu-proton-update-banner::before {
  content: url("./../images/whatsnew.svg");
}
#appMenu-fxa-status2::before {
  /* Don't exist img tag */
  content: url("./../images/avatar-empty.svg");
}
#appMenu-fxa-status2:is([fxastatus="signedin"], [fxastatus="unverified"], [fxastatus="login-failed"])::before {
  display: none;
}
#appMenu-fxa-status2:is([fxastatus="signedin"], [fxastatus="unverified"], [fxastatus="login-failed"])
  #appMenu-fxa-label2::before {
  /* url("https://profile.accounts.firefox.com/v1/avatar/a") */
  content: "";
  border-radius: 50% !important;
  background-size: 16px !important;
  background-image: var(--avatar-image-url) !important;
}
#appMenu-new-tab-button2 {
  list-style-image: url("./../images/new-tab.svg");
}
#appMenu-new-window-button2 {
  list-style-image: url("./../images/window.svg");
}
#appMenu-new-private-window-button2 {
  list-style-image: url("./../images/privateBrowsing.svg");
}
#appMenu-bookmarks-button {
  list-style-image: url("./../images/star-line-horizontal.svg");
}
#appMenu-history-button {
  list-style-image: url("./../images/history.svg");
}
#appMenu-downloads-button {
  list-style-image: url("./../images/downloads.svg");
}
#appMenu-passwords-button {
  list-style-image: url("./../images/login.svg");
}
#appMenu-extensions-themes-button {
  list-style-image: url("./../images/extension.svg");
}
#appMenu-print-button2 {
  list-style-image: url("./../images/print.svg");
}
#appMenu-save-file-button2 {
  list-style-image: url("./../images/save.svg");
}
#appMenu-find-button2 {
  list-style-image: url("./../images/document-search.svg");
}
#appMenu-translate-button {
  list-style-image: url(chrome://browser/skin/translations.svg);
}
  /*
  #appMenu-zoom-controls2::before, / Legacy v104 /
  #appMenu-zoom-controls::before {
    content: url("./../images/screenshot.svg");
  }
  */
#appMenu-zoom-controls2, /* Legacy v104 */
#appMenu-zoom-controls {
  padding-inline-start: var(--arrowpanel-menuimageblank-padding-horizontal) !important;
}
#appMenu-settings-button {
  list-style-image: url("./../images/settings.svg");
}
#appMenu-more-button2 { 
  list-style-image: url("./../images/ion.svg");
}
#appMenu-help-button2 {
  list-style-image: url("./../images/help.svg");
}
#appMenu-quit-button2 {
  list-style-image: url("./../images/quit.svg");
}
/*= Panel - Bookmark ================================================================*/
#panelMenuBookmarkThisPage {
  list-style-image: url("./../images/star-add.svg");
}
panelMenuBookmarkThisPage[starred] {
  list-style-image: url("./../images/star-filled.svg");
}
#panelMenu_searchBookmarks {
  list-style-image: url("./../images/search-glass.svg");
}
#panelMenu_viewBookmarksToolbar {
  list-style-image: url("./../images/bookmarks-toolbar.svg");
}
#panelMenu_showAllBookmarks {
  list-style-image: url("./../images/star-line-horizontal.svg"); /* chrome://browser/skin/bookmark-star-on-tray.svg */
}
/*= Panel - History =================================================================*/
#appMenuRecentlyClosedTabs {
  list-style-image: url("./../images/tab.svg");
}
#appMenuRecentlyClosedWindows {
  list-style-image: url("./../images/window.svg");
}
#appMenuSearchHistory {
  list-style-image: url("./../images/search-glass.svg");
}
#appMenuRestoreSession, /* Legacy - v103 */
#appMenu-restoreSession {
  list-style-image: url("./../images/restore-session.svg");
}
#appMenuClearRecentHistory {
  list-style-image: url("./../images/delete.svg");
}
#PanelUI-historyMore {
  list-style-image: url("./../images/history.svg");
}
#appMenu-library-recentlyClosedTabs {
  list-style-image: url("./../images/window-new.svg");
}
#appMenu-library-recentlyClosedWindows {
  list-style-image: url("./../images/restore-session.svg");
}
/*= Panel - More tools ==============================================================*/
#appmenu-moreTools-button {
  list-style-image: url("./../images/paint-brush.svg");
}
/* Web Developer Tools */
#appmenu-developer-tools-view .subviewbutton:nth-child(1),
#PanelUI-developer-tools-view .subviewbutton:nth-child(1) {
  list-style-image: url("./../images/wrench.svg");
}
/* Task Manager */
#appmenu-developer-tools-view .subviewbutton:nth-child(2),
#PanelUI-developer-tools-view .subviewbutton:nth-child(2) {
  list-style-image: url("./../images/top-speed.svg");
}
/* Remote Debugging - Edge bug.svg */
#appmenu-developer-tools-view .subviewbutton:nth-child(3),
#PanelUI-developer-tools-view .subviewbutton:nth-child(3) {
  list-style-image: url("./../images/bug.svg");
}
/* Browser Toolbox - Edge webdeveloper.svg */
#appmenu-developer-tools-view .subviewbutton:nth-child(4),
#PanelUI-developer-tools-view .subviewbutton:nth-child(4) {
  list-style-image: url("./../images/window-dev-tools.svg");
}
/* Browser Content Toolbox */
#appmenu-developer-tools-view .subviewbutton:nth-child(5),
#PanelUI-developer-tools-view .subviewbutton:nth-child(5) {
  list-style-image: url("./../images/command-frames.svg");
}
/* Browser Console */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(5),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(5) {
  list-style-image: url("./../images/command-console.svg");
}
/* Responsive Design Mode */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(4),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(4) {
  list-style-image: url("./../images/command-responsivemode.svg");
}
/* Eyedropper */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(3),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(3) {
  list-style-image: url("./../images/eyedropper.svg");
}
/* Page Source - Edge file-search.svg */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(2),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(2) {
  list-style-image: url("./../images/document-search.svg");
}
/* Extensions for Dev */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(1),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(1) {
  list-style-image: url("./../images/extension-filled.svg");
}
#appmenu-developer-tools-view .subviewbutton:last-child {
  margin-bottom: 6px !important;
}
/*= Panel - Help ====================================================================*/
#appMenu_menu_openHelp {
  list-style-image: url("./../images/help.svg");
}
#appMenu_feedbackPage {
  list-style-image: url("./../images/feedback.svg");
}
#appMenu_helpSafeMode {
  list-style-image: url("chrome://devtools/skin/images/debugging-workers.svg");
}
#appMenu_troubleShooting {
  list-style-image: url("./../images/more.svg");
}
#appMenu_help_reportSiteIssue {
  list-style-image: url("./../images/lightbulb.svg");
}
#appMenu_menu_HelpPopup_reportPhishingtoolmenu {
  list-style-image: url("./../images/warning.svg");
}
#appMenu_aboutName {
  list-style-image: url("chrome://branding/content/icon16.png");
}
/*= Panel - Library =================================================================*/
#appMenu-library-bookmarks-button {
  list-style-image: url("./../images/star-line-horizontal.svg");
}
#appMenu-library-history-button {
  list-style-image: url("./../images/history.svg");
}
#appMenu-library-downloads-button {
  list-style-image: url("./../images/downloads.svg");
}
/*= Panel - Downloads ===============================================================*/
#downloadsHistory {
  list-style-image: url("./../images/downloads.svg");
}
#downloadsHistory .box-inherit.button-box {
  display: inline-flex !important;
}
/*= Toolbar - Overflow Menu =========================================================*/
#overflowMenu-customize-button {
  list-style-image: url("./../images/paint-brush.svg");
}
/*= Tabbar - All Tab Menu ===========================================================*/
#allTabsMenu-undoCloseTab {
  list-style-image: url("./../images/undo.svg");
}
#allTabsMenu-searchTabs {
  list-style-image: url("./../images/search-glass.svg");
}
#allTabsMenu-containerTabsButton {
  list-style-image: url("./../images/container-openin-16.svg");
}
#allTabsMenu-hiddenTabsButton {
  /* list-style-image: url("./../images/password-hide.svg"); */
}
#allTabsMenu-containerTabsView .subviewbutton:last-child {
  list-style-image: url("./../images/settings.svg");
}
/*= BMB_bookmarksPopup ==============================================================*/
/* #BMB_viewBookmarksSidebar {
  --menuitem-image: var(--uc-sidebar-icon);
}
#BMB_viewBookmarksSidebar[data-l10n-args='{"isVisible":true}'] {
  --menuitem-image: url("./../images/dismiss.svg");
} */
#BMB_searchBookmarks {
  --menuitem-image: url("./../images/search-glass.svg");
}
#BMB_bookmarksShowAllTop,
#BMB_bookmarksShowAll {
  --menuitem-image: url("./../images/star-line-horizontal.svg");
}
#BMB_bookmarksToolbar {
  --menuitem-image: url("./../images/bookmarks-toolbar.svg");
}
#BMB_bookmarksPopup > .bookmark-item menupopup > menuitem.openintabs-menuitem {
  --menuitem-image: url("./../images/window-new.svg");
}
/* BMB_bookmarksToolbarPopup */
#BMB_viewBookmarksToolbar[data-l10n-args='{"isVisible":true}'] {
  --menuitem-image: url("./../images/eye-hide.svg");
}
#BMB_viewBookmarksToolbar[data-l10n-args='{"isVisible":false}'] {
  --menuitem-image: url("./../images/eye-show.svg");
}
/*= protections-popup ===============================================================*/
#protections-popup-settings-button > .protections-popup-settings-icon,
#protections-popup-show-report-button > .protections-popup-show-report-icon {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  margin-inline-end: 1em;
}
#protections-popup-settings-button > .protections-popup-settings-icon,
#protections-popup-multiView .panel-subview-footer-button {
  list-style-image: url("./../images/settings.svg");
}
#protections-popup-show-report-button > .protections-popup-show-report-icon {
  list-style-image: url("./../images/dashboard.svg");
}
/*= identity-popup ==================================================================*/
#identity-popup-clear-sitedata-button,
#identity-popup-more-info {
  padding-inline: 5px !important;
}
#identity-popup-securityView-body {
  margin-inline-start: 32px !important; /* Original: 10px */
}
#identity-popup-clear-sitedata-button {
  list-style-image: url("./../images/broom.svg");
}
#identity-popup-more-info.subviewbutton {
  list-style-image: url("./../images/info.svg");
}
#identity-popup-more-info:is(menuitem) {
  --menuitem-image: url("./../images/info.svg");
}
/*= sidebarMenu-popup ========================================================*/
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("./../images/star-line-horizontal.svg") !important;
}
#sidebar-switcher-bookmarks:is(menuitem) {
  --menuitem-image: url("./../images/star-line-horizontal.svg");
}
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("./../images/history.svg") !important;
}
#sidebar-switcher-history:is(menuitem) {
  --menuitem-image: url("./../images/history.svg");
}
#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("./../images/phone-tablet.svg") !important;
}
#sidebar-switcher-tabs:is(menuitem) {
  --menuitem-image: url("./../images/phone-tablet.svg");
}
#sidebar-reverse-position:is(menuitem) {
  --menuitem-image: var(--uc-sidebar-icon-reverse);
}
#sidebarMenu-popup > *:is(menuitem)[data-l10n-id="sidebar-menu-close"] {
  --menuitem-image: url("./../images/dismiss.svg");
}
