/** Toolbarbutton Icons **************************************************************/
#back-button {
  list-style-image: url("./../images/arrow-left.svg") !important;
}
#forward-button {
  list-style-image: url("./../images/arrow-right.svg") !important;
}
#stop-button {
  list-style-image: url("./../images/dismiss.svg") !important;
}
#reload-button {
  list-style-image: url("./../images/reload.svg") !important;
}
#downloads-button,
#downloads-indicator-anchor {
  list-style-image: url("./../images/downloads.svg") !important;
}
#history-panelmenu {
  list-style-image: url("./../images/history.svg") !important;
}
#bookmarks-menu-button {
  list-style-image: url("./../images/star-line-horizontal.svg") !important;
}
#nav-bar-overflow-button,
#unified-extensions-button {
  list-style-image: url("./../images/extension.svg") !important;
}
.unified-extensions-item-open-menu.subviewbutton {
  list-style-image: url("./../images/settings.svg") !important;
}
#PanelUI-menu-button,
#PanelUI-menu-button[badge-status="update-available"],
#PanelUI-menu-button[badge-status="update-downloading"],
#PanelUI-menu-button[badge-status="update-manual"],
#PanelUI-menu-button[badge-status="update-other-instance"],
#PanelUI-menu-button[badge-status="update-restart"],
#PanelUI-menu-button[badge-status="update-unsupported"],
#PanelUI-menu-button[badge-status="addon-alert"],
#PanelUI-menu-button[badge-status="fxa-needs-authentication"] {
  list-style-image: url("./../images/menu-button.svg") !important;
}
/* Extra button that normally are not shown */
#home-button {
  list-style-image: url("chrome://browser/skin/home.svg");
}
#bookmarks-toolbar-button,
#bookmarks-toolbar-placeholder {
  list-style-image: url("./../images/bookmarks-toolbar.svg") !important;
}
#add-ons-button {
  list-style-image: url("./../images/extension.svg") !important;
}
#open-file-button {
  list-style-image: url("./../images/folder.svg") !important;
}
#screenshot-button {
  list-style-image: url("./../images/screenshot.svg") !important;
}
#save-page-button {
  list-style-image: url("./../images/save.svg") !important;
}
#sync-button {
  list-style-image: url("./../images/phone-tablet.svg") !important;
}
#characterencoding-button {
  list-style-image: url("chrome://browser/skin/characterEncoding.svg");
}
#new-window-button {
  list-style-image: url("./../images/window.svg") !important;
}
#new-tab-button {
  list-style-image: url("./../images/new-tab.svg") !important;
}
#privatebrowsing-button {
  list-style-image: url("./../images/privateBrowsing.svg") !important;
}
#find-button {
  list-style-image: url("./../images/search-glass.svg") !important;
}
#print-button {
  list-style-image: url("./../images/print.svg") !important;
}
#fullscreen-button {
  list-style-image: url("./../images/fullscreenEnterButton.svg") !important;
}
#developer-button {
  list-style-image: url("./../images/wrench.svg") !important;
}
#profiler-button-button > .toolbarbutton-icon {
  list-style-image: url("./../images/top-speed.svg") !important;
}
#preferences-button {
  list-style-image: url("./../images/settings.svg") !important;
}
#cut-button {
  list-style-image: url("./../images/edit-cut.svg") !important;
}
#copy-button {
  list-style-image: url("./../images/edit-copy.svg") !important;
}
#paste-button {
  list-style-image: url("./../images/edit-paste.svg") !important;
}
#zoom-out-button {
  list-style-image: url("./../images/zoom-out.svg") !important;
}
#zoom-in-button {
  list-style-image: url("./../images/zoom-in.svg") !important;
}
#PlacesChevron {
  list-style-image: url("chrome://global/skin/icons/chevron.svg");
}
#email-link-button {
  list-style-image: url("./../images/mail.svg") !important;
}
#sidebar-button,
#sidebar-button:-moz-locale-dir(ltr):not([positionend]),
#sidebar-button:-moz-locale-dir(rtl)[positionend] {
  list-style-image: url("./../images/sidebar.svg") !important;
}
#sidebar-button:not(:-moz-locale-dir(ltr):not([positionend]), :-moz-locale-dir(rtl)[positionend]) {
  transform: rotateY(180deg) !important;
}
#panic-button {
  list-style-image: url("chrome://browser/skin/forget.svg");
}
#library-button {
  list-style-image: url("chrome://browser/skin/library.svg");
}
#save-to-pocket-button,
#save-to-pocket-button[open="true"],
#save-to-pocket-button[pocketed="true"] {
  list-style-image: url("./../images/pocket.svg") !important;
}
#import-button {
  list-style-image: url("./../images/import.svg") !important;
}
