/*= Proton Tree =====================================================================*/
@-moz-document url("chrome://browser/content/places/places.xhtml"),
               url("chrome://browser/content/places/bookmarksSidebar.xhtml"),
               url("chrome://browser/content/places/historySidebar.xhtml") {
  :root:not(:-moz-lwtheme),
  :root[lwt-default-theme-in-dark-mode] {
    --default-focusring-width: 1px !important;
    --tree-color: var(--in-content-text-color);
    --tree-hover-background: rgb(236, 236, 236);
    --tree-hover-color: var(--tree-color);
    --tree-selected-background: SelectedItem;
    --tree-selected-color: SelectedItemText;
    --tree-outline-color: var(--tree-color);
    --organizer-pane-background: var(--toolbar-bgcolor) !important;
  }
  @media (prefers-color-scheme: dark) {
    :root:not(:-moz-lwtheme),
    :root[lwt-default-theme-in-dark-mode] {
      --tree-hover-background: rgb(97, 97, 97);
    }
  }
  /*- Tree -----------------------------------------------------------------*/
  tree {
    color: var(--tree-color) !important;
  }
  treechildren::-moz-tree-row(hover) {
    background-color: var(--tree-hover-background) !important;
  }
  treechildren::-moz-tree-image(hover),
  treechildren::-moz-tree-twisty(hover),
  treechildren::-moz-tree-cell-text(hover) {
    color: var(--tree-hover-color) !important;
  }
  treechildren::-moz-tree-row(selected) {
    background-color: -moz-cellhighlight !important;
    color: var(--tree-color) !important;
  }
  treechildren::-moz-tree-image(selected),
  treechildren::-moz-tree-twisty(selected),
  treechildren::-moz-tree-cell-text(selected) {
    color: var(--tree-color) !important;
  }
  treechildren::-moz-tree-row(selected, focus) {
    background-color: var(--tree-selected-background) !important;
  }
  treechildren::-moz-tree-image(selected, focus),
  treechildren::-moz-tree-twisty(selected, focus),
  treechildren::-moz-tree-cell-text(selected, focus) {
    color: var(--tree-selected-color) !important;
  }
  treechildren::-moz-tree-row(current, focus) {
    outline: var(--default-focusring);
    outline-color: var(--tree-outline-color) !important;
    outline-offset: calc(-1 * var(--default-focusring-width));
  }
  treechildren::-moz-tree-row(selected, current, focus) {
    outline-color: rgb(255, 135, 40) !important;
  }
}