/** Activity Stream ******************************************************************/
@-moz-document url("about:home"), url("about:newtab"), url("about:privatebrowsing") {
  html {
    --searchbar-bgcolor: rgb(255, 255, 255);
    --searchbar-bgcolor-hover: rgb(221, 221, 221);
  }
  @media (prefers-color-scheme: dark) {
    html {
      --searchbar-bgcolor: rgb(43, 43, 43);
      --searchbar-bgcolor-hover: rgb(61, 61, 61);
    }
  }
  html.private {
    --searchbar-bgcolor: rgb(43, 43, 43);
    --searchbar-bgcolor-hover: rgb(61, 61, 61);
  }
  /*= Background =========================================================*/
  @supports -moz-bool-pref("userChrome+Content.newTab.image") {
    @supports not -moz-bool-pref("userChrome+Content.newTab.image.Edge") {
      @supports -moz-bool-pref("userChrome+Content.zavety") {
        html.private {
          --searchbar-bgcolor: color-mix(in srgb, rgb(43, 43, 43), transparent 60%) !important;
          --searchbar-bgcolor-hover: color-mix(in srgb, rgb(61, 61, 61), transparent 60%) !important;
        }
        html.private body {
          background-image: url("./../images/newtab/1.jpg") !important;
          background-color: lightgreen !important;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    html.private .info {
      display: none !important;
    }
    @supports -moz-bool-pref("userChrome+Content.newTab.image.Edge") or
              -moz-bool-pref("userChrome+Content.newTab.image.Augustinus_wijsheid") or
              -moz-bool-pref("userChrome+Content.newTab.image.Augustinus_kerk") {
      html:not(.private) {
        --searchbar-bgcolor: color-mix(in srgb, rgb(255, 255, 255), transparent 60%) !important;
        --searchbar-bgcolor-hover: color-mix(in srgb, rgb(221, 221, 221), transparent 60%) !important;
      }
      html:not(.private) #root > div > span,
      html:not(.private) .logo-and-wordmark {
        display: none !important;
      }
      html:not(.private) .search-inner-wrapper {
        margin-top: -20px !important;
      }
    }
    @supports -moz-bool-pref("userChrome+Content.newTab.image.Edge") {
      html:not(.private) {
        scrollbar-width: none;
      }
      html:not(.private) body {
        background-image: url("./../images/newtab/Edge.jpg");
        background-size: cover; /* or auto auto */
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
      }
    }
    @supports -moz-bool-pref("userChrome+Content.newTab.image.Augustinus_wijsheid") {
      html:not(.private) body {
        background-image: url("./../images/newtab/Augustinus1.jpg") !important;
        background-color: lightgreen !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    @supports -moz-bool-pref("userChrome+Content.newTab.image.Augustinus_kerk") {
      html:not(.private) body {
        background-image: url("./../images/newtab/Augustinus2.jpg") !important;
        background-color: black !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  /*= Activity Stream - Private Mode =====================================*/
  @media not (prefers-contrast) {
    html.private {
      --in-content-page-color: white !important;
      --in-content-text-color: white !important;
      --in-content-page-background: rgb(36, 36, 36) !important;
      --in-content-link-color-hover: white !important;
      --in-content-link-color-active: white !important;
      --in-content-banner-background: #f9f9fe !important;
      --in-content-banner-text-color: #0c0c0d !important;
      --in-content-button-background-hover: rgba(12,12,13,.1) !important;
      --in-content-button-background-active: rgba(12,12,13,.15) !important;
    }
  }
  html.private body {
    justify-content: normal !important;
    padding-top: 0px !important;
    margin-top: -10px !important;
  }
  html.private .showPrivate .logo-and-wordmark {
    background: url("./../images/inprivate_icon.svg") center center no-repeat;
    margin-bottom: 110px !important;
  }
  html.private .showPrivate .logo-and-wordmark::after {
    content: 'InPrivate-browsing';
    display: block;
    cursor: default;
    font-family: SegoeUIVF, Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 120px;
    transform: translateX(calc(-50% - 22px));
    color: #F5F5F5;
  }
  html.private .showPrivate .logo-and-wordmark::after::selection {
    background-color: Highlight !important;
    color: HighlightText !important;
  }
  html.private .showPrivate .logo-and-wordmark > .logo,
  html.private .showPrivate .logo-and-wordmark > .wordmark {
    visibility: hidden;
  }
  html.private .search-handoff-button {
    border: none !important;
    border-radius: 4px !important;
    background-color: var(--searchbar-bgcolor) !important;
    box-shadow: none !important;
  }
  html.private .search-handoff-button:hover {
    background-color: var(--searchbar-bgcolor-hover) !important;
  }
  html.private .fake-textbox {
    color: rgb(141, 141, 141) !important;
    opacity: 1 !important;
  }
  html.private .fake-caret {
    background-color: rgb(245, 245, 245) !important;
  }
  /*= Activity Stream - Home Search Bar looks like proton ================*/
  /* Dropdown Colors */
  #root {
    --newtab-search-background-color: rgb(255, 255, 255); /* Same as light theme's --panel-background */
    /* Set search dropdown background */
    --newtab-search-dropdown-header-color: var(--newtab-search-background-color) !important;
    --newtab-search-dropdown-color: var(--newtab-search-background-color) !important;
    --newtab-element-hover-color: color-mix(in srgb, currentColor 9%, transparent) !important;
  }
  @media (prefers-color-scheme: dark) {
    #root {
      /* Default Dark Mode */
      --newtab-search-background-color: rgba(66, 65, 77, 1); /* Same as dark theme's --panel-background */
    }
  }
  .activity-stream[lwt-sidebar]:not([style*="--newtab-background-color: rgba(43, 42, 51, 1);"]) #root {
    /* Light weight theme */
    --newtab-search-background-color: var(--lwt-sidebar-background-color);
  }
  .search-wrapper .search-handoff-button,
  .search-wrapper input {
    background: var(--searchbar-bgcolor) url("./../images/search-glass.svg") 20px center no-repeat !important;
    background-color: var(--searchbar-bgcolor) !important;
  }
  .search-wrapper .search-handoff-button:hover,
  .search-wrapper input:hover {
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.25) !important;
    background-color: var(--searchbar-bgcolor-hover) !important;
  }
  /* Padding */
  #searchSuggestionTable {
    border-radius: 4px !important;
    -moz-window-shadow: cliprounded;
  }
  .contentSearchSuggestionTable .contentSearchOneOffItem {
    width: 32px !important;
    height: 32px !important;
    /* Margin */
    margin-block: 5px !important;
    margin-inline-start: 5px !important;
    margin-inline-end: 8px !important;
    /* Border */
    border-radius: 4px !important;
    border-image: none !important;
    /* Original: linear-gradient(transparent 18%, var(--newtab-border-secondary-color) 18%, var(--newtab-border-secondary-color) 82%, transparent 82%) 1; */
    border-inline-end: none !important; /* Original: 1px solid; */
  }
  #contentSearchSettingsButton::before {
    content: url("./../images/settings.svg") !important;
    display: inline-flex;
    /* Color */
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
    /* Align */
    margin-inline-end: 5px;
    vertical-align: -25%;
  }
  /* Pointer */
  .contentSearchSuggestionTable .contentSearchOneOffItem,
  #contentSearchSettingsButton {
    cursor: pointer;
  }
  /*= Activity Stream - Search Focus Border: like URL ====================*/
  @supports -moz-bool-pref("userChrome+Content.page.field_border") {
    /* At DarkMode, Color */
    body[style*="--newtab-background-color:rgba(28, 27, 34, 1);"],
    body[style*="--newtab-background-color:rgba(42, 42, 46, 1);"],
    body[style*="--newtab-background-color: rgba(42, 42, 46, 1);"],
    body[style*="--newtab-background-color: rgba(43, 42, 51, 1);"],
    body[style*="--newtab-background-color: rgb(43, 42, 51);"] {
      /* inner */
      --newtab-focus-border: rgba(0, 221, 255, 0.5) !important;
      /* Original: #B5D3FF, Better color-mix(in srgb, #B5D3FF 70%, transparent) */
      --newtab-focus-border-selected: var(--newtab-focus-border) !important;
      /* Original: #B5D3FF */
    }
    @supports -moz-bool-pref("userChrome+Content.page.proton_color.dark_blue_accent") {
      body[style*="--newtab-background-color:rgba(28, 27, 34, 1);"],
      body[style*="--newtab-background-color:rgba(42, 42, 46, 1);"],
      body[style*="--newtab-background-color: rgba(42, 42, 46, 1);"],
      body[style*="--newtab-background-color: rgba(43, 42, 51, 1);"],
      body[style*="--newtab-background-color: rgb(43, 42, 51);"] {
        --newtab-focus-border: var(--in-content-focus-outline-color) !important;
      }
    }
  }
  /*= Activity Stream - Icons ============================================*/
  .top-site-outer .search-topsite {
    background-image: url("./../images/search-glass.svg") !important;
  }
  .card .icon.icon-bookmark-added {
    background-image: url("./../images/star-filled.svg") !important;
  }
  .card .icon.icon-history-item {
    background-image: url("./../images/history.svg") !important;
  }
  .context-menu-list .context-menu-item button {
    padding-inline-start: 0 !important;
  }
  .context-menu-list .context-menu-item button span {
    /* Color */
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
    /* Layout */
    background-size: 16px !important;
    background-repeat: no-repeat !important;
    background-image: var(--menuitem-image);
    padding-inline-start: 24px; /* 16p + (4px *  2) */
    background-position: var(--uc-menu-background-position, left) 4px center;
  }
  .context-menu-list .context-menu-item button span:dir(rtl) {
    --uc-menu-background-position: right;
  }
  .context-menu-item span[data-l10n-id="newtab-menu-pin"] {
    --menuitem-image: url("./../images/pin-tab.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-unpin"] {
    --menuitem-image: url("./../images/unpin-tab.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-edit-topsites"] {
    --menuitem-image: url("./../images/edit.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-bookmark"] {
    --menuitem-image: url("./../images/star-add.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-remove-bookmark"] {
    --menuitem-image: url("./../images/star-filled.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-save-to-pocket"] {
    --menuitem-image: url("./../images/pocket.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-open-file"] {
    --menuitem-image: url("./../images/folder.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-show-file"] {
    --menuitem-image: url("./../images/folder.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-open-new-window"] {
    --menuitem-image: url("./../images/window.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-open-new-private-window"] {
    --menuitem-image: url("./../images/privateBrowsing.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-dismiss"] {
    --menuitem-image: url("./../images/dismiss.svg");
  }
  .context-menu-item span[data-l10n-id="newtab-menu-delete-history"] {
    --menuitem-image: url("./../images/delete.svg");
  }
  /*= Activity Stream - Web Site Icon: full size =========================*/
  @supports -moz-bool-pref("userContent.newTab.full_icon") {
    .top-site-outer .tile {
      overflow: hidden;
    }
    .top-site-outer .tile .icon-wrapper {
      width: 100% !important;
      /* Original: 48px */
      height: 100% !important;
      /* Original: 48px */
    }
  }
  /*= Activity Stream - Animate ==========================================*/
  @supports -moz-bool-pref("userContent.newTab.animate") {
    @media (prefers-reduced-motion: no-preference) {
      :root {
        --animation-easing-function: cubic-bezier(0.07, 0.95, 0, 1);
      }
      /* Background */
      .top-site-outer,
      #searchSubmit,
      button.icon,
      button.close-button {
        transition: background 1.5s var(--animation-easing-function);
      }
      .top-site-outer:hover,
      #searchSubmit:hover,
      button.icon:hover,
      button.close-button:hover {
        transition: background 0.5s var(--animation-easing-function);
      }
      /* Search Bar */
      .search-inner-wrapper input {
        transition: 1s var(--animation-easing-function);
        transition-property: border-color, box-shadow;
      }
      .search-wrapper .search-inner-wrapper:active input,
      .search-wrapper input:focus {
        transition: border-color 0.5s var(--animation-easing-function), box-shadow 1s var(--animation-easing-function);
      }
      @supports -moz-bool-pref("userChrome+Content.page.field_border") {
        .search-wrapper .search-inner-wrapper:hover input {
          border-color: var(--newtab-primary-action-background) !important;
          transition: border-color 0.5s var(--animation-easing-function);
        }
      }
    }
  }
}