/** Menu - Icons Layout **************************************************************/
/* Mainly imported from icons/layout_menu.css */
@-moz-document url("chrome://browser/content/places/places.xhtml"), url("about:downloads") {
  menupopup menuitem:not([type="checkbox"][checked="true"], [type="radio"]),
  menupopup menu:not([type="checkbox"][checked="true"], [type="radio"]),
  #main-menubar > menu {
    -moz-appearance: none !important; /* Linux: menulist */
  }
  /* Rounding */
  :not(#ContentSelectDropdown) menupopup:not(.in-menulist) > menuitem,
  :not(#ContentSelectDropdown) menupopup > menu,
  #context-navigation > menuitem[_moz-menuactive] .menu-iconic-icon {
    border-radius: var(--arrowpanel-menuitem-border-radius, var(--panel-border-radius)) !important;
  }
  /* Width */
  :not(#ContentSelectDropdown) menupopup:not(.in-menulist) > menuitem,
  :not(#ContentSelectDropdown) menupopup > menu {
    max-width: 25em !important;
  }
  /* Icon */
  :not(menu, #ContentSelectDropdown)
    > menupopup:not(.in-menulist)
    > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  :not(menu, #ContentSelectDropdown) > menupopup:not(.in-menulist)
    > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menu:not(.menu-iconic, .in-menulist, [checked="true"]),
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup)
    > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
  menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
  .openintabs-menuitem,
  #blockedPopupDontShowMessage,
  #BMB_viewBookmarksToolbar,
  #clearDownloadsButton /* Library */ {
    /* Color */
    -moz-context-properties: fill, fill-opacity, stroke !important;
    fill: currentColor !important;
    stroke: transparent;
    /* Layout */
    background-size: 16px !important;
    background-repeat: no-repeat !important;
    background-image: var(--menuitem-image) !important;
  }
  /* For native context menus */
  @supports -moz-bool-pref("widget.macos.native-context-menus") or 
            -moz-bool-pref("widget.gtk.native-context-menus") {
    :not(menu, #ContentSelectDropdown)
      > menupopup:not(.in-menulist)
      > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
    :not(menu, #ContentSelectDropdown) > menupopup:not(.in-menulist)
      > menu:not(.menu-iconic, .in-menulist, [checked="true"]) {
        list-style-image: var(--menuitem-image, url("../images/blank.svg")) !important;
    }
  }
  /* Padding */
  /* Padding as Arrow Panel */
  :root {
    --uc-menu-background-position: left;
    --context-menu-background-padding: var(--arrowpanel-menuitem-padding-inline);
  }
  :root:-moz-locale-dir(rtl) {
    --uc-menu-background-position: right;
  }
  :not(menu, #ContentSelectDropdown, #context-navigation, #permission-popup-menulist)
    > menupopup:not(.in-menulist)
    > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  :not(menu, #ContentSelectDropdown, #context-navigation, #permission-popup-menulist)
    > menupopup:not(.in-menulist)
    > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menu:not(.menu-iconic, .in-menulist, [checked="true"]),
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup)
    > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu:not(.menu-iconic, .in-menulist, [checked="true"]),
  menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
  menupopup[needsgutter] menu:not([icon], .menu-iconic),
  menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic),
  .openintabs-menuitem,
  #blockedPopupDontShowMessage,
  #BMB_viewBookmarksToolbar,
  #clearDownloadsButton /* Library */ {
    background-position: var(--uc-menu-background-position) var(--context-menu-background-padding) center !important;
    padding-inline-start: var(--context-menu-background-padding) !important;
  }
  /* Padding - Non Native */
  @media (-moz-gtk-csd-available), (-moz-platform: windows-win7), (-moz-platform: windows-win8), (-moz-platform: windows-win10) {
    @media (-moz-windows-non-native-menus) {
      :root {
        --context-menu-text-padding: calc(var(--arrowpanel-menuicon-width) + var(--arrowpanel-menutext-padding)); /* 16px + 8px */
        --menu-background-padding-default: calc(var(--context-menu-background-padding) + var(--context-menu-text-padding));
      }
      menupopup:is(#placesContext, #placesColumnsContext, #downloadsContextMenu)
        menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
      menupopup:is(#placesContext, #placesColumnsContext, #downloadsContextMenu)
        menu:not(.menu-iconic, .in-menulist, [checked="true"]),
      menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup)
        > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
      menupopup:is(#viewMenuPopup, #maintenanceButtonPopup)
        > menu:not(.menu-iconic, .in-menulist, [checked="true"]) {
        padding-inline-start: var(--menu-background-padding-default) !important;
        /* margin-left: 0 !important; */
      }
    }
    @supports -moz-bool-pref("userChrome.theme.non_native_menu") {
      @media (-moz-gtk-csd-available) {
        :root {
          --context-menu-text-padding: calc(var(--arrowpanel-menuicon-width) + var(--arrowpanel-menutext-padding)); /* 16px + 8px */
          --menu-background-padding-default: calc(var(--context-menu-background-padding) + var(--context-menu-text-padding));
        }
        menupopup:is(#placesContext, #placesColumnsContext, #downloadsContextMenu)
          menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
        menupopup:is(#placesContext, #placesColumnsContext, #downloadsContextMenu)
          menu:not(.menu-iconic, .in-menulist, [checked="true"]),
        menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup)
          > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
        menupopup:is(#viewMenuPopup, #maintenanceButtonPopup)
          > menu:not(.menu-iconic, .in-menulist, [checked="true"]) {
          padding-inline-start: var(--menu-background-padding-default) !important;
          /* margin-left: 0 !important; */
        }
      }
    }
  }
  /* Padding - Windows */
  @media (-moz-platform: windows-win7), (-moz-platform: windows-win8), (-moz-platform: windows-win10) {
    @media not (-moz-windows-non-native-menus) {
      :root {
        --context-menu-text-padding: calc(var(--arrowpanel-menuicon-width) + var(--arrowpanel-menutext-padding) + 1.4px);
        --menu-background-padding-default: 0px;
      }
      @media (-moz-platform: windows-win10) {
        @supports -moz-bool-pref("userChrome+Content.compatibility.os.win11") {
          :root {
            --context-menu-background-padding: 5px;
          }
          #main-menubar {
            --context-menu-background-padding: calc(5px + ((1.45em - 16px) / 2));
          }
          menuitem:is([type="checkbox"], [type="radio"]) {
            --menu-padding: 0px;
          }
          menuitem[checked="true"] {
            --context-menu-background-padding: 0px;
          }
          menuitem[checked="true"] > .menu-iconic-left {
            transform: translateX(2px);
          }
        }
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic > .menu-iconic-left,
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menuitem-iconic > .menu-iconic-left,
        menupopup:not([placespopup="true"]) .menu-iconic > .menu-iconic-left,
        menupopup:not([placespopup="true"]) .menuitem-iconic > .menu-iconic-left {
          appearance: none !important;
          padding-block: 0 !important;
          padding-inline-start: 0px;
          margin-inline-end: 6px !important; /* var(--arrowpanel-menutext-padding) */
        }
        @supports -moz-bool-pref("userChrome+Content.compatibility.os.win11") {
          menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic > .menu-iconic-left,
          menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menuitem-iconic > .menu-iconic-left,
          menupopup:not([placespopup="true"]) .menu-iconic > .menu-iconic-left,
          menupopup:not([placespopup="true"]) .menuitem-iconic > .menu-iconic-left {
            box-sizing: content-box;
          }
        }
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-accel,
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic-accel,
        menupopup:not([placespopup="true"]) .menu-accel,
        menupopup:not([placespopup="true"]) .menu-iconic-accel {
          box-sizing: content-box;
          min-height: 16px;
        }
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-accel,
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic-accel,
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-text,
        menupopup:is(#historyMenuPopup, #bookmarksMenuPopup) .menu-iconic-text,
        menupopup:not([placespopup="true"]) .menu-accel,
        menupopup:not([placespopup="true"]) .menu-iconic-accel,
        menupopup:not([placespopup="true"]) .menu-text,
        menupopup:not([placespopup="true"]) .menu-iconic-text {
          padding-block: 0 !important;
        }
      }
    }
  }
  @media (-moz-platform: windows-win7), (-moz-platform: windows-win8), (-moz-platform: windows-win10) {
    @media not (-moz-windows-non-native-menus) {
      menupopup:is(#placesContext, #placesColumnsContext, #downloadsContextMenu)
        menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
      menupopup:is(#placesContext, #placesColumnsContext, #downloadsContextMenu)
        menu:not(.menu-iconic, .in-menulist, [checked="true"]),
      menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup)
        > menuitem:not(.menuitem-iconic, .bookmark-item, .in-menulist, [checked="true"]),
      menupopup:is(#viewMenuPopup, #maintenanceButtonPopup)
        > menu:not(.menu-iconic, .in-menulist, [checked="true"]) {
        background-position: left var(--context-menu-background-padding) center !important;
        padding-inline-start: 0 !important;
      }
    }
  }
  /* Padding - Linux */
  @media (-moz-gtk-csd-available) {
    :root {
      --context-menu-background-padding: 6px; /* var(--arrowpanel-menuitem-padding-inline) */
    }
    /* Contextmenu Checkbox Unset */
    menupopup:is(#placesContext, #placesColumnsContext, #downloadsContextMenu) menuitem[type="checkbox"] {
      margin-inline: 0 !important;
    }
    menupopup:is(#placesContext, #placesColumnsContext, #downloadsContextMenu)
      menuitem[type="checkbox"]
      > .menu-iconic-left
      > .menu-iconic-icon {
        margin-inline-end: 0 !important;
    }
    menupopup:is(#placesContext, #placesColumnsContext, #downloadsContextMenu)
      menuitem[type="checkbox"]:not([checked="true"])
      > .menu-iconic-left
      > .menu-iconic-icon {
        border: none !important;
        background-color: unset !important;
    }
  }

  /*= Context Menu - Icons ============================================================*/
  /*= ContextMenu Checkbox ============================================================*/
  /* Imported from icons/index/context_menu/checkbox.css */
  menuitem[checked="true"] > .menu-iconic-left {
    list-style-image: url("./../images/check.svg") !important;
  }

  /*= placeContext ====================================================================*/
  /* Imported from icons/index/context_menu/place.css */
  #placesContext_open {
    /* --menuitem-image: url("./../images/link-square.svg"); */
  }
  #placesContext_openBookmarkContainer\:tabs,
  #placesContext_openBookmarkLinks\:tabs {
    --menuitem-image: url("./../images/window-new.svg");
  }
  #placesContext_open\:newtab,
  #placesContext_openContainer\:tabs,
  #placesContext_openLinks\:tabs {
    --menuitem-image: url("./../images/new-tab.svg");
  }
  #placesContext_open\:newcontainertab {
    --menuitem-image: url("./../images/container-openin-16.svg");
  }
  #placesContext_open\:newwindow {
    --menuitem-image: url("./../images/window.svg");
  }
  #placesContext_open\:newprivatewindow {
    --menuitem-image: url("./../images/privateBrowsing.svg");
  }
  #placesContext_show_bookmark\:info,
  #placesContext_show\:info {
    --menuitem-image: url("./../images/edit.svg");
  }
  #placesContext_show_folder\:info {
    --menuitem-image: url("./../images/rename.svg"); /* Has to be "Change Name" */
  }
  #placesContext_deleteBookmark,
  #placesContext_deleteFolder,
  #placesContext_delete,
  #placesContext_delete_history {
    --menuitem-image: url("./../images/delete.svg");
  }
  #placesContext_deleteHost {
    --menuitem-image: url("./../images/eye-hide.svg");
  }
  #placesContext_sortBy\:name {
    --menuitem-image: url("./../images/arrow-sort.svg");
  }
  #placesContext_cut {
    --menuitem-image: url("./../images/edit-cut.svg");
  }
  #placesContext_copy {
    --menuitem-image: url("./../images/edit-copy.svg");
  }
  #placesContext_paste_group {
    --menuitem-image: url("./../images/edit-paste.svg");
  }
  #placesContext_new\:bookmark {
    --menuitem-image: url("./../images/star-add.svg");
  }
  #placesContext_showInFolder {
    --menuitem-image: url("./../images/folder.svg");
  }
  #placesContext_new\:folder {
    --menuitem-image: url("./../images/folder-add.svg");
  }
  #placesContext_new\:separator {
    --menuitem-image: url("./../images/vertical-line.svg");
  }
  #placesContext_paste {
    --menuitem-image: url("./../images/edit-paste.svg");
  }
  #placesContext_createBookmark {
    --menuitem-image: url("./../images/star-add.svg");
  }
  #show-other-bookmarks_PersonalToolbar {
    /* checkbox */
    /* --menuitem-image: url("./../images/star-line-horizontal.svg"); */
  }
  #placesContext_showAllBookmarks {
    --menuitem-image: url("./../images/star-line-horizontal.svg"); /* chrome://browser/skin/bookmark-star-on-tray.svg */
  }
  .openintabs-menuitem {
    --menuitem-image: url("./../images/window-new.svg");
  }

  /*= downloadsContextMenu ============================================================*/
  /* Imported from icons/index/context_menu/others.css */
  .downloadPauseMenuItem {
    --menuitem-image: url("./../images/pause-fill.svg");
  }
  .downloadResumeMenuItem {
    --menuitem-image: url("./../images/play-fill.svg");
  }
  .downloadUnblockMenuItem {
    --menuitem-image: url("./../images/checkmark-circle.svg");
  }
  .downloadUseSystemDefaultMenuItem {
    --menuitem-image: url("./../images/folder-arrow-up.svg");
  }
  .downloadAlwaysUseSystemDefaultMenuItem {
    /* checkbox */
  }
  .downloadShowMenuItem {
    --menuitem-image: url("./../images/folder-open.svg");
  }
  #downloadsContextMenu > menuitem.downloadOpenReferrerMenuItem,
  #downloadsContextMenu > menuitem[command="downloadsCmd_openReferrer"] {
    --menuitem-image: url("./../images/link-square.svg");
  }
  #downloadsContextMenu > menuitem.downloadCopyLocationMenuItem,
  #downloadsContextMenu > menuitem[command="downloadsCmd_copyLocation"] {
    --menuitem-image: url("./../images/link.svg");
  }
  .downloadDeleteFileMenuItem {
    --menuitem-image: url("./../images/delete.svg");
  }
  .downloadRemoveFromHistoryMenuItem {
    --menuitem-image: url("./../images/dismiss.svg");
  }
  #downloadsContextMenu > menuitem[command="downloadsCmd_clearList"],
  #downloadsContextMenu > menuitem[command="downloadsCmd_clearDownloads"] {
    --menuitem-image: url("./../images/broom.svg");
  }

  /** Library Menu *********************************************************************/
  /* Imported from icons/index/library.css */
  /*= placesMenu =========================================================*/
  #organizeButton {
    list-style-image: url("./../images/settings.svg") !important;
  }
  #viewMenu {
  }
  #maintenanceButton {
    list-style-image: url("./../images/arrow-sort.svg") !important;
  }
  #clearDownloadsButton {
    --menuitem-image: url("./../images/delete.svg");
  }
  /*= organizeButtonPopup ================================================*/
  #newbookmark {
    --menuitem-image: url("./../images/star-add.svg");
  }
  #newfolder {
    --menuitem-image: url("./../images/folder.svg");
  }
  #newseparator {
    --menuitem-image: url("./../images/vertical-line.svg");
  }
  #orgUndo {
    --menuitem-image: url("./../images/undo.svg");
  }
  #orgRedo {
    --menuitem-image: url("./../images/redo.svg");
  }
  #orgCut {
    --menuitem-image: url("./../images/edit-cut.svg");
  }
  #orgCopy {
    --menuitem-image: url("./../images/edit-copy.svg");
  }
  #orgPaste {
    --menuitem-image: url("./../images/edit-paste.svg");
  }
  #orgDelete {
    --menuitem-image: url("./../images/delete.svg");
  }
  #orgSelectAll {
    --menuitem-image: url("./../images/select-all-on.svg");
  }
  #orgClose {
    --menuitem-image: url("./../images/dismiss.svg");
  }
  /*= viewMenuPopup ======================================================*/
  #viewColumns {
    --menuitem-image: url("chrome://global/skin/icons/columnpicker.svg");
  }
  #viewSort {
    --menuitem-image: url("./../images/text-sort-ascending.svg");
  }
  /*= maintenanceButtonPopup =============================================*/
  #backupBookmarks {
    --menuitem-image: url("./../images/database.svg");
  }
  #fileRestoreMenu {
  }
  #fileImport {
    --menuitem-image: url("./../images/folder.svg");
  }
  #fileExport {
    --menuitem-image: url("./../images/save.svg");
  }
  #browserImport {
    --menuitem-image: url("./../images/import.svg");
  }
}
