/*= Proton color ====================================================================*/
/* Imported from "theme/proton_color", so it should be exactly the same file */
@-moz-document url-prefix("about:"),
               url-prefix("chrome://browser/content/places/places.xhtml"),
               url-prefix("view-source"),
               regexp("^(((jar:)?file:///)|(chrome://)).*/$") {
  /*= Default Colors - Hard Coded =====================================================*/
  /* Based on chrome://global/skin/in-content/common-shared.css */
  :host,
  :root {
    --in-content-page-color: rgb(0, 0, 0) !important; /* rgb(21, 20, 26) */
    --in-content-page-background: rgb(247, 247, 247) !important; /* #fff */
    --in-content-text-color: rgb(0, 0, 0) !important;
    --in-content-deemphasized-text: rgb(113, 113, 113) !important; /* rgb(91, 91, 102) */
    --in-content-box-background: #fff;
    --in-content-box-background-odd: rgba(12, 12, 13, 0.05); /* grey 90 a05 */
    --in-content-box-border-color: color-mix(in srgb, currentColor 41%, transparent);
    --in-content-box-info-background: rgb(255, 255, 255) !important; /* #f0f0f4 */
    --section-highlight-background-color: rgb(255, 255, 255) !important; /* Added */
    --in-content-item-hover: color-mix(in srgb, var(--in-content-primary-button-background) 15%, transparent) !important;
    --in-content-item-hover-text: var(--in-content-page-color);
    --in-content-item-selected: var(--in-content-primary-button-background);
    --in-content-item-selected-text: var(--in-content-primary-button-text-color);
    --in-content-icon-color: rgb(91, 91, 102);
    --in-content-accent-color: #0a84ff;
    --in-content-accent-color-active: #0060df;
    --in-content-border-hover: var(--grey-90-a50);
    --in-content-border-invalid: var(--red-50);
    --in-content-border-color: #d7d7db;
    --in-content-error-text-color: #c50042;
    --in-content-link-color: rgb(0, 120, 212) !important; /* var(--blue-60) */
    --in-content-link-color-hover: rgb(0, 102, 180) !important; /* var(--blue-70) */
    --in-content-link-color-active: rgb(17, 129, 215) !important; /* var(--blue-80) */
    --in-content-link-color-visited: var(--in-content-link-color) !important; /* var(--blue-60) */
    /* button background states are also used for checkboxes and radio buttons */
    --in-content-button-text-color: var(--in-content-text-color);
    --in-content-button-text-color-hover: var(--in-content-text-color);
    --in-content-button-background: rgb(229, 229, 229) !important; /* rgba(207, 207, 216, 0.33) */
    --in-content-button-background-hover: rgb(234, 234, 234) !important; /* rgba(207, 207, 216, 0.66) */
    --in-content-button-background-active: rgb(239, 239, 239) !important; /* rgb(207, 207, 216) */
    --in-content-primary-button-text-color: rgb(255, 255, 255) !important;
    --in-content-primary-button-text-color-hover: var(--in-content-primary-button-text-color);
    --in-content-primary-button-background: rgb(0, 120, 212) !important; /* #0061e0 */
    --in-content-primary-button-background-hover: rgb(0, 108, 190) !important; /* #0250bb */
    --in-content-primary-button-background-active: rgb(22, 131, 216) !important; /* #053e94 */
    --in-content-danger-button-background: #e22850;
    --in-content-danger-button-background-hover: #c50042;
    --in-content-danger-button-background-active: #810220;
    --in-content-focus-outline-color: var(--in-content-primary-button-background);
    /* Note: 1px smaller than we want because we have a 1px transparent border. */
    /* Once proton ships, these can probably stop being variables. */
    --in-content-button-border-radius: 4px;
    --in-content-button-horizontal-padding: 15px;
    --in-content-button-vertical-padding: 7px;
    --in-content-table-background: #f8f8fa;
    --in-content-table-border-color: var(--in-content-box-border-color); /* Legacy: #d1d1d1; rgba(249, 249, 250, 0.2) */
    --in-content-table-border-dark-color: var(--in-content-table-border-color);
    --in-content-table-header-background: var(--in-content-primary-button-background); /* Legacy: #0a84ff; rgb(5, 64, 150); */
    --in-content-table-header-color: var(--in-content-primary-button-text-color); /* Legacy: #ffffff; var(--in-content-page-color); */
    --in-content-sidebar-width: 240px;
    --dialog-warning-text-color: var(--red-60);
    --checkbox-border-color: var(--in-content-box-border-color);
    --checkbox-unchecked-bgcolor: var(--in-content-button-background);
    --checkbox-unchecked-hover-bgcolor: var(--in-content-button-background-hover);
    --checkbox-unchecked-active-bgcolor: var(--in-content-button-background-active);
    --checkbox-checked-bgcolor: var(--in-content-primary-button-background);
    --checkbox-checked-color: var(--in-content-primary-button-text-color);
    --checkbox-checked-border-color: transparent;
    --checkbox-checked-hover-bgcolor: var(--in-content-primary-button-background-hover);
    --checkbox-checked-active-bgcolor: var(--in-content-primary-button-background-active);
    --blue-40: #45a1ff; /* rgb(69, 161, 255) */
    --blue-50: #0a84ff; /* rgb(10, 132, 255) */
    --blue-60: #0060df; /* rgb(0, 96, 223) */
    --blue-70: #003eaa; /* rgb(0, 62, 170) */
    --blue-80: #002275; /* rgb(0, 34, 117) */
    --grey-30: #d7d7db;
    --grey-60: #4a4a4f;
    --grey-90-a10: rgba(12, 12, 13, 0.1);
    --grey-90-a20: rgba(12, 12, 13, 0.2);
    --grey-90-a30: rgba(12, 12, 13, 0.3);
    --grey-90-a50: rgba(12, 12, 13, 0.5);
    --grey-90-a60: rgba(12, 12, 13, 0.6);
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --orange-50: #ff9400; /* rgb(255, 148, 0) */
    --red-40: #ff4f5e; /* rgb(255, 79, 94) */
    --red-50: #ff0039; /* rgb(255, 0, 57) */
    --red-60: #d70022; /* rgb(215, 0, 34) */
    --red-70: #a4000f; /* rgb(164, 0, 15) */
    --red-80: #5a0002; /* rgb(90, 0, 2) */
    --red-90: #3e0200; /* rgb(62, 2, 0) */
    --yellow-50: #ffe900; /* rgb(255, 233, 0) */
    --yellow-60: #d7b600; /* rgb(215, 182, 0) */
    --yellow-60-a30: rgba(215, 182, 0, 0.3);
    --yellow-70: #a47f00; /* rgb(164, 127, 0) */
    --yellow-80: #715100; /* rgb(113, 81, 0) */
    --yellow-90: #3e2800; /* rgb(62, 40, 0) */
    --shadow-10: 0 1px 4px var(--grey-90-a10);
    --shadow-30: 0 4px 16px var(--grey-90-a10);
    --card-padding: 16px;
    --card-shadow: var(--shadow-10);
    --card-outline-color: var(--grey-30);
    --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color);
  }
  @media (prefers-color-scheme: dark) {
    :host,
    :root {
      /* Keep these in sync with layout/base/PresShell.cpp, and plaintext.css */
      --in-content-page-background: rgb(51, 51, 51) !important; /* rgb(28, 27, 34) */
      --in-content-page-color: rgb(255, 255, 255) !important;
      --in-content-deemphasized-text: rgb(159, 159, 159) !important; /* rgb(191, 191, 201) */
      --in-content-box-background: rgb(43, 43, 43) !important; /* rgb(35, 34, 43) */
      --in-content-box-background-odd: rgba(249, 249, 250, 0.05);
      --in-content-box-info-background: rgb(59, 59, 59) !important; /* rgba(249, 249, 250, 0.15) */
      --section-highlight-background-color: rgb(59, 59, 59) !important; /* Added */
      --in-content-border-color: rgba(249, 249, 250, 0.2);
      --in-content-border-hover: rgba(249, 249, 250, 0.3);
      --in-content-border-invalid: rgb(255, 132, 139);
      --in-content-error-text-color: #ff9aa2;
      --in-content-button-background: rgb(69, 69, 69) !important; /* rgb(43, 42, 51) */
      --in-content-button-background-hover: rgb(64, 64, 64) !important; /* rgb(82, 82, 94) */
      --in-content-button-background-active: rgb(59, 59, 59) !important; /* rgb(91, 91, 102) */
      --in-content-icon-color: rgb(255, 255, 255) !important;
      --in-content-primary-button-text-color: rgb(242, 248, 252) !important; /* rgb(43, 42, 51) */
      --in-content-primary-button-background: rgb(0, 108, 190) !important;/* rgb(0, 221, 255) */
      --in-content-primary-button-background-hover: rgb(0, 120, 212) !important; /* rgb(128, 235, 255) */
      --in-content-primary-button-background-active: rgb(0, 92, 163) ! important; /* rgb(170, 242, 255) */
      --in-content-danger-button-background: #ff848b;
      --in-content-danger-button-background-hover: #ffbdc5;
      --in-content-danger-button-background-active: #ffdfe7;
      --in-content-table-background: rgb(35, 34, 43);
      --in-content-table-border-dark-color: var(--in-content-box-border-color);
      --in-content-accent-color: var(--in-content-primary-button-background);
      --in-content-accent-color-active: var(--in-content-primary-button-background-hover);
      --in-content-link-color: rgb(76, 153, 212) !important;/* var(--in-content-primary-button-background) */
      --in-content-link-color-hover: rgb(104, 175, 229) !important; /* var(--in-content-primary-button-background-hover) */
      --in-content-link-color-active: rgb(61, 152, 222) !important; /* var(--in-content-primary-button-background-active) */
      --in-content-link-color-visited: rgb(78, 161, 225) !important; /* var(--in-content-link-color) */
      --card-outline-color: var(--grey-60);
      --dialog-warning-text-color: var(--red-40);
    }
  }
}