/*- Clipped tabs - Always show tab icon  --------------------------------------------*/
.tab-icon-image:not([src], [busy], [progress]) {
  display: inline-flex !important;
}
.tab-icon-image[crashed] {
  display: none !important;
}
.tabbrowser-tab[label="Nieuw tabblad"] .tab-icon-image,
.tabbrowser-tab[label="Nieuw privétabblad"] .tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"] {
  content: url("./../../images/new-tab.svg") !important;
}
.tab-icon-image:not([src]) /*,
.tab-icon-image:-moz-broken */ {
  content: url("./../../images/document.svg") !important;
}
.tab-icon-image[src="chrome://global/skin/icons/settings.svg"] {
  content: url("./../../images/settings.svg") !important; 
}
.tab-icon-image[src="chrome://mozapps/skin/extensions/extension.svg"] {
  content: url("./../../images/extension.svg") !important;
}
.tab-icon-image[src="chrome://global/skin/icons/info.svg"] {
  content: url("./../../images/info.svg") !important;
}
.tabbrowser-tab[label$=".pdf"] .tab-icon-image:not([src]) {
  list-style-image: url("./../../images/pdf.svg") !important;
}
.tabbrowser-tab[label="Downloads"] .tab-icon-image {
  content: url("./../../images/downloads.svg") !important;
}
.tabbrowser-tab[label^="Aanmeldingen"] .tab-icon-image[src="chrome://branding/content/icon32.png"] {
  content: url("./../../images/login.svg") !important;
}
.tabbrowser-tab[label="Geavanceerde voorkeuren"] .tab-icon-image[src="chrome://global/skin/icons/settings.svg"] {
  content: url("./../../images/ion.svg") !important;
}
.bookmark-item {
  list-style-image: url("./../../images/document.svg") !important;
}
treechildren::-moz-tree-image(title) {
  list-style-image: url("./../../images/document.svg") !important;
}
/* All Tabs Icons */
.all-tabs-button[label^="Nieuw "][image^="chrome://"] > image,
.all-tabs-button[image="chrome://global/skin/icons/settings.svg"] > image,
.all-tabs-button[image="chrome://mozapps/skin/extensions/extension.svg"] > image,
.all-tabs-button[image="chrome://global/skin/icons/info.svg"] > image,
.all-tabs-button[label="Downloads"] > image,
.all-tabs-button[label^="Aanmeldingen"][image="chrome://branding/content/icon32.png"] > image,
.all-tabs-button[label="Geavanceerde voorkeuren"][image="chrome://global/skin/icons/settings.svg"] > image {
  visibility: hidden;
}
.all-tabs-button:not([label="Downloads"]) {
  list-style-image: url("./../../images/document.svg") !important;
}
.all-tabs-button[label^="Nieuw "][image^="chrome://"] {
  background: url("./../../images/new-tab.svg") no-repeat 2.5px center;
}
.all-tabs-button[image="chrome://global/skin/icons/settings.svg"] {
  background: url("./../../images/settings.svg") no-repeat 2.5px center;
}
.all-tabs-button[image="chrome://mozapps/skin/extensions/extension.svg"] {
  background: url("./../../images/extension.svg") no-repeat 2.5px center;
}
.all-tabs-button[image="chrome://global/skin/icons/info.svg"] {
  background: url("./../../images/info.svg") no-repeat 2.5px center;
}
.all-tabs-button[label="Downloads"] {
  background: url("./../../images/downloads.svg") no-repeat 2.5px center;
}
.all-tabs-button[label^="Aanmeldingen"][image="chrome://branding/content/icon32.png"] {
  background: url("./../../images/login.svg") no-repeat 2.5px center;
}
.all-tabs-button[label="Geavanceerde voorkeuren"][image="chrome://global/skin/icons/settings.svg"] {
  background: url("./../../images/ion.svg") no-repeat 2.5px center;
}
