/*- Clipped tabs - Show close button at hover pinned --------------------------------*/
@supports -moz-bool-pref("userChrome+Content.tab.close_button_at_hover_pinned") {
  #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[pinned] .tab-close-button {
    --uc-close-button-size: 17px;
    --uc-close-button-padding: 2.5px;
    --uc-close-button-margin: calc((var(--uc-close-button-size) - 16px) / -2);
  }
  #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[pinned][visuallyselected]:hover:not([busy]) .tab-close-button {
    display: -moz-box !important;
    -moz-box-ordinal-group: 0 !important;
    /* Looks like hover */
    width: var(--uc-close-button-size) !important;
    height: var(--uc-close-button-size) !important;
    padding: var(--uc-close-button-padding) !important;
    margin-inline: var(--uc-close-button-margin) !important;
  }
  #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[pinned][visuallyselected]:hover:not([busy]) .tab-icon-stack {
    width: 0 !important;
    position: absolute;
    bottom: 8px;
  }
  #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[pinned][visuallyselected]:hover .tab-icon-image {
    display: none !important;
  }
  @supports -moz-bool-pref("userChrome+Content.tab.close_button_at_hover_pinned.background") {
    #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[pinned]:hover:not([busy]) .tab-close-button {
      display: -moz-box !important;
      -moz-box-ordinal-group: 0 !important;
      /* Looks like hover */
      width: var(--uc-close-button-size) !important;
      height: var(--uc-close-button-size) !important;
      padding: var(--uc-close-button-padding) !important;
      margin-inline: var(--uc-close-button-margin) !important;
    }
    #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[pinned]:hover:not([busy]) .tab-icon-stack {
      width: 0 !important;
      position: absolute;
      bottom: 8px;
    }
    #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[pinned]:hover .tab-icon-image {
      display: none !important;
    }
  }
  #tabbrowser-tabs[closebuttons="activetab"]:not([movingtab]) .tabbrowser-tab[pinned]:hover:not([busy]) .tab-close-button {
    margin-inline-end: var(--uc-close-button-margin) !important;
  }
}
