/*- Clipped tabs - Show close button at hover ---------------------------------------*/
#tabbrowser-tabs[closebuttons="activetab"]
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab:not([pinned])
  > .tab-stack
  > .tab-content
  > .tab-close-button:not([selected="true"]) {
  display: -moz-inline-box !important;
}
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([visuallyselected]) .tab-close-button {
  visibility: collapse !important;
  opacity: 0;
}
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:hover .tab-close-button {
  visibility: visible !important;
  opacity: 1;
}
/* Animate */
@media (prefers-reduced-motion: no-preference) {
  /* Fade out */
  #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([visuallyselected]) .tab-close-button {
    transition: opacity 0.1s var(--animation-easing-function) !important;
  }
  /* Fade in */
  #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:hover .tab-close-button {
    transition: opacity 0.25s var(--animation-easing-function) !important;
  }
}
/* Closed Button's icon thicker */
.tabbrowser-tab .tab-content > .close-icon {
  list-style-image: url("./../../images/dismiss-filled.svg") !important;
}
/* Closed Button's background smaller */
#tabbrowser-tabs .tab-close-button {
  height: 17px !important;
  width: 17px !important;
  margin-inline-end: calc((var(--inline-tab-padding) / -2) + 2px) !important;
  padding: 2.5px !important;
  border-radius: 2px !important;
}
/* Closed Button's background darker on hover */
@media not (prefers-contrast) {
  #tabbrowser-tabs .close-icon:hover {
    background-color: color-mix(in srgb, currentColor 15%, transparent) !important; /* Original 10% */
  }
}
#tabbrowser-tabs .close-icon:hover:active {
  background-color: color-mix(in srgb, currentColor 25%, transparent) !important; /* Original 20% */
}
