@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** ACCOUNTCENTRAL ****************************************************************/
  #accountLogo {
    background-image: var(--outl-account-central-mail) !important;
  }
  #accountLogo[type="none"] {
    background-image: var(--outl-account-central-folder) !important;
  }
  #accountLogo[type="rss"] {
    background-image: var(--outl-account-central-rss) !important;
  }
  #accountLogo[type="nntp"] {
    background-image: var(--outl-account-central-globe) !important;
  }
  #setupEmail::before {
    background-image: var(--outl-account-central-mail) !important;
  }
  #setupCalendar::before {
    background-image: var(--outl-account-central-calendar) !important;
  }
  #setupAddressBook::before {
    background-image: var(--outl-account-central-address-book) !important;
  }
  #setupChat::before {
    background-image: var(--account-central-chat);
  }
  #setupFilelink::before {
    background-image: var(--account-central-link);
  }
  #setupFeeds::before,
  #rssSubscriptionButton::before {
    background-image: var(--outl-account-central-rss) !important;
  }
  #nntpSubscriptionButton::before {
    background-image: var(--outl-account-central-globe) !important;
  }
  #setupNewsgroups::before {
    background-image:  var(--account-central-newsletter);
  }
  #importButton::before {
    background-image:  var(--icon-import);
  }
  #setupEmail.btn-inline::before {
    background-image: var(--outl-icon-mail) !important;
  }
  #setupCalendar.btn-inline::before {
    background-image: var(--outl-icon-calendar) !important;
  }
  #setupAddressBook.btn-inline::before {
    background-image: var(--outl-icon-address-book) !important;
  }
  #setupChat.btn-inline::before {
    background-image: var(--icon-chat);
  }
  #setupFilelink.btn-inline::before {
    background-image: var(--icon-link);
  }
  #setupFeeds.btn-inline::before,
  #rssSubscriptionButton.btn-inline::before {
    background-image: var(--outl-icon-rss) !important;
  }
  #nntpSubscriptionButton.btn-inline::before {
    background-image: var(--outl-icon-rss) !important;
                      /* var(--icon-mail-newsletter); */
  }
  #setupNewsgroups.btn-inline::before {
    background-image:  var(--icon-mail-newsletter);
  }
  #featuresLink::before {
    background-image: var(--icon-features);
  }
  #supportLink::before {
    background-image: var(--outl-icon-help) !important;
  }
  #involvedLink::before {
    background-image: var(--icon-handshake);
  }
  #developerLink::before {
    background-image: var(--icon-tools);
  }
  #settingsButton::before {
    background-image: var(--outl-icon-account-settings) !important;
  }
  #readButton::before {
    background-image: var(--outl-icon-inbox) !important;
  }
  #composeButton::before {
    background-image: var(--outl-icon-new-mail) !important;
                      /* var(--icon-pencil); */
  }
  #searchButton::before {
    background-image: var(--outl-icon-search) !important;
  }
  #filterButton::before {
    background-image: var(--outl-icon-filter) !important;
  }
  #e2eButton::before {
    background-image: var(--outl-icon-key) !important;
  }
}
}