@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** ACCOUNTMANAGER ****************************************************************/
  /* Account list */
  #accounttree li.children .twisty-icon {
    content: var(--outl-icon-twisty-open);
  }
  #accounttree li.children.collapsed .twisty-icon,
  #accounttree li.children.collapsed:dir(rtl) .twisty-icon {
    content: var(--outl-icon-twisty-closed);
  }
  #accounttree li div.icon {
    background-image: var(--outl-icon-folder) !important;
  }
  #accounttree li.serverType-imap.isSecure div.icon,
  #accounttree li.serverType-pop3.isSecure div.icon {
    background-image: var(--outl-icon-server) !important;
  }
  #accounttree li.serverType-feeds div.icon,
  #accounttree li.serverType-rss div.icon {
    list-style-image: var(--outl-icon-rss) !important;
  }
  #accounttree li.serverType-im div.icon {
    background-image: var(--spaces-icon-chat) !important;
  }
  #accounttree li.serverType-news div.icon {
    background-image: var(--icon-newsletter) !important;
  }
  #accounttree li.serverType-nntp div.icon {
    background-image: var(--outl-icon-globe) !important;
  }
  #accounttree li.serverType-nntp.isSecure div.icon {
    background-image: var(--outl-icon-globe-secure) !important;
  }
  #accounttree li.serverType-none div.icon {
    background-image: var(--outl-icon-home) !important;
  }
  #accounttree li.serverType-smtp div.icon {
    background-image: var(--icon-outbox) !important;
  }

  menulist > menupopup .menu-right {
    list-style-image: var(--outl-icon-nav-left-sm) !important;
  }
  .arrowhead {
    list-style-image: url("chrome://messenger/skin/icons/new/nav-down-sm.svg");
  }
  .arrowhead.up {
    list-style-image: url("chrome://messenger/skin/icons/new/nav-up-sm.svg");
  }
  /* Key info icons */
  .openpgp-add-key-button {
    list-style-image: url("chrome://messenger/skin/icons/new-key.svg");
  }
  .openpgp-props-btn {
    list-style-image: url("chrome://messenger/skin/icons/developer.svg");
  }
  .openpgp-more-btn .button-menu-dropmarker {
    list-style-image: url("chrome://messenger/skin/icons/new/nav-down-sm.svg");
  }
}
}