@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** ADDRESSBOOK *******************************************************************/
  /* ::::: primary toolbar buttons ::::: */
  #toolbarCreateBook {
    list-style-image: var(--outl-icon-new-address-book) !important;
  }
  #toolbarCreateContact {
    list-style-image: var(--outl-icon-new-contact) !important;
  }
  #toolbarCreateList {
    list-style-image: var(--outl-icon-new-user-list) !important;
  }
  #toolbarImport {
    list-style-image: var(--icon-import);
  }
    /* 
    #button-newmessage {
      list-style-image: url("./../images/ico/new-mail.ico") !important;
    }
    #button-abdelete {
      list-style-image: url("./../images/png/delete.png") !important;
    }
    */
  .bookRow-icon,
  .listRow-icon {
    background-image: var(--outl-addressbook-tree-ab) !important;
  }
  .listRow-icon {
    background-image: var(--outl-addressbook-tree-list) !important;
  }
  /* ::::: results pane ::::: */
  treechildren::-moz-tree-image(GeneratedName) {
    list-style-image: var(--outl-icon-contact) !important; 
  }
  treechildren::-moz-tree-image(GeneratedName, MailList) {
    list-style-image: var(--outl-icon-user-list) !important; 
  }
}
}