@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** CONTEXTMENU *******************************************************************/
  :is(toolbar, popupset) menupopup > menu::after {
    content: var(--outl-icon-nav-right-sm) !important;
  }
  :is(toolbar, popupset) menupopup > menu:-moz-locale-dir(rtl)::after {
    content: var(--outl-icon-nav-left-sm) !important;
  }
  menupopup > :is(menu, menuitem)[checked="true"] {
    list-style-image: var(--icon-check);
  }
}
}