@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** FOLDERPANE ********************************************************************/
  /* ::::: Folder Pane ::::: */
  treechildren::-moz-tree-image(folderNameCol) {
    list-style-image: var(--outl-folder-pane-folder) !important;
  }
  treechildren::-moz-tree-twisty,
  treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty {
    list-style-image: var(--outl-icon-twisty-closed) !important;
  }
  treechildren::-moz-tree-twisty(open) {
    list-style-image: var(--outl-icon-twisty-open) !important;
  }
  /* ..... Inbox ..... */
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox),
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, newMessages-true) {
    list-style-image: var(--outl-folder-pane-inbox) !important;
  }
  /* ..... Sent ..... */
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
    list-style-image: var(--outl-folder-pane-sent) !important;
  }
  /* ..... Outbox ..... */
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
    list-style-image: var(--outl-folder-pane-outbox) !important;
  }
  /* ..... Drafts ..... */
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) {
    list-style-image: var(--outl-folder-pane-draft) !important;
  }
  /* ..... Trash ..... */
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
    list-style-image: var(--outl-folder-pane-trash) !important;
  }
  /* ..... Archives ..... */
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Archive) {
    list-style-image: var(--outl-folder-pane-archive) !important;
  }
  /* ..... Templates ..... */
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
    list-style-image: var(--outl-folder-pane-template) !important;
  }
  /* ..... Junk ..... */
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
    list-style-image: var(--outl-folder-pane-spam) !important;
  }
  /* ..... Saved Search Folder ..... */
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
    list-style-image: var(--outl-folder-pane-folder-filter) !important;
  }
  /* ..... Newsgroup ..... */
  treechildren::-moz-tree-image(folderNameCol, serverType-nntp) {
    list-style-image: var(--folder-pane-newsletter) !important;
  }
  /* ..... Mail server  ..... */
  treechildren::-moz-tree-image(folderNameCol, isServer-true) {
    list-style-image: var(--outl-icon-server) !important;
  }
  /* ..... Feed server/account ..... */
  treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-rss) {
    list-style-image: var(--outl-folder-pane-rss) !important;
  }
  /* ..... Feed folder ..... */
  treechildren::-moz-tree-image(folderNameCol, isFeedFolder-true) {
    list-style-image: var(--folder-pane-folder-rss) !important;
  }
  /* ..... Feed message or subscription item ..... */
  treechildren::-moz-tree-image(folderNameCol, isFeed-true) {
  list-style-image: var(--outl-folder-pane-rss) !important;
  }
  /* ..... Local folders ..... */
  .tabmail-tab[type="folder"][IsServer="true"][ServerType="none"],
  treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
    list-style-image: var(--outl-icon-home) !important;
  }
  /* ..... News server ..... */
  treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp) {
    list-style-image: var(--outl-folder-pane-globe) !important;
  }
  treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp, isSecure-true) {
    list-style-image: var(--outl-folder-pane-globe-secure) !important;
  }
  /* ::::: Folder Summary Popup ::::: */
  #folderTree treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
    background-image: none !important;
  }
}
}