@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** FOLDERMENUS *******************************************************************/
  /* Icons for menus which represent mail folder */
  /* ::::: Folder icons for menus   ::::: */
  /* Folders */
  .folderMenuItem:not(menulist) {
    list-style-image: var(--outl-icon-folder) !important;
  }
  /* Special folders */
  .folderMenuItem[SpecialFolder="Inbox"]:not(menulist) {
    list-style-image: var(--outl-icon-inbox) !important;
  }
  .folderMenuItem[SpecialFolder="Sent"]:not(menulist) {
    list-style-image: var(--outl-icon-sent) !important;
  }
  .folderMenuItem[SpecialFolder="Outbox"]:not(menulist) {
    list-style-image: var(--outl-icon-outbox) !important;
  }
  .folderMenuItem[SpecialFolder="Drafts"]:not(menulist) {
    list-style-image: var(--outl-icon-draft) !important;
  }
  .folderMenuItem[SpecialFolder="Templates"]:not(menulist) {
    list-style-image: var(--outl-icon-templates) !important;
  }
  .folderMenuItem[SpecialFolder="Junk"]:not(menulist) {
    list-style-image: var(--outl-icon-spam) !important;
  }
  .folderMenuItem[SpecialFolder="Trash"]:not(menulist) {
    list-style-image: var(--outl-icon-trash) !important;
  }
  .folderMenuItem[SpecialFolder="Archive"]:not(menulist) {
    list-style-image: var(--outl-icon-archive) !important;
  }
  .folderMenuItem[SpecialFolder="Virtual"]:not(menulist) {
    list-style-image: var(--outl-icon-folder-filter) !important;
  }
  /* IMAP/POP server */
  .folderMenuItem[IsServer="true"]:not(menulist) {
    list-style-image: var(--outl-icon-server) !important;
  }
  /* Local server */
  .folderMenuItem[IsServer="true"][ServerType="none"]:not(menulist) {
    list-style-image: var(--outl-icon-home) !important;
  }
  /* Feed server */
  .folderMenuItem[IsServer="true"][ServerType="rss"]:not(menulist) {
    list-style-image: var(--outl-icon-rss) !important;
  }

  /* ::::: Folder icons for menulists   ::::: */
  /* should be background-image in stead of list-style-image otherwise images are to big */
  /* Folders */
  menulist.folderMenuItem {
    background-image: var(--outl-icon-folder) !important;
  }
  /* Special folders */
  menulist.folderMenuItem[SpecialFolder="Inbox"] {
    background-image: var(--outl-icon-inbox) !important;
  }
  menulist.folderMenuItem[SpecialFolder="Sent"] {
    background-image: var(--outl-icon-sent) !important;
  }
  menulist.folderMenuItem[SpecialFolder="Outbox"] {
    background-image: var(--outl-icon-outbox) !important;
  }
  menulist.folderMenuItem[SpecialFolder="Drafts"] {
    background-image: var(--outl-icon-draft) !important;
  }
  menulist.folderMenuItem[SpecialFolder="Templates"] {
    background-image: var(--outl-icon-templates) !important;
  }
  menulist.folderMenuItem[SpecialFolder="Junk"] {
    background-image: var(--outl-icon-spam) !important;
  }
  menulist.folderMenuItem[SpecialFolder="Trash"] {
    background-image: var(--outl-icon-trash) !important;
  }
  menulist.folderMenuItem[SpecialFolder="Archive"] {
    background-image: var(--outl-icon-archive) !important;
  }
  menulist.folderMenuItem[SpecialFolder="Virtual"] {
    background-image: var(--outl-icon-folder-filter) !important;
  }
  /* IMAP/POP server */
  menulist.folderMenuItem[IsServer="true"] {
    background-image: var(--outl-icon-server) !important;
  }
  /* Local server */
  menulist.folderMenuItem[IsServer="true"][ServerType="none"] {
    background-image: var(--outl-icon-home) !important;
  }
  /* Feed server */
  menulist.folderMenuItem[IsServer="true"][ServerType="rss"] {
    background-image: var(--outl-icon-rss) !important;
  }
}
}