@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** GETSENDBUTTON *****************************************************************/
  /* messenger window additional button 'Send all' */
  #GetSendButton_S_all,
  #tabbar-toolbar #GetSendButton_S_all,
  #GetSendButton_messenger_menupopup_sendUnsent,
  #GetSendButton_messenger_menupopup_sendUnsent[disabled="true"] {
    list-style-image: url("./../images/png/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 24px 48px 0px) !important;
  }
  #GetSendButton_messenger_menupopup_SyncFlagged,
  #GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
    list-style-image: var(--outl-icon-star) !important;
  }
  /* Get all / auth messages */
  #GetSendButton_messenger_menupopup_ReceiveAll,
  #GetSendButton_messenger_menupopup_ReceiveAuth,
  #button-getsendbutton {
    list-style-image: var(--outl-icon-get-mail) !important;
  }
}
}