@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
  /** GLOBAL ************************************************************************/
    /* ::::: Alert icons :::::*/
    .message-icon,
    .alert-dialog #infoIcon,
    .alert-icon,
    .error-icon,
    .question-icon {
      width: 32px;
      height: 32px;
    }
    .message-icon {
      list-style-image: var(--outl-icon-info) !important
    }
    .alert-dialog #infoIcon,
    .alert-icon {
      list-style-image: var(--outl-icon-warning) !imortant;
    }
    .error-icon {
      list-style-image: var(--outl-icon-error) !imortant;
    }
    .question-icon {
      list-style-image: var(--outl-icon-question) !important;
    }
    /* ::::: Print preview ::::: */
    #print-preview-portrait-button {
      list-style-image: url("chrome://global/skin/icons/Print-preview.png");
      -moz-image-region: rect(0px 16px 16px 0px);
    }
    #print-preview-landscape-button {
      list-style-image: url("chrome://global/skin/icons/Print-preview.png");
      -moz-image-region: rect(0px 32px 16px 16px);
    }

  }
}