@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** MENU **************************************************************************/
  /* ..... menu arrow box ..... */
  /* Override the native menu arrow with a custom one for Win10. */
  @media (-moz-windows-non-native-menus) {
    .menu-right {
      list-style-image: var(--outl-icon-nav-right-sm) !important;
    }
    .menu-right:-moz-locale-dir(rtl) {
      list-style-image: var(--outl-icon-nav-left-sm) !important;
    }
  }
  /* ::::: checkbox and radio menuitems ::::: */
  @media (-moz-windows-non-native-menus) {
    menuitem[checked="true"] > .menu-iconic-left {
      list-style-image: url("chrome://global/skin/icons/menu-check.svg");
    }
  }
}
}