@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** MESSAGEICONS ******************************************************************/
  /* ..... read column ..... */
  treechildren::-moz-tree-image(unreadButtonColHeader) {
    list-style-image: var(--outl-icon-mail) !important;
  }
  treechildren::-moz-tree-image(unreadButtonColHeader, unread) {
    list-style-image: var(--outl-icon-unread-dot) !important;
  }
  /* ..... attachment column ..... */
  treechildren::-moz-tree-image(attachmentCol, attach) {
    list-style-image: var(--outl-icon-attachment) !important;
  }
}
}