@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** MESSAGEHEADER *****************************************************************/
  /* ::::: msg header buttons ::::: */
  .hdrReplyToSenderButton,
  .hdrDummyReplyButton,
  .hdrReplyButton {
    list-style-image: var(--outl-icon-reply) !important;
  }
  .hdrReplyAllButton {
    list-style-image: var(--outl-icon-reply-all) !important;
  }
  .hdrReplyListButton,
  .hdrFollowupButton {
    list-style-image: var(--outl-icon-reply-list) !important;
  }
  .hdrForwardButton {
    list-style-image: var(--outl-icon-forward) !important;
  }
  .hdrArchiveButton {
    list-style-image: var(--outl-icon-archive) !important;
  }
  .hdrJunkButton {
    list-style-image: var(--outl-icon-junk) !important;
  }
  .hdrJunkButton image[label="Niet ongewenst"] {
    list-style-image: var(--outl-icon-no-junk) !important;
  }
  .hdrTrashButton {
    list-style-image: var(--outl-icon-delete) !important;
  }
  #attachmentSaveAllSingle,
  #attachmentSaveAllMultiple {
    list-style-image: var(--outl-icon-save) !important;
  }
  /* ::::: attachment view ::::: */
  #attachmentToggle {
    list-style-image: var(--outl-icon-nav-down-sm) !important;
  }
  /* Encryption security pane */
  #signatureLabel.ok {
    background-image: url("chrome://messenger/skin/icons/message-signed-ok.svg");
  }
  #signatureLabel.verified {
    background-image: url("chrome://messenger/skin/icons/message-signed-verified.svg");
  }
  #signatureLabel.unverified {
    background-image: url("chrome://messenger/skin/icons/message-signed-unverified.svg");
  }
  #signatureLabel.unknown {
    background-image: url("chrome://messenger/skin/icons/message-signed-unknown.svg");
  }
  #signatureLabel.mismatch,
  #signatureLabel.notok {
    background-image: url("chrome://messenger/skin/icons/message-signed-mismatch.svg");
  }
  #encryptionLabel.ok {
    background-image: url("chrome://messenger/skin/icons/message-encrypted-ok.svg");
  }
  #encryptionLabel.notok {
    background-image: url("chrome://messenger/skin/icons/message-encrypted-notok.svg");
  }
  #openpgpImportButton {
    list-style-image: url("chrome://messenger/skin/icons/encryption-key.svg");
  }
}
}