@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** PANELUI ***********************************************************************/
  .PanelUI-subView .subviewbutton-nav::after {
    content: var(--outl-icon-nav-right-sm) !important;
  }
  .PanelUI-subView .subviewbutton-nav:-moz-locale-dir(rtl)::after {
    content: var(--outl-icon-nav-left-sm) !important;
  }
  .widget-overflow-list .subviewbutton-nav::after {
    content: var(--outl-icon-nav-right-sm) !important;
  }
  .widget-overflow-list .subviewbutton-nav:-moz-locale-dir(rtl)::after {
    content: var(--outl-icon-nav-left-sm) !important;
  }
  .button-appmenu[badge-status="addon-alert"] > .toolbarbutton-badge-stack > .toolbarbutton-badge {
    background: var(--outl-icon-warning) 12px center no-repeat transparent !important;
  }
  .addon-banner-item::after {
    background: var(--outl-icon-warning) 16px no-repeat center !important;
  }
}
}