@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** PRIMARYTOOLBAR ****************************************************************/
  /* ::::: Mail Toolbars and Menubars ::::: */
  #button-getmsg {
    list-style-image: var(--outl-icon-get-mail) !important;
  }
  #button-newmsg {
    list-style-image: var(--outl-icon-new-mail) !important;
  }
  #button-address {
    list-style-image: var(--outl-icon-contact) !important;
  }
  #button-reply {
    list-style-image: var(--outl-icon-reply) !important;
  }
  #button-replyall {
    list-style-image: var(--outl-icon-reply-all) !important;
  }
  #button-replylist {
    list-style-image: var(--outl-icon-reply-list) !important;
  }
  #button-forward {
    list-style-image: var(--outl-icon-forward) !important;
  }
  #button-redirect {
    list-style-image: var(--icon-redirect);
  }
  .delete-button {
    list-style-image: var(--outl-icon-delete) !important;
  }
  .junk-button {
    list-style-image: var(--outl-icon-junk) !important;
  }
  .junk-button image[label="Niet ongewenst"] {
    list-style-image: var(--outl-icon-no-junk) !important;
  }
  #button-print {
    list-style-image: var(--outl-icon-print) !important;
  }
  #button-stop {
    list-style-image: var(--icon-close);
  }
  #button-file {
    list-style-image: var(--outl-icon-file) !important;
  }
  #button-nextUnread {
    list-style-image: var(--outl-icon-nav-down-unread) !important;
  }
  #button-previousUnread {
    list-style-image: var(--outl-icon-nav-up-unread) !important;
  }
  #button-mark {
    list-style-image: var(--outl-icon-unread) !important;
  }
  #button-mark:has(menuitem#markReadToolbarItem[disabled="true"]) {
    list-style-image: var(--outl-icon-mail) !important;
  }
  #button-tag {
    list-style-image: var(--icon-tag);
  }
  #button-goback {
    list-style-image: var(--icon-nav-back);
  }
  #button-goforward {
    list-style-image: var(--icon-nav-forward);
  }
  #button-compact {
    list-style-image: var(--icon-compress);
  }
  #button-archive {
    list-style-image: var(--outl-icon-archive) !important;
  }
  #button-chat {
    list-style-image: var(--icon-chat);
  }
  #button-nextMsg {
    list-style-image: var(--outl-icon-nav-down) !important;
  }
  #button-previousMsg {
    list-style-image: var(--outl-icon-nav-up) !important;
  }
  #qfb-show-filter-bar {
    list-style-image: var(--outl-icon-filter) !important;
  }
  #button-showconversation {
    list-style-image: var(--icon-conversation);
  }
  #button-addons {
    list-style-image: var(--icon-extension);
  }
  .button-appmenu {
    list-style-image: var(--icon-app-menu);
  }
  .button-appmenu[badge-status="addon-alert"] {
    list-style-image: var(--icon-app-menu-badged);
  }
  #palette-box #button-chat {
    background: var(--icon-chat) no-repeat center;
  }
  #appmenu_new {
    list-style-image: var(--icon-add);
  }
  #appmenu_msgAttachmentMenu {
    list-style-image: var(--outl-icon-attachment) !important;
  }
  #appmenu-cut,
  #appmenu-editmenu-cut {
    list-style-image: var(--outl-icon-compose) !important;
    -moz-image-region: rect(24px 192px 48px 168px) !important;
  }
  #appmenu-copy,
  #appmenu-editmenu-copy {
    list-style-image: var(--outl-icon-compose) !important;
    -moz-image-region: rect(24px 216px 48px 192px) !important;
  }
  #appmenu-paste,
  #appmenu-editmenu-paste {
    list-style-image: var(--outl-icon-compose) !important;
    -moz-image-region: rect(24px 240px 48px 216px) !important;
  }
  #appmenu_find {
    list-style-image: var(--outl-icon-search) !important;
  }
  #appmenu_print,
  #appmenu_print_popup {
    list-style-image: var(--outl-icon-print) !important;
  }
  #appmenu_saveAs {
    list-style-image: var(--outl-icon-folder-save) !important;
  }
  #appmenu_emptyTrash {
    list-style-image: var(--outl-icon-trash) !important;
  }
  #appmenu_activityManager {
    list-style-image: var(--outl-icon-logbook) !important;
  }
  #appmenu_accountmgr {
    list-style-image: var(--outl-icon-account-settings) !important;
  }
  #appmenu_filters,
  #appmenu_filtersCmd {
    list-style-image: var(--outl-icon-filter) !important;
  }
  #appmenu_customize {
    list-style-image: var(--icon-paint-brush);
  }
  #appmenu_preferences {
    list-style-image: var(--icon-settings);
  }
  #appmenu-quit {
    list-style-image: var(--outl-icon-quit) !important;
  }
  #appmenu_addons,
  #appmenu_Add-Ons {
    list-style-image: var(--icon-extension);
  }
  #appmenu_help,
  #appmenu_openHelp {
    list-style-image: var(--outl-icon-help) !important;
  }
  #appmenu_addressBook {
    list-style-image: var(--outl-icon-contact) !important;
  }
  #button-getAllNewMsg,
  #menu_getnewmsgs_all_accounts,
  #appmenu_getnewmsgs_all_accounts {
    list-style-image: var(--outl-icon-get-mail) !important;
  }
  #spacesButtonMail {
    list-style-image: var(--outl-icon-mail) !important;
  }
  #spacesButtonAddressBook {
    list-style-image: var(--outl-icon-contact) !important;
  }
  #spacesButtonCalendar {
    list-style-image: var(--outl-icon-calendar) !important;
  }
  #spacesButtonTasks {
    list-style-image: var(--outl-icon-tasks) !important;
  }
  #spacesButtonChat {
    list-style-image: var(--icon-chat);
  }
}
}