@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** SPACESTOOLBAR *****************************************************************/
  #mailButton img {
    content: var(--outl-spaces-icon-mail) !important;
  }
  #spacesPopupButtonMail {
    list-style-image: var(--outl-spaces-icon-mail) !important;
  }
  #addressBookButton img {
    content: var(--outl-spaces-icon-address-book) !important;
  }
  #spacesPopupButtonAddressBook {
    list-style-image: var(--outl-icon-contact) !important;
  }
  #calendarButton img {
    content: var(--outl-spaces-icon-calendar) !important;
  }
  #spacesPopupButtonCalendar {
    list-style-image: var(--outl-icon-calendar) !important;
  }
  #tasksButton img {
    content: var(--outl-spaces-icon-tasks) !important;
  }
  #spacesPopupButtonTasks {
    list-style-image: var(--outl-icon-tasks) !important;
  }
  #chatButton img {
    content: var(--spaces-icon-chat);
  }
  #spacesPopupButtonChat {
    list-style-image: var(--icon-chat);
  }
  #settingsButton img {
    content: var(--spaces-icon-settings);
  }
  #spacesPopupButtonSettings {
    list-style-image: var(--icon-settings) !important;
  }
  #collapseButton img {
    content: var(--outl-spaces-icon-collapse) !important;
  }
  #spacesPopupButtonReveal {
    list-style-image: var(--outl-icon-collapse) !important;
  }
  #spacesToolbarAddonsOverflowButton img {
    content: var(--outl-spaces-icon-overflow) !important;
  }
}
}