@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** TABMAIL ***********************************************************************/
  .tabmail-tab[type="contentTab"] .tab-content > .tab-icon-image[src="chrome://messenger/skin/icons/new/compact/account-settings.svg"] {
    content: var(--outl-icon-account-settings) !important;
  }
  .tabmail-tab["type="addressBookTab"] .tab-content > .tab-icon-image {
    content: var(--outl-icon-address-book) !important;
  }
  .tabmail-tab[type="calendar"] .tab-content > .tab-icon-image {
    content: var(--outl-icon-calendar) !important;
  }
  .tabmail-tab[type="tasks"] .tab-content > .tab-icon-image {
    content: var(--outl-icon-tasks) !important;
  }
  .tabmail-tab["type="mailContent"] .tab-content[title="Persoonlijke mappen"] > .tab-icon-image[src$="folder.svg"] {
    content: var(--outl-icon-home) !important;
  }
  .tabmail-tab["type="mailContent"] .tab-content > .tab-icon-image[src$="draft.svg"] {
    content: var(--outl-icon-draft) !important;
  }
  .tabmail-tab["type="mailContent"] .tab-content > .tab-icon-image[src$="spam.svg"] {
    content: var(--outl-icon-spam) !important;
  }
  .tabmail-tab["type="mailContent"] .tab-content > .tab-icon-image[src$="inbox.svg"] {
    content: var(--outl-icon-inbox) !important;
  }
  .tabmail-tab["type="mailContent"] .tab-content > .tab-icon-image[src$="folder.svg"] {
    content: var(--outl-icon-folder) !important;
  }
  .tabmail-tab["type="mailContent"] .tab-content > .tab-icon-image[src$="outbox.svg"] {
    content: var(--outl-icon-outbox) !important;
  }
  .tabmail-tab["type="mailContent"] .tab-content > .tab-icon-image[src$="trash.svg"] {
    content: var(--outl-icon-trash) !important;
  }
  .tabmail-tab["type="mailContent"] .tab-content > .tab-icon-image[src$="sent.svg"] {
    content: var(--outl-icon-sent) !important;
  }
  .tabmail-tab["type="mailContent"] .tab-content > .tab-icon-image[src$="mail-secure.svg"] {
    content: var(--outl-icon-server) !important;
  }
}
}