@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** TOOLBARBUTTON *****************************************************************/
  /*
  #calendar-tab-button, #newMsgButton-calendar-menuitem {
    list-style-image: url("./../images/ico/calender.ico") !important;
  }
  #task-tab-button, #newMsgButton-task-menuitem {
    list-style-image: url("./../images/ico/tasks.ico") !important;
  }
  */
  .toolbarbutton-menu-dropmarker,
  .toolbarbutton-menubutton-dropmarker,
  .toolbarbutton-combined-buttons-dropmarker {
    list-style-image: var(--outl-icon-nav-down-sm) !important;
  }
}
}