/*= Counter for Tab =================================================================*/
@supports -moz-bool-pref("userChrome+Content.counter.tab") {
  #tabbrowser-tabs {
    counter-reset: tab-counts;
  }
  .tabbrowser-tab:not([hidden="true"]) {
    counter-increment: tab-counts;
  }
  .tabbrowser-tab:not([hidden="true"])[pinned="true"] .tab-label-container::before {
    content: " " counter(tab-counts);
  }
  .tabbrowser-tab:not([hidden="true"]):not([pinned="true"]) .tab-label-container::before {
    content: counter(tab-counts) ": ";
  }
  .tabbrowser-tab:not([hidden="true"]) .tab-label-container {
    display: grid;
    align-content: safe center;
    align-items: safe center;
  }
  @supports not -moz-bool-pref("userChrome+Content.tab.vertical_tab") {
    .tabbrowser-tab:not([hidden="true"]) .tab-label-container {
      justify-content: start;
      justify-items: start;
    }
  }
  .tabbrowser-tab:not([hidden="true"]) .tab-label-container::before {
    display: inline-block;
    grid-row: 1;
  }
  .tabbrowser-tab:not([hidden="true"]) .tab-label-container > .tab-text {
    grid-row: 1;
  }
  .tabbrowser-tab:not([hidden="true"]) .tab-label-container[pinned] {
    width: unset !important;
    /* Original: 0 */
  }
  .tabbrowser-tab:not([hidden="true"]) .tab-label-container[pinned] > .tab-text,
  .tabbrowser-tab:not([hidden="true"]) .tab-label-container[pinned] > .tab-secondary-label {
    width: 0;
  }
  .tab-label,
  .tab-secondary-label {
    overflow: hidden;
  }

  .tabbrowser-tab:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked])[pinned]
    .tab-label-container[labeldirection="ltr"],
  .tabbrowser-tab:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked])[pinned]
    .tab-label-container:not([labeldirection]):-moz-locale-dir(ltr) {
      --uc-sound-tab-label-position-x: 2px;
  }
  .tabbrowser-tab:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked])[pinned]
    .tab-label-container[labeldirection="rtl"],
  .tabbrowser-tab:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked])[pinned]
    .tab-label-container:not([labeldirection]):-moz-locale-dir(rtl) {
      --uc-sound-tab-label-position-x: -2px;
  }
  .tabbrowser-tab:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked])
    .tab-label-container::before {
      transform: translateX(var(--uc-sound-tab-label-position-x, 0px));
  }
  .tab-label-container::before {
    transition: transform 0.25s var(--animation-easing-function);
  }
}