/* EXTENSION POPUP *******************************************************************/
popupset#mainPopupSet > panel.browser-extension-panel,
toolbar#nav-bar.browser-toolbar > panel#customizationui-widget-panel.cui-widget-panel[viewId^="PanelUI-webext-"][viewId$="BAV"] {
  transform: scale(80%) !important;
  transform-origin: top right !important;
}
/* Overflow Menu */
panelmultiview[mainViewId="widget-overflow-mainView"] panelview > toolbarseparator,
panelmultiview[mainViewId="widget-overflow-mainView"] panelview > toolbarbutton#overflowMenu-customize-button {
  display: none !important;
}
panelmultiview[mainViewId="widget-overflow-mainView"] panelview {
  --menu-panel-width-wide: 22em !important;
}
panelmultiview[mainViewId="widget-overflow-mainView"] panelview > .panel-subview-body:not(:last-child) {
  padding: var(--panel-subview-body-padding) !important;
}
/* Unified Extensions */
panelmultiview[mainViewId="unified-extensions-view"] panelview > .panel-header,
panelmultiview[mainViewId="unified-extensions-view"] panelview > toolbarseparator:last-of-type,
panelmultiview[mainViewId="unified-extensions-view"] panelview > toolbarbutton#unified-extensions-manage-extensions,
panelmultiview[mainViewId="unified-extensions-view"] .unified-extensions-item[extension-id]:has(.unified-extensions-item-action-button[disabled="true"]),
panelmultiview[mainViewId="unified-extensions-view"] .unified-extensions-item .unified-extensions-item-message-deck {
  display: none !important;
}
panelmultiview[mainViewId="unified-extensions-view"] {
  --uei-icon-size: 16px !important
}
panelmultiview[mainViewId="unified-extensions-view"] toolbarbutton.unified-extensions-item-action-button {
  min-height: var(--uei-icon-size) !important;
}
panelmultiview[mainViewId="unified-extensions-view"] panelview {
  max-width: 22em !important;
}
panelmultiview[mainViewId="unified-extensions-view"] panelview .unified-extensions-item:last-child {
  margin-bottom: var(--arrowpanel-menuitem-margin-inline) !important;
}
