/* EXTENSION POPUP *******************************************************************/
popupset#mainPopupSet > panel.browser-extension-panel,
toolbar#nav-bar.browser-toolbar > panel#customizationui-widget-panel.cui-widget-panel[viewId^="PanelUI-webext-"][viewId$="BAV"] {
  transform: scale(80%) !important;
  transform-origin: top right !important;
}
panelmultiview[mainViewId="widget-overflow-mainView"] panelview {
  --menu-panel-width-wide: 22em !important;
}
panelmultiview[mainViewId="widget-overflow-mainView"] panelview > toolbarseparator,
panelmultiview[mainViewId="widget-overflow-mainView"] panelview > toolbarbutton#overflowMenu-customize-button {
  display: none !important;
}
panelmultiview[mainViewId="widget-overflow-mainView"] panelview #widget-overflow-fixed-list > [overflows="true"][cui-areatype="panel"]:last-child {
  margin-bottom: var(--arrowpanel-menuitem-margin-inline) !important;
}
