/* Other Problems ********************************************************************/
@supports not -moz-bool-pref("userChrome+Content.additions.floating_findbar_on_top") {
  findbar > .findbar-container > description[class="findbar-label findbar-find-status"] {
    width: 190px !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;
  }
}

@supports -moz-bool-pref("userChrome+Content.additions.floating_findbar_on_top") {
  #main-window > body > box {
  /* #navigator-toolbox-background for compatibility */
    z-index: 1;
  }
  findbar {
    order: -1 !important;
    position: relative;
    overflow: visible;
    border-top: none !important;
    padding: 2.5px !important;
    transition: transform 82ms linear, opacity 82ms linear 32ms !important;
    background: none !important;
    pointer-events: none;
    z-index: 1;
    margin-bottom: -33px;
    margin-right: 25px;
  }
  findbar[hidden] {
    transform: translateY(-30px);
  }
  findbar > .findbar-container {
    margin-left: 400px !important;
  }
  findbar > .findbar-container:has(.found-matches[hidden="true"]) {
    margin-left: 475px !important;
  }
  findbar > .findbar-container,
  findbar > .close-icon,
  findbar > .close-icon:hover,
  findbar > .close-icon:hover:active {
    border: 1px solid currentColor !important;
    background-color: var(--arrowpanel-background) !important;
    pointer-events: auto;
  }
  findbar > .close-icon,
  findbar > .close-icon:hover,
  findbar > .close-icon:hover:active {
    border-radius: 0 var(--uc-rounding-toolbar, var(--toolbarbutton-border-radius)) var(--uc-rounding-toolbar, var(--toolbarbutton-border-radius)) 0 !important;
    border-width: 1px 1px 1px 0px !important;
  }
  findbar > .findbar-container {
    flex-direction: row-reverse;
    border-radius: var(--uc-rounding-toolbar, var(--toolbarbutton-border-radius)) 0 0 var(--uc-rounding-toolbar, var(--toolbarbutton-border-radius)) !important;
    border-width: 1px 0 1px 1px !important;
  }
  .findbar-container > .findbar-find-fast {
    padding: var(--toolbarbutton-inner-padding) 1px;
    margin: 0 !important;
  }
  .findbar-container > .findbar-find-status {
    display: flex;
    overflow: hidden;
    text-overflow: clip;
    flex: 100;
  }
  findbar > .findbar-container > hbox {
    margin: 0 -5px 0 5px;
  }
  .findbar-closebutton {
    margin: 0 !important;
  }
  .findbar-closebutton > image {
    padding: 3px;
  }
  .findbar-closebutton:hover > image {
    background-color: color-mix(in srgb, currentColor 15%, transparent) !important;
    border-radius: 4px;
  }
  .findbar-closebutton:hover:active > image {
    background-color: color-mix(in srgb, currentColor 25%, transparent) !important;
  }
  .find-status-icon[status="wrapped"] + .findbar-find-status {
    width: 170px !important;
    margin-inline-start: inherit !important;
  }
}
