/* Other Problems ********************************************************************/
@supports -moz-bool-pref("userChrome+Content.additions.floating_findbar_on_top") {
  findbar {
    order: -1;
    margin-bottom: -33px;
    margin-right: 25px;
    position: relative;
    border-top: none !important;
    padding: 0 !important;
    transition: transform 82ms linear, opacity 82ms linear 32ms !important;
    background: none !important;
    pointer-events: none;
    z-index: 1;
    white-space: nowrap;
    flex-direction: row-reverse;
  }
  .findbar-container > .findbar-find-fast {
    padding: var(--toolbarbutton-inner-padding) 1px;
    margin: 0 !important;
  }
  findbar[hidden] {
    transform: translateY(-30px);
  }
  findbar > .findbar-container,
  findbar > .close-icon,
  findbar > .close-icon:hover,
  findbar > .close-icon:hover:active {
    border: 1px solid currentColor !important;
    background-color: var(--arrowpanel-background) !important;
    pointer-events: auto;
  }
  findbar > .close-icon,
  findbar > .close-icon:hover,
  findbar > .close-icon:hover:active {
    border-radius: 0 var(--uc-rounding-toolbar, var(--toolbarbutton-border-radius)) var(--uc-rounding-toolbar, var(--toolbarbutton-border-radius)) 0 !important;
    border-width: 1px 1px 1px 0px !important;
  }
  findbar > .findbar-container {
    height: initial !important;
    margin-inline: 0px !important;
    overflow-inline: visible !important;
    flex-direction: row-reverse;
    border-radius: var(--uc-rounding-toolbar, var(--toolbarbutton-border-radius)) 0 0 var(--uc-rounding-toolbar, var(--toolbarbutton-border-radius)) !important;
    border-width: 1px 0 1px 1px !important;
  }
  .findbar-find-status {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
  .findbar-closebutton {
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 5px !important;
    width: initial !important;
    order: -1;
  }
  .findbar-closebutton > image {
    padding: 3px;
  }
  .findbar-closebutton:hover > image {
    background-color: color-mix(in srgb, currentColor 15%, transparent) !important;
    border-radius: var(--uc-rounding-toolbar, var(--toolbarbutton-border-radius)) !important;
  }
  .findbar-closebutton:hover:active > image {
    background-color: color-mix(in srgb, currentColor 25%, transparent) !important;
  }
  findbar > .findbar-container > hbox {
    margin: 0 -5px 0 5px;
  }
  findbar::after {
    content:"";
    display: flex;
    flex-grow: 100;
  }
}
