/* TABBROWSER-TAB *****************************************************************************************/
/*= Delete Gap after last Pinned Tab =====================================================================*/
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}
/*= Tabs Content Color ===================================================================================*/
:root:is([style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"], [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"])
  .tabbrowser-tab:not([selected="true"]) .tab-icon-image,
  .tabbrowser-tab:not([selected="true"]):hover > .tab-stack > .tab-content:not([pinned]) {
    color: white;
}
:root:is([style="--lwt-accent-color: white; --lwt-text-color: rgba(0, 0, 0);"])
  .tabbrowser-tab:not([selected="true"]) .tab-icon-image,
  .tabbrowser-tab:not([selected="true"]):hover > .tab-stack > .tab-content:not([pinned]) {
    color: black;
}
/*= Tabs Icons on Hover (Tooltip) ========================================================================*/
@media (-moz-proton-places-tooltip) {
  #places-tooltip-insecure-icon {
    list-style-image: url("./../images/warning-filled.svg") !important;
  }
}
/*= Favicon Non-Favicon Tabs =============================================================================*/
.tabbrowser-tab .tab-icon-image:not([src]) {
  display: inline !important;
  list-style-image: url("./../images/document.svg") !important;
}
.tabbrowser-tab:is([busy], [progress]) .tab-icon-image {
  display: none !important;
}
.tabbrowser-tab[label$=".pdf"] .tab-icon-image:not([src]) {
  list-style-image: url("./../images/pdf.svg") !important;
}
/*= Favicon New Tab ======================================================================================*/
.tabbrowser-tab[label="Nieuw tabblad"] .tab-icon-image,
.tabbrowser-tab[label="Privénavigatie"] .tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"] {
  /* fill: transparent; */ 
  list-style-image: url("./../images/new-tab.svg") !important; /* none */
  /* background-image: url("./../images/new-tab.svg") !important; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}
/*= New Tab Icon =========================================================================================*/
#tabs-newtab-button,
#TabsToolbar #new-tab-button {
  list-style-image: url("./../images/add.svg") !important;
}
/*= All Tabs Icons =======================================================================================*/
.all-tabs-button {
  list-style-image: url("./../images/document.svg") !important;
}
.all-tabs-secondary-button[soundplaying] {
  list-style-image: url("./../images/audio.svg") !important;
}
.all-tabs-secondary-button[muted] {
  list-style-image: url("./../images/audio-muted.svg") !important;
}
#allTabsMenu-containerTabsView toolbarbutton.subviewbutton[class*="identity-icon-"][class*="identity-color-"] {
  color: var(--identity-icon-color) !important;
}
/** Revert Tab Throbber ***********************************************************************************/
/* Reddit: https://www.reddit.com/r/FirefoxCSS/comments/igxwgn/replace_hourglass_icon_with_circle/ ********/
.tab-throbber[busy] {
  background-image: url("chrome://global/skin/icons/loading.png") !important;
  animation: unset !important;
}
/* Suppress bouncing dots when ui.prefersReducedMotion = 0 */
.tab-throbber[busy]::before {
  background-image: none !important;
  animation: unset !important;
}