@supports -moz-bool-pref("userChrome+Content.zavety") {
  @-moz-document url-prefix("about:addons"),
                 url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
                 url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {
    addon-page-header[type="extension"],
    addon-list[type="extension"],
    #categories > [viewid="addons://list/extension"] {
      display: none !important;
    }
  }
  @-moz-document url("about:logins"),
                 url-prefix("about:logins") {
    menu-button > .menu > .menuitem-remove-all-logins,
    menu-button > .menu > .menuitem-import-file {
      display: none !important;
    }
    body,
    .login-list-section,
    login-item .container,
    login-item .header,
    login-item .detail-grid,
    login-item .detail-cell,
    login-item .meta-info {
      display: none !important;
    }
  }
  @-moz-document url("about:preferences"),
                 url-prefix("about:preferences") {
    /* #addonsButton.sidebar-footer-link, */
    [data-category="paneGeneral"] #browserContainersExtensionContent.extension-controlled.info-box-container,
    [data-category="panePrivacy"] #showPasswords,
    [data-category="panePrivacy"] #masterPasswordRow {
      display: none !important;
    }
    [data-category="paneGeneral"] #browserContainersbox #browserContainersCheckbox {
      opacity: 1 !important;
    }
  }
  @-moz-document url("about:about"),
                 url-prefix("about:about") {
    a[href="about:logins"],
    ul#abouts > li:nth-of-type(15) {
      display: none !important;
    }
  }
  @-moz-document url("about:performance"),
                 url-prefix("about:performance") {
    [data-l10n-id="item"]:has([data-l10n-id="type-addon"]) {
      display: none !important;
    }
  }
  @-moz-document url("about:processes"),
                 url-prefix("about:processes") {
    .process:has([data-l10n-id="about-processes-extension-process"]) {
      display: none !important;
    }
  }
  @-moz-document url-prefix("moz-extension://a3405601-61e0-4e55-9f8e-9b37f2b5785a") {
    .tabButton[data-pane="1p-filters.html"],
    .tabButton[data-pane="dyna-rules.html"],
    .tabButton[data-pane="shortcuts.html"],
    .body > div[class="a b c d"],
    div#lists > .groupEntry[data-groupkey="user"],
    div#lists > .groupEntry[data-groupkey="regions"] .listEntry[data-listkey="NLD-0"] a.support,
    div#lists > .groupEntry[data-groupkey="custom"] > .listEntries > .listEntry[data-listkey^="https://raw.githubusercontent.com/"] {
      display: none !important;
    }
  }
}
