@supports -moz-bool-pref("userChrome+Content.zavety") {
  #appMenu-passwords-button,
  /* #appMenu-extensions-themes-button, */
  #main-menubar menuitem#menu_importFromAnotherBrowser,
  #main-menubar menuitem#menu_importFromAnotherBrowser + menuseparator,
  toolbaritem#_windscribeff-browser-action,
  toolbaritem#_uextra-browser-action,
  toolbarbutton#unified-extensions-button,
  #nav-bar:not([overflowing="true"]) toolbarbutton#nav-bar-overflow-button,
  panelmultiview[mainViewId="widget-overflow-mainView"] panelview #widget-overflow-fixed-separator,
  panelmultiview[mainViewId="widget-overflow-mainView"] panelview #widget-overflow-fixed-list,
  .urlbar-addon-page-action[actionid="_316cb7eb-36d4-4cc7-a77c-61b6998e7505_"],

  #urlbar #identity-box > #notification-popup-box > #password-notification-icon,
  panel#notification-popup > popupnotification#password-notification,
  notification-message[value="master-password-login-required"],
  notification-message[value="primary-password-login-required"],
  panel#PopupAutoComplete[is="autocomplete-richlistbox-popup"],

  .panel-subview-body > #appmenu-moreTools-button,
  .panel-subview-body > #appmenu-moreTools-button + toolbarseparator,
  #toolbar-context-menu #viewToolbarsMenuSeparator,
  #toolbar-context-menu .viewCustomizeToolbar,
  #toolbar-context-menu .customize-context-moveToPanel,
  #menu_viewPopup #view-menu-popup > menuseparator,
  #menu_viewPopup #view-menu-popup > #menu_customizeToolbars,

  #customization-panelHolder > #widget-overflow-fixed-list > toolbarpaletteitem[id$="-browser-action"] {
    display: none !important;
  }
  #customization-panelWrapper {
    --panel-arrow-offset: 0px !important;
  }
  @-moz-document url("chrome://global/content/commonDialog.xhtml") {
    window#commonDialogWindow[title^="Wachtwoord vereist"] {
      display: none;
    }
  }
}
