@supports -moz-bool-pref("userChrome+Content.zavety") {
  #appMenu-passwords-button,
  /* #appMenu-extensions-themes-button, */
  #main-menubar menuitem#menu_importFromAnotherBrowser,
  #main-menubar menuitem#menu_importFromAnotherBrowser + menuseparator,
  toolbaritem#_windscribeff-browser-action,
  toolbaritem#_uextra-browser-action,
  toolbarbutton#nav-bar-overflow-button,
  .urlbar-addon-page-action[actionid="_316cb7eb-36d4-4cc7-a77c-61b6998e7505_"],
  #urlbar #identity-box > #notification-popup-box > #password-notification-icon,
  panel#password-notification:has(#password-notification),
  notification-message[value="master-password-login-required"],
  notification-message[value="primary-password-login-required"],
  panel#PopupAutoComplete[is="autocomplete-richlistbox-popup"],
 
  .panel-subview-body > #appmenu-moreTools-button,
  .panel-subview-body > #appmenu-moreTools-button + toolbarseparator,
  #toolbar-context-menu #viewToolbarsMenuSeparator,
  #toolbar-context-menu .viewCustomizeToolbar,
  #toolbar-context-menu .customize-context-moveToPanel,
  #menu_viewPopup #view-menu-popup > menuseparator,
  #menu_viewPopup #view-menu-popup > #menu_customizeToolbars,
 
  #customization-panelHolder > #widget-overflow-fixed-list > toolbarpaletteitem[id$="-browser-action"] {
    display: none !important;
  }
  #customization-panelWrapper {
    --panel-arrow-offset: 0px !important;
  }
  html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]) + #nav-bar-overflow-button,
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
    > toolbarbutton[cui-areatype="toolbar"],
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
    > toolbarbutton[cui-areatype="toolbar"] + toolbaritem,
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
    > toolbarbutton[cui-areatype="toolbar"] + toolbaritem + toolbaritem ,
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
    > toolbarbutton[cui-areatype="toolbar"] + toolbaritem + toolbaritem + toolbaritem,
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target 
    > toolbarbutton[cui-areatype="toolbar"] + toolbaritem + toolbaritem + toolbaritem + toolbaritem,
  html[id="main-window"]:not([customizing="true"]) toolbar :has(toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
    + toolbarbutton[cui-areatype="toolbar"]) + #nav-bar-overflow-button,
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
    + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"]:not([hidden="true"]) 
    + toolbarbutton[cui-areatype="toolbar"],
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
    + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"],
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
    + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"] + toolbaritem,
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
    + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"] + toolbaritem + toolbaritem ,
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
    + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"] + toolbaritem + toolbaritem + toolbaritem,
  html[id="main-window"]:not([customizing="true"]) toolbar #nav-bar-customization-target:has(toolbarbutton[cui-areatype="toolbar"] 
    + toolbarbutton[cui-areatype="toolbar"]) > toolbarbutton[cui-areatype="toolbar"] + toolbaritem + toolbaritem + toolbaritem + toolbaritem {
      transform: none !important;
  }
  @-moz-document url("chrome://global/content/commonDialog.xhtml") {
    window#commonDialogWindow[title^="Wachtwoord vereist"] {
      display: none;
    }
  }
}