@supports -moz-bool-pref("userChrome+Content.zavety") {
  @-moz-document url-prefix("about:addons"),
                 url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
                 url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {
    addon-page-header[type="extension"],
    addon-list[type="extension"],
    #categories > [viewid="addons://list/extension"] {
      display: none !important;
      visibility: hidden !important;
    }
  }
  @-moz-document url("about:logins") {
    body {
      display: none !important;
      visibility: hidden !important;
    }
  }
  @-moz-document url("about:preferences"),
                 url-prefix("about:preferences"),
                 url("chrome://mozapps/content/extensions/panel-item.css"),
                 url("chrome://browser/skin/preferences/preferences.css") {
    #addonsButton.sidebar-footer-link,
    [data-category="paneGeneral"] > #browserContainersExtensionContent.extension-controlled {
      display: none !important;
      visibility: hidden !important;
    }
  }
  @-moz-document url-prefix("moz-extension://48257024-52cf-4295-81fc-991effeb0c07") {
    .tabButton[data-pane="1p-filters.html"],
    .tabButton[data-pane="dyna-rules.html"],
    .tabButton[data-pane="shortcuts.html"],
    .body > div[class="a b c d"],
    div#lists > .groupEntry[data-groupkey="user"],
    div#lists > .groupEntry[data-groupkey="regions"] .listEntry[data-listkey="NLD-0"] a:is(.content, .support),
    div#lists > .groupEntry[data-groupkey="custom"] > .listEntries > .listEntry[data-listkey^="https://raw.githubusercontent.com/BPower0036/"] {
      display: none !important;
      visibility: hidden !important;
    }
  }
}
