@supports -moz-bool-pref("userChrome+Content.zavety") {
  #appMenu-passwords-button,
  #appMenu-extensions-themes-button,
  #main-menubar menuitem#menu_importFromAnotherBrowser,
  #main-menubar menuitem#menu_importFromAnotherBrowser + menuseparator,
  toolbarbutton#_windscribeff-browser-action,
  toolbarbutton#nav-bar-overflow-button,
  notification-message[value="master-password-login-required"],
  panel#PopupAutoComplete[is="autocomplete-richlistbox-popup"] {
    display: none !important;
  }
  toolbarbutton#bookmarks-menu-button {
    transform: none !important;
  }
  @-moz-document url("chrome://global/content/commonDialog.xhtml") {
    window#commonDialogWindow[title^="Wachtwoord vereist"] {
      display: none;
    }
  }
}