/*= contentAreaContextMenu ==========================================================*/
#context-viewsource-goToLine {
  --menuitem-image: url("./../images/text-number-format.svg");
}
#context-viewsource-wrapLongLines {
  /* checkbox */
}
#context-viewsource-highlightSyntax {
  /* checkbox */
}
#spell-no-suggestions {
  --menuitem-image: url("./../images/text-proofing-tools.svg");
}
#spell-add-to-dictionary {
  --menuitem-image: url("./../images/book-add.svg");
}
#spell-undo-add-to-dictionary {
  --menuitem-image: url("./../images/undo.svg");
}
#context-openlinkincurrent {
  /* --menuitem-image: url("./../images/link-square.svg"); */
}
#context-openlinkincontainertab {
  --menuitem-image: url("./../images/tab.svg");
}
#context-openlinkintab {
  --menuitem-image: url("./../images/tab.svg");
}
#context-openlinkinusercontext-menu {
  --menuitem-image: url("./../images/container-openin-16.svg");
}
#context-openlink {
  --menuitem-image: url("./../images/window.svg");
}
#context-openlinkprivate {
  --menuitem-image: url("./../images/privateBrowsing.svg");
}
#context-bookmarklink {
  --menuitem-image: url("./../images/star-add.svg");
}
#context-savelink {
  --menuitem-image: url("./../images/save.svg");
}
#context-savelinktopocket {
  --menuitem-image: url(".icons/pocket.svg");
}
#context-copyemail {
  --menuitem-image: url("./../images/mail.svg");
}
#context-copylink {
  --menuitem-image: url("./../images/link.svg");
}
#context-sendlinktodevice {
  --menuitem-image: url("./../images/send-to-device.svg");
}
#context-media-play {
  --menuitem-image: url("./../images/play-fill.svg");
}
#context-media-pause {
  --menuitem-image: url("./../images/pause-fill.svg");
}
#context-media-mute {
  --menuitem-image: url("./../images/audio-muted.svg");
}
#context-media-unmute {
  --menuitem-image: url("./../images/audio.svg");
}
#context-media-playbackrate {
  --menuitem-image: url("./../images/time-picker.svg");
}
#context-media-loop {
  /* checkbox */
  /* --menuitem-image: url("./../images/arrow-repeat-all.svg"); */
}
#context-leave-dom-fullscreen {
  --menuitem-image: url("./../images/fullscreenExitButton.svg");
}
#context-video-fullscreen {
  --menuitem-image: url("./../images/fullscreenEnterButton.svg");
}
#context-media-hidecontrols {
  --menuitem-image: url("./../images/eye-hide.svg");
}
#context-media-showcontrols {
  --menuitem-image: url("./../images/eye-show.svg");
}
#context-viewvideo {
  --menuitem-image: url("./../images/video.svg");
}
#context-video-pictureinpicture {
  /* checkbox */
  /* --menuitem-image: url("./../images/picture-in-picture-open.svg"); */
}
#context-reloadimage {
  --menuitem-image: url("./../images/image-arrow-counterclockwise.svg");
}
#context-viewimage {
  --menuitem-image: url("./../images/image-add.svg");
}
#context-saveimage {
  --menuitem-image: url("./../images/image.svg");
}
#context-video-saveimage {
  --menuitem-image: url("./../images/video-snapshot.svg");
}
#context-savevideo {
  --menuitem-image: url("./../images/video.svg");
}
#context-saveaudio {
   --menuitem-image: url("./../images/audio.svg");
}
#context-copyimage-contents {
  --menuitem-image: url("./../images/image-copy.svg");
}
#context-copyimage,
#context-copyvideourl,
#context-copyaudiourl {
  --menuitem-image: url("./../images/link.svg");
}
#context-sendimage,
#context-sendvideo,
#context-sendaudio {
  --menuitem-image: url("./../images/mail.svg");
}
#context-viewimageinfo {
  --menuitem-image: url("./../images/info.svg");
}
#context-viewimagedesc {
  --menuitem-image: url("./../images/image-alt-text.svg");
}
#context-setDesktopBackground {
  --menuitem-image: url("./../images/resize-image.svg");
}
#context-ctp-play {
  --menuitem-image: url("chrome://global/skin/icons/plugin.svg");
}
#context-ctp-hide {
  --menuitem-image: url("chrome://global/skin/icons/plugin-blocked.svg");
}
#context-savepage {
  --menuitem-image: url("./../images/save.svg");
}
#context-pocket {
  --menuitem-image: url("./../images/pocket.svg");
}
#context-sendpagetodevice {
  --menuitem-image: url("./../images/send-to-device.svg");
}
#fill-login {
  --menuitem-image: url("./../images/password.svg") !important;
}
#fill-login-generated-password {
  --menuitem-image: url("./../images/login.svg");
}
#manage-saved-logins {
  --menuitem-image: url("./../images/key-multiple.svg") !important;
}
#appMenu-logins-button,
richlistitem[originaltype="loginWithOrigin"] .ac-site-icon {
  list-style-image: url("./../../../images/login.svg") !important;
}
richlistitem[originaltype="loginsFooter"] .ac-site-icon {
  list-style-image: url("./../../../images/key-multiple.svg") !important;
}
#context-undo {
  --menuitem-image: url("./../images/undo.svg");
}
#context-redo {
  --menuitem-image: url("./../images/redo.svg");
}
#context-cut {
  --menuitem-image: url("./../images/edit-cut.svg");
}
#context-copy {
  --menuitem-image: url("./../images/edit-copy.svg");
}
#context-paste {
  --menuitem-image: url("./../images/edit-paste.svg");
}
#context-delete {
  --menuitem-image: url("./../images/delete.svg");
}
#context-selectall {
  --menuitem-image: url("./../images/select-all-on.svg");
}
#context-print-selection {
  --menuitem-image: url("./../images/print.svg");
}
#context-take-screenshot {
  --menuitem-image: url("./../images/camera.svg");
}
#context-keywordfield {
  --menuitem-image: url("./../images/star-add.svg");
}
#context-searchselect,
#context-searchselect-private {
  --menuitem-image: url("./../images/search-glass.svg");
}
#frame {
  /* --menuitem-image: url("./../images/command-frames.svg"); */
}
#spell-check-enabled {
  /* checkbox */
}
#spell-add-dictionaries {
  --menuitem-image: url("./../images/book-add.svg");
}
#spell-dictionaries {
  --menuitem-image: url("./../images/book.svg");
}
#context-bidi-text-direction-toggle {
  --menuitem-image: url("./../images/text-direction-horizontal-ltr.svg");
}
#context-bidi-page-direction-toggle {
  --menuitem-image: url("./../images/document-landscape-split-hint.svg");
}
#context-viewpartialsource-selection,
#context-viewsource {
  /* --menuitem-image: url("./../images/document-search.svg"); */
}
#context-inspect-a11y {
  --menuitem-image: url("./../images/tool-accessibility.svg");
}
#context-inspect {
  --menuitem-image: url("./../images/cursor-hover.svg");
}
#context-media-eme-learnmore {
  /* iconic */
}
#context-back {
  list-style-image: url("./../../../images/arrow-left.svg") !important;
}
#context-forward {
  list-style-image: url("./../../../images/arrow-right.svg") !important;
}
#context-reload {
  list-style-image: url("./../../../images/reload.svg") !important;
}
#context-stop {
  list-style-image: url("./../../../images/dismiss.svg") !important;
}
#context-bookmarkpage {
  list-style-image: url("./../../../images/star-add.svg") !important;
}
#context-bookmarkpage[starred=true] {
  list-style-image: url("./../../../images/star-filled.svg") !important;
}