/*= Notification ====================================================================*/
#doNotDisturbMenuItem {
  --menuitem-image: url("./../images/pause-fill.svg");
}
#disableForOriginMenuItem {
  --menuitem-image: url("chrome://global/skin/icons/blocked.svg");
}
#openSettingsMenuItem {
  --menuitem-image: url("./../images/settings.svg");
}
/*= blockedPopupOptions =============================================================*/
#blockedPopupAllowSite {
  --menuitem-image: url("./../images/check.svg");
}
#blockedPopupOptions > menuitem[oncommand="gPopupBlockerObserver.editPopupSettings();"] {
  --menuitem-image: url("./../images/edit.svg");
}
#blockedPopupDontShowMessage {
  /* checkbox */
  --menuitem-image: url("./../images/blocked.svg");
}
/*= autohide-context ================================================================*/
#autohide-context > menuitem[data-l10n-id="full-screen-autohide"] {
  /* checkbox */
}
#autohide-context > menuitem[data-l10n-id="full-screen-exit"] {
  --menuitem-image: url("./../images/fullscreen-exit.svg");
}
/*= pictureInPictureToggleContextMenu ===============================================*/
#pictureInPictureToggleContextMenu > menuitem[oncommand="PictureInPicture.hideToggle();"] {
  --menuitem-image: url("./../images/eye-hide.svg");
}
/*= pageActionContextMenu ===========================================================*/
.pageActionContextMenuItem.extensionPinned.extensionUnpinned.manageExtensionItem {
  --menuitem-image: url("./../images/settings.svg");
}
.pageActionContextMenuItem.extensionPinned.extensionUnpinned.removeExtensionItem {
  --menuitem-image: url("./../images/delete.svg");
}
/*= customizationPanelItemContextMenu ===============================================*/
#customizationPanelItemContextMenuUnpin {
  --menuitem-image: url("./../images/unpin-tab.svg");
}
.customize-context-removeFromPanel {
  --menuitem-image: url("./../images/delete.svg");
}
/*= customizationPaletteItemContextMenu =============================================*/
.customize-context-addToToolbar {
  --menuitem-image: url("./../images/dock-bottom.svg");
}
.customize-context-addToPanel {
  --menuitem-image: url("chrome://browser/skin/menu.svg");
}
/*= customizationPanelContextMenu ===================================================*/
#customizationPanelContextMenu > menuitem[command="cmd_CustomizeToolbars"] {
  --menuitem-image: url("./../images/paint-brush.svg");
}
/*= downloads-button-autohide-panel =================================================*/
#downloads-button-autohide-checkbox {
  /* checkbox */
}
/*= downloadsContextMenu ============================================================*/
.downloadPauseMenuItem {
  --menuitem-image: url("./../images/pause-fill.svg");
}
.downloadResumeMenuItem {
  --menuitem-image: url("./../images/play-fill.svg");
}
.downloadUnblockMenuItem {
  --menuitem-image: url("./../images/checkmark-circle.svg");
}
.downloadUseSystemDefaultMenuItem {
  --menuitem-image: url("./../images/folder-arrow-up.svg");
}
.downloadAlwaysUseSystemDefaultMenuItem {
  /* checkbox */
}
.downloadShowMenuItem {
  --menuitem-image: url("./../images/folder-open.svg");
}
#downloadsContextMenu > menuitem.downloadOpenReferrerMenuItem,
#downloadsContextMenu > menuitem[command="downloadsCmd_openReferrer"] {
  --menuitem-image: url("./../images/link-square.svg");
}
#downloadsContextMenu > menuitem.downloadCopyLocationMenuItem,
#downloadsContextMenu > menuitem[command="downloadsCmd_copyLocation"] {
  --menuitem-image: url("./../images/link.svg");
}
.downloadDeleteFileMenuItem {
  --menuitem-image: url("./../images/delete.svg");
}
.downloadRemoveFromHistoryMenuItem {
  --menuitem-image: url("./../images/dismiss.svg");
}
#downloadsContextMenu > menuitem[command="downloadsCmd_clearList"],
#downloadsContextMenu > menuitem[command="downloadsCmd_clearDownloads"] {
  --menuitem-image: url("./../images/broom.svg");
}
/*= urlbar-input-container ==========================================================*/
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_undo"] {
  --menuitem-image: url("./../images/undo.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_redo"] {
  --menuitem-image: url("./../images/redo.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_cut"] {
  --menuitem-image: url("./../images/edit-cut.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_copy"] {
  --menuitem-image: url("./../images/edit-copy.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_paste"] {
  --menuitem-image: url("./../images/edit-paste.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem#paste-and-go {
  --menuitem-image: url("./../images/clipboard-search.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_delete"] {
  --menuitem-image: url("./../images/delete.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_selectAll"] {
  --menuitem-image: url("./../images/select-all-on.svg");
}
/*= textbox-contextmenu =============================================================*/
/* Browser's Searchbar, Libray's Searchbar, Page Info */
.textbox-contextmenu > menuitem[data-l10n-id="text-action-undo"] {
  --menuitem-image: url("./../images/undo.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-redo"] {
  --menuitem-image: url("./../images/redo.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-cut"] {
  --menuitem-image: url("./../images/edit-cut.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-copy"] {
  --menuitem-image: url("./../images/edit-copy.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-paste"] {
  --menuitem-image: url("./../images/edit-paste.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-delete"] {
  --menuitem-image: url("./../images/delete.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-select-all"] {
  --menuitem-image: url("./../images/select-all-on.svg");
}
/* Only searchbar */
menuitem.searchbar-paste-and-search {
  --menuitem-image: url("./../images/clipboard-search.svg");
}
menuitem.searchbar-clear-history {
  --menuitem-image: url("./../images/history.svg");
}