/* Privacy *******************************************************************/
@-moz-document url("about:preferences"),
               url-prefix("about:preferences") {
  .message-bar-icon {
    list-style-image: url("./../../images/permissions/info.svg") !important;
  /* Permissions */
  .geo-icon {
    list-style-image: url("./../../images/permissions/geo.svg") !important;
  }
  .xr-icon {
    list-style-image: url("./../../images/permissions/xr.svg") !important;
  }
  .camera-icon {
    list-style-image: url("./../../images/permissions/camera.svg") !important;
  }
  .microphone-icon {
    list-style-image: url("./../../images/permissions/microphone.svg") !important;
  }
  .desktop-notification-icon {
    list-style-image: url("./../../images/permissions/desktop-notification.svg") !important;
  }
  .autoplay-icon {
    list-style-image: url("./../../images/permissions/autoplay-media.svg") !important;
  }
  .midi-icon {
    list-style-image: url("./../../images/permissions/midi.svg") !important;
  }
  /* Content Blocking */
  .content-blocking-warning-image {
    list-style-image: url("./../../images/warning-filled.svg") !important;
  }
  .warning-description {
    background: url("./../../images/warning-filled.svg") no-repeat 0 5px !important;
  }
}