/* About_Addons **************************************************************/
@-moz-document url-prefix("about:addons"),
               url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
               url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {
  #sidebar {
    border-right: 2px solid rgb(182, 182, 182);
  }
  .category[name="extension"] {
    background-image: url("./../../images/extension.svg") !important;
  }
  .addon-badge-verified {
    background-image: url("./../../images/check.svg") !important;
  }
  .page-options-menu > .more-options-button {
    background-image: url("./../../images/settings.svg") !important;
  }
  .more-options-button {
    background-image: url("./../../images/more.svg") !important;
  }
  panel-item[action="remove"] {
    --icon: url("./../../images/delete.svg") !important;
  }
  panel-item[action="report"] {
    --icon: url("./../../images/warning-filled.svg") !important;
  }
  .addon-permissions-list > li.permission-checked {
    background-image: url("./../../images/check.svg") !important;
  }
}