/* About_Logins **************************************************************/
@-moz-document url("about:logins") {
/*  login-list:not(:hover) {
    width: 40%;
    scrollbar-width: none;
  }
  [role="listbox"][data-l10n-id="login-list"] {
    scrollbar-width: none;
  } */
  .login-list-item {
    padding-block: 0px !important;
  }
  .username {
    display: none !important; 
  }
  /* input[type="password"]:read-only:not(:hover),
  input[type="text"]:read-only:not(:hover) {
    visibility: hidden !important; */
  }
  input.password-display
  input[name="password"][readonly] {
    width: 250px !important;
  }
  .delete-button {
    background-image: url("./../../images/delete.svg") !important;
  }
  .copied-button-text {
    background-image: url("./../../images/check.svg") !important;
  }
  .reveal-password-checkbox {
    background-image: url("./../../images/eye-show.svg") !important;
  }
  .reveal-password-checkbox:checked {
    background-image: url("./../../images/eye-hide.svg") !important;
  }
  .favicon-wrapper,
  .login-item-favicon-wrapper {
    background-image: url("./../../images/globe.svg") !important;
  }
  .error-message {
    background-image: url("./../../images/warning-filled.svg") !important;
  }
  .filter[type="text"] {
    background-image: url("./../../images/search-glass.svg") !important;
  }
}