/* Preferences ***************************************************************/
@-moz-document url("about:preferences"),
               url-prefix(about:preferences) {
  .navigation {
    border-right: 2px solid rgb(182, 182, 182);
  }
  #category-general > .category-icon {
    list-style-image: url("./../../images/settings.svg") !important;
  }
  #category-home > .category-icon {
    list-style-image: url("chrome://browser/skin/home.svg");
  }
  #category-search > .category-icon {
    list-style-image: url("./../../images/search-glass.svg") !important;
  }
  #category-privacy > .category-icon {
    list-style-image: url("./../../images/lock.svg") !important;
  }
  #category-sync > .category-icon {
    list-style-image: url("./../../images/sync.svg") !important;
  }
  #category-experimental > .category-icon {
    list-style-image: url("./../../images/ion.svg") !important;
  }
  .fxaLoginRejectedWarning {
    list-style-image: url("./../../images/warning-filled.svg") !important;
  }
  .info-icon {
    list-style-image: url("./../../images/info.svg") !important;
  }
  #pane-experimental-search-results-header,
  #pane-experimental-subtitle {
    background-image: url("./../../images/warning-filled.svg") !important;
  }
  /* Sync */
  .sync-engine-bookmarks .checkbox-icon,
  .sync-engine-bookmarks.sync-engine-image {
    list-style-image: url("./../../images/star-line-horizontal.svg") !important;
  }
  .sync-engine-history .checkbox-icon,
  .sync-engine-history.sync-engine-image {
    list-style-image: url("./../../images/history.svg") !important;
  }
  .sync-engine-tabs .checkbox-icon,
  .sync-engine-tabs.sync-engine-image {
    list-style-image: url("./../../images/tab.svg") !important;
  }
  .sync-engine-passwords .checkbox-icon,
  .sync-engine-passwords.sync-engine-image {
    list-style-image: url("./../../images/login.svg") !important;
  }
  .sync-engine-addons .checkbox-icon,
  .sync-engine-addons.sync-engine-image {
    list-style-image: url("./../../images/extension.svg") !important;
  }
  .sync-engine-prefs .checkbox-icon,
  .sync-engine-prefs.sync-engine-image {
    list-style-image: url("./../../images/settings.svg") !important;
  }
  .sync-engine-addresses .checkbox-icon,
  .sync-engine-addresses.sync-engine-image {
    list-style-image: url("chrome://formautofill/content/formfill-anchor.svg");
  }
  .sync-engine-creditcards .checkbox-icon,
  .sync-engine-creditcards.sync-engine-image {
    list-style-image: url("chrome://formautofill/content/icon-credit-card-generic.svg");
  }
  /* Others */
  .textbox-search-sign {
    list-style-image: url("./../../images/search-glass.svg") !important;
    transform: rotateY(180deg);
  }
}