/* About_Addons **************************************************************/
@-moz-document url("about:addons"),
               url-prefix("about:addons"),
               url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
               url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {
  #sidebar {
    border-right: 2px solid rgb(182, 182, 182);
  }
  .category[name="extension"] {
    background-image: url("./../../images/extension.svg") !important;
  }
  #help-button > .sidebar-footer-icon {
    content: url("./../../images/help.svg") !important;
  }
  #preferencesButton > .sidebar-footer-icon {
    content: url("./../../images/settings.svg") !important;
  }
  .addon-badge-verified {
    background-image: url("./../../images/check.svg") !important;
  }
  .page-options-menu > .more-options-button {
    background-image: url("./../../images/settings.svg") !important;
  }
  .more-options-button {
    background-image: url("./../../images/more.svg") !important;
  }
  /*
  panel-item[action="remove"] {
    --icon: url("./../../images/delete.svg") !important;
  }
  panel-item[action="report"] {
    --icon: url("./../../images/warning-filled.svg") !important; 
  }
  */
  panel-item[action="preferences"] {
    --icon: url("chrome://global/skin/icons/settings.svg") !important;
            /* url("./../../images/settings.svg") */
  }
  .addon-permissions-list > li.permission-checked {
    background-image: url("./../../images/check.svg") !important;
  }
  .shortcut-remove-button {
    background-image: url("./../../images/delete.svg") !important;,
  }

  @supports -moz-bool-pref("userChrome+Content.additions.about_addons_show_management_buttons") {
    .addon-card-message {
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }
    .card.addon {
      padding-bottom: 0px !important;
    }
    addon-card .addon-card-collapsed {
      display: grid !important;
      grid-template-areas: "ic con" "op op";
      grid-template-columns: 48px auto;
    }
    addon-card .card-contents {
      width: initial !important;
      white-space: initial !important;
    }
    .more-options-menu {
      position: static !important;
      grid-area: op;
      margin: 0 !important;
    }
    .card-contents {
      grid-area: con;
    }
    .card-heading-icon {
      grid-area: ic;
    }
    plugin-options > panel-list,
    addon-options > panel-list {
      position: static !important;
      display: flex !important;
      padding: 0 !important;
      margin: 0px calc(0px - var(--card-padding)) !important;
      border-width: 1px 0 0 0  !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      background-color: rgba(127,127,127,0.1) !important;
      backdrop-filter: none !important; /* Having a backdrop-filter leads to some unexpected layering issues */
    }
    button[role="menuitem"] {
      padding-inline-start: 30px !important;
      background-position-x: 8px !important;
    }
    .arrow,
    .more-options-menu > .more-options-button,
    .addon-name-container > .more-options-button,
    panel-item[action="expand"] {
      display: none !important;
    }
    div.list {
      display: inherit !important;
      flex-direction: row !important;
    } 
    button[role="menuitem"] > slot {
      display: none !important;
    }
    link + button[role="menuitem"] {
      position: static !important;
      height: 30px !important;
      min-width: 30px;
      padding-inline-end: 4px !important;
    }

  }
}