/* Common_Extra **************************************************************/
@-moz-document url-prefix("about:addons"),
               url-prefix("about:preferences") {
  /* Categories */
  #categories > .category[selected],
  #categories > .category.selected {
    background-color: var(--in-content-button-background) !important;
  }
  #categories > .category[selected]::before,
  #categories > .category.selected::before {
    /* Box Model */
    content: "";
    display: block;
    position: absolute;
    border-radius: 100px;
    /* Position */
    transform: translateX(-7px);
    /* Bar shape */
    width: 3px;
    height: 24px;
    /* Bar Color */
    background-color: rgb(0, 114, 201) !important;
  }
  @media (min-width: 830px) {
    #categories > .category[selected][viewid^="addons://"]::before,
    #categories > .category.selected[viewid^="addons://"]::before {
      transform: translateX(-30px);
    }
  }
}
@-moz-document url-prefix("about:") {
  /* Icon helper classes */
  .help-icon {
    list-style-image: url("./../../images/help.svg") !important;
  }
  .addons-icon {
    list-style-image: url("./../../images/extension.svg") !important;
  }
  .extensions {
    background-image: url("./../../images/extension.svg") !important;
  }
  /* Back button */
  .back-button {
    background-image: url("./../../images/arrow-left.svg") !important;
  }
}
