/* Enable Selection ******************************************************************/
@-moz-document url-prefix("http://"),
               url-prefix("https://") {
  @supports -moz-bool-pref("userChrome+Content.additions.enable_selection") {
    * {
      -moz-user-select: text !important;
      user-select: text !important;
    }
    ::selection { /* Reset to original system selection color */
      background-color: Highlight !important;
      color: HighlightText !important;
    }
  }
}