/*= Private Mode ====================================================================*/
@supports -moz-bool-pref("userChrome+Content.theme.private_mode") {
  :root[privatebrowsingmode=temporary]:not(:-moz-lwtheme),
  :root[privatebrowsingmode=temporary][lwt-default-theme-in-dark-mode="true"] {
    --win-text-color: rgb(255, 255, 255);
    --win-bgcolor: #2b2b2b;
    --win-disabled-color: #747474; /* also button-active-color */
    --win-disabled-bgcolor: transparent;
    --win-hover-bgcolor: rgb(97, 97, 97); /* #2e2e2e */
    --win-hover-active-bgcolor: rgb(69, 69, 69); /* #454545; also button-bgcolor */
    --win-field-bgcolor: rgb(43, 43, 43);
    --win-component-bgcolor: rgb(59, 59, 59); /* #171717*/
    --win-border-color: #5b5b5b;
    --win-tab-separator-color: linear-gradient(to right, color-mix(in srgb, currentColor 35%, currentColor 35%), color-mix(in srgb, currentColor 50%, currentColor 50%));
    --win-sidebar-bgcolor: var(--win-field-bgcolor);
    --win-sidebar-hover-bgcolor: #353535;
    --win-sidebar-button-hover-bgcolor: var(--win-hover-bgcolor);
    --win-sidebar-button-hover-active-bgcolor: var(--win-hover-active-bgcolor);
    --win-button-border: rgb(110, 110, 110); /* #8f8f8f */
    --win-button-hover-bgcolor: rgb(84, 84, 84); /* rgba(116, 116, 116, 0.66); */
    --win-button-active-bgcolor: rgb(72, 72, 72);
    --win-shortcut-text-color: #adadad;
    --win-error-color: #ffb900;
    --win-red-border-color: #ff4343;
    --win-accent-color: rgb(0, 108, 190);
    --win-accent-content-color: rgb(117, 182, 220);
    --win-accent-hover-color: rgb(0, 120, 212);
    --win-accent-active-color: rgb(0, 92, 163);
    --win-toolbarbutton-hover-background: rgb(74, 74, 74);
    --win-toolbarbutton-active-background: rgb(85, 85, 85);
    --win-toolbar-field-focus-border-color: rgb(99, 173, 229);
    --win-toolbar-field-hover-border-color: rgb(101, 101, 101);
    --win-urlbar-popup-accent-color: rgb(143, 196, 236);
  --win-focus-outline-color: rgb(131, 131, 131);
    --win-checkbox-border-color: rgb(133, 133, 133);
    --win-checkbox-unchecked-hover-bgcolor: var(--win-field-bgcolor); /* rgb(172, 172, 172) */
    --win-checkbox-unchecked-active-bgcolor: rgb(110, 110, 110);
    --win-checkbox-checked-bgcolor: rgb(167, 167, 167);
    --win-checkbox-checked-hover-bgcolor: rgb(188, 188, 188);
    --win-checkbox-checked-active-bgcolor: rgb(154, 154, 154);
    --win-urlbar-box-hover-bgcolor: rgb(56, 56, 56);

    /* Keep these in sync with layout/base/PresShell.cpp, and plaintext.css */
    --in-content-page-color: rgb(255, 255, 255) !important;
    --in-content-page-background: rgb(51, 51, 51) !important; /* rgb(28, 27, 34) */
    --in-content-text-color: var(--in-content-page-color);
    --in-content-deemphasized-text: rgb(159, 159, 159) !important; /* rgb(191, 191, 201) */
    --in-content-box-background: rgb(43, 43, 43) !important; /* rgb(35, 34, 43) */
    --in-content-box-background-odd: rgba(249, 249, 250, 0.05);
    --in-content-box-border-color: color-mix(in srgb, currentColor 41%, transparent);
    --in-content-box-info-background: rgb(59, 59, 59) !important; /* rgba(249, 249, 250, 0.15) */
    --section-highlight-background-color: rgb(59, 59, 59) !important; /* Added */
    --in-content-item-hover: color-mix(in srgb, var(--in-content-primary-button-background) 15%, transparent) !important;
    --in-content-item-hover-text: var(--in-content-page-color);
    --in-content-item-selected: var(--in-content-primary-button-background);
    --in-content-item-selected-text: var(--in-content-primary-button-text-color);
    --in-content-icon-color: rgb(255, 255, 255) !important;
    --in-content-accent-color: var(--in-content-primary-button-background);
    --in-content-accent-color-active: var(--in-content-primary-button-background-hover);
    --in-content-border-hover: rgba(249, 249, 250, 0.3);
    --in-content-border-invalid: rgb(255, 132, 139);
    --in-content-border-color: rgba(249, 249, 250, 0.2);
    --in-content-error-text-color: #ff9aa2;
    --in-content-link-color: rgb(76, 153, 212) !important;/* var(--in-content-primary-button-background) */
    --in-content-link-color-hover: rgb(104, 175, 229) !important; /* var(--in-content-primary-button-background-hover) */
    --in-content-link-color-active: rgb(61, 152, 222) !important; /* var(--in-content-primary-button-background-active) */
    --in-content-link-color-visited: rgb(78, 161, 225) !important; /* var(--in-content-link-color) */
    /* button background states are also used for checkboxes and radio buttons */
    --in-content-button-text-color: var(--in-content-text-color);
    --in-content-button-text-color-hover: var(--in-content-text-color);
    --in-content-button-background: rgb(69, 69, 69) !important; /* rgb(43, 42, 51) */
    --in-content-button-background-hover: rgb(64, 64, 64) !important; /* rgb(82, 82, 94) */
    --in-content-button-background-active: rgb(59, 59, 59) !important; /* rgb(91, 91, 102) */
    --in-content-primary-button-text-color: rgb(242, 248, 252) !important; /* rgb(43, 42, 51) */
    --in-content-primary-button-text-color-hover: var(--in-content-primary-button-text-color);
    --in-content-primary-button-background: rgb(0, 108, 190) !important;/* rgb(0, 221, 255) */
    --in-content-primary-button-background-hover: rgb(0, 120, 212) !important; /* rgb(128, 235, 255) */
    --in-content-primary-button-background-active: rgb(0, 92, 163) ! important; /* rgb(170, 242, 255) */
    --in-content-danger-button-background: #ff848b;
    --in-content-danger-button-background-hover: #ffbdc5;
    --in-content-danger-button-background-active: #ffdfe7;
    --in-content-focus-outline-color: var(--in-content-primary-button-background);
    /* Note: 1px smaller than we want because we have a 1px transparent border. */
    /* Once proton ships, these can probably stop being variables. */
    --in-content-button-border-radius: 4px;
    --in-content-button-horizontal-padding: 15px;
    --in-content-button-vertical-padding: 7px;
    --in-content-table-background: rgb(35, 34, 43);
    --in-content-table-border-color: var(--in-content-box-border-color); /* Legacy: #d1d1d1; rgba(249, 249, 250, 0.2) */
    --in-content-table-border-dark-color: var(--in-content-box-border-color);
    --in-content-table-header-background: var(--in-content-primary-button-background); /* Legacy: #0a84ff; rgb(5, 64, 150); */
    --in-content-table-header-color: var(--in-content-primary-button-text-color); /* Legacy: #ffffff; var(--in-content-page-color); */
    --in-content-sidebar-width: 240px;
    --dialog-warning-text-color: var(--red-40);
    --checkbox-border-color: var(--in-content-box-border-color);
    --checkbox-unchecked-bgcolor: var(--in-content-button-background);
    --checkbox-unchecked-hover-bgcolor: var(--in-content-button-background-hover);
    --checkbox-unchecked-active-bgcolor: var(--in-content-button-background-active);
    --checkbox-checked-bgcolor: var(--in-content-primary-button-background);
    --checkbox-checked-color: var(--in-content-primary-button-text-color);
    --checkbox-checked-border-color: transparent;
    --checkbox-checked-hover-bgcolor: var(--in-content-primary-button-background-hover);
    --checkbox-checked-active-bgcolor: var(--in-content-primary-button-background-active);
    --blue-40: #45a1ff; /* rgb(69, 161, 255) */
    --blue-50: #0a84ff; /* rgb(10, 132, 255) */
    --blue-60: #0060df; /* rgb(0, 96, 223) */
    --blue-70: #003eaa; /* rgb(0, 62, 170) */
    --blue-80: #002275; /* rgb(0, 34, 117) */
    --grey-30: #d7d7db;
    --grey-60: #4a4a4f;
    --grey-90-a10: rgba(12, 12, 13, 0.1);
    --grey-90-a20: rgba(12, 12, 13, 0.2);
    --grey-90-a30: rgba(12, 12, 13, 0.3);
    --grey-90-a50: rgba(12, 12, 13, 0.5);
    --grey-90-a60: rgba(12, 12, 13, 0.6);
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --orange-50: #ff9400; /* rgb(255, 148, 0) */
    --red-40: #ff4f5e; /* rgb(255, 79, 94) */
    --red-50: #ff0039; /* rgb(255, 0, 57) */
    --red-60: #d70022; /* rgb(215, 0, 34) */
    --red-70: #a4000f; /* rgb(164, 0, 15) */
    --red-80: #5a0002; /* rgb(90, 0, 2) */
    --red-90: #3e0200; /* rgb(62, 2, 0) */
    --yellow-50: #ffe900; /* rgb(255, 233, 0) */
    --yellow-60: #d7b600; /* rgb(215, 182, 0) */
    --yellow-60-a30: rgba(215, 182, 0, 0.3);
    --yellow-70: #a47f00; /* rgb(164, 127, 0) */
    --yellow-80: #715100; /* rgb(113, 81, 0) */
    --yellow-90: #3e2800; /* rgb(62, 40, 0) */
    --shadow-10: 0 1px 4px var(--grey-90-a10);
    --shadow-30: 0 4px 16px var(--grey-90-a10);
    --card-padding: 16px;
    --card-shadow: var(--shadow-10);
    --card-outline-color: var(--grey-60);
    --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color);
  }
  :root[privatebrowsingmode=temporary]:not(:-moz-lwtheme)
    .tabbrowser-tab .tab-icon-image,
  :root[privatebrowsingmode=temporary][lwt-default-theme-in-dark-mode="true"]
    .tabbrowser-tab .tab-icon-image,
  :root[privatebrowsingmode=temporary]:not(:-moz-lwtheme)
    .tabbrowser-tab > .tab-stack > .tab-content:not([pinned]),
  :root[privatebrowsingmode=temporary][lwt-default-theme-in-dark-mode="true"]
    .tabbrowser-tab > .tab-stack > .tab-content:not([pinned]),
  :root[privatebrowsingmode=temporary]:not(:-moz-lwtheme)
    .tabbrowser-tab[pinned][visuallyselected]:hover .close-icon,
  :root[privatebrowsingmode=temporary][lwt-default-theme-in-dark-mode="true"]
    .tabbrowser-tab[pinned][visuallyselected]:hover .close-icon {
      color: var(--win-text-color) !important;
  }
  :root[privatebrowsingmode=temporary]:not(:-moz-lwtheme)
    .tabbrowser-tab:not([selected="true"]):hover > .tab-stack > .tab-content:not([pinned]),
  :root[privatebrowsingmode=temporary][lwt-default-theme-in-dark-mode="true"]
    .tabbrowser-tab:not([selected="true"]):hover > .tab-stack > .tab-content:not([pinned]) {
      color: black !important;
  }
}
