/*= Windows10 - UWP like color ======================================================*/
@media (-moz-platform: windows-win10) {
  :root:not(:-moz-lwtheme) {
    --win-text-color: rgb(0, 0, 0);
    --win-bgcolor: rgb(218, 218, 218);
    --win-disabled-color: rgb(145, 145, 145); /* also button-active-color */
    --win-disabled-bgcolor: transparent;
    --win-hover-bgcolor: rgb(238, 238, 238);
    --win-hover-active-bgcolor: rgb(193, 193, 193); /* also button-bgcolor */
    --win-field-bgcolor: rgb(255, 255, 255);
    --win-component-bgcolor: rgb(247, 247, 247);
    --win-border-color: rgb(190, 190, 190); /* #8a8a8a; =rgb(138, 138, 138)*/
    --win-tab-separator-color: linear-gradient(to right, currentColor 50%, color-mix(in srgb, currentColor, transparent 25%));
    --win-sidebar-bgcolor: var(--win-field-bgcolor);
    --win-sidebar-hover-bgcolor: rgb(242, 242, 242);
    --win-sidebar-button-hover-bgcolor: var(--win-hover-bgcolor); /* #b8b8b8; =rgb(184, 184, 184)*/
    --win-sidebar-button-hover-active-bgcolor: var(--win-hover-active-bgcolor); /* #a3a3a3; =rgb(163, 163, 163)*/
    --win-button-border: rgb(107, 107, 107); /* rgb(116, 116, 116) */
    --win-button-hover-bgcolor: rgb(230, 230, 230); /* rgba(145, 145, 145, 0.66); */
    --win-button-active-bgcolor: rgb(242, 242, 242);
    --win-shortcut-text-color: #757575;
    --win-error-color: #b31616; /* =rgb(179, 22, 22) */
    --win-red-border-color: #ff4343;
    --win-accent-color: rgb(0, 120, 212);
    --win-accent-foreground-color: AccentColorText;
    --win-accent-content-color: rgb(0, 96, 169);
    --win-accent-hover-color: rgb(0, 108, 190);
    --win-accent-active-color: rgb(22, 131, 216);
    --win-toolbarbutton-hover-background: rgb(220, 220, 220);
    --win-toolbarbutton-active-background: rgb(207, 207, 207);
    --win-toolbar-field-focus-border-color: rgb(143, 177, 229);
    --win-toolbar-field-hover-border-color: rgb(204, 204, 204);
    --win-urlbar-popup-accent-color: rgb(0, 85, 215);
    --win-focus-outline-color: rgb(131, 131, 131);
    --win-checkbox-border-color: rgb(146, 146, 146);
    --win-checkbox-unchecked-hover-bgcolor: var(--win-field-bgcolor); /* rgb(107, 107, 107) */
    --win-checkbox-unchecked-active-bgcolor: rgb(169, 169, 169);
    --win-checkbox-checked-bgcolor: rgb(118, 118, 118);
    --win-checkbox-checked-hover-bgcolor: rgb(97, 97, 97);
    --win-checkbox-checked-active-bgcolor: rgb(131, 131, 131);
    --win-urlbar-box-hover-bgcolor: rgb(230, 230, 230);
  }
  @media (prefers-color-scheme: dark) {
    :root:not(:-moz-lwtheme),
    :root[lwt-default-theme-in-dark-mode] {
      --win-text-color: rgb(255, 255, 255);
      --win-bgcolor: #2b2b2b;
      --win-disabled-color: #747474; /* also button-active-color */
      --win-disabled-bgcolor: transparent;
      --win-hover-bgcolor: rgb(97, 97, 97); /* #2e2e2e */
      --win-hover-active-bgcolor: rgb(69, 69, 69); /* #454545; also button-bgcolor */
      --win-field-bgcolor: rgb(43, 43, 43);
      --win-component-bgcolor: rgb(59, 59, 59); /* #171717*/
      --win-border-color: #5b5b5b;
      --win-tab-separator-color: linear-gradient(to right, color-mix(in srgb, currentColor 35%, currentColor 35%), color-mix(in srgb, currentColor 50%, currentColor 50%));
      --win-sidebar-bgcolor: var(--win-field-bgcolor);
      --win-sidebar-hover-bgcolor: #353535;
      --win-sidebar-button-hover-bgcolor: var(--win-hover-bgcolor);
      --win-sidebar-button-hover-active-bgcolor: var(--win-hover-active-bgcolor);
      --win-button-border: rgb(110, 110, 110); /* #8f8f8f */
      --win-button-hover-bgcolor: rgb(84, 84, 84); /* rgba(116, 116, 116, 0.66); */
      --win-button-active-bgcolor: rgb(72, 72, 72);
      --win-shortcut-text-color: #adadad;
      --win-error-color: #ffb900;
      --win-red-border-color: #ff4343;
      --win-accent-color: rgb(0, 108, 190);
      --win-accent-content-color: rgb(117, 182, 220);
      --win-accent-hover-color: rgb(0, 120, 212);
      --win-accent-active-color: rgb(0, 92, 163);
      --win-toolbarbutton-hover-background: rgb(74, 74, 74);
      --win-toolbarbutton-active-background: rgb(85, 85, 85);
      --win-toolbar-field-focus-border-color: rgb(99, 173, 229);
      --win-toolbar-field-hover-border-color: rgb(101, 101, 101);
    --win-urlbar-popup-accent-color: rgb(0, 85, 215);
    --win-focus-outline-color: rgb(131, 131, 131);
      --win-checkbox-border-color: rgb(133, 133, 133);
      --win-checkbox-unchecked-hover-bgcolor: var(--win-field-bgcolor); /* rgb(172, 172, 172) */
      --win-checkbox-unchecked-active-bgcolor: rgb(110, 110, 110);
      --win-checkbox-checked-bgcolor: rgb(167, 167, 167);
      --win-checkbox-checked-hover-bgcolor: rgb(188, 188, 188);
      --win-checkbox-checked-active-bgcolor: rgb(154, 154, 154);
      --win-urlbar-box-hover-bgcolor: rgb(56, 56, 56);
    }
  }
  :root:not(:-moz-lwtheme),
  :root[lwt-default-theme-in-dark-mode] {
    /* Buttons */
    --button-color: var(--win-text-color) !important;
    --button-bgcolor: var(--win-hover-bgcolor); !important; /* var(--win-hover-active-bgcolor) */
    --button-hover-bgcolor: var(--win-button-hover-bgcolor) !important;
    --button-active-bgcolor: var(--win-button-active-bgcolor) !important; /* --win-disabled-bgcolor */
    --button-primary-color: var(--win-accent-foreground-color) !important; /* was --win-field-bgcolor (https://github.com/black7375/Firefox-UI-Fix/commit/c5347004393a3d9efe4b51c5eb0d95d8782d162b) */
    --button-primary-bgcolor: var(--win-accent-color) !important;
    --button-primary-hover-bgcolor: var(--win-accent-hover-color) !important;
    --button-primary-active-bgcolor: var(--win-accent-active-color) !important;
    /* Menu */
    --menu-color: var(--win-text-color) !important;
    --menu-background-color: var(--win-field-bgcolor) !important; /* --win-component-bgcolor */
    --menu-border-color: var(--win-bgcolor) !important;
    --menu-disabled-color: var(--win-disabled-color) !important;
    --menuitem-hover-background-color: var(--win-hover-bgcolor) !important;
    --menuitem-disabled-hover-background-color: var(--win-disabled-bgcolor) !important;
    /* Tabs */
    --tab-selected-bgcolor: unset !important;
    --tab-icon-overlay-fill: var(--win-text-color) !important;
    --tab-icon-overlay-stroke: var(--win-field-bgcolor) !important;
    --tab-line-color: Highlight !important;
    --tabs-border-color: transparent !important;
    /* Toolbar */
    --toolbar-color: var(--win-text-color) !important;
    --toolbar-bgcolor: var(--win-component-bgcolor) !important;
    --toolbar-non-lwt-textcolor: var(--win-text-color) !important;
    --toolbar-non-lwt-bgcolor: var(--win-component-bgcolor) !important;
    --toolbar-field-color: var(--win-text-color) !important;
    --toolbar-field-background-color: var(--win-field-bgcolor) !important;
    --toolbar-field-border-color: var(--win-bgcolor) !important;
    --toolbar-field-focus-color: var(--win-text-color) !important;
    --toolbar-field-focus-background-color: var(--win-field-bgcolor) !important; /* --win-component-bgcolor */
    --toolbar-field-focus-border-color: var(--win-toolbar-field-focus-border-color) !important; /* --win-accent-color */
    --toolbarseparator-color: var(--win-tab-separator-color) !important;
    /* Toolbarbutton */
    --toolbarbutton-hover-background: var(--win-toolbarbutton-hover-background) !important; /* var(--win-hover-bgcolor) */
    --toolbarbutton-active-background: var(--win-toolbarbutton-active-background) !important; /* --win-hover-active-bgcolor */
    --toolbarbutton-icon-fill: var(--win-text-color) !important;
    --toolbarbutton-icon-fill-attention: var(--win-accent-color) !important; /* --win-accent-content-color */
    /* Urlbar */
    --urlbar-popup-action-color: var(--win-text-color) !important;
    --urlbar-popup-url-color: var(--win-accent-content-color) !important;
    --urlbar-box-bgcolor: transparent !important;
    --urlbar-box-hover-bgcolor: var(--win-urlbar-box-hover-bgcolor) !important;
    --urlbar-box-active-bgcolor: var(--win-hover-active-bgcolor) !important;
    --urlbar-box-focus-bgcolor: transparent !important;
      /* --urlbar-icon-fill-opacity: 1 !important; */
    /* Checkbox */
    --checkbox-checked-color: var(--win-accent-foreground-color) !important; /* was --win-field-bgcolor (https://github.com/black7375/Firefox-UI-Fix/commit/c5347004393a3d9efe4b51c5eb0d95d8782d162b) */
    --checkbox-checked-bgcolor: var(--win-checkbox-checked-bgcolor) !important; /* --win-accent-color */
    --checkbox-unchecked-bgcolor: var(--win-field-bgcolor) !important; /* --win-hover-active-bgcolor */
    --checkbox-unchecked-hover-bgcolor: var(--win-checkbox-unchecked-hover-bgcolor) !important; /* --win-field-bgcolor */
    --checkbox-unchecked-active-bgcolor: var(--win-checkbox-unchecked-active-bgcolor) !important; /* --win-disabled-color */
    --checkbox-border-color: var(--win-checkbox-border-color) !important;
    --checkbox-checked-hover-bgcolor: var(--win-checkbox-checked-hover-bgcolor) !important;
    --checkbox-checked-active-bgcolor: var(--win-checkbox-checked-active-bgcolor) !important;
    --checkbox-checked-border-color: transparent !important;
    /* Arrowpanel */
    --arrowpanel-color: var(--win-text-color) !important;
    --arrowpanel-background: var(--win-field-bgcolor) !important; /* --win-component-bgcolor */
    --arrowpanel-dimmed: color-mix(in srgb, currentColor 12%, transparent) !important;
    --arrowpanel-dimmed-further: color-mix(in srgb, currentColor 20%, transparent) !important;
    --arrowpanel-dimmed-even-further: color-mix(in srgb, currentColor 27%, transparent) !important;
    /* Panel */
    --panel-banner-item-color: var(--win-text-color) !important;
    --panel-banner-item-background-color: var(--win-bgcolor) !important;
    --panel-banner-item-hover-bgcolor: var(--win-hover-bgcolor) !important;
    --panel-banner-item-active-bgcolor: var(--win-hover-active-bgcolor) !important;
    --panel-disabled-color: var(--win-disabled-color) !important;
    --panel-shortcut-color: var(--win-shortcut-text-color) !important;
    --panel-description-color: var(--win-shortcut-text-color) !important;
    --panelview-toolbarbutton-focus-box-shadow: inset 0 0 0 2px var(--focus-outline-color) !important;
    /* AutoComplete Popup */
    --autocomplete-popup-color: var(--win-accent-content-color) !important; /* --win-text-color */
    --autocomplete-popup-background: var(--win-field-bgcolor) !important; /* --win-component-bgcolor */
    --autocomplete-popup-hover-background: var(--win-button-hover-bgcolor) !important;
    --autocomplete-popup-highlight-color: var(--win-text-color) !important;
    --autocomplete-popup-highlight-background: var(--win-sidebar-hover-bgcolor) !important; /* --win-hover-active-bgcolor */
    --autocomplete-popup-separator-color: var(--win-button-border) !important;
    /* Download */
    --download-progress-fill-color: var(--win-accent-content-color) !important;
    --download-progress-paused-color: var(--win-disabled-color) !important;
    --download-progress-flare-color: rgba(255, 255, 255, 0.75) !important;
    /* Input */
    --input-color: var(--win-text-color) !important;
    --input-bgcolor: var(--win-field-bgcolor) !important;
    --input-border-color: var(--win-button-border) !important;
    /* Error Color */
    --input-error-border-color: var(--win-error-color) !important;
    --error-text-color: var(--win-error-color) !important;
    /* Other */
    --lwt-text-color: var(--win-text-color) !important;
    --lwt-accent-color: var(--win-bgcolor) !important;
    --chrome-content-separator-color: var(--win-bgcolor) !important;
    --focus-outline-color: var(--win-focus-outline-color) !important; /* --win-accent-color */
  }
  navigator-toolbox:not(:-moz-lwtheme) {
    background: var(--lwt-accent-color) !important;
  }
  /*- Separator ----------------------------------------------------------*/
  :root:not(:-moz-lwtheme) {
    --arrowpanel-border-color: var(--win-bgcolor) !important;
    --panel-separator-color: var(--win-bgcolor) !important;
  }
  :root[lwt-default-theme-in-dark-mode] {
    --arrowpanel-border-color: var(--win-border-color) !important;
    --panel-separator-color: var(--win-border-color) !important;
  }
  /*- Menu ---------------------------------------------------------------*/
  html#main-window menupopup:not(:-moz-lwtheme),
  :root[lwt-default-theme-in-dark-mode] html#main-window menupopup {
    --menu-color: var(--win-text-color) !important;
    --menu-background-color: var(--win-field-bgcolor) !important;
    --menu-border-color: var(--win-bgcolor) !important;
    --menuitem-hover-background-color: var(--win-hover-bgcolor) !important;
    --menu-disabled-color: var(--win-disabled-color) !important;
    --menuitem-disabled-hover-background-color: var(--win-disabled-bgcolor) !important;
  }
  /*- Toolbar ------------------------------------------------------------*/
  :root:not(:-moz-lwtheme) #titlebar,
  :root[lwt-default-theme-in-dark-mode] #titlebar {
    --button-hover-bgcolor: var(--win-sidebar-button-hover-bgcolor);
    --button-active-bgcolor: var(--win-sidebar-button-hover-active-bgcolor);
    --toolbarbutton-hover-background: var(--win-sidebar-button-hover-bgcolor);
    --toolbarbutton-active-background: var(--win-sidebar-button-hover-active-bgcolor);
  }
  /*- Address bar --------------------------------------------------------*/
  @media not (prefers-contrast) {
    :root:not(:-moz-lwtheme) #urlbar,
    :root[lwt-default-theme-in-dark-mode] #urlbar {
      --urlbar-box-bgcolor: var(--toolbar-field-focus-background-color) !important;
    }
  }
  /*- Sidebar ------------------------------------------------------------*/
  #sidebar-box:not([lwt-sidebar]) {
    appearance: none !important;
  }
  :root:not(:-moz-lwtheme) #sidebar-box,
  :root[lwt-default-theme-in-dark-mode] #sidebar-box {
    --sidebar-background-color: var(--win-sidebar-bgcolor) !important;
    --sidebar-text-color: var(--win-text-color) !important;
    --sidebar-border-color: var(--win-border-color) !important;
  }
  @media (prefers-color-scheme: dark) {
    .sidebar-panel[style="--newtab-background-color: rgba(43, 42, 51, 1); --newtab-text-primary-color: rgba(251, 251, 254, 1); --lwt-sidebar-background-color: rgb(56, 56, 61); --lwt-sidebar-text-color: rgba(249, 249, 250, 1);"],
    body[lwt-sidebar][style="--newtab-background-color: rgba(43, 42, 51, 1); --newtab-text-primary-color: rgba(251, 251, 254, 1); --lwt-sidebar-background-color: rgb(56, 56, 61); --lwt-sidebar-text-color: rgba(249, 249, 250, 1);"],
    .sidebar-panel[style="--newtab-background-color: rgb(43, 42, 51); --newtab-text-primary-color: rgba(251, 251, 254, 1); --lwt-sidebar-background-color: rgb(56, 56, 61); --lwt-sidebar-text-color: rgba(249, 249, 250, 1);"], /* Nightly */
    body[lwt-sidebar][style="--newtab-background-color: rgb(43, 42, 51); --newtab-text-primary-color: rgba(251, 251, 254, 1); --lwt-sidebar-background-color: rgb(56, 56, 61); --lwt-sidebar-text-color: rgba(249, 249, 250, 1);"] {
      /* Only darkmode has more: --newtab-background-color-secondary: rgba(66, 65, 77, 1); */
      --lwt-sidebar-background-color: var(--win-sidebar-bgcolor) !important; /* transparent */
      --lwt-sidebar-text-color: var(--win-text-color) !important;
    }
  }
  :root:not(:-moz-lwtheme)
    .subviewbutton:not(#appMenu-fxa-label2, #appMenu-zoomReduce-button2, #appMenu-zoomEnlarge-button2, #appMenu-fullscreen-button2),
  :root[lwt-default-theme-in-dark-mode]
    .subviewbutton:not(#appMenu-fxa-label2, #appMenu-zoomReduce-button2, #appMenu-zoomEnlarge-button2, #appMenu-fullscreen-button2) {
    --button-hover-bgcolor: var(--win-hover-bgcolor) !important;
    --button-active-bgcolor: var(--win-hover-active-bgcolor) !important;
  }
  /*- Others -------------------------------------------------------------*/
  /* For overwrite */
  :root[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"]):not(:-moz-lwtheme), /* Legacy */
  :root:not(:-moz-lwtheme) {
  /* Light Theme */
    --lwt-accent-color: var(--win-bgcolor) !important;
  }
  @media (prefers-color-scheme: dark) {
    :root[lwt-default-theme-in-dark-mode][lwthemetextcolor="bright"] {
      --toolbar-bgcolor: var(--win-component-bgcolor) !important; /* Original: rgba(43, 42, 51, 1) */
    }
  }
  #tabbrowser-tabs:not([movingtab])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab
    > .tab-stack
    > .tab-background[multiselected]:not([selected]):not(:-moz-lwtheme),
  :root[lwtheme-mozlightdark]  /* Legacy */
    #tabbrowser-tabs:not([movingtab])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab
    > .tab-stack
    > .tab-background[multiselected]:not([selected]),
  :root:is([style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"], [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"])
       #tabbrowser-tabs:not([movingtab])
                           > #tabbrowser-arrowscrollbox
                           > .tabbrowser-tab
                           > .tab-stack
                           > .tab-background[multiselected]:not([selected]) {
    background-image: linear-gradient(
        color-mix(in srgb, currentColor 11%, transparent),
        color-mix(in srgb, currentColor 11%, transparent)
      ),
      linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none) !important;
  }
}
/*= Windows10 - Titlebar accent color ===============================================*/
@media (-moz-windows-accent-color-in-titlebar) {
  /* Tab Bar */
  :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme) .titlebar-color,
  :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) .titlebar-color {
    color: AccentColorText;
    background-color: AccentColor;
  }
  :root[tabsintitlebar]:-moz-window-inactive:not(:-moz-lwtheme) .titlebar-color,
  :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:-moz-window-inactive .titlebar-color {
    background-color: color-mix(in srgb, AccentColor 65%, white); /* 70% is like Microsoft Edge */ 
  }
  :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme) .toolbar-items,
  :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) .toolbar-items {
    --toolbarbutton-icon-fill: currentColor;
    --toolbarbutton-hover-background: color-mix(in srgb, AccentColorText 10%, transparent);
    --toolbarbutton-active-background: color-mix(in srgb, AccentColorText 15%, transparent);
  }
}
