/** Rounding ************************************************************************/
@supports -moz-bool-pref("userChrome+Content.rounding.square") {
  :root {
    --tab-border-radius: 0 !important;
    --toolbarbutton-border-radius: 0 !important;
    --panel-border-radius: 0 !important;
    --arrowpanel-border-radius: 0 !important;
    --arrowpanel-menuitem-border-radius: 0 !important;
    --subviewbutton-border-radius: 0 !important;
  }
  button,
  .tab-icon-overlay,
  findbar toolbarbutton {
    border-radius: 0 !important;
  }
  /* Fix Tab bar button radius */
  #TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
  #TabsToolbar .toolbarbutton-1 > .toolbarbutton-text,
  #TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack,
  .tab-close-button {
    --tab-border-radius: var(--toolbarbutton-border-radius) !important;
    border-radius: 0 !important;
  }
  #tabbrowser-tabs {
    --tab-corner-rounding: 0px !important;
  }
  xul|menupopup {
    --panel-border-radius: 0px !important;
    border-radius: 0 !important;
  }
  xul|menulist:not([native]),
  xul|menulist > xul|menupopup xul|menu,
  xul|menulist > xul|menupopup xul|menuitem {
    border-radius: 0 !important;
  }
  html|select[size][multiple],
  xul|listheader,
  xul|richlistbox,
  html|input {
    border-radius: 0 !important;
  }
  #urlbar-background,
  #searchbar {
    --toolbarbutton-border-radius: 0 !important;
  }
  .checkbox-check,
  xul|*.radio-check {
    border-radius: 0 !important;
  }
}
