/** Rounding ************************************************************************/
@supports -moz-bool-pref("userChrome+Content.rounding.square") {
  :root {
    --tab-border-radius: 0 !important;
    --toolbarbutton-border-radius: 0 !important;
    --panel-border-radius: 0 !important;
    --arrowpanel-border-radius: 0 !important;
    --arrowpanel-menuitem-border-radius: 0 !important;
    --subviewbutton-border-radius: 0 !important;
  }
  .toolbarbutton-1,
  .toolbarbutton-icon,
  .panel-info-button,
  .searchbar-engine-one-off-item,
  .urlbarView-button,
  .urlbarView-tip-button,
  .urlbarView-action,
  toolbarbutton.bookmark-item:not(.subviewbutton),
  #sidebar-switcher-target {
    --toolbarbutton-border-radius: 0;
  }
  button,
  .tab-icon-overlay,
  findbar toolbarbutton,
  .notification-button,
  #main-menubar > menu {
    border-radius: 0 !important;
  }
  /* Fix Tab bar button radius */
  #TabsToolbar .toolbarbutton-1:not(#tabs-newtab-button),
  .tab-close-button {
    --tab-border-radius: var(--toolbarbutton-border-radius);
    border-radius: 0 !important;
  }
  #tabbrowser-tabs {
    --tab-corner-rounding: 0px !important;
  }
  .dialogBox {
    border-radius: 0 !important;
  }
  xul|menupopup {
    --panel-border-radius: 0px !important;
    border-radius: 0 !important;
  }
  xul|menulist:not([native]),
  xul|menulist > xul|menupopup xul|menu,
  xul|menulist > xul|menupopup xul|menuitem {
    border-radius: 0 !important;
  }
  html|select[size][multiple],
  xul|listheader,
  xul|richlistbox,
  html|input {
    border-radius: 0 !important;
  }
  #urlbar-input-container,
  #urlbar-background,
  #searchbar,
  .urlbarView-row-inner {
    --toolbarbutton-border-radius: 0 !important;
  }
  .checkbox-check,
  xul|*.radio-check {
    border-radius: 0 !important;
  }
}
