/*= Menubar =========================================================================*/
@supports -moz-bool-pref("userChrome+Content.autohide.menubar") {
  :root:not([chromehidden~="menubar"], [inFullscreen]) 
    #toolbar-menubar[autohide="true"]:not([inactive]) {
      height: unset !important;
      display: flex;
      position: fixed;
      z-index: 6;
  }
  :root:not([chromehidden~="menubar"], [inFullscreen]) 
    #toolbar-menubar[autohide="true"]:not([inactive]) + #TabsToolbar > .titlebar-buttonbox-container {
      visibility: visible !important;
  }
  :root:not([chromehidden~="menubar"], [inFullscreen]) 
    #toolbar-menubar[autohide="true"]:not([inactive]) .titlebar-buttonbox-container {
      display: none;
  }
  @supports -moz-bool-pref("userChrome+Content.padding.drag_space") {
    @media (-moz-platform: windows-win10), (-moz-gtk-csd-available) {
      :root[tabsintitlebar="true"][sizemode="normal"]:not([chromehidden~="menubar"], [inFullscreen]) 
        #titlebar:has(#toolbar-menubar[autohide="true"]) {
          height: calc(var(--tab-min-height) + var(--uc-space-above-tabbar)) !important;
      }
    }
  }
  :root:not([tabsintitlebar="true"], [chromehidden~="menubar"], [inFullscreen]) 
    #toolbar-menubar[autohide="true"]:not([inactive]),
  :root[tabsintitlebar="true"]:-moz-lwtheme:not([lwt-default-theme-in-dark-mode], [chromehidden~="menubar"], [inFullscreen]) 
    #toolbar-menubar[autohide="true"]:not([inactive]) {
      background-color: var(--lwt-accent-color);
  }
  @media (-moz-windows-compositor) {
    @media not (-moz-platform: windows-win7) {
      @media not (-moz-platform: windows-win8) {
        @media (-moz-windows-default-theme) {
          #toolbar-menubar[brighttext] > #menubar-items > #main-menubar > menu[_moz-menuactive="true"] {
            background-color: color-mix(in srgb, transparent, black 16%) !important;
          }
          #main-menubar > menu[_moz-menuactive="true"] {
            background-color: color-mix(in srgb, transparent, white 16%) !important;
          }
        }
      }
    }
  }
  /* :root:not([chromehidden~="menubar"], [inFullscreen])
    #toolbar-menubar[autohide="false"] + #TabsToolbar > :is(.titlebar-buttonbox-container, .titlebar-spacer) {
      display: -moz-box !important;
  } */
}
