/*= Identity Box Border =============================================================*/
:root:not(:-moz-lwtheme)
  #identity-box[pageproxystate="valid"].notSecureText > #identity-icon-box:not(:hover, [open]),
:root:not(:-moz-lwtheme)
  #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:not(:hover, [open]),
:root:not(:-moz-lwtheme)
  #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:not(:hover, [open]) {
    /* remove background from urlbar box */
    background-color: transparent !important;
}
:root:not(:-moz-lwtheme)
  #identity-box[pageproxystate="valid"].notSecureText > #identity-icon-box::after,
:root:not(:-moz-lwtheme)
  #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button::after,
:root:not(:-moz-lwtheme)
  #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button::after {
    /* Box Model */
    content: "";
    display: contents;
    position: static;
    /* Position */
    top: calc((var(--urlbar-height) - 18px) / 2);
    transform: translateX(9px);
    /* Bar shape */
    width: 1.75px;
    height: 18px;
    /* Bar Color */
    opacity: 0;
    background-color: rgb(150, 150, 150) !important;
}
:root:not(:-moz-lwtheme)
  #identity-box[pageproxystate="valid"].notSecureText > #identity-icon-box:not(:hover, :active, [open=true])::after,
:root:not(:-moz-lwtheme)
  #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:not(:hover, :active, [open=true])::after,
:root:not(:-moz-lwtheme)
  #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:not(:hover, :active, [open=true])::after {
    opacity: 1;
}
@media (prefers-reduced-motion: no-preference) {
  :root:not(:-moz-lwtheme)
    #identity-box[pageproxystate="valid"].notSecureText > #identity-icon-box::after,
  :root:not(:-moz-lwtheme)
    #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button::after,
  :root:not(:-moz-lwtheme)
    #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button::after {
      transition: opacity 0.2s var(--animation-easing-function);
  }
}
#identity-box[pageproxystate="valid"].notSecureText > #identity-permission-box,
#identity-box[pageproxystate="valid"].notSecureText > #notification-popup-box {
  margin-inline-end: -5px;
}
