/*= Permissions =====================================================================*/
@supports -moz-bool-pref("userChrome+Content.urlview.permissions.hide_granted-icon") {
  #blocked-permissions-container > .blocked-permission-icon[showing] {
    display: none;
  } 
  /* #identity-permission-box:has(#blocked-permissions-container > .blocked-permission-icon[showing="true"]) #permissions-granted-icon {
    display: none !important;
  }
  #blocked-permissions-container > .blocked-permission-icon {
    margin-inline-start: 0px !important;
  } */
}
#permissions-granted-icon {
  list-style-image: url("./../images/permissions.svg") !important;
}
.notification-anchor-icon {
  list-style-image: url("./../images/info-filled.svg") !important;
}
.focus-tab-by-prompt-icon {
  list-style-image: url("./../images/info.svg") !important;
}
#webrtc-sharing-icon[sharing="camera"],
.camera-icon,
.camera-icon.in-use {
  list-style-image: url("./../images/permissions/camera.svg") !important;
}
.camera-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/camera-blocked.svg") !important;
}
#webrtc-sharing-icon[sharing="microphone"],
.microphone-icon,
.microphone-icon.in-use,
.popup-notification-icon.microphone-icon {
  list-style-image: url("./../images/permissions/microphone.svg") !important;
}
.microphone-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/microphone-blocked.svg") !important;
}
#webrtc-sharing-icon[sharing="screen"],
.screen-icon,
.screen-icon.in-use {
  list-style-image: url("./../images/permissions/screen.svg") !important;
}
.screen-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/screen-blocked.svg") !important;
}
#geo-sharing-icon[sharing],
.geo-icon,
.popup-notification-icon[popupid="geolocation"] {
  list-style-image: url("./../images/permissions/geo.svg") !important;
}
.geo-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/geo-blocked.svg") !important;
}
.popup-notification-icon[popupid="storage-access"],
.storage-access-icon {
  list-style-image: url("./../images/permissions/3rdpartycookies.svg") !important;
}
.persistent-storage-icon,
.popup-notification-icon[popupid="persistent-storage"],
.popup-notification-icon[popupid="indexedDB-permissions-prompt"],
.indexedDB-icon {
  list-style-image: url("./../images/permissions/persistent-storage.svg") !important;
}
.persistent-storage-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/persistent-storage-blocked.svg") !important;
}
.popup-notification-icon[popupid="web-notifications"],
.desktop-notification-icon {
  list-style-image: url("./../images/permissions/desktop-notification.svg") !important;
}
.desktop-notification-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/desktop-notification-blocked.svg") !important;
}
.open-protocol-handler-icon {
  list-style-image: url("./../images/link-square.svg") !important;
}
.xr-icon,
.popup-notification-icon[popupid="xr"] {
  list-style-image: url("./../images/permissions/xr.svg") !important;
}
.xr-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/xr-blocked.svg") !important;
}
.autoplay-media-icon,
.popup-notification-icon[popupid="autoplay-media"] {
  list-style-image: url("./../images/permissions/autoplay-media.svg") !important;
}
.autoplay-media-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/autoplay-media-blocked.svg") !important;
}
.popup-notification-icon[popupid="password"],
#password-notification-icon {
  list-style-image: url("./../images/login.svg") !important;
}
.speaker-icon {
  list-style-image: url("./../images/audio.svg") !important;
}
.midi-icon,
.midi-sysex-icon,
.popup-notification-icon[popupid="midi"],
.popup-notification-icon[popupid="midi-sysex"] {
  list-style-image: url("./../images/permissions/midi.svg") !important;
}
#canvas-notification-icon,
.popup-notification-icon[popupid="canvas-permissions-prompt"],
.canvas-icon {
  list-style-image: url("./../images/permissions/canvas.svg") !important;
}
.canvas-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/canvas-blocked.svg") !important;
}
#webauthn-notification-icon,
.popup-notification-icon[popupid^="webauthn-prompt-"] {
  list-style-image: url("./../images/permissions/fingerprint.svg") !important;
}
.popup-icon {
  list-style-image: url("./../images/permissions/popup.svg") !important;
}
/* EME */
.popup-notification-icon[popupid="drmContentPlaying"],
.drm-icon {
  list-style-image: url("chrome://browser/skin/drm-icon.svg") !important;
}
/* INSTALL ADDONS */
.install-icon,
.popup-notification-icon[popupid="addon-install-confirmation"] {
  list-style-image: url("./../images/permissions/addon-install.svg") !important;
}
.install-icon.blocked-permission-icon,
.popup-notification-icon[popupid="xpinstall-disabled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-origin-blocked"] {
  list-style-image: url("./../images/permissions/addon-install-blocked.svg") !important;
}
.popup-notification-icon[popupid="addon-progress"] {
  list-style-image: url("./../images/permissions/addon-install-downloading.svg") !important;
}
.popup-notification-icon[popupid="addon-install-failed"] {
  list-style-image: url("./../images/permissions/addon-install-error.svg") !important;
}
#addon-install-confirmation-notification[warning] .popup-notification-icon[popupid="addon-install-confirmation"] {
  list-style-image: url("./../images/permissions/addon-install-warning.svg") !important;
}
.popup-notification-icon[popupid="addon-install-complete"] {
  list-style-image: url("./../images/permissions/addon-install-installed.svg") !important;
}
/* OFFLINE APPS */
.popup-notification-icon[popupid="offline-app-usage"] {
  list-style-image: url("./../images/help.svg") !important;
}
/* PLUGINS */
.plugin-icon {
  list-style-image: url(chrome://global/skin/icons/plugin.svg) !important;
}
#plugin-icon-badge {
  list-style-image: url(chrome://browser/skin/notification-icons/plugin-badge.svg) !important;
}
.plugin-blocked > .plugin-icon {
  list-style-image: url(chrome://global/skin/icons/plugin-blocked.svg) !important;
}