/*= Permissions ==============================================================================*/
#permissions-granted-icon {
  list-style-image: url("./../images/permissions.svg") !important;
}
.geo-icon {
  list-style-image: url("./../images/permissions/geo.svg") !important;
}
.geo-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/geo-blocked.svg") !important;
}
.xr-icon {
  list-style-image: url("./../images/permissions/xr.svg") !important;
}
.xr-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/xr-blocked.svg") !important;
}
.popup-notification-icon[popupid="web-notifications"],
.desktop-notification-icon {
  list-style-image: url("./../images/permissions/desktop-notification.svg") !important;
}
.desktop-notification-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/desktop-notification-blocked.svg") !important;
}
.camera-icon {
  list-style-image: url("./../images/permissions/camera.svg") !important;
}
.camera-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/camera-blocked.svg") !important;
}
.microphone-icon {
  list-style-image: url("./../images/permissions/microphone.svg") !important;
}
.microphone-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/microphone-blocked.svg") !important;
}
.screen-icon {
  list-style-image: url("./../images/permissions/screen.svg") !important;
}
.screen-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/screen-blocked.svg") !important;
}
.popup-notification-icon[popupid="persistent-storage"],
.persistent-storage-icon {
  list-style-image: url("./../images/permissions/persistent-storage.svg") !important;
}
.persistent-storage-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/persistent-storage-blocked.svg") !important;
}
.popup-icon {
  list-style-image: url("./../images/permissions/popup.svg") !important;
}
.autoplay-media-icon {
  list-style-image: url("./../images/permissions/autoplay-media.svg") !important;
}
.autoplay-media-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/autoplay-media-blocked.svg") !important;
}
#canvas-notification-icon,
.popup-notification-icon[popupid="canvas-permissions-prompt"],
.canvas-icon {
  list-style-image: url("./../images/permissions/canvas.svg") !important;
}
.canvas-icon.blocked-permission-icon {
  list-style-image: url("./../images/permissions/canvas-blocked.svg") !important;
}
.midi-icon,
.midi-sysex-icon,
.popup-notification-icon[popupid="midi"],
.popup-notification-icon[popupid="midi-sysex"] {
  list-style-image: url("./../images/permissions/midi.svg") !important;
}
.install-icon {
  list-style-image: url("./../images/permissions/addon-install.svg") !important;
}
.install-icon.blocked-permission-icon,
.popup-notification-icon[popupid="xpinstall-disabled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-origin-blocked"] {
  list-style-image: url("./../images/permissions/addon-install-blocked.svg") !important;
}