/*= URL View ========================================================================*/
/* Set height */
:root:not([uidensity="touch"]) #nav-bar,
:root:not([uidensity="touch"]) #urlbar {
  --urlbar-toolbar-height: 38.00px !important;
  --urlbar-min-height: 30.00px !important;
  --urlbar-height: 30.00px !important;
}
:root[uidensity="touch"] #nav-bar,
:root[uidensity="touch"] #urlbar {
  --urlbar-toolbar-height: 42.00px !important;
  --urlbar-min-height: 34.00px !important;
  --urlbar-height: 34.00px !important;
}
#nav-bar {
  min-height: var(--urlbar-toolbar-height) !important;
}
/* MegaBar Style */
@supports -moz-bool-pref("userChrome+Content.padding.megabar_style") {
  .urlbarView {
    --uc-urlView-padding: calc(5px + var(--urlbar-container-padding));
    --uc-urlView-padding-double: calc(var(--uc-urlView-padding) * 2); 
    --uc-urlView-full-width-padding: var(--uc-urlView-padding);
    margin-inline: 0 !important; /* Original: calc(5px + var(--urlbar-container-padding)) */
    width: 100% !important;
    border-inline: none !important;
  }
  #urlbar[open] > #urlbar-background {
    border: none !important;
    /* border-color: var(--arrowpanel-border-color); */
  }
  #urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
    border-color: transparent !important;
  }
  .urlbarView .search-one-offs {
    margin-inline: var(--uc-urlView-full-width-padding) !important;
    width: calc(100% + 2px - var(--uc-urlView-padding-double)) !important;
  }
  .urlbarView-row {
    padding-inline: calc(var(--uc-urlView-full-width-padding) + var(--urlbarView-item-inline-padding)) !important;
    height: 36px !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    border-radius: 0px !important;
  }
  :root:not([lwt-toolbar-field-focus-brighttext="true"]) 
    #urlbar-container > #urlbar {
      --uc-urlbarview-selected-border: rgb(0, 85, 215);
  }
  :root[lwt-toolbar-field-focus-brighttext="true"] 
    #urlbar-container > #urlbar {
      --uc-urlbarview-selected-border: rgb(99, 173, 229);
  }
  .urlbarView-row:not([type="tip"], [type="dynamic"])[selected],
  .urlbarView-row[selected] {
    box-shadow: 3.5px 0 var(--uc-urlbarview-selected-border) inset !important;
  }
  :root:not([uidensity=compact]) .urlbarView-row:not([type=tip], [type=dynamic]) {
    max-height: 36px;
  }
  #urlbar > hbox[id] { /* left icons in urlbar */
    --uc-urlView-padding: calc(8.5px + var(--urlbar-container-padding));
    --uc-urlView-full-width-padding: var(--uc-urlView-padding);
    padding-left: calc(var(--uc-urlView-full-width-padding)) !important; /* same as padding .urlbarView-row from above = 6.1px */
  }
  /* .urlbarView-row[type="bookmark"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon {
    content: url("./../images/star-filled.svg") !important;
    fill: var(--button-primary-bgcolor) !important;
  } */
  .urlbarView-row[type="bookmark"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-type-icon {
    display: none;
    background-image: url("./../images/star-filled.svg") !important;
    fill: var(--button-primary-bgcolor) !important;
  }
  .urlbarView-row[selected] > .urlbarView-row-inner > .urlbarView-url {
     color: var(--win-urlbar-popup-accent-color, var(--link-color)) !important;
  }
  .urlbarView-row:is([type=switchtab], [type=remotetab]) > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
    background-color: var(--urlbar-box-bgcolor) !important; /* --urlbar-box-focus-bgcolor */
    border: 1px solid var(--focus-outline-color); /* 131 ipv 133 */
  }
  .urlbarView-row:is([type=switchtab], [type=remotetab]):is([selected]) > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action:hover {
    background-color: var(--toolbarbutton-hover-background) !important; /* 220 ipv 218 */
    border-color: var(--checkbox-checked-bgcolor) !important; /* 118 ipv 120 */
  }
  .urlbarView-row:is([type=switchtab], [type=remotetab]):is(:hover) > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action:hover {
    background-color: var(--toolbarbutton-active-background) !important; /* 207 */
    border-color: var(--checkbox-checked-bgcolor) !important; /* 118 ipv 120 */
  }
}
#urlbar[actiontype="switchtab"] > #urlbar-input-container > #urlbar-label-box {
  display: none !important;
}
/*- URL View -----------------------------------------------------------*/
@supports -moz-bool-pref("userChrome+Content.urlview.always_show_page_actions") {
  #urlbar:not([breakout-extend="true"]) #pageActionButton {
    display: block !important;
    visibility: visible !important;
  }
}
