/*- Sound Tab - Hide and Show Label -------------------------------------------------*/
/* Hide Label */
@media (not (-moz-bool-pref: "userChrome+Content.tab.show_sound_label")) {
  .tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]) {
    display: none !important;
  }
}
/* Show Label */
@media (-moz-bool-pref: "userChrome+Content.tab.show_sound_label") {
  .tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]) {
    display: flex !important;
  }
  .tab-icon-sound-label {
    transform: translateY(-3px);
  }
}
