/*- Sound Tab - Show with Favicons ----------------------------------- I'VE CHANGED -*/
/*** https://www.userchrome.org/firefox-89-styling-proton-ui.html ***/
/* Mute button width and height */
#TabsToolbar {
  --user-mute-button-height: 16px;
}
/* Margin button */
.tabbrowser-tab {
  --user-mute-button-margin-left: calc(var(--user-mute-button-height) + 3px);
  --user-mute-button-margin-right: 3px;
}
.tabbrowser-tab:-moz-locale-dir(rtl) {
  --user-mute-button-margin-left: 3px;
  --user-mute-button-margin-right: calc(var(--user-mute-button-height) + 3px);
}
/* Makes the favicons always visible (also on hover) */
.tab-icon-image:not([pinned]) {
  opacity: 1 !important;
}
/* Makes the overlay icon visible */
.tab-icon-overlay {
  opacity: 1 !important;
}
/* Move the mute & unmute button to the right and enlarge it */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) {
  width: var(--user-mute-button-height) !important;
  height: var(--user-mute-button-height) !important;
  margin-left: var(--user-mute-button-margin-left) !important; /* pushes icon to the right */
  margin-right: var(--user-mute-button-margin-right) !important; /* space before the text */
  padding: 0 !important; /* allows icon to expand to full size */
}
/* Icons replacements */
.tab-icon-overlay[soundplaying]:not([pinned], [sharing], [crashed]),
.all-tabs-secondary-button[soundplaying] {
  list-style-image: url("./../../images/audio.svg") !important;
}
.tab-icon-overlay[muted]:not([pinned], [sharing], [crashed]),
.all-tabs-secondary-button[muted] {
  list-style-image: url("./../../images/audio-muted.svg") !important;
}
/* Animate */
@media (prefers-reduced-motion: no-preference) {
  .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) {
    transition: 0.1s var(--animation-easing-function);
  }
  .tab-label-container > .tab-label {
    transition: transform 0.25s var(--animation-easing-function);
  }
}
/* Border Radius */
.tab-icon-overlay[soundplaying]:not([crashed], [pinned]),
.tab-icon-overlay[muted]:not([crashed], [pinned]),
.tab-icon-overlay[activemedia-blocked]:not([crashed], [pinned]) {
  border-radius: 2px !important; /* same as close button */
}
/* Hide muted icon when not soundplaying */
@supports -moz-bool-pref("userChrome+Content.tab.show_muted_icon_when_soundplaying.only") {
  tab:not([style^="--soundplaying-removal-delay"]) .tab-icon-overlay[muted] {
    display: none !important;
  }
}
@supports -moz-bool-pref("userChrome+Content.tab.show_(un)muted_icon_pinned") {
  .tab-icon-stack[pinned]:is([sharing], [soundplaying], [muted]) > .tab-icon-image {
    display: none !important;
  }
  /* Mute & unmute icon replacement */
  .tab-icon-overlay[pinned][soundplaying]:not([sharing], [crashed]) {
    list-style-image: url("./../../images/audio.svg") !important;
  }
  .tab-icon-overlay[pinned][muted]:not([sharing], [crashed]) {
    list-style-image: url("./../../images/audio-muted.svg") !important;
  }
  /* Move the mute & unmute button and enlarge it */
  .tab-icon-overlay[pinned]:not([crashed], [sharing]):is([soundplaying], [muted]) {
    width: var(--user-mute-button-height) !important;
    height: var(--user-mute-button-height) !important;
    padding: 0 !important; /* allows icon to expand to full size */
    top: 0 !important; /* align button with site icon */
    inset-inline-end: 0px !important;
  }
  /* Hover */
  .tab-icon-overlay[pinned][soundplaying]:not([crashed]),
  .tab-icon-overlay[pinned][muted]:not([crashed]),
  .tab-icon-overlay[pinned][activemedia-blocked]:not([crashed]) {
    border-radius: 2px !important; /* same as close button */
  }
  /* Border Radius */
  .tab-icon-overlay[pinned]:not([crashed], [sharing]):is([soundplaying], [muted]):hover {
    background-color: color-mix(in srgb, currentColor 15%, transparent) !important;
    fill-opacity: 0.95 !important;
  }
}


.tab-icon-overlay[activemedia-blocked] {
  list-style-image: url("./../../images/permissions/audioplay-media-blocked.svg") !important;
}
.tab-sharing-icon-overlay[sharing="camera"] {
  list-style-image: url("./../../images/permissions/camera.svg") !important;
}
.tab-sharing-icon-overlay[sharing="microphone"] {
  list-style-image: url("./../../images/permissions/microphone.svg") !important;
}
.tab-sharing-icon-overlay[sharing="screen"] {
  list-style-image: url("./../../images/permissions/screen.svg") !important;
}