/** Sound Tab - Show with Favicons ******************************************** I'VE CHANGED **/
/*** https://www.userchrome.org/firefox-89-styling-proton-ui.html ***/
/* Makes the favicons always visible (also on hover) */
.tab-icon-image:not([pinned]) {
  opacity: 1 !important;
}
/* Move the mute & unmute button to the right and enlarge it */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) {
  width: 16px !important;
  height: 16px !important;
  margin-left: 19px !important; /* pushes icon to the right */
  margin-right: 3px !important; /* closes up some space before the text */
  padding: 0 !important; /* allows icon to expand to full size */
}
/* Mute & unmute icon replacement */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying]) {
  list-style-image: url("./../../images/audio.svg") !important;
}
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([muted]) {
  list-style-image: url("./../../images/audio-muted.svg") !important;
}
/* Animate */
@media (prefers-reduced-motion: no-preference) {
  .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) {
    transition: 0.1s var(--animation-easing-function);
  }
  .tab-label-container > .tab-label {
    transition: transform 0.25s var(--animation-easing-function);
  }
}