/** Library - Icons Replace **********************************************************/
/*= Standard Folder ====================================================*/
/*= Other Folder =======================================================*/
/*= Default Icon - Overide =============================================*/
@import "./folder_icons.css";
/*= Menubar - Icons ====================================================*/
@import "./menubar.css";
