/*= Standard Folder =================================================================*/
/* on Toolbar and Menus */
:-moz-any(#PlacesToolbar, #BMB_bookmarksPopup, #bookmarksMenu) .bookmark-item[container="true"]:not([query="true"], [tagContainer], [dayContainer]),
/* in Sidebar, Library, Add/Edit Bookmark dialog */
/* https://github.com/rillian/firefox/blob/1f88437d263f56bdede4f20f69ba9c7b62f57001/layout/style/nsCSSAnonBoxList.h#L85-L98 */
/* Need to overide!!, can not use :not() */
:-moz-any(#bookmarks-view, #historyTree, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(title, container),
#editBMPanel_folderMenuList:not([selectedGuid="toolbar_____"], [selectedGuid="menu________"]),
#editBMPanel_folderMenuList .folder-icon:not([id]),
#editBMPanel_chooseFolderMenuItem {
  list-style-image: url("./../images/bookmark-folder.svg") !important;
}
/* Standard Folder - Open */
:-moz-any(#bookmarks-view, #historyTree, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(title, container, open) {
  list-style-image: url("./../images/bookmark-folder-open.svg") !important;
}
/*= Other Folder ====================================================================*/
/* on Menus */
#PlacesToolbar #OtherBookmarks,
#BMB_bookmarksPopup #BMB_unsortedBookmarks,
#bookmarksMenuPopup #menu_unsortedBookmarks,
/* Other Bookmarks -- in Sidebar, Library, Add/Edit Bookmark dialog */
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, OrganizerQuery_UnfiledBookmarks),
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, queryFolder_unfiled_____),
#editBMPanel_unfiledRootItem,
#editBMPanel_folderMenuList[selectedGuid="unfiled_____"] {
  list-style-image: url("./../images/bookmark-folder.svg") !important;
}
/*= Default Icon - Overide ==========================================================*/
/* https://github.com/mozilla/gecko-dev/blob/master/browser/themes/shared/places/tree-icons.css */
/* Query */
:-moz-any(#historyTree, #placesList, #placeContent) treechildren::-moz-tree-image(title, query) {
  list-style-image: url("./../images/bookmark-folder.svg") !important;
}
/* History */
:-moz-any(#historyTree, #placesList, #placeContent) treechildren::-moz-tree-image(title, query, dayContainer) {
  list-style-image: url("./../images/clock.svg") !important;
}
:-moz-any(#historyTree, #placesList, #placeContent) treechildren::-moz-tree-image(title, query, hostContainer) {
  list-style-image: url("./../images/calender-later.svg") !important;
}
:-moz-any(#historyTree, #placesList, #placeContent) treechildren::-moz-tree-image(query, OrganizerQuery_history____v) {
  list-style-image: url("./../images/history.svg") !important;
}
/* Downloads */
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, OrganizerQuery_downloads__v) {
  list-style-image: url("./../images/downloads.svg") !important;
}
/* Tag */
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(title, query, tagContainer),
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, OrganizerQuery_tags_______v) {
  list-style-image: url("chrome://browser/skin/places/tag.svg") !important;
}
/* Bookmark */
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, OrganizerQuery_allbms_____v) {
  list-style-image: url("./../images/star-line-horizontal.svg") !important;
}
/* Bookmark Toolbar */
#BMB_bookmarksPopup #BMB_bookmarksToolbar,
#bookmarksMenuPopup #bookmarksToolbarFolderMenu,
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, queryFolder_toolbar_____),
#editBMPanel_folderMenuList[selectedGuid="toolbar_____"],
#editBMPanel_toolbarFolderItem {
  list-style-image: url("./../images/bookmarks-toolbar.svg") !important;
}
/* Bookmark Menu */
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, queryFolder_menu________),
#editBMPanel_folderMenuList[selectedGuid="menu________"],
#editBMPanel_bmRootItem {
  list-style-image: url("./../images/bookmark-folder.svg") !important;
}
