@supports -moz-bool-pref("outlook2003.theme") {
  /* COMMON */
  :host, :root {
    --in-content-button-background: rgb(225, 225, 225) !important;
    --in-content-button-background-hover: rgb(229, 241, 251) !important;
    --in-content-button-background-active: rgb(204, 228, 247) !important;
    --in-content-button-border-radius: 0px !important;
    --in-content-focus-outline-color: var(--button-border-color) !important;
  }
}