@supports -moz-bool-pref("outlook2003.theme") {
  /* EXTENSIONS */
  popupset > panel#webextension-remote-preload-panel {
    scale: 80%;
    transform-origin: top right;
  }
  :is(menupopup, panel)[type="arrow"] {
    --panel-border-radius: 0px !important;
    --panel-padding: 0.5px !important;
  }
}