@supports -moz-bool-pref("outlook2003.theme") {
  /* FOLDERMENUS */
  /* ::::: Folder icons for menus   ::::: */
  /* Folders */
  .folderMenuItem {
    list-style-image: url("./../images/folder.ico") !important;
  }
  /* Special folders */
  .folderMenuItem[SpecialFolder="Inbox"] {
    list-style-image: url("./../images/inbox.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Sent"] {
    list-style-image: url("./../images/sent.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Outbox"] {
    list-style-image: url("./../images/outbox.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Drafts"] {
    list-style-image: url("./../images/concepts.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Templates"] {
    list-style-image: url("./../images/concepts.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Junk"] {
    list-style-image: url("./../images/spam-folder.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Trash"] {
    list-style-image: url("./../images/trash.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Virtual"] {
    list-style-image: url("./../images/search-folder.ico") !important;
  }
  /* IMAP/POP server */
  .folderMenuItem[IsServer="true"] {
    list-style-image: url("./../images/server.ico") !important;
  }
  /* Local server */
  .folderMenuItem[IsServer="true"][ServerType="none"] {
    list-style-image: url("./../images/home.ico") !important;
  }
  /* Feed server */
  .folderMenuItem[IsServer="true"][ServerType="rss"] {
    list-style-image: url("./../images/feeds.ico") !important;
  }
}