@supports -moz-bool-pref("outlook2003.theme") {
  /* FOLDERPANE */
  .tabmail-tab[type="folder"] {
    list-style-image: url("./../images/folder.ico") !important;
  }
  /* ::::: Folder Pane ::::: */
  treechildren::-moz-tree-image(folderNameCol) {
    list-style-image: url("./../images/folder.ico") !important;
  }
  /* ..... Inbox ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Inbox"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox),
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, newMessages-true) {
    list-style-image: url("./../images/inbox.ico") !important;
  }
  /* ..... Sent ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Sent"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
    list-style-image: url("./../images/sent.ico") !important;
  }
  /* ..... Outbox ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Outbox"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
    list-style-image: url("./../images/outbox.ico") !important;
  }
  /* ..... Drafts ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Drafts"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) {
    list-style-image: url("./../images/concepts.ico") !important;
  }
  /* ..... Trash ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Trash"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
    list-style-image: url("./../images/trash.ico") !important;
  }
  /* ..... Templates ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Templates"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
    list-style-image: url("./../images/concepts.ico") !important;
  }
  /* ..... Junk ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Junk"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
    list-style-image: url("./../images/spam-folder.ico") !important;
  }
  /* ..... Saved Search Folder ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Virtual"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
    list-style-image: url("./../images/search-folder.ico") !important;
  }
  /* ..... Mail server  ..... */
  .tabmail-tab[type="folder"][IsServer="true"],
  treechildren::-moz-tree-image(folderNameCol, isServer-true) {
    list-style-image: url("./../images/server.ico") !important;
  }
  /* ..... Local folders ..... */
  .tabmail-tab[type="folder"][IsServer="true"][ServerType="none"],
  treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
    list-style-image: url("./../images/home.ico") !important;
  }
  /* ::::: Folder Summary Popup ::::: */
  #folderTree treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
    background-image: none !important;
  }
  /* treechildren::-moz-tree-image(folderNameCol, newMessages-true) {
    list-style-image: url("./../images/folder.ico") !important;
  } */
  treechildren::-moz-tree-cell-text(folderNameCol, isServer-true, biffState-NewMail),
  treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
  treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true) {
    color: black !important;
  }
}