@supports -moz-bool-pref("outlook2003.theme") {
  /* GETSENDBUTTON */
  /* messenger window additional button 'Send all' */
  #GetSendButton_S_all,
  #tabbar-toolbar #GetSendButton_S_all,
  #GetSendButton_messenger_menupopup_sendUnsent,
  #GetSendButton_messenger_menupopup_sendUnsent[disabled="true"] {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 24px 48px 0px) !important;
  }
  #GetSendButton_messenger_menupopup_sendUnsent[disabled="true"],
  #GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
    opacity: var(--win-disabled-icon-opacity) !important;
  }
  #GetSendButton_messenger_menupopup_SyncFlagged,
  #GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
    list-style-image: url("./../images/star.ico") !important;
  }
  /* Get all / auth messages */
  #GetSendButton_messenger_menupopup_ReceiveAll,
  #GetSendButton_messenger_menupopup_ReceiveAuth,
  #button-getsendbutton {
    list-style-image: url("./../images/sent-get.ico") !important;
  }
}