@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
    /** GLOBAL ***************************************************************************/
    :root {
      --default-focusring-width: 2px;
      --default-focusring: var(--default-focusring-width) dotted;
      --focus-outline-width: 2px;
      --focus-outline-color: -moz-accent-color;
      --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
      --focus-outline-inset: calc(-1 * var(--focus-outline-width));
      --focus-outline-offset: 2px;
      --arrowpanel-border-radius: 4px !important;
      --arrowpanel-padding: 8px !important;
      --arrowpanel-dimmed: var(--win-menuitem-hover-background-color) !important;
      --arrowpanel-dimmed-further: var(--win-menuitem-active-background-color) !important;
      --arrowpanel-dimmed-even-further: var(--win-menuitem-active-background-color) !important;
    }
    @media (-moz-windows-non-native-menus) {
      :host, :root {
        /* Override some menu color variables for light browser themes. */
        --menuitem-hover-background-color: var(--win-menuitem-hover-background-color) !important;
        --menuitem-disabled-hover-background-color: var(--win-menuitem-disabled-hover-background-color) !important;
        --menu-border-color: var(--win-menubar-border-color) !important;
        --menu-icon-opacity: 1 !important;
        /* Declare menu colors for dark themes, but don't override anything yet. */
        --dark-menuitem-hover-background-color: var(--win-menuitem-hover-background-color) !important;
        --dark-menuitem-disabled-hover-background-color: var(--win-menuitem-disabled-hover-background-color) !important;
        --dark-menu-border-color: var(--win-menubar-border-color) !important;
        --dark-menu-icon-opacity: 1;
      }
      /* Override the menu color variables for dark browser themes. */
      @media (prefers-color-scheme: dark) {
        :root {
          --menuitem-hover-background-color: var(--win-menuitem-hover-background-color) !important;
          --menuitem-disabled-hover-background-color: var(--win-menuitem-disabled-hover-background-color) !important;
          --menu-border-color: var(--win-menubar-border-color) !important;
          --menu-icon-opacity: 1 !important;
        }
      }
    }
  }
}