@supports -moz-bool-pref("outlook2003.theme") {
  /* GLOBAL */
  :root {
    --arrowpanel-border-radius: 4px !important;
    --arrowpanel-padding: 8px !important;
    --arrowpanel-dimmed: var(--win-menuitem-hover-background-color) !important;
    --arrowpanel-dimmed-further: var(--win-menuitem-active-background-color) !important;
    --arrowpanel-dimmed-even-further: var(--win-menuitem-active-background-color) !important;
  }
  @media (-moz-windows-non-native-menus) {
    :host,
    :root {
      /* Override some menu color variables for light browser themes. */
      --menuitem-hover-background-color: var(--win-menuitem-hover-background-color) !important;
      --menuitem-disabled-hover-background-color: var(--win-menuitem-disabled-hover-background-color) !important;;
      --menu-border-color: var(--win-border-color) !important;
      /* Declare menu colors for dark themes, but don't override anything yet. */
      --dark-menuitem-hover-background-color: var(--win-menuitem-hover-background-color) !important;
      --dark-menuitem-disabled-hover-background-color: var(--win-menuitem-disabled-hover-background-color) !important;
    }
  }
}