/** Icons *************************************************************************/
@import "./icons/icons.css";
/** FolderMenus *******************************************************************/
@import "./icons/folderMenus.css";

/** GLOBAL ************************************************************************/
@import "./icons/global.css";
/** SPACESTOOLBAR *****************************************************************/
@import "./icons/spacesToolbar.css";
/** MENU **************************************************************************/
@import "./icons/menu.css";
/** CONTEXTMENU *******************************************************************/
@import "./icons/contextMenu.css";
/** MESSAGEICONS ******************************************************************/
@import "./icons/messageIcons.css";
/** MESSAGEBAR ********************************************************************/
@import "./icons/messageBar.css";
/** TABMAIL ***********************************************************************/
/* @import "./icons/tabMail.css"; */
/** PRIMARYTOOLBAR ****************************************************************/
@import "./icons/primaryToolbar.css";
/** PANELUI ***********************************************************************/
@import "./icons/panelUI.css";
/** GETSENDBUTTON *****************************************************************/
@import "./icons/getsent-button.css";
/** TOOLBARBUTTON *****************************************************************/
@import "./icons/toolbarButton.css";
/** MESSAGEHEADER *****************************************************************/
@import "./icons/messageHeader.css";
/** MESSENGERCOMPOSE **************************************************************/
@import "./icons/messengerCompose.css";
/** ADDRESSBOOK *******************************************************************/
@import "./icons/addressBook.css";
/** ACCOUNTCENTRAL ****************************************************************/
@import "./icons/accountCentral.css";
/** ACCOUNTMANAGER ****************************************************************/
@import "./icons/accountManager.css";


@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
/** CHECKBOX & RADIO **************************************************************/
  /*= CHECKBOX =========================================================*/
    /* ..... disabled state ..... */
    checkbox[disabled="true"] {
      opacity: var(--win-disabled-icon-opacity) !important; /* 0.6 */
    }
    /* ::::: checkmark image ::::: */
    .checkbox-check {
      color: transparent !important; /* var(--win-checkbox-color) */
      background-color: rgb(255, 255, 255) !important; /* var(--win-checkbox-bgcolor) */
      border: 1px solid rgb(51, 51, 51) !important; /* var(--win-checkbox-border-color) */
      border-radius: 0px !important;
    }
    /* .checkbox-check:not([native]) {
      height: 16px;
      width: 16px;
    } */
    checkbox:not([disabled="true"]):is(:hover, :active) > .checkbox-check {
      background-color: rgb(255, 255, 255) !important; /* var(--win-checkbox-bgcolor) */
      border-color: rgb(0, 120, 215) !important; /* var(--win-checkbox-hover-border-color) */
    }
    checkbox:not([disabled="true"]):hover:active > .checkbox-check {
      background-color: rgb(204, 228, 247) !important; /* var(--win-checkbox-active-bgcolor) */
      border-color: rgb(0, 84, 153) !important; /* var(--win-checkbox-active-border-color) */
    }
    .checkbox-check[checked] {
      border: 1px solid rgb(51, 51, 51) !important; /* var(--win-checkbox-border-color) */
      background-color: rgb(255, 255, 255) !important; /* var(--win-checkbox-bgcolor) */
      background-image: url("./../images/check.svg") !important; /* var(--outl-icon-check) */
      fill: rgb(51, 51, 51) !important; /* var(--win-checkbox-border-color) */
      color: transparent !important; /* var(--win-checkbox-color) */
      border-radius: 0px !important;
    }
    checkbox:not([disabled="true"]):is(:hover, :active) > .checkbox-check[checked] {
      background-color: rgb(255, 255, 255) !important; /* var(--win-checkbox-bgcolor) */
      border-color: rgb(0, 120, 215) !important; /* var(--win-checkbox-hover-border-color) */
      fill: rgb(0, 120, 215) !important; /* var(--win-checkbox-hover-border-color) */
    }
    checkbox:not([disabled="true"]):hover:active > .checkbox-check[checked] {
      background-color: rgb(204, 228, 247) !important; /* var(--win-checkbox-active-bgcolor) */
      border-color: rgb(0, 84, 153) !important; /* var(--win-checkbox-active-border-color) */
      fill: rgb(0, 84, 153) !important; /* var(--win-checkbox-active-border-color) */
    }
    /* checkbox:not([native]):focus-visible > .checkbox-check {
      outline: var(--focus-outline);
      outline-offset: var(--focus-outline-offset);
    } */
  /*= RADIO ============================================================*/
  }
}