@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {
/** ICONS-LAYOUT ******************************************************************/
/** SPACESTOOLBAR *****************************************************************/
  #collapseButton img {
    width: calc(var(--spaces-icon-size) / 1.5) !important;
    height: calc(var(--spaces-icon-size) / 1.5 / 8 * 5) !important;
  }
  #collapseButton {
    transform: translateX(2.6666px) !important;
  }
  #spacesPopupButtonReveal image {
    width: calc(var(--spaces-icon-size) / 1.5) !important;
    height: calc(var(--spaces-icon-size) / 1.5 / 8 * 5) !important;
    transform: translateX(2.6666px) translateY(-4.6667px) scaleX(-1) !important;
  }
  /* Dark Mode */
  @media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
    #collapseButton:not(:hover:not([disabled="true"]:hover), [open="true"]) img,
    #spacesPopupButtonReveal:not(:hover:not([disabled="true"]:hover), [open="true"]) image {
      filter: invert(1) !important;
    }
  }
/** MAILWINDOW ********************************************************************/
  /* ::::: thread decoration ::::: */
  treecol#unreadButtonColHeader > .treecol-icon {
    color: transparent !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  treecol#attachmentCol > .treecol-icon {
    color: transparent !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
/** MESSAGEICONS ******************************************************************/
  /* ..... read column ..... */
  treechildren::-moz-tree-image(unreadButtonColHeader) {
    height: 14px !important;
    width: 14px !important;
  }
  treechildren::-moz-tree-image(unreadButtonColHeader, unread) {
    height: 14px !important;
    width: 14px !important;
    stroke-opacity: 0 !important;
  }
  /* ..... attachment column ..... */
  treechildren::-moz-tree-image(attachmentCol, attach) {
    height: 14px !important;
    width: 14px !important;
  }
/** TREE **************************************************************************/
  /* ::::: twisty :::::  */
  treechildren::-moz-tree-twisty {
    padding-right: 4px !important;
    padding-top: 1px !important;
    width: 9px !important; /* The image's width is 9 pixels */
  }
  treechildren::-moz-tree-twisty(open) {
    width: 9px !important; /* The image's width is 9 pixels */
  }
  treechildren::-moz-tree-indentation {
    width: 18px !important;
  }
/** MESSAGEBAR ********************************************************************/
  :host([message-bar-type=infobar]) {
    --close-icon-size: 18px !important;
  }
  .container.infobar {
    height: 24px !important;
  }
/** GETSENDBUTTON *****************************************************************/
  #GetSendButton_messenger_menupopup_sendUnsent[disabled="true"],
  #GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
    opacity: var(--outl-win-disabled-icon-opacity) !important;
  }
/** PRIMARYTOOLBAR ****************************************************************/
  .delete-button {
    width: 23.3333px !important;
  }
  .delete-button > .toolbarbutton-text {
    display: none !important;
  }
  #button-print > .toolbarbutton-text {
    display: none !important;
  }
  #button-file > .toolbarbutton-text {
    display: none !important;
  }
  #button-file > dropmarker {
    visibility: collapse !important;
  }
/** DROPMARKER ********************************************************************/
  /* Dark Mode 
  @media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
    toolbarbutton:not(.toolbarbutton-1):not(:hover:not([disabled="true"]:hover), [open="true"]) .toolbarbutton-menu-dropmarker,
    toolbarbutton:not(.toolbarbutton-1):not(:hover:not([disabled="true"]:hover), [open="true"]) > .toolbarbutton-menubutton-dropmarker,
    :is(toolbar, popupset) menupopup > menu:not(:hover:not([disabled="true"]:hover), [open="true"])::after,
    menulist .menu-right {
      filter: invert(1) !important;
    }
  } */
/** MESSENGERCOMPOSE **************************************************************/
  /* Dark Mode */
  @media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
    #FormatToolbar > toolbarbutton:is(#DecreaseFontSizeButton, #IncreaseFontSizeButton, #boldButton, #italicButton, #underlineButton, #ulButton, 
       #olButton, #outdentButton, #indentButton, #AlignPopupButton):not(:hover:not([disabled="true"]:hover), [open="true"]) .toolbarbutton-icon,
    #AbsoluteFontSizeButton:not([disabled="true"]):is(:hover, [open="true"]) > .toolbarbutton-icon,
    #removeStylingButton:not([disabled="true"]):hover > .toolbarbutton-icon,
    .formatting-button:not(:hover:not([disabled="true"]:hover), [open="true"]) > .toolbarbutton-menu-dropmarker,
    #AlignPopupButton menuitem:not([disabled="true"], :hover, :active) .menu-iconic-icon,
    #InsertPopup > menuitem:not([disabled="true"],:hover, :active):is(#InsertHRuleItem, #InsertTableItem) .menu-iconic-icon {
      filter: invert(1) !important;
    }
  }
/** ADDRESSBOOK *******************************************************************/
  .bookRow-icon,
  .listRow-icon {
    background-size: contain;
  }
  /* ::::: results pane ::::: */
  treechildren::-moz-tree-image(GeneratedName),
  treechildren::-moz-tree-image(GeneratedName, MailList) {
    height: 16px;
  }
/** ACCOUNTCENTRAL ****************************************************************/
  #rssSubscriptionButton::before,
  #readButton::before,
  #composeButton::before,
  #searchButton::before,
  #supportLink::before,
  #settingsButton::before,
  #e2eButton::before {
    background-size: contain;
  }
/** ACCOUNTMANAGER ****************************************************************/
  #accounttree li:not(.children) .twisty-icon {
    display: none;
  }
  #accounttree li.children.collapsed .twisty-icon,
  #accounttree li.children.collapsed:dir(rtl) .twisty-icon {
    transform: none !important;
  }
  #accounttree li div.icon {
    background-size: 16px;
  }
/** PREFERENCES *******************************************************************/
  menulist.folderMenuItem:not(.menuitem-iconic) {
    padding: 0 6px 0 24px !important;
    list-style-image: none !important;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 6px center;
  }
}
}