@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
/** ICONS *****************************************************************/
    /* Folder Icons */
    #folderPaneGetMessages {
      background-image: var(--outl-icon-get-mail) !important;
    }
    #itemGetAllNewMessages {
      list-style-image: var(--outl-icon-get-mail) !important;
    }
    #folderPaneMoreButton {
      background-image: var(--folder-pane-icon-more);
    }
    #folderPaneWriteMessage {
      background-image: var(--outl-icon-new-mail) !important;
    }
    #folderTree .icon {
      background-image: var(--outl-icon-folder) !important;
    }    
    #folderTree li:is([data-server-type="imap"], [data-server-type="pop3"]) > .container > .icon {
      background-image: var(--outl-icon-server) !important;
    }
    menuitem.server:is([data-server-type="imap"], [data-server-type="pop3"]) {
      list-style-image: var(--outl-icon-server) !important;
    }
    #folderTree li:is([data-server-type="imap"], [data-server-type="pop3"])[data-server-secure="true"] > .container > .icon {
      background-image: var(--outl-icon-server) !important;
    }
    menuitem.server:is([data-server-type="imap"], [data-server-type="pop3"])[data-server-secure="true"] {
      list-style-image: var(--outl-icon-server) !important;
    }
    #folderTree li[data-server-type="none"] > .container > .icon {
      background-image: var(--outl-icon-home) !important;
    }
    #folderTree li[data-server-type="nntp"] > .container > .icon {
      background-image: var(--outl-icon-globe) !important;
    }
    menuitem.server[data-server-type="nntp"] {
      list-style-image: var(--outl-icon-globe) !important;
    }
    #folderTree li[data-server-type="nntp"][data-server-secure="true"] > .container > .icon {
      background-image: var(--outl-icon-globe-secure) !important;
    }
    menuitem.server[data-server-type="nntp"][data-server-secure="true"] {
      list-style-image: var(--outl-icon-globe-secure) !important;
    }
    #folderTree li[data-server-type="rss"] > .container > .icon {
      background-image: var(--outl-icon-rss) !important;
    }
    menuitem.server[data-server-type="rss"] {
      list-style-image: var(--outl-icon-rss) !important;
    }
    #folderTree li[data-folder-type="archive"] > .container > .icon {
      background-image: var(--outl-icon-archive) !important;
    }
    #folderTree li[data-folder-type="drafts"] > .container > .icon {
      background-image: var(--outl-icon-draft) !important;
    }
    #folderTree li[data-folder-type="inbox"] > .container > .icon {
      background-image: var(--outl-icon-inbox) !important;
    }
    #folderTree li[data-folder-type="junk"] > .container > .icon {
      background-image: var(--outl-icon-spam) !important;
    }
    #folderTree li[data-folder-type="outbox"] > .container > .icon {
      background-image: var(--outl-icon-outbox) !important;
    }
    #folderTree li[data-folder-type="sent"] > .container > .icon {
      background-image: var(--outl-icon-sent-folder) !important;
    }
    #folderTree li[data-folder-type="templates"] > .container > .icon {
      background-image: var(--outl-icon-template) !important;
    }
    #folderTree li[data-folder-type="trash"] > .container > .icon {
      background-image: var(--outl-icon-trash) !important;
    }
    #folderTree li[data-folder-type="virtual"] > .container > .icon {
      background-image: var(--outl-icon-folder-filter) !important;
    }
    #folderTree li[data-server-type="nntp"] ul .icon {
      background-image: var(--outl-icon-newsletter) !important;
    }
    #folderTree li[data-is-busy="true"] > .container > .icon {
      content: var(--icon-clock) !important;
    }
    #folderTree li[data-has-error="true"] > .container > .icon {
      content: var(--outl-icon-warning) !important;
    }
    #folderTree li[data-tag-key] > .container > .icon {
      background-image: var(--outl-icon-tag) !important;
    }
    #folderTree li.children > .container > .twisty {
      background-image: var(--outl-icon-twisty-open) !important;
    }
    #folderTree li.children.collapsed > .container > .twisty {
      background-image: var(--outl-icon-twisty-closed) !important;
    }
    /* Folder MenuItem Icons */
    .folderMenuItem:not(menulist) {
      list-style-image: var(--outl-icon-folder) !important;
    }
    .folderMenuItem[ServerType="nntp"]:not(menulist) {
      list-style-image: var(--outl-icon-newsletter) !important;
    }
    .folderMenuItem[IsFeedFolder="true"]:not(menulist) {
      list-style-image: var(--outl-icon-folder-rss) !important;
    }
    .folderMenuItem[SpecialFolder="Inbox"]:not(menulist) {
      list-style-image: var(--outl-icon-inbox) !important;
    }
    .folderMenuItem[SpecialFolder="Sent"]:not(menulist) {
      list-style-image: var(--outl-icon-sent-folder) !important;
    }
    .folderMenuItem[SpecialFolder="Outbox"]:not(menulist) {
      list-style-image: var(--outl-icon-outbox) !important;
    }
    .folderMenuItem[SpecialFolder="Drafts"]:not(menulist) {
      list-style-image: var(--outl-icon-draft) !important;
    }
    .folderMenuItem[SpecialFolder="Templates"]:not(menulist) {
      list-style-image: var(--outl-icon-templates) !important;
    }
    .folderMenuItem[SpecialFolder="Junk"]:not(menulist) {
      list-style-image: var(--outl-icon-spam) !important;
    }
    .folderMenuItem[SpecialFolder="Trash"]:not(menulist) {
      list-style-image: var(--outl-icon-trash) !important;
    }
    .folderMenuItem[SpecialFolder="Archive"]:not(menulist) {
      list-style-image: var(--outl-icon-archive) !important;
    }
    .folderMenuItem[SpecialFolder="Virtual"]:not(menulist) {
      list-style-image: var(--outl-icon-folder-filter) !important;
    }
    .folderMenuItem[IsServer="true"][ServerType="imap"][IsSecure="true"]:not(menulist),
    .folderMenuItem[IsServer="true"][ServerType="pop3"][IsSecure="true"]:not(menulist) {
      list-style-image: var(--outl-icon-server) !important;
    }
    .folderMenuItem[IsServer="true"][ServerType="none"]:not(menulist) {
      list-style-image: var(--outl-icon-home) !important;
    }
    .folderMenuItem[IsServer="true"][ServerType="nntp"]:not(menulist) {
      list-style-image: var(--outl-icon-globe) !important;
    }
    .folderMenuItem[IsServer="true"][ServerType="nntp"][IsSecure="true"]:not(menulist) {
      list-style-image: var(--outl-icon-globe-secure) !important;
    }
    .folderMenuItem[IsServer="true"][ServerType="rss"]:not(menulist) {
      list-style-image: var(--outl-icon-rss) !important;
    }
    menulist.folderMenuItem {
      background-image: var(--outl-icon-folder) !important;
    }
    menulist.folderMenuItem[ServerType="nntp"] {
      background-image: var(--outl-icon-newsletter) !important;
    }
    menulist.folderMenuItem[IsFeedFolder="true"] {
      background-image: var(--outl-icon-folder-rss) !important;
    }
    menulist.folderMenuItem[SpecialFolder="Inbox"] {
      background-image: var(--outl-icon-inbox) !important;
    }
    menulist.folderMenuItem[SpecialFolder="Sent"] {
      background-image: var(--outl-icon-sent-folder) !important;
    }
    menulist.folderMenuItem[SpecialFolder="Outbox"] {
      background-image: var(--outl-icon-outbox) !important;
    }
    menulist.folderMenuItem[SpecialFolder="Drafts"] {
      background-image: var(--outl-icon-draft) !important;
    }
    menulist.folderMenuItem[SpecialFolder="Templates"] {
      background-image: var(--outl-icon-templates) !important;
    }
    menulist.folderMenuItem[SpecialFolder="Junk"] {
      background-image: var(--outl-icon-spam) !important;
    }
    menulist.folderMenuItem[SpecialFolder="Trash"] {
      background-image: var(--outl-icon-trash) !important;
    }
    menulist.folderMenuItem[SpecialFolder="Archive"] {
      background-image: var(--outl-icon-archive) !important;
    }
    menulist.folderMenuItem[SpecialFolder="Virtual"] {
      background-image: var(--outl-icon-folder-filter) !important;
    }
    menulist.folderMenuItem[IsServer="true"][ServerType="imap"][IsSecure="true"],
    menulist.folderMenuItem[IsServer="true"][ServerType="pop3"][IsSecure="true"] {
      background-image: var(--outl-icon-server) !important;
    }
    menulist.folderMenuItem[IsServer="true"][ServerType="none"] {
      background-image: var(--outl-icon-home) !important;
    }
    menulist.folderMenuItem[IsServer="true"][ServerType="nntp"] {
      background-image: var(--outl-icon-globe) !important;
    }
    menulist.folderMenuItem[IsServer="true"][ServerType="nntp"][IsSecure="true"] {
      background-image: var(--outl-icon-globe-secure) !important;
    }
    menulist.folderMenuItem[IsServer="true"][ServerType="rss"] {
      background-image: var(--outl-icon-rss) !important;
    }
    menulist > menupopup .menu-right {
      list-style-image: var(--outl-icon-nav-left-sm) !important;
    }
   
    /* Table Columns Icons */
    tr:is([is="thread-row"], [is="thread-card"]) .twisty-icon {
      content: var(--outl-icon-twisty-open) !important;
    }
    tr:is([is="thread-row"], [is="thread-card"]).children.collapsed .twisty-icon {
      content: var(--outl-icon-twisty-closed) !important;
    }
    .tree-button-delete img {
      content: var(--icon-trash-sm);
    }
    .tree-button-restore img {
      content: var(--icon-restore);
    }
    .tree-view-row-thread img {
      content: var(--icon-thread-sm);
    }
    #threadTree tbody [data-properties~="ignore"] .tree-view-row-thread img {
      content: var(--outl-icon-thread-ignored) !important;
    }
    #threadTree tbody [data-properties~="ignoreSubthread"] .tree-view-row-thread img {
      content: var(--outl-icon-subthread-ignored) !important;
    }
    #threadTree tbody [data-properties~="watch"] .tree-view-row-thread img {
      content: var(--outl-icon-eye) !important;
    }
    #attachmentColButton img {
      content: var(--outl-icon-attachment) !important;
    }
    :is(.attachmentcol-column img, .attachment-icon) {
      content: var(--outl-icon-attachment-sm) !important;
    }
    #unreadButtonColHeader img {
      content: var(--outl-icon-unread-sm) !important;
    }
    .tree-view-row-unread img {
      content: var(--outl-icon-unread) !important;
    }
    tr[data-properties~="read"] .tree-view-row-unread img {
      content: var(--outl-icon-read) !important;
    }
    tr[data-properties~="replied"] .tree-view-row-unread img,
    tr[data-properties~="read"][data-properties~="replied"] .tree-view-row-unread img,
    tr[data-properties~="replied"] :is(.subject-line img, .replied) {
      content: var(--outl-icon-reply-col) !important;
    }
    tr[data-properties~="read"][data-properties~="forwarded"]  .tree-view-row-unread img,
    tr[data-properties~="forwarded"] .tree-view-row-unread img,
    tr[data-properties~="read"][data-properties~="forwarded"] :is(.subject-line img, .forwarded),
    tr[data-properties~="forwarded"] :is(.subject-line img, .forwarded) {
      content: var(--outl-icon-forward-col) !important;
    }
    tr[data-properties~="redirected"]:not([data-properties~="replied"], [data-properties~="forwarded"]) .redirected {
      content: none !important;
    }
    .tree-view-header-delete img,
    .tree-view-row-delete img {
      content: var(--icon-trash-sm);
    }

    /* Spaces Icons */
    #spacesButtonMail {
      list-style-image: var(--outl-icon-mail) !important;
    }
    #spacesButtonAddressBook {
      list-style-image: var(--outl-icon-contact) !important;
    }
    #spacesButtonCalendar {
      list-style-image: var(--outl-icon-calendar) !important;
    }
    #spacesButtonTasks {
      list-style-image: var(--outl-icon-tasks) !important;
    }
    #spacesButtonChat {
      list-style-image: var(--outl-icon-chat) !important;
    }
    #mailButton img {
      content: var(--outl-spaces-icon-mail) !important;
    }
    #spacesPopupButtonMail {
      list-style-image: var(--outl-spaces-icon-mail) !important;
    }
    #addressBookButton img {
      content: var(--outl-spaces-icon-address-book) !important;
    }
    #spacesPopupButtonAddressBook {
      list-style-image: var(--outl-icon-contact) !important;
    }
    #calendarButton img {
      content: var(--outl-spaces-icon-calendar) !important;
    }
    #spacesPopupButtonCalendar {
      list-style-image: var(--outl-icon-calendar) !important;
    }
    #tasksButton img {
      content: var(--outl-spaces-icon-tasks) !important;
    }
    #spacesPopupButtonTasks {
      list-style-image: var(--outl-icon-tasks) !important;
    }
    #chatButton img {
      content: var(--outl-spaces-icon-chat) !important;;
    }
    #spacesPopupButtonChat {
      list-style-image: var(--outl-icon-chat) !important;;
    }
    #settingsButton img {
      content: var(--spaces-icon-settings);
    }
    #spacesPopupButtonSettings {
      list-style-image: var(--icon-settings);
    }
    #collapseButton img {
      content: var(--outl-spaces-icon-collapse) !important;
    }
    #spacesPopupButtonReveal {
      list-style-image: var(--outl-icon-collapse) !important;
    }
    #spacesToolbarAddonsOverflowButton img {
      content: var(--outl-spaces-icon-overflow) !important;
    }

    /* Toolbar Icons */
    .unified-toolbar .button-icon {
      content: var(--icon-extension);
    }
    .unified-toolbar .search-button-icon,
    .search-bar .preview-icon {
      content: var(--outl-icon-search) !important;
    }
    .unified-toolbar .write-message .button-icon,
    .write-message .preview-icon {
      content: var(--outl-icon-new-mail) !important;
    }
    .unified-toolbar .move-to .button-icon,
    .move-to .preview-icon {
      content: var(--outl-icon-file) !important;
    }
    .unified-toolbar .unifinder .button-icon,
    .unifinder .preview-icon {
      content: var(--outl-icon-search) !important;
    }
    .unified-toolbar .folder-location .button-icon,
    .folder-location .preview-icon {
      content: var(--outl-icon-folder) !important;
    }
    .unified-toolbar .edit-event .button-icon,
    .edit-event .preview-icon {
      content: var(--outl-icon-pencil) !important;
    }
    .unified-toolbar .get-messages .button-icon,
    .get-messages .preview-icon {
      content: var(--outl-icon-get-mail) !important;
    }
    .unified-toolbar .reply .button-icon,
    .reply .preview-icon {
      content: var(--outl-icon-reply) !important;
    }
    .unified-toolbar .reply-all .button-icon,
    .reply-all .preview-icon {
      content: var(--outl-icon-reply-all) !important;
    }
    .unified-toolbar .reply-to-list .button-icon,
    .reply-to-list .preview-icon {
      content: var(--outl-icon-reply-list) !important;
    }
    .unified-toolbar .redirect .button-icon,
    .redirect .preview-icon {
      content: var(--icon-redirect);
    }
    .unified-toolbar .archive .button-icon,
    .archive .preview-icon {
      content: var(--outl-icon-archive) !important;
    }
    .unified-toolbar .conversation .button-icon,
    .conversation .preview-icon {
      content: var(--icon-conversation);
    }
    .unified-toolbar .previous-unread .button-icon,
    .previous-unread .preview-icon {
      content: var(--outl-icon-nav-up-unread) !important;
    }
    .unified-toolbar .previous .button-icon,
    .previous .preview-icon {
      content: var(--outl-icon-nav-up) !important;
    }
    .unified-toolbar .next-unread .button-icon,
    .next-unread .preview-icon {
      content: var(--outl-icon-nav-down-unread) !important;
    }
    .unified-toolbar .next .button-icon,
    .next .preview-icon {
      content: var(--outl-icon-nav-down) !important;
    }
    .unified-toolbar .junk .button-icon,
    .junk .preview-icon {
      content: var(--outl-icon-junk) !important;
    }
    .unified-toolbar .delete .button-icon,
    .delete .preview-icon {
      content: var(--outl-icon-delete) !important;
    }
    .unified-toolbar .compact .button-icon,
    .compact .preview-icon {
      content: var(--outl-icon-compress) !important;
    }
    .unified-toolbar .add-as-event .button-icon,
    .add-as-event .preview-icon {
      content: var(--outl-icon-new-event) !important;
    }
    .unified-toolbar .add-as-task .button-icon,
    .add-as-task .preview-icon {
      content: var(--outl-icon-new-task) !important;
    }
    .unified-toolbar .tag-message .button-icon,
    .tag-message .preview-icon {
      content: var(--outl-icon-tag) !important;
    }
    .unified-toolbar .forward-inline .button-icon,
    .forward-inline .preview-icon,
    .unified-toolbar .forward-attachment .button-icon,
    .forward-attachment .preview-icon {
      content: var( --outl-icon-forward) !important;
    }
    .unified-toolbar .mark-as .button-icon,
    .mark-as .preview-icon {
      content: var(--outl-icon-unread) !important;
    }
    .unified-toolbar .view-picker .button-icon,
    .view-picker .preview-icon {
      content: var(--outl-icon-eye) !important;
    }
    .unified-toolbar .address-book .button-icon,
    .address-book .preview-icon {
      content: var(--outl-icon-address-book) !important;
    }
    .unified-toolbar .chat .button-icon,
    .chat .preview-icon {
      content: var(--outl-icon-chat) !important;
    }
    .unified-toolbar .add-ons-and-themes .button-icon,
    .add-ons-and-themes .preview-icon {
      content: var(--icon-extension);
    }
    .unified-toolbar .calendar .button-icon,
    .calendar .preview-icon {
      content: var(--outl-icon-calendar) !important;
    }
    .unified-toolbar .tasks .button-icon,
    .tasks .preview-icon {
      content: var(--outl-icon-tasks) !important;
    }
    .unified-toolbar .mail .button-icon,
    .mail .preview-icon {
      content: var(--outl-icon-mail) !important;
    }
    .unified-toolbar .print .button-icon,
    .print .preview-icon {
      content: var(--outl-icon-print) !important;
    }
    .unified-toolbar .quick-filter-bar .button-icon,
    .quick-filter-bar .preview-icon {
      content: var(--outl-icon-search-in-folder) !important;
    }
    .unified-toolbar .synchronize .button-icon,
    .synchronize .preview-icon {
      content: var(--outl-icon-sync) !important;
    }
    .unified-toolbar .new-event .button-icon,
    .new-event .preview-icon {
      content: var(--outl-icon-new-event) !important;
    }
    .unified-toolbar .new-task .button-icon,
    .new-task .preview-icon {
      content: var(--outl-icon-new-task) !important;
    }
    .unified-toolbar .delete-event .button-icon,
    .delete-event .preview-icon {
      content: var(--outl-icon-delete) !important;
    }
    .unified-toolbar .print-event .button-icon,
    .print-event .preview-icon {
      content: var(--outl-icon-print) !important;
    }
    .unified-toolbar .go-to-today .button-icon,
    .go-to-today .preview-icon {
      content: var(--icon-calendar-today);
    }
    .unified-toolbar .go-back .button-icon,
    .go-back .preview-icon {
      content: var(--outl-icon-nav-back) !important;
    }
    .unified-toolbar .go-forward .button-icon,
    .go-forward .preview-icon {
      content: var(--outl-icon-nav-forward) !important;
    }
    .unified-toolbar .stop .button-icon,
    .stop .preview-icon {
      content: var(--outl-icon-close) !important;
    }
    .unified-toolbar-button[popup]::after {
      background-image: var(--outl-icon-nav-down-sm) !important;
    }

    /* Toolbar Dropmarker */
    .toolbarbutton-menu-dropmarker,
    .toolbarbutton-menubutton-dropmarker,
    .toolbarbutton-combined-buttons-dropmarker {
      list-style-image: var(--outl-icon-nav-down-sm) !important;
    }
    
    /* Mail Toolbar Icons */
    #button-getmsg,
    #button-getAllNewMsg,
    #menu_getnewmsgs_all_accounts {
      list-style-image: var(--outl-icon-get-mail) !important;
    }
    #GetSendButton_S_all,
    #tabbar-toolbar #GetSendButton_S_all,
    #GetSendButton_messenger_menupopup_sendUnsent,
    #GetSendButton_messenger_menupopup_sendUnsent[disabled="true"] {
      list-style-image: var(--outl-icon-sent) !important;
    }
    #GetSendButton_messenger_menupopup_SyncFlagged,
    #GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
      list-style-image: var(--outl-icon-star) !important;
    }
    #GetSendButton_messenger_menupopup_ReceiveAll,
    #GetSendButton_messenger_menupopup_ReceiveAuth,
    #button-getsendbutton {
      list-style-image: var(--outl-icon-get-mail) !important;
    }
    #button-newmsg {
      list-style-image: var(--outl-icon-new-mail) !important;
    }
    #button-address {
      list-style-image: var(--outl-icon-contact) !important;
    }
    #button-reply {
      list-style-image: var(--outl-icon-reply) !important;
    }
    #button-replyall {
      list-style-image: var(--outl-icon-reply-all) !important;
    }
    #button-replylist {
      list-style-image: var(--outl-icon-reply-list) !important;
    }
    #button-forward {
      list-style-image: var(--outl-icon-forward) !important;
    }
    #button-redirect {
      list-style-image: var(--icon-redirect);
    }
    .delete-button {
      list-style-image: var(--outl-icon-delete) !important;
    }
    .junk-button {
      list-style-image: var(--outl-icon-junk) !important;
    }
    .junk-button image[label="Niet ongewenst"] {
      list-style-image: var(--outl-icon-no-junk) !important;
    }
    #button-print {
      list-style-image: var(--outl-icon-print) !important;
    }
    #button-stop {
      list-style-image: var(--icon-close);
    }
    #button-file {
      list-style-image: var(--outl-icon-file) !important;
    }
    #button-nextUnread {
      list-style-image: var(--outl-icon-nav-down-unread) !important;
    }
    #button-previousUnread {
      list-style-image: var(--outl-icon-nav-up-unread) !important;
    }
    #button-mark {
      list-style-image: var(--outl-icon-unread) !important;
    }
    #button-mark:has(menuitem#markReadToolbarItem[disabled="true"]) {
      list-style-image: var(--outl-icon-mail) !important;
    }
    #button-tag {
      list-style-image: var(--outl-icon-tag) !important;
    }
    #button-goback {
      list-style-image: var(--icon-nav-back);
    }
    #button-goforward {
      list-style-image: var(--icon-nav-forward);
    }
    #button-compact {
      list-style-image: var(--icon-compress);
    }
    #button-archive {
      list-style-image: var(--outl-icon-archive) !important;
    }
    #button-chat {
      list-style-image: var(--outl-icon-chat) !important;
    }
    #button-nextMsg {
      list-style-image: var(--outl-icon-nav-down) !important;
    }
    #button-previousMsg {
      list-style-image: var(--outl-icon-nav-up) !important;
    }
    #qfb-show-filter-bar {
      list-style-image: var(--outl-icon-filter) !important;
    }
    #button-showconversation {
      list-style-image: var(--icon-conversation);
    }
    #button-addons {
      list-style-image: var(--icon-extension);
    }
    .button-appmenu {
      list-style-image: var(--icon-app-menu);
    }
    .button-appmenu[badge-status="addon-alert"] {
      list-style-image: var(--icon-app-menu-badged);
    }
    #lightning-button-calendar {
      list-style-image: var(--outl-icon-calendar) !important;
    }
    #lightning-button-tasks {
      list-style-image: var(--outl-icon-tasks) !important;
    }
    #extractEventButton {
      list-style-image: var(--outl-icon-new-event) !important;
    }
    #extractTaskButton {
      list-style-image:var(--outl-icon-new-task) !important;
    }
    #palette-box #button-chat {
      background: var(--outl-icon-chat) no-repeat center !important;
    }

    /* AppMenu Icons */
    #appmenu_new {
      list-style-image: none !important; /* var(--outl-icon-account-settings) */
    }
    #appmenu_create,
    #appmenu_newNewMsgCmd {
      list-style-image: var(--outl-icon-new-mail) !important;
    }
    #appmenu_newCreateEmailAccountMenuItem,
    #appmenu_newMailAccountMenuItem {
      list-style-image: var(--outl-icon-mail) !important;
    }
    #appmenu_calendar-new-calendar-menu-item {
      list-style-image: var(--outl-icon-calendar) !important;
    }
    #appmenu_newAB,
    #appmenu_newABMenuItem,
    #appmenu_newCardDAVMenuItem,
    #appmenu_newLdapMenuItem {
      list-style-image: var(--outl-icon-new-address-book) !important;
    }
    #appmenu_newIMAccountMenuItem {
      list-style-image: var(--outl-icon-chat) !important;
    }
    #appmenu_newFeedAccountMenuItem {
      list-style-image: var(--outl-icon-rss) !important;
    }
    #appmenu_newNewsgroupAccountMenuItem {
      list-style-image: var(--outl-icon-newsletter) !important;
    }
    #appmenu_calendar-new-event-menu-item {
      list-style-image: var(--outl-icon-new-event) !important;
    }
    #appmenu_calendar-new-task-menu-item {
      list-style-image: var(--outl-icon-new-task) !important;
    }
    #appmenu_open {
      list-style-image: var(--outl-icon-open) !important;
    }
    #appmenu_OpenMessageFileMenuitem {
      list-style-image: var(--outl-icon-mail) !important;
    }
    #appmenu_OpenCalendarFileMenuitem {
      list-style-image: var(--outl-icon-calendar) !important;
    }
    #appmenu_View {
      list-style-image: var(--outl-icon-eye) !important;
    }
    #appmenu_Toolbars {
      list-style-image: none !important;
    }
    #appmenu_MessagePaneLayout {
      list-style-image: var(--outl-icon-layout) !important;
    }
    #appmenu_FolderViews {
      list-style-image: var(--outl-icon-folder) !important;
    }
    #appMenu-uiDensity-controls .toolbarbutton-icon {
      content: var(--outl-icon-density) !important;
    }
    #appMenu-fontSize-controls .toolbarbutton-icon {
      content: var(--outl-icon-font) !important;
    }
    #appmenu_newCard {
      list-style-image: var(--outl-icon-new-contact) !important;
    }
    #appmenu_addons {
      list-style-image: none !important;
    }
    #appmenu_accountmgr {
      list-style-image: var(--outl-icon-account-settings) !important;
    }
    #appmenu_preferences {
      list-style-image: none !important;
    }
    #appmenu_uiDensityCompact {
      list-style-image: var(--icon-density-compact);
    }
    #appmenu_uiDensityNormal {
      list-style-image: var(--icon-density-default);
    }
    #appmenu_uiDensityTouch {
      list-style-image: var(--icon-density-relaxed);
    }
    #appMenu-fontSizeReduce-button {
      list-style-image: var(--font-size-decrease);
    }
    #appMenu-fontSizeEnlarge-button {
      list-style-image: var(--font-size-increase);
    }
    #appmenu_import {
      list-style-image: var(--outl-icon-import) !important;
    }
    #appmenu_export {
      list-style-image: var(--outl-icon-export) !important;
    }
    #appmenu_searchCmd {
      list-style-image: var(--outl-icon-search) !important;
    }
    #appmenu_filtersCmd {
      list-style-image: var(--outl-icon-filter) !important;
    }
    #appmenu_openSavedFilesWnd {
      list-style-image: var(--outl-icon-open-down) !important;
    }
    #appmenu_manageKeysOpenPGP {
      list-style-image: var(--outl-icon-key) !important;
    }
    #appmenu_activityManager {
      list-style-image: var(--outl-icon-logbook) !important;
    }
    #appmenu_toolsMenu,
    #appmenu_devtoolsToolbox {
      list-style-image: none !important;
    }
    #appmenu_help,
    #appmenu_openHelp {
      list-style-image: var(--outl-icon-help) !important;
    }
    #appmenu_openTour {
      list-style-image: var(--outl-icon-features) !important;
    }
    #appmenu_keyboardShortcuts {
      list-style-image: var(--outl-icon-shortcut) !important;
    }
    #appmenu_getInvolved {
      list-style-image: none !important;
    }
    #appmenu_makeDonation {
      list-style-image: none !important;
    }
    #appmenu_submitFeedback {
      list-style-image: var(--outl-icon-chat) !important;
    }
    #appmenu_troubleshootMode {
      list-style-image: none !important;
    }
    #appmenu_troubleshootingInfo {
      list-style-image: none !important;
    }
    #appmenu_about {
      list-style-image: var(--outl-icon-info) !important;
    }
    #appmenu-quit {
      list-style-image: var(--outl-icon-quit) !important;
    }

    /* MessageHeader Icons */
    .hdrReplyToSenderButton,
    .hdrDummyReplyButton,
    .hdrReplyButton {
      list-style-image: var(--outl-icon-reply) !important;
    }
    .hdrReplyAllButton {
      list-style-image: var(--outl-icon-reply-all) !important;
    }
    .hdrReplyListButton,
    .hdrFollowupButton {
      list-style-image: var(--outl-icon-reply-list) !important;
    }
    .hdrForwardButton {
      list-style-image: var(--outl-icon-forward) !important;
    }
    .hdrArchiveButton {
      list-style-image: var(--outl-icon-archive) !important;
      display: none !important;
    }
    .hdrJunkButton {
      list-style-image: var(--outl-icon-junk) !important;
    }
    .hdrJunkButton image[label="Niet ongewenst"] {
      list-style-image: var(--outl-icon-no-junk) !important;
    }
    .hdrTrashButton {
      list-style-image: var(--outl-icon-delete) !important;
    }
    #attachmentSaveAllSingle,
    #attachmentSaveAllMultiple {
      list-style-image: var(--outl-icon-save) !important;
    }
    #starMessageButton {
      display: none !important;
    }
    #attachmentToggle {
      list-style-image: var(--outl-icon-nav-down-sm) !important;
    }
    #signatureLabel.ok {
      background-image: var(--outl-icon-key-signed) !important;
    }
    #signatureLabel.verified {
      background-image: var(--outl-icon-key-signed) !important;
    }
    #signatureLabel.unverified {
      background-image: var(--outl-icon-key-warning) !important;
    }
    #signatureLabel.unknown {
      background-image: var(--outl-icon-key-unknown) !important;
    }
    #signatureLabel.mismatch,
    #signatureLabel.notok {
      background-image: var(--outl-icon-key-badsigned) !important;
    }
    #encryptionLabel.ok {
      background-image: var(--outl-icon-key-encrypted) !important;
    }
    #encryptionLabel.notok {
      background-image: var(--outl-icon-key-encrypted-notok) !important;
    }
    #openpgpImportButton {
      list-style-image: var(--outl-icon-key) !important;
    }

    /* Message Header Icons */
    .recipient-address-book-button img {
      background-image: var(--outl-icon-avatar);
    }
    button.notification-button.button-menu-list {
      background-image: var(--outl-icon-nav-down-sm) !important;
    }

    /* Messenger Compose Icons */
    .autocomplete-richlistitem[type="local-abook"] > .ac-site-icon {
      list-style-image: var(--outl-icon-contact) !important;
    }
    #attachmentNotificationBox > hbox > .messageImage {
      list-style-image: var(--outl-icon-attachment) !important;
    }
    #button-send {
      list-style-image: var(--outl-icon-sent) !important;
    }
    #button-contacts {
      list-style-image: var(--outl-icon-contact) !important;
    }
    #spellingButton {
      list-style-image: var(--outl-icon-spelling) !important;
    }
    #button-attach {
      list-style-image: var(--outl-icon-attachment-sm) !important;
    }
    #button-encryption {
      list-style-image: var(--outl-icon-key-encrypted-off) !important;
    }
    #button-encryption[checked] {
      list-style-image: var(--outl-icon-key-encrypted) !important;
    }
    #button-encryption-options {
      list-style-image: var(--outl-icon-key) !important;
    }
    #button-signing {
      list-style-image: var(--outl-icon-signing) !important;
    }
    #button-save {
      list-style-image: var(--outl-icon-save) !important;
    }
    #quoteButton {
      list-style-image: var(--outl-icon-quote) !important;
    }
    #cut-button {
      list-style-image: var(--outl-icon-cut) !important;
    }
    #button-returnReceipt {
      list-style-image: var(--out-icon-receipt) !important;
    }
    #copy-button {
      list-style-image: var(--outl-icon-copy) !important;
    }
    #paste-button {
      list-style-image: var(--outl-icon-paste) !important;
    }
    #button-print {
      list-style-image: var(--outl-icon-print) !important;
    }
    #DecreaseFontSizeButton {
      list-style-image: url("./../images/fontDecrease.png") !important;
    }
    #IncreaseFontSizeButton {
      list-style-image: url("./../images/fontIncrease.png") !important;
    }
    #boldButton {
      list-style-image: url("./../images/fontBold.png") !important;
    }
    #italicButton {
      list-style-image: url("./../images/fontItalic.png") !important;
    }
    #underlineButton {
      list-style-image: url("./../images/fontUnderline.png") !important;
    }
    #ulButton {
      list-style-image: url("./../images/ul.png") !important;
    }
    #olButton {
      list-style-image: url("./../images/ol.png") !important;
    }
    #outdentButton {
      list-style-image: url("./../images/outdent.png") !important;
    }
    #indentButton {
      list-style-image: url("./../images/indent.png") !important;
    }
    #AlignPopupButton {
      list-style-image: url("./../images/align_center.png") !important;
    }
    #InsertPopupButton {
      list-style-image: url("./../images/insertPopup-image.png") !important;
    }
    #smileButtonMenu {
      list-style-image: url("./../images/smile.png") !important;
    }
    #AlignLeftItem, #AlignPopupButton[state="left"] {
      list-style-image: url("./../images/align_left.png") !important;
    }
    #AlignCenterItem, #AlignPopupButton[state="center"] {
      list-style-image: url("./../images/align_center.png") !important;
    }
    #AlignRightItem, #AlignPopupButton[state="right"] {
      list-style-image: url("./../images/align_right.png") !important;
    }
    #AlignJustifyItem, #AlignPopupButton[state="justify"] {
      list-style-image: url("./../images/align_justify.png") !important;
    }
    #InsertLinkItem {
      list-style-image: url("./../images/insertPopup-link.png") !important;
    }
    #InsertAnchorItem {
      list-style-image: url("./../images/insertPopup-anchor.png") !important;
    }
    #InsertImageItem {
      list-style-image: url("./../images/insertPopup-image.png") !important;
    }
    #InsertHRuleItem {
      list-style-image: url("./../images/insertPopup-HRule.png") !important;
    }
    #InsertTableItem {
      list-style-image: url("./../images/insertPopup-table.png") !important;
    }
    
    /* Calender & Tasks */
    .button.minimonth-nav-btn.today-button,
    #todayViewButton,
    #newCalendarSidebarButton {
      background-image: var(--outl-icon-calendar) !important;
    }
    #calendar-add-task-button {
      list-style-image: var(--outl-icon-new-task) !important;
    }
    #refreshCalendar {
      background-image: var(--outl-icon-sync) !important;
    }

    /* AccountCentral */
    #accountLogo {
      background-image: var(--outl-account-central-mail) !important;
    }
    #accountLogo[type="none"] {
      background-image: var(--outl-account-central-folder) !important;
    }
    #accountLogo[type="rss"] {
      background-image: var(--outl-account-central-rss) !important;
    }
    #accountLogo[type="nntp"] {
      background-image: var(--outl-account-central-globe) !important;
    }
    #setupEmail::before {
      background-image: var(--outl-account-central-mail) !important;
    }
    #setupCalendar::before {
      background-image: var(--outl-account-central-calendar) !important;
    }
    #setupAddressBook::before {
      background-image: var(--outl-account-central-address-book) !important;
    }
    #setupChat::before {
      background-image: var(--outl-account-central-chat) !important;
    }
    #setupFilelink::before {
      background-image: var(--outl-account-central-link) !important;
    }
    #setupFeeds::before,
    #rssSubscriptionButton::before {
      background-image: var(--outl-account-central-rss) !important;
    }
    #nntpSubscriptionButton::before {
      background-image: var(--outl-account-central-globe) !important;
    }
    #setupNewsgroups::before {
      background-image: var(--outl-account-central-newsletter) !important;
    }
    #importButton::before {
      background-image:  var(--outl-icon-import) !important;
    }
    #setupEmail.btn-inline::before {
      background-image: var(--outl-icon-mail) !important;
    }
    #setupCalendar.btn-inline::before {
      background-image: var(--outl-icon-calendar) !important;
    }
    #setupAddressBook.btn-inline::before {
      background-image: var(--outl-icon-address-book) !important;
    }
    #setupChat.btn-inline::before {
      background-image: var(--outl-icon-chat) !important;
    }
    #setupFilelink.btn-inline::before {
      background-image: var(--outl-icon-shortcut) !important;
    }
    #setupFeeds.btn-inline::before,
    #rssSubscriptionButton.btn-inline::before {
      background-image: var(--outl-icon-rss) !important;
    }
    #nntpSubscriptionButton.btn-inline::before,
    #setupNewsgroups.btn-inline::before {
      background-image:  var(--outl-icon-newsletter) !important;
    }
    #featuresLink::before {
      background-image: var(--outl-icon-features) !important;
    }
    #supportLink::before {
      background-image: var(--outl-icon-help) !important;
    }
    #involvedLink::before {
      background-image: var(--icon-handshake);
    }
    #developerLink::before {
      background-image: var(--icon-tools);
    }
    #settingsButton::before {
      background-image: var(--outl-icon-account-settings) !important;
    }
    #readButton::before {
      background-image: var(--outl-icon-inbox) !important;
    }
    #composeButton::before {
      background-image: var(--outl-icon-new-mail) !important;
    }
    #searchButton::before {
      background-image: var(--outl-icon-search) !important;
    }
    #filterButton::before {
      background-image: var(--outl-icon-filter) !important;
    }
    #e2eButton::before {
      background-image: var(--outl-icon-key) !important;
    }
    
    /* TabMail */
    .tabmail-tab[type="contentTab"] .tab-content > .tab-icon-image[src="chrome://messenger/skin/icons/new/compact/new-mail.svg"],
    .tabmail-tab[type="contentTab"] .tab-content > .tab-icon-image[src="chrome://messenger/skin/icons/new/compact/account-settings.svg"] {
      content: var(--outl-icon-account-settings) !important;
    }
    .tabmail-tab[type="addressBookTab"] .tab-content > .tab-icon-image {
      content: var(--outl-icon-address-book) !important;
    }
    .tabmail-tab[type="calendar"] .tab-content > .tab-icon-image {
      content: var(--outl-icon-calendar) !important;
    }
    .tabmail-tab[type="tasks"] .tab-content > .tab-icon-image {
      content: var(--outl-icon-tasks) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content[title="Persoonlijke mappen"] > .tab-icon-image[src$="folder.svg"] {
      content: var(--outl-icon-home) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content > .tab-icon-image[src$="draft.svg"] {
      content: var(--outl-icon-draft) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content > .tab-icon-image[src$="spam.svg"] {
      content: var(--outl-icon-spam) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content > .tab-icon-image[src$="inbox.svg"] {
      content: var(--outl-icon-inbox) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content > .tab-icon-image[src$="folder.svg"] {
      content: var(--outl-icon-folder) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content > .tab-icon-image[src$="outbox.svg"] {
      content: var(--outl-icon-outbox) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content > .tab-icon-image[src$="trash.svg"] {
      content: var(--outl-icon-trash) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content > .tab-icon-image[src$="sent.svg"] {
      content: var(--outl-icon-sent) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content > .tab-icon-image[src$="mail.svg"] {
      content: var(--outl-icon-server) !important;
    }
    .tabmail-tab[type="undefined"] .tab-content > .tab-icon-image[src$="mail-secure.svg"] {
      content: var(--outl-icon-server) !important;
    }
    
    /* PanelUI */
    .PanelUI-subView .subviewbutton-nav::after {
      content: var(--outl-icon-nav-right-sm) !important;
    }
    .PanelUI-subView .subviewbutton-nav:-moz-locale-dir(rtl)::after {
      content: var(--outl-icon-nav-left-sm) !important;
    }
    .widget-overflow-list .subviewbutton-nav::after {
      content: var(--outl-icon-nav-right-sm) !important;
    }
    .widget-overflow-list .subviewbutton-nav:-moz-locale-dir(rtl)::after {
      content: var(--outl-icon-nav-left-sm) !important;
    }
    .button-appmenu[badge-status="addon-alert"] > .toolbarbutton-badge-stack > .toolbarbutton-badge {
      background: var(--outl-icon-warning) 12px center no-repeat transparent !important;
    }
    .addon-banner-item::after {
      background: var(--outl-icon-warning) 16px no-repeat center !important;
    }

    /* Menu Right Arrows and Checkboxes*/
    :is(toolbar, popupset) menupopup > menu::after {
      content: var(--outl-icon-nav-right-sm) !important;
    }
    :is(toolbar, popupset) menupopup > menu:-moz-locale-dir(rtl)::after {
      content: var(--outl-icon-nav-left-sm) !important;
    }
    @media (-moz-windows-non-native-menus) {
    .menu-right {
        list-style-image: var(--outl-icon-nav-right-sm) !important;
      }
      .menu-right:-moz-locale-dir(rtl) {
        list-style-image: var(--outl-icon-nav-left-sm) !important;
      }
    }
    menupopup > :is(menu, menuitem)[checked="true"] {
      list-style-image: var(--icon-check);
    }
    @media (-moz-windows-non-native-menus) {
      menuitem[checked="true"] > .menu-iconic-left {
        list-style-image: url("chrome://global/skin/icons/menu-check.svg");
      }
    }
    
    /* Global */
    .message-icon,
    .alert-dialog #infoIcon,
    .alert-icon,
    .error-icon,
    .question-icon {
      width: 32px;
      height: 32px;
    }
    .message-icon {
      list-style-image: var(--outl-icon-info) !important;
      content: var(--outl-icon-info) !important;
    }
    .alert-dialog #infoIcon,
    .alert-icon {
      list-style-image: var(--outl-icon-warning) !important;
      content: var(--outl-icon-warning) !important;
    }
    .error-icon {
      list-style-image: var(--outl-icon-error) !important;
      content: var(--outl-icon-error) !important;
    }
    .question-icon {
      list-style-image: var(--outl-icon-question) !important;
      content: var(--outl-icon-question) !important;
    }
    #print-preview-portrait-button {
      list-style-image: url("chrome://global/skin/icons/Print-preview.png");
      -moz-image-region: rect(0px 16px 16px 0px);
    }
    #print-preview-landscape-button {
      list-style-image: url("chrome://global/skin/icons/Print-preview.png");
      -moz-image-region: rect(0px 32px 16px 16px);
    }
  }
}
