@supports -moz-bool-pref("outlook2003.theme") {
@media (-moz-windows-default-theme) {  
/** FOLDERMENUS *******************************************************************/
  /* ::::: Folder icons for menus   ::::: */
  /* Folders */
  .folderMenuItem {
    list-style-image: url("./../images/folder.ico") !important;
  }
  /* Special folders */
  .folderMenuItem[SpecialFolder="Inbox"] {
    list-style-image: url("./../images/inbox.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Sent"] {
    list-style-image: url("./../images/sent.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Outbox"] {
    list-style-image: url("./../images/outbox.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Drafts"] {
    list-style-image: url("./../images/concepts.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Templates"] {
    list-style-image: url("./../images/concepts.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Junk"] {
    list-style-image: url("./../images/spam-folder.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Trash"] {
    list-style-image: url("./../images/trash.ico") !important;
  }
  .folderMenuItem[SpecialFolder="Virtual"] {
    list-style-image: url("./../images/search-folder.ico") !important;
  }
  /* IMAP/POP server */
  .folderMenuItem[IsServer="true"] {
    list-style-image: url("./../images/server.ico") !important;
  }
  /* Local server */
  .folderMenuItem[IsServer="true"][ServerType="none"] {
    list-style-image: url("./../images/home.ico") !important;
  }
  /* Feed server */
  .folderMenuItem[IsServer="true"][ServerType="rss"] {
    list-style-image: url("./../images/feeds.ico") !important;
  }
/** FOLDERPANE ********************************************************************/
  .tabmail-tab[type="folder"] {
    list-style-image: url("./../images/folder.ico") !important;
  }
  /* ::::: Folder Pane ::::: */
  treechildren::-moz-tree-image(folderNameCol) {
    list-style-image: url("./../images/folder.ico") !important;
  }
  /* ..... Inbox ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Inbox"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox),
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, newMessages-true) {
    list-style-image: url("./../images/inbox.ico") !important;
  }
  /* ..... Sent ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Sent"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
    list-style-image: url("./../images/sent.ico") !important;
  }
  /* ..... Outbox ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Outbox"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
    list-style-image: url("./../images/outbox.ico") !important;
  }
  /* ..... Drafts ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Drafts"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) {
    list-style-image: url("./../images/concepts.ico") !important;
  }
  /* ..... Trash ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Trash"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
    list-style-image: url("./../images/trash.ico") !important;
  }
  /* ..... Templates ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Templates"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
    list-style-image: url("./../images/concepts.ico") !important;
  }
  /* ..... Junk ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Junk"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
    list-style-image: url("./../images/spam-folder.ico") !important;
  }
  /* ..... Saved Search Folder ..... */
  .tabmail-tab[type="folder"][SpecialFolder="Virtual"],
  treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
    list-style-image: url("./../images/search-folder.ico") !important;
  }
  /* ..... Mail server  ..... */
  .tabmail-tab[type="folder"][IsServer="true"],
  treechildren::-moz-tree-image(folderNameCol, isServer-true) {
    list-style-image: url("./../images/server.ico") !important;
  }
  /* ..... Local folders ..... */
  .tabmail-tab[type="folder"][IsServer="true"][ServerType="none"],
  treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
    list-style-image: url("./../images/home.ico") !important;
  }
  /* ::::: Folder Summary Popup ::::: */
  #folderTree treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
    background-image: none !important;
  }
  /* treechildren::-moz-tree-image(folderNameCol, newMessages-true) {
    list-style-image: url("./../images/folder.ico") !important;
  } */
/** GETSENDBUTTON *****************************************************************/
  /* messenger window additional button 'Send all' */
  #GetSendButton_S_all,
  #tabbar-toolbar #GetSendButton_S_all,
  #GetSendButton_messenger_menupopup_sendUnsent,
  #GetSendButton_messenger_menupopup_sendUnsent[disabled="true"] {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 24px 48px 0px) !important;
  }
  #GetSendButton_messenger_menupopup_sendUnsent[disabled="true"],
  #GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
    opacity: var(--win-disabled-icon-opacity) !important;
  }
  #GetSendButton_messenger_menupopup_SyncFlagged,
  #GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
    list-style-image: url("./../images/star.ico") !important;
  }
  /* Get all / auth messages */
  #GetSendButton_messenger_menupopup_ReceiveAll,
  #GetSendButton_messenger_menupopup_ReceiveAuth,
  #button-getsendbutton {
    list-style-image: url("./../images/sent-get.ico") !important;
  }
/** MAILWINDOW ********************************************************************/
  /* ::::: thread decoration ::::: */
  treecol#unreadButtonColHeader > .treecol-icon {
    color: transparent !important;
    background-image: url("./../images/unread-top.ico") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  treecol#attachmentCol > .treecol-icon {
    color: transparent !important;
    background-image: url("./../images/attachment-col.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  /* ..... read column ..... */
  treechildren::-moz-tree-image(unreadButtonColHeader) {
    list-style-image: url("./../images/read.ico") !important;
    height: 14px !important;
    width: 14px !important;
  }
  treechildren::-moz-tree-image(unreadButtonColHeader, unread) {
    list-style-image: url("./../images/unread.ico") !important;
    height: 14px !important;
    width: 14px !important;
    stroke-opacity: 0 !important;
  }
  /* ..... attachment column ..... */
  treechildren::-moz-tree-image(attachmentCol, attach) {
    list-style-image: url("./../images/attachment.png") !important;
    height: 14px !important;
    width: 14px !important;
  }
/** TREE *******************************************************************************************************/
  /* ::::: twisty :::::  */
  treechildren::-moz-tree-twisty {
    padding-right: 4px !important;
    padding-top: 1px !important;
    width: 9px !important; /* The image's width is 9 pixels */
    list-style-image: url("./../images/twisty-closed.png") !important;
  }
  treechildren::-moz-tree-twisty(open) {
    width: 9px !important; /* The image's width is 9 pixels */
    list-style-image: url("./../images/twisty-open.png") !important;
  }
  treechildren::-moz-tree-indentation {
    width: 18px !important;
  }
/** MESSAGEBAR ********************************************************************/
  :host {
    --draft-icon-url: url("./../images/new-mail.ico") !important;
    --junk-icon-url: url("./../images/spam.png") !important;
    --attachment-icon-url: url("./../images/attachment.png") !important;
  }
  :host([message-bar-type=infobar]) {
    --close-icon-size: 18px !important;
  }
  .container.infobar {
    height: 24px !important;
  }
/** TABMAIL ****************************************************************************************************/
  .tabmail-tab[type="accountManager"] {
    list-style-image: url("./../images/accounts.ico") !important;
  }
  .tabmail-tab[type="glodaSearch"] {
    list-style-image: url("./../images/search.ico") !important;
  }
  .tabmail-tab[type="tasks"] {
    list-style-image: url("./../images/tasks.ico") !important;
  }
/** TOOLBAR ****************************************************************************************************/
  #calendar-tab-button, #newMsgButton-calendar-menuitem {
    list-style-image: url("./../images/calender.ico") !important;
  }
  #task-tab-button, #newMsgButton-task-menuitem {
    list-style-image: url("./../images/tasks.ico") !important;
  }
/** PRIMARYTOOLBAR ****************************************************************/
  /* ::::: Mail Toolbars and Menubars ::::: */
  #button-newmsg {
    list-style-image: url("./../images/new-mail.ico") !important;
  }
  #button-address {
    list-style-image: url("./../images/contacts.ico") !important;
  }
  #button-reply {
    list-style-image: url("./../images/reply.png") !important;
  }
  #button-replyall {
    list-style-image: url("./../images/reply-all.png") !important;
  }
  #button-forward {
    list-style-image: url("./../images/forward.png") !important;
  }
  .delete-button {
    list-style-image: url("./../images/delete.png") !important;
    width: 23.3333px !important;
  }
  .delete-button > .toolbarbutton-text {
    display: none !important;
  }
  .junk-button image[label="Niet ongewenst"] {
    list-style-image: url("./../images/no-spam.png") !important;
  }
  .junk-button image[label="Ongewenst"] {
    list-style-image: url("./../images/spam.png") !important;
  }
  #button-print {
    list-style-image: url("./../images/print.png") !important;
  }
  #button-print > .toolbarbutton-text {
    display: none !important;
  }
  #button-file {
    list-style-image: url("./../images/file.png") !important;
  }
  #button-file > .toolbarbutton-text {
    display: none !important;
  }
  #button-file > dropmarker {
    visibility: collapse !important;
  }
  #button-mark:has(menuitem#markReadToolbarItem[disabled="true"]) {
    list-style-image: url("./../images/read.ico") !important;
  }
  #button-mark {
    list-style-image: url("./../images/unread.ico") !important;
  }
  /* ::::: message notification bar style rules ::::: */
  .subviewbutton-iconic[disabled="true"] > .toolbarbutton-icon {
    opacity: var(--win-disabled-icon-opacity);
  }
  #appmenu_msgAttachmentMenu {
    list-style-image: url("./../images/attachment.png") !important;
  }
  #appmenu-cut,
  #appmenu-editmenu-cut {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 192px 48px 168px);
  }
  #appmenu-copy,
  #appmenu-editmenu-copy {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 216px 48px 192px);
  }
  #appmenu-paste,
  #appmenu-editmenu-paste {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 240px 48px 216px);
  }
  #appmenu_find {
    list-style-image: url("./../images/search.ico") !important;
  }
  #appmenu_print,
  #appmenu_print_popup {
    list-style-image: url("./../images/print.png") !important;
  }
  #appmenu_saveAs {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 144px 48px 120px);
  }
  #appmenu_emptyTrash {
    list-style-image: url("./../images/trash.ico") !important;
  }
  #appmenu_activityManager {
    list-style-image: url("./../images/logboek.ico") !important;
  }
  #appmenu_accountmgr {
    list-style-image: url("./../images/accounts.ico") !important;
  }
  #appmenu_filters,
  #appmenu_filtersCmd {
    list-style-image: url("./../images/filter.png") !important;
  }
  #appmenu_help,
  #appmenu_openHelp {
    list-style-image: url("./../images/help.png") !important;
  }
  #appmenu_addressBook {
    list-style-image: url("./../images/contacts.ico") !important;
  }
  #menu_getnewmsgs_all_accounts,
  #appmenu_getnewmsgs_all_accounts {
    list-style-image: url("./../images/sent-get.ico") !important;
  }
/** MESSAGEHEADER *****************************************************************/
  /* ::::: msg header buttons ::::: */
  .hdrReplyToSenderButton,
  .hdrDummyReplyButton,
  .hdrReplyButton {
    list-style-image: url("./../images/reply.png") !important;
  }
  .hdrReplyAllButton {
    list-style-image: url("./../images/reply-all.png") !important;
  }
  .hdrForwardButton {
    list-style-image: url("./../images/forward.png") !important;
  }
  .hdrJunkButton image[label="Niet ongewenst"] {
    list-style-image: url("./../images/no-spam.png") !important;
  }
  .hdrJunkButton image[label="Ongewenst"] {
    list-style-image: url("./../images/spam.png") !important;
  }
  .hdrTrashButton {
    list-style-image: url("./../images/delete.png") !important;
  }
  #attachmentSaveAllSingle,
  #attachmentSaveAllMultiple {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 144px 48px 120px);
  }
/** MESSENGERCOMPOSE **************************************************************/
  .autocomplete-richlistitem[type="local-abook"] > .ac-site-icon {
    list-style-image: url("./../images/contacts.ico") !important;
  }
  #attachmentNotificationBox > hbox > .messageImage {
    list-style-image: url("./../images/attachment.png") !important;
  }
  /* ::::: icons ::::: */
  #button-send {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 24px 48px 0px);
  }
  #button-contacts {
    list-style-image: url("./../images/contacts.ico") !important;
  }
  #spellingButton {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 72px 48px 48px);
  }
  #button-attach {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 96px 48px 72px);
  }
  #button-save {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 144px 48px 120px);
  }
  #quoteButton {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 168px 48px 144px);
  }
  #cut-button {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 192px 48px 168px);
  }
  #copy-button {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 216px 48px 192px);
  }
  #paste-button {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 240px 48px 216px);
  }
  #button-print {
    list-style-image: url("./../images/print.png") !important;
  }
  /* ::::: format toolbar ::::: */
  #FormatToolbar > toolbarbutton:not(#AbsoluteFontSizeButton, #removeStylingButton, #ulButton, #olButton, #outdentButton, #indentButton, #AlignPopupButton) {
    list-style-image: url("./../images/format-buttons.png") !important;
  }
  #DecreaseFontSizeButton {
    -moz-image-region: rect(0px 16px 16px 0px);
  }
  #IncreaseFontSizeButton {
    -moz-image-region: rect(0px 32px 16px 16px);
  }
  #boldButton {
    -moz-image-region: rect(0px 48px 16px 32px);
  }
  #italicButton {
    -moz-image-region: rect(0px 64px 16px 48px);
  }
  #underlineButton {
    -moz-image-region: rect(0px 80px 16px 64px);
  }
  #ulButton {
    list-style-image: url("./../images/ul.png") !important;
    /* -moz-image-region: rect(0px 96px 16px 80px); */
  }
  #olButton {
    list-style-image: url("./../images/ol.png") !important;
    /* -moz-image-region: rect(0px 112px 16px 96px); */
  }
  #outdentButton {
    list-style-image: url("./../images/outdent.png") !important;
    /* -moz-image-region: rect(0px 128px 16px 112px); */
  }
  #indentButton {
    list-style-image: url("./../images/indent.png") !important;
    /* -moz-image-region: rect(0px 144px 16px 128px); */
  }
  #AlignPopupButton {
    list-style-image: url("./../images/align_center.png") !important;
    /* -moz-image-region: rect(0px 176px 16px 160px); */
  }
  #InsertPopupButton {
    -moz-image-region: rect(0px 256px 16px 240px);
  }
  #smileButtonMenu {
    -moz-image-region: rect(0px 304px 16px 288px);
  }
  /* ..... align menu ..... */
  #AlignLeftItem, #AlignPopupButton[state="left"] {
    list-style-image: url("./../images/align_left.png") !important;
  }
  #AlignCenterItem, #AlignPopupButton[state="center"] {
    list-style-image: url("./../images/align_center.png") !important;
  }
  #AlignRightItem, #AlignPopupButton[state="right"] {
    list-style-image: url("./../images/align_right.png") !important;
  }
  #AlignJustifyItem, #AlignPopupButton[state="justify"] {
    list-style-image: url("./../images/align_justify.png") !important;
  }
  /* ..... insert menu ..... */
  #InsertPopup > menuitem {
    list-style-image: url("./../images/format-buttons.png") !important;
  }
  #InsertLinkItem {
    -moz-image-region: rect(0px 224px 16px 208px) !important;
  }
  #InsertAnchorItem {
    -moz-image-region: rect(0px 240px 16px 224px) !important;
  }
  #InsertImageItem {
    -moz-image-region: rect(0px 256px 16px 240px) !important;
  }
  #InsertHRuleItem {
    -moz-image-region: rect(0px 272px 16px 256px) !important;
  }
  #InsertTableItem {
    -moz-image-region: rect(0px 288px 16px 272px) !important;
  }
/** ADDRESSBOOK *******************************************************************/
  /* ::::: primary toolbar buttons ::::: */
  #button-newcard {
    list-style-image: url("./../images/contacts.ico") !important; 
  }
  #button-newlist {
    list-style-image: url("./../images/contacts-group.ico") !important;
  }
  #button-newmessage {
    list-style-image: url("./../images/new-mail.ico") !important;
  }
  #button-abdelete {
    list-style-image: url("./../images/delete.png") !important;
  }
  /* ::::: directory pane icons ::::: */
  treechildren::-moz-tree-image(DirCol) {
    list-style-image: url("./../images/contacts.ico") !important; 
    height: 16px;
  }
  treechildren::-moz-tree-image(DirCol, IsMailList-true) {
    list-style-image: url("./../images/contacts-group.ico") !important; 
    height: 16px;
  }
  /* ::::: results pane ::::: */
  treechildren::-moz-tree-image(GeneratedName) {
    list-style-image: url("./../images/contacts.ico") !important; 
    height: 16px;
  }
  treechildren::-moz-tree-image(GeneratedName, MailList) {
    list-style-image: url("./../images/contacts-group.ico") !important; 
    height: 16px;
  }
/** ACCOUNTCENTRAL ****************************************************************/
  #accountLogo {
    background-image: url("./../../images/server.ico") !important;
  }
  #accountLogo[type="none"] {
    background-image: url("./../../images/home.ico") !important;
  }
  #accountLogo[type="rss"],
  #setupFeeds::before,
  #rssSubscriptionButton:before,
  #nntpSubscriptionButton:before {
    background-image: url("./../../images/feeds.ico") !important;
  }
  #setupEmail::before {
    background-image: url("./../images/read.ico") !important;
  }
  #setupCalendar::before {
    background-image: url("./../images/calender.ico") !important;
  }
  #setupAddressBook::before {
    background-image: url("./../images/address-book.ico") !important;
  }
  #supportLink::before {
    background-image: url("./../images/help.png") !important;
  }
  #settingsButton::before {
    background-image: url("./../images/accounts.ico") !important;
    background-size: contain;
  }
  #readButton::before {
    background-image: url("./../images/inbox.ico") !important;
    background-size: contain;
  }
  #composeButton::before {
    background-image: url("./../images/new-mail.ico") !important;
    background-size: contain;
  }
  #searchButton::before {
    background-image: url("./../images/search.ico") !important;
    background-size: contain;
  }
  #filterButton::before {
    background-image: url("./../images/filter.png") !important;
  }
}
}