@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
    /* MAILWINDOW */
    /* ..... folder pane adjustments ..... */
    #folderPaneBox {
      border: var(--win-window-dark-blue-border) !important;
    }
    #folderPaneHeader {
      background-color: rgb(174, 201, 247) !important;
      border-bottom: var(--win-window-dark-blue-border) !important;
    }
    /* ..... splitter adjustments ..... */
    #folderpane_splitter {
      border: 6px rgb(195, 217, 250) solid !important;
    }
    /* ..... message pane adjustments ..... */
    #messengerBox {
      border: 2px rgb(195, 217, 250) solid !important;
    }
    #messengerBox #messagesBox #threadpane-splitter[state="collapsed"] {
      visibility: hidden !important;
    }
    #messengerBox #messagesBox {
      border: var(--win-window-dark-blue-border) !important;
      border-left: 5px rgb(0, 45, 150) solid !important;
    }
  }
}