@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
    /* CONTEXTMENU */
    :root {
      --appmenu-button-margin: 0 0.5px !important;
      --appmenu-button-padding: 2px !important;
    }
    :root[uidensity="compact"] {
      --appmenu-button-margin: 0 0.5px !important;
      --appmenu-button-padding: 1px !important;
    }
    :root[uidensity="compact"] menupopup {
      --arrowpanel-padding: 1px 0 !important;
    }
    :root[uidensity="touch"] {
      --appmenu-button-padding: 4px !important;
    }
    menupopup {
      --arrowpanel-padding: 2px 0 !important;
    }
    menupopup > :is(menu, menuitem) {
      min-height: 20px !important;
      /* padding-block: 1px !important; */
      border-radius: var(--win-border-radius) !important;
    }
    menupopup > :is(menu, menuitem)[disabled="true"],
    menupopup > :is(menu, menuitem)[disabled="true"]:hover,
    menupopup > :is(menu, menuitem)[checked="true"][disabled="true"],
    menupopup > :is(menu, menuitem)[checked="true"][disabled="true"]:hover {
      color: var(--lwt-text-color) !important;
      background-color: transparent; /* unset !important; */
      opacity: var(--win-disabled-icon-opacity) !important;
    }
    menupopup > menu::after {
      content: var(--icon-nav-right-sm);
    }
    menupopup > menu:-moz-locale-dir(rtl)::after {
      content: var(--icon-nav-left-sm);
    }
    menupopup > :is(menu, menuitem)[checked="true"] {
      list-style-image: var(--icon-check);
    }
    menupopup > :is(menu, menuitem) {
      border: 1px solid transparent !important;
      color: var(--lwt-text-color) !important;
    }
    menupopup > :is(menu, menuitem):not([disabled="true"]):is(:hover, :active, [_moz-menuactive], [open="true"]) {
      border: 1px solid var(--win-menuitem-border-color) !important;
      background-color: var(--win-menuitem-hover-background-color) !important;
      color: var(--win-black-color) !important;
    }
    menupopup > menuseparator {
      margin: 2px 8px !important;
    }
    /* MENU */
    /* ::::: menu/menuitem ::::: */
    menu,
    menuitem {
      -moz-box-align: end !important;
    }
    menu[disabled="true"],
    menuitem[disabled="true"],
    menu[_moz-menuactive="true"][disabled="true"],
    menuitem[_moz-menuactive="true"][disabled="true"] {
      opacity: var(--win-disabled-icon-opacity) !important;
      background-color: unset !important;
    }
    /* ::::: menu/menuitems in menubar ::::: */
    menubar > menu {
      border: 1px solid transparent;
      color: var(--win-black-color) !important;
    }
    menubar > menu:hover:not(:active,[open="true"],[disabled="true"]) {
      background-color: unset !important;
      background-image: var(--win-toolbarbutton-hover-background) !important;
      border: 1px solid var(--win-menubar-border-color) !important;
    }
    menubar > menu:is(:active,[open="true"]) {
      background-color: unset !important;
      background-image: var(--win-button-active-background-open) !important;
      border-bottom: 1px solid transparent !important;
      border-top: 1px solid var(--win-menubar-border-color) !important;
      border-left: 1px solid var(--win-menubar-border-color) !important;
      border-right: 1px solid var(--win-menubar-border-color) !important;
    }
    /* ::::: menu/menuitems in popups ::::: */
    menupopup {
      border: 1px solid var(--panel-border-color) var(--panel-border-radius) !important;
        --panel-border-radius: var(--win-border-radius) !important;
        --panel-border-color: var(--win-menuitem-border-color) !important;
    }
    :is(panel, menupopup)::part(content) {
      border-radius: var(--panel-border-radius);
      border: 1px solid var(--win-menuitem-border-color) !important;
    }
    /* ::::: menu/menuitems in menulist popups ::::: */
    menulist > menupopup > menuitem[selected="true"]:not([_moz-menuactive="true"]),
    menulist > menupopup > menu[selected="true"]:not([_moz-menuactive="true"]) {
      color: var(--win-theme-color) !important;
      background-color: rgb(0, 120, 215) !important;
    }
    @media (-moz-windows-non-native-menus) {
      menupopup {
        --panel-border-radius: var(--win-border-radius) !important;
        border-radius: var(--win-border-radius) !important;
      }
    }
    /* ::::: menulist popups (from 'messenger') ::::: */
    menulist {
      min-height: 20px !important;
      margin-block: 2px !important;
      border: 1px solid rgb(171, 173, 179) !important;
      border-radius: var(--win-border-radius) !important;
      background-color: var(--win-theme-color) !important;
      transition: none !important;
    }
    /* Override the not existing rule in menu.css */
    menulist:not([disabled="true"],[open="true"]):hover {
      background-color: none !important;
      border-color: var(--win-menuitem-border-color) !important;
    }
    menulist[open="true"] {
      background-color: none !important;
      background-image: var(--win-toolbarbutton-active-background) !important;
      border-color: var(--win-menuitem-border-color) !important;
    }
    menulist[open="true"]:focus-within {
      color: var(--win-black-color) !important;
    }
  }
}