@import "toolbarButton.css";
@supports -moz-bool-pref("outlook2003.theme") {
  /* MESSENGER */
  :root {
    --button-bgcolor: rgb(225, 225, 225) !important;
    --button-hover-bgcolor: rgb(229, 241, 251) !important; /* var(--win-menuitem-hover-background-color) */
    --button-active-bgcolor: rgb(204, 228, 247) !important; /* var(--win-menuitem-active-background-color) */
    --button-border-color: rgb(0, 120, 215) !important;
    --button-color: black !important;
    --button-primary-bgcolor: rgb(0, 97, 224) !important;
    --button-primary-hover-bgcolor: rgb(2, 80, 187) !important;
    --button-primary-active-bgcolor: rgb(5, 62, 148) !important;
    --button-primary-color: rgb(251, 251, 254) !important;
    /* Note: Setting this to 0 (without px) breaks CSS calculations for OSX. */
    --toolbarbutton-border-radius: 0px !important;
    --toolbarbutton-hover-background: var(--win-toolbarbutton-hover-background) !important;
    --toolbarbutton-hover-bordercolor: var(--win-border-color) !important;
    --toolbarbutton-header-bordercolor: var(--win-border-color) !important;
    --toolbarbutton-active-background: var(--win-toolbarbutton-active-background) !important;
    --toolbarbutton-active-bordercolor: var(--win-border-color) !important;
    --toolbarbutton-checked-background: var(--win-toolbarbutton-checked-background) !important;
  }
  @media not (prefers-contrast) {
    :root:not(:-moz-lwtheme) {
      --button-bgcolor: rgb(225, 225, 225) !important;
      --button-hover-bgcolor: rgb(229, 241, 251) !important; /* var(--win-menuitem-hover-background-color) */
      --button-active-bgcolor: rgb(204, 228, 247) !important; /* var(--win-menuitem-active-background-color) */
      --button-primary-bgcolor: rgb(0, 97, 224);
      --button-primary-hover-bgcolor: rgb(2, 80, 187);
      --button-primary-active-bgcolor: rgb(5, 62, 148);
      --button-primary-color: rgb(251, 251, 254);
      --buttons-secondary-bgcolor: rgb(240, 240, 244);
      --buttons-secondary-hover-bgcolor: rgb(224, 224, 230);
      --buttons-secondary-active-bgcolor: rgb(207, 207, 216);
      --buttons-secondary-color: rgb(21, 20, 26);
      --arrowpanel-dimmed: var(--win-menuitem-hover-background-color) !important;
      --arrowpanel-dimmed-further: var(--win-menuitem-active-background-color) !important;
      --arrowpanel-dimmed-even-further: var(--win-menuitem-active-background-color) !important;
    }
  }
  /* UI Density customization */
  :root[uidensity="compact"] {
    --tab-min-height: 20px !important;
  }
  .themeable-full[brighttext],
  :root:-moz-lwtheme-brighttext .themeable-full,
  :root[lwt-tree-brighttext] .themeable-brighttext {
    --toolbarbutton-hover-background: var(--win-toolbarbutton-hover-background) !important;
    --toolbarbutton-hover-bordercolor: var(--win-border-color) !important;
    --toolbarbutton-header-bordercolor: var(--win-border-color) !important;
    --toolbarbutton-active-background: var(--win-toolbarbutton-active-background) !important;
    --toolbarbutton-active-bordercolor: var(--win-border-color) !important;
  }
  menulist {
    min-height: 20px !important;
    margin-block: 2px !important;
    border: 1px solid rgb(171, 173, 179) !important;
    border-radius: 0px !important;
    background-color: white !important;
    transition: none !important;
  }
  /* Override the not existing rule in menu.css */
  menulist:not([disabled="true"],[open="true"]):hover {
    background-color: none !important;
    border-color: var(--win-border-color) !important;
  }
  menulist[open="true"] {
    background-color: none !important;
    background-image: var(--win-toolbarbutton-active-background) !important;
    border-color: var(--win-border-color) !important;
  }
  /* OTHER MESSENGER(79) */
  :root {
    --toolbar-non-lwt-bgcolor: unset !important; /* rgb(214, 231, 253) */
    --toolbar-non-lwt-bgimage: linear-gradient(rgb(221, 235, 254), rgb(131, 170, 227)) !important;
  }
  @media (-moz-windows-default-theme) {
    :root {
      /* --splitter-color: linear-gradient(to right, black, white) !important; */
      --select-focus-text-color: white !important;
    }
  }
  @media (-moz-windows-default-theme) {
    treechildren {
      --treechildren-focusColor: transparent !important;
      --treechildren-selectedFocusColor: rgb(0, 120, 215) !important;
      --treechildren-currentColor: rgb(125,162,206) !important;
      --treechildren-hoverColor: rgb(229,243,255) !important;
      --treechildren-selectedBorder: transparent !important;
      --treechildren-selectedBackground: rgb(236,233,216) !important;
      --treechildren-currentFocusBorder: transparent !important;
      --treechildren-selectedFocusBorder: transparent !important;
      --treechildren-selectedFocusBackground: var(--treechildren-selectedFocusColor) !important;
      --treechildren-selectedFocusCurrentBorder: transparent !important;
      --treechildren-selectedFocusCurrentBackground: var(--treechildren-selectedFocusColor) !important;
      --treechildren-hoverBorder: transparent !important;
      --treechildren-hoverBackground: transparent !important;
      --treechildren-hoverCurrentBorder: transparent !important;
      --treechildren-hoverCurrentBackground: var(--treechildren-selectedFocusColor) !important;
      --treechildren-hoverSelectedBorder: transparent !important;
      --treechildren-hoverSelectedBackground: var(--treechildren-selectedFocusColor) !important;
    }
  }
  /* ::::: primary toolbar buttons ::::: */
  .toolbarbutton-1[disabled=true] .toolbarbutton-icon,
  .toolbarbutton-1[disabled=true] .toolbarbutton-text,
  .toolbarbutton-1[disabled=true] .toolbarbutton-menu-dropmarker,
  .toolbarbutton-1[disabled=true] > .toolbarbutton-menubutton-dropmarker {
    opacity: var(--win-disabled-icon-opacity) !important;
  }
  .statusbar {
    height: 20px !important;
  }
}