@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
    /* MESSENGERCOMPOSE */
    #compose-toolbar-sizer {
      border-bottom-color: rgb(130, 135, 144) !important;
    }
    .autocomplete-richlistitem:hover,
    .autocomplete-richlistitem[selected] {
      background-color: rgb(0, 120, 215) !important;
      color: var(--win-white-color) !important;
    }
    html#msgcomposeWindow .statusbar {
      display: none;
    }
    #identityLabel-box,
    .address-label-container,
    #subjectLabel-box {
      width: 6em !important;
    }
    #msgIdentity,
    .address-container,
    #msgSubject {
      min-height: unset !important;
    }
    #msgIdentity,
    .address-container {
      height: 22px !important;
    }
    #msgSubject {
      height: 20px !important;
    }
    .address-container > .address-input {
      padding-block: unset !important;
    }
    .address-pill {
      margin-inline-end: 0px !important;
      margin-inline-start: 0px;
      padding-inline: 4px !important;
      margin-block: 0px !important;
      height: 18px;
      text-decoration-line: underline;
    }
    .address-pill:not(.editing) {
      box-shadow: none !important;
    }
    .address-pill:not([selected], :hover, :focus, .editing, .invalid-address) {
      background-color: transparent !important;
    }
    #addressingWidgetSwappableLabels label:is(:hover, :active),
    #extraRecipientsLabel:is(:hover, :active),
    #extraRecipientsPanel label:is(:hover, :active),
    #FormatToolbox menulist:not([disabled="true"]):is(:hover, :active, [open="true"]) {
      color: var(--win-black-color) !important;
    }
  }
}