@import "toolbarButton.css";
@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
  /* MESSENGER */
  @media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
    :root {
      --button-hover-bgcolor: rgb(86, 64, 54) !important; 
      --button-active-bgcolor: rgb(45, 57, 38) !important;
      --button-border-color: rgb(255, 135, 40) !important;
    }
  }
  @media not (prefers-contrast) {
    :root:not(:-moz-lwtheme) {
      --buttons-secondary-bgcolor: rgb(240, 240, 244);
      --buttons-secondary-hover-bgcolor: rgb(224, 224, 230);
      --buttons-secondary-active-bgcolor: rgb(207, 207, 216);
      --buttons-secondary-color: rgb(21, 20, 26);
    }
  }
  /* OTHER MESSENGER(79) */
  :root {
    /* Dark mode */
    --toolbar-bgcolor: var(--toolbar-non-lwt-bgcolor) !important; /* rgba(43, 42, 51, 1) */
    --toolbar-bgimage: var(--toolbar-non-lwt-bgimage) !important;
  }
  /* @media (-moz-windows-default-theme) {
    treechildren {
      --treechildren-focusColor: transparent !important;
      --treechildren-selectedFocusColor: rgb(0, 120, 215) !important;
      --treechildren-currentColor: rgb(125,162,206) !important;
      --treechildren-hoverColor: rgb(229,243,255) !important;
      --treechildren-selectedBorder: transparent !important;
      --treechildren-selectedBackground: rgb(236,233,216) !important;
      --treechildren-currentFocusBorder: transparent !important;
      --treechildren-selectedFocusBorder: transparent !important;
      --treechildren-selectedFocusBackground: var(--treechildren-selectedFocusColor) !important;
      --treechildren-selectedFocusCurrentBorder: transparent !important;
      --treechildren-selectedFocusCurrentBackground: var(--treechildren-selectedFocusColor) !important;
      --treechildren-hoverBorder: transparent !important;
      --treechildren-hoverBackground: transparent !important;
      --treechildren-hoverCurrentBorder: transparent !important;
      --treechildren-hoverCurrentBackground: var(--treechildren-selectedFocusColor) !important;
      --treechildren-hoverSelectedBorder: transparent !important;
      --treechildren-hoverSelectedBackground: var(--treechildren-selectedFocusColor) !important;
    }
  } */
  /* ::::: primary toolbar buttons ::::: */
  .toolbarbutton-1[disabled=true] .toolbarbutton-icon,
  .toolbarbutton-1[disabled=true] .toolbarbutton-text,
  .toolbarbutton-1[disabled=true] .toolbarbutton-menu-dropmarker,
  .toolbarbutton-1[disabled=true] > .toolbarbutton-menubutton-dropmarker {
    opacity: var(--win-disabled-icon-opacity) !important;
  }
  .statusbar {
    height: 20px !important;
  }
  }
}