@supports -moz-bool-pref("outlook2003.theme") {
  /* MESSAGEHEADER */
  .headerName,
  #attachmentSize {
    color: black !important;
  }
  .headerValue,
  .dateLabel {
    font-size: 11px;
  }
  expandedHeadersBox {
    background-color: rgb(240, 240, 240) !important;
  }
  #expandedHeadersTopBox html|th,
  #expandedHeadersBottomBox html|th {
    text-align: left !important;
    padding-top: 2px !important;
    font-size: 11px;
  }
  /* ::::: msg header buttons ::::: */
  html#messengerWindow #expandedHeadersTopBox toolbarbutton[id^="hdr"].msgHeaderView-button {
    display: none;
  }
  .hdrReplyToSenderButton,
  .hdrDummyReplyButton,
  .hdrReplyButton {
    list-style-image: url("./../images/reply.png") !important;
  }
  .hdrReplyAllButton {
    list-style-image: url("./../images/reply-all.png") !important;
  }
  .hdrForwardButton {
    list-style-image: url("./../images/forward.png") !important;
  }
  .hdrJunkButton image[label="Niet ongewenst"] {
    list-style-image: url("./../images/no-spam.png") !important;
  }
  .hdrJunkButton image[label="Ongewenst"] {
    list-style-image: url("./../images/spam.png") !important;
  }
  .hdrTrashButton {
    list-style-image: url("./../images/delete.png") !important;
  }
  #attachmentSaveAllSingle,
  #attachmentSaveAllMultiple {
    list-style-image: url("./../images/compose-toolbar.png") !important;
    -moz-image-region: rect(24px 144px 48px 120px);
  }
}