@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
  /* MESSAGEHEADER */
  /* messengerCompose and messageHeader */
    #headers-box,
    #singleMessage,
    #attachmentView,
    #attachmentList,
    :root[lwt-tree] #headers-box,
    :root[lwt-tree] #singleMessage,
    :root[lwt-tree] #attachmentView,
    :root[lwt-tree] #attachmentList {
      background-color: var(--win-header-background-color) !important;
    }
    /* messageHeader */
    .headerName, #attachmentSize {
      color: var(--lwt-text-color) !important;
    }
    #expandedHeadersTopBox th,
    #expandedHeadersBottomBox th {
      text-align: start !important;
      min-width: 80px !important;
    }
    /* #expandedHeadersTopBox label.headerName,
    #expandedHeadersBottomBox label.headerName {
    } */
    @media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
      .msgHeaderView-button {
        background-color: var(--lwt-text-color);
        border-color: var(--win-menuitem-border-color) !important;
      }
    }
  }
}