@import "messageQuotes.css";
@supports -moz-bool-pref("outlook2003.theme") {
  /* MESSAGE */
  *|*:link {
    color: rgb(0, 102, 212) !important;
  }
  /* a.moz-txt-link-freetext[href^="mailto:"] {
    color: black !important;
    text-decoration-line: none !important;
  }
  #appcontent > editor body {
    font-size: 120pt !important;
    font-family: Times New Roman;
  }
  #msgcomposeWindow {
    #appcontent > editor > html > body:not(body > .moz-cite-prefix, body > blockquote) {
      font-size: 12px !important;
      font-family: Times New Roman;
    }
  } */
}