@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
  /* PANELUI */
  :root {
    --arrowpanel-menuitem-border-radius: var(--win-border-radius) !important;
  }
  panelview .toolbarbutton-1,
  toolbarbutton.subviewbutton,
  .navigable.subviewbutton,
  menu.subviewbutton,
  menuitem.subviewbutton,
  .widget-overflow-list .toolbarbutton-1,
  .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) > toolbarbutton {
    border: 1px solid transparent !important;
  }
  panelview .toolbarbutton-1:not([disabled]):is(:hover,:focus-visible,[open],:active),
  toolbarbutton.subviewbutton:not([disabled]):is(:hover,:focus-visible,[open],:active),
  .navigable.subviewbutton:not([disabled]):is(:hover,:focus-visible,[open],:active),
  menu.subviewbutton:not([disabled])[_moz-menuactive],
  menuitem.subviewbutton:not([disabled])[_moz-menuactive],
  .widget-overflow-list .toolbarbutton-1:not([disabled]):is(:hover,:focus-visible,[open],:active),
  .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) >
    toolbarbutton:not([disabled]):is(:hover,:focus-visible,[open],:active) {
    border: 1px solid var(--win-menuitem-border-color) !important;
    color: var(--win-black-color) !important;
  }
  .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) > toolbarbutton:not(.toolbarbutton-1)[disabled] {
    opacity: var(--win-disabled-icon-opacity) !important;
  }
  .subviewbutton[disabled="true"],
  .subviewbutton[disabled="true"]:hover,
  .subviewbutton[checked="true"][disabled="true"],
  .subviewbutton[checked="true"][disabled="true"]:hover {
    color: var(--lwt-text-color) !important;
    opacity: var(--win-disabled-icon-opacity) !important;
  }
  }
}
