@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
    /* TABMAIL */
    .tab-content[selected="true"] {
      background-image: linear-gradient(rgb(89, 135, 214), rgb(2, 55, 146)) !important;
      /* background-color: rgb(48,98,182) !important; */
      color: var(--win-white-color) !important;
    }
    .tab-content .tab-label {
      font-size: larger;
      font-weight: bolder;
      transform: translateY(-1px);
    }
  }
}