@supports -moz-bool-pref("outlook2003.theme") {
  /* TABMAIL */
  .tabmail-tab[type="accountManager"] {
    list-style-image: url("./../images/accounts.ico") !important;
  }
  .tabmail-tab[type="glodaSearch"] {
    list-style-image: url("./../images/search.ico") !important;
  }
  .tabmail-tab[type="tasks"] {
    list-style-image: url("./../images/tasks.ico") !important;
  }
  .tab-content[selected="true"] {
    background-image: linear-gradient(rgb(89, 135, 214), rgb(2, 55, 146)) !important;
    /* background-color: rgb(48,98,182) !important; */
    color: white !important;
  }
  .tab-content .tab-label {
    font-size: larger;
    font-weight: bolder;
    transform: translateY(-1px);
  }
}