@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
  /* TOOLBARBUTTON */
  /* ::::: toolbarbutton ::::: */
  .toolbarbutton-1:not(.qfb-tag-button),
  .toolbarbutton-menubutton-button {
    color: var(--win-black-color) !important;
  }
  .toolbarbutton-1,
  .toolbarbutton-menubutton-button {
    margin: 0px 0px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    fill: var(--win-black-color) !important;
  }
  toolbar[mode="full"] .toolbarbutton-1:not([hideWebExtensionLabel="true"]) {
    min-width: 0px !important;
  }
  toolbar.chromeclass-toolbar > toolbarseparator {
    background-image: linear-gradient(to right, black, white) !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
  }
  toolbarbutton:not([type="menu-button"]),
  toolbarbutton > .toolbarbutton-menubutton-button,
  toolbarbutton > .toolbarbutton-menubutton-dropmarker {
    transition: none !important;
  }
  .toolbarbutton-1:not([disabled="true"]):is(:hover,[open="true"]) >
  .toolbarbutton-menubutton-button,
  .toolbarbutton-1:not([disabled="true"]):hover >
  .toolbarbutton-menubutton-dropmarker,
  .toolbarbutton-1:not([type="menu-button"],[disabled="true"],[checked="true"],[open="true"],:active):hover {
    background-image: var(--win-toolbarbutton-hover-background) !important;
  }
  .toolbarbutton-1:not([type="menu-button"],[disabled="true"],[open="true"]):hover:active,
  .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
  .toolbarbutton-1:not([type="menu-button"],[disabled="true"]):is([checked="true"]):hover,
  toolbarbutton.formatting-button:not([disabled="true"]):is([checked="true"]):hover {
    background-image: var(--win-toolbarbutton-active-background) !important;
  }
  .toolbarbutton-1:not([type="menu-button"],[disabled="true"])[open="true"],
  .toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]) {
    background-image: var(--win-button-active-background-open) !important;
  }
  .toolbarbutton-1:not([type="menu-button"],[disabled="true"]):is([checked="true"]),
  toolbarbutton.formatting-button:not([disabled="true"]):is([checked="true"]) {
    background-image: var(--win-toolbarbutton-checked-background) !important;
  }
  /* ::::: toolbarbutton menu ::::: */
  /* .......... dropmarker .......... */
  toolbarbutton[type="menu-button"] > .toolbarbutton-menubutton-button {
    padding-right: 2px !important; /* Doesn't help, but it should */
  }
  .toolbarbutton-menu-dropmarker,
  .toolbarbutton-menubutton-dropmarker {
    -moz-box-align: center;
    list-style-image: url("./../images/arrow-dn.gif") !important;
    padding: 1px 2px !important;
  }
  .toolbarbutton-1:not(:hover, :active, [open], [checked]) > 
  .toolbarbutton-menubutton-dropmarker::before, 
  .toolbarbutton-1[disabled="true"] > 
  .toolbarbutton-menubutton-dropmarker::before {
    display: none !important;
    /* margin-inline: -3px 2px !important; */
  }
  }
}