/** TOOLBAR ****************************************************************************/
@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
    /* ToolBox */
    #navigation-toolbox,
    .mail-toolbox,
    #compose-toolbox,
    /* [id^="addressBookTab"] browser[id^="addressBookTabBrowser"] #toolbox, */
    #tabs-toolbar {
      background-color: var(--win-toolbox-background-color) !important;
      background-image: var(--win-toolbox-background-image) !important;
      color: var(--win-black-color) !important;
    }
    .mail-toolbox,  /* Somehow it has a strange double border, don't know how to fix */
    #compose-toolbox {
    /* #[id^="addressBookTab"] browser[id^="addressBookTabBrowser"] #toolbox { */
      border-bottom: var(--win-window-dark-blue-border) !important;
    }
    /* ToolBar Height */
    toolbox > toolbar:not([type="menubar"]) {
      height: var(--win-toolbar-height);
    }
    #compose-toolbox > toolbar:not([type="menubar"]) toolbarbutton {
      max-height: calc(var(--win-toolbar-height) - 2px);
    }
    /* Padding of ToolBar */
    #mailContent > #mail-toolbox > toolbar:not([type="menubar"]) {
      padding: 1px 1px 1px calc(var(--win-menu-toolbar-space) - 2px) !important;
    }
    .mail-toolbox > toolbar:not([type="menubar"]),
    #compose-toolbox > toolbar:not([type="menubar"]),
    [id^="addressBookTab"] browser[id^="addressBookTabBrowser"] #toolbox > toolbar:not([type="menubar"]) {
      padding: 1px 1px 1px var(--win-menu-toolbar-space) !important;
    }
    #navigation-toolbox > vbox > toolbar,
    .mail-toolbox > toolbar[type="menubar"],
    #compose-toolbox > toolbar[type="menubar"] {
      padding-left: var(--win-menu-toolbar-space) !important;
    }
    /* ToolBar Background */
    .mail-toolbox > toolbar:not([type="menubar"]),
    #compose-toolbox > toolbar:not([type="menubar"]),
    [id^="addressBookTab"] browser[id^="addressBookTabBrowser"] #toolbox > toolbar:not([type="menubar"]) {
      background-image: var(--win-toolbar-background-image) !important;
    }
  }
}