@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
  /* TREE */
  /* ::::: tree ::::: */
  /* not --> [id="folderTree"], [id="dirTree"] */
  tree:is([id="abResultsTree"], [id="threadTree"]) > treecols > treecol,
  tree:is([id="abResultsTree"], [id="threadTree"]) > treecols > treecolpicker {
    appearance: none !important;
    border-inline-end: none !important;
    background-color: var(--win-header-background-color) !important;
  }
  tree[id="threadTree"] > treecols > treecol:not([hidden="true"], [id="priorityCol"])::before,
  tree[id="abResultsTree"] > treecols > treecol:not([hidden="true"], [id="GeneratedName"])::before,
  tree[id="abResultsTree"] > treecols > treecolpicker::before {
    /* Box Model */
    content: "";
    display: block;
    position: absolute;
    /* Bar shape */
    width: 1px;
    height: 15px;
    /* Position */
    margin-top: -7.5px;
    transform: translateX(-5px);
    /* Bar Color */
    background-image: linear-gradient(to right, rgb(160, 160, 160), var(--win-white-color));
  }
  tree[id="threadTree"] > treecols > treecol[id="subjectCol"]:not([hidden="true"])::before {
   transform: translateX(-21px) !important; 
  }
  tree[id="abResultsTree"] > treecols:not([id="abResultsTreeCols"]) > treecol::before,
  tree[id="abResultsTree"] > treecols:not([id="abResultsTreeCols"]) > treecolpicker::before {
    margin-top: 0px !important
  }
  /* ::::: tree rows ::::: */
  #threadTree treechildren::-moz-tree-row {
    border-bottom: 1px solid rgb(234, 233, 225) !important;
    min-height: 18px !important; */
  }
  treechildren::-moz-tree-row(hover) {
    background-color: none !important;
  }
  treechildren::-moz-tree-row(selected) {
    background-color: rgb(236, 233, 216) !important;
  }
  treechildren::-moz-tree-row(selected, focus) {
    background-color: rgb(0, 120, 215) !important;
  }
  treechildren::-moz-tree-row(selected, current, focus) {
    border: 1px dotted rgb(255, 135, 40) !important;
  }
  #threadTree treechildren::-moz-tree-row(selected) {
    background-color: rgb(240, 240, 240) !important;
  }
  #threadTree treechildren::-moz-tree-row(selected, focus) {
    background-color: rgb(0, 120, 215) !important;
  }
  #threadTree treechildren::-moz-tree-row(selected, current, focus) {
    border-bottom: 1px dotted rgb(255, 135, 40) !important;
  }
  /* ::::: tree cells ::::: */
  treechildren {
    background-color: transparent !important;
    border-top: 1px solid rgb(197, 197, 197) !important;
  }
  treechildren::-moz-tree-row {
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    /* font-family: ... !important; */
  }
  treechildren::-moz-tree-image(selected),
  treechildren::-moz-tree-twisty(selected),
  treechildren::-moz-tree-cell-text(selected) {
    color: var(--win-black-color) !important;
  }
  treechildren::-moz-tree-image(selected, focus),
  treechildren::-moz-tree-twisty(selected, focus),
  treechildren::-moz-tree-cell-text(selected, focus) {
    color: var(--win-white-color) !important;
  }
  treechildren[tooltip="folderpopup"]::-moz-tree-row {
    margin-inline-start: 3px !important;
    margin-inline-end: 3px !important;
  }
  /* ::::: column picker :::::  */
  tree[id="threadTree"] > treecols > treecolpicker {
    visibility: collapse !important;
  }
  tree[id="threadTree"] > treecols > treecolpickertreecolpicker > menupopup {
    visibility: visible !important;
  }
  tree:not([id="folderTree"], [id="dirTree"]) > treecols[slot="treecols"] {
    border-bottom: 1px solid rgb(212, 212, 212) !important;
  }
  }
}