@supports -moz-bool-pref("outlook2003.theme") {
  /* TREE */
  /* ::::: tree ::::: */
  tree > #threadCols > treecol,
  tree > #threadCols > treecolpicker {
    appearance: tab !important;
    background-color: rgb(240, 240, 240) !important;
  }
  tree > #threadCols > treecol:hover,
  tree > #threadCols > treecolpicker:hover {
    appearance: tab !important;
    background-color: rgb(240, 240, 240) !important;
  }
  /* ::::: tree rows ::::: */
  #threadTree treechildren::-moz-tree-row {
    border-bottom: 1px solid rgb(234, 233, 225) !important;
    min-height: 18px !important; */
  }
  @media (-moz-windows-default-theme) {
    treechildren::-moz-tree-row(hover) {
      background-color: none !important;
    }
  }
  treechildren::-moz-tree-row(selected) {
    background-color: rgb(236, 233, 216) !important;
  }
  treechildren::-moz-tree-row(selected, focus) {
    background-color: rgb(0, 120, 215) !important;
  }
  treechildren::-moz-tree-row(selected, current, focus) {
    border: 1px dotted rgb(255, 135, 40) !important;
  }
  #threadTree treechildren::-moz-tree-row(selected) {
    background-color: rgb(240, 240, 240) !important;
  }
  #threadTree treechildren::-moz-tree-row(selected, focus) {
    background-color: rgb(0, 120, 215) !important;
  }
  #threadTree treechildren::-moz-tree-row(selected, current, focus) {
    border-bottom: 1px dotted rgb(255, 135, 40) !important;
  }
  /* ::::: tree cells ::::: */
  treechildren {
    background-color: white !important;
    border-top: 1px solid rgb(197, 197, 197) !important;
  }
  treechildren::-moz-tree-row {
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    /* font-family: ... !important; */
  }
  treechildren::-moz-tree-image(selected, focus),
  treechildren::-moz-tree-twisty(selected, focus),
  treechildren::-moz-tree-cell-text(selected, focus) {
    color: white !important;
  }
  treechildren[tooltip="folderpopup"]::-moz-tree-row {
    margin-inline-start: 3px !important;
    margin-inline-end: 3px !important;
  }
  /* ::::: column picker :::::  */
  treecolpicker[class="thread-tree-col-picker"] {
    visibility: collapse !important;
  }
  treecolpicker[class="thread-tree-col-picker"] > menupopup {
    visibility: visible !important;
  }
  treecols#threadCols[slot="treecols"] {
    border-bottom: 1px solid rgb(212, 212, 212) !important;
  }
  /* ::::: twisty :::::  */
  treechildren::-moz-tree-twisty {
    padding-right: 4px !important;
    padding-top: 1px !important;
    width: 9px !important; /* The image's width is 9 pixels */
    list-style-image: url("./../images/twisty-closed.png") !important;
  }
  treechildren::-moz-tree-twisty(open) {
    width: 9px !important; /* The image's width is 9 pixels */
    list-style-image: url("./../images/twisty-open.png") !important;
  }
  treechildren::-moz-tree-indentation {
    width: 18px !important;
  }
}