@supports -moz-bool-pref("outlook2003.theme") {
  /* VARIABLES*/
  :host, :root {
    --win-menuitem-hover-background-color: rgb(255, 238, 193);
    --win-menuitem-active-background-color: rgb(254, 162, 95);
    --win-menuitem-disabled-hover-background-color: rgba(255, 238, 193, 0.4);
    --win-border-color: rgb(0, 0, 128);
    --win-toolbarbutton-hover-background: linear-gradient(rgb(255, 248, 211), rgb(255, 208, 145));
    --win-toolbarbutton-active-background: linear-gradient(rgb(254, 138, 72), rgb(255, 208, 145));
    --win-toolbarbutton-checked-background: linear-gradient(rgb(255, 215, 143), rgb(255, 172, 85));
    --win-button-active-background-open: linear-gradient(rgb(227, 239, 255), rgb(129, 168, 225));
    --win-dark-blue-border: 1px rgb(0, 45, 150) solid;
    --win-disabled-icon-opacity: 0.5;
    --win-menu-toolbar-space: 2px;
  }
}