@supports -moz-bool-pref("outlook2003.theme") {
  @media (-moz-windows-default-theme) {
    /** VARIABLES **********************************************************************/
    :root {
      --toolbar-bgcolor: var(--toolbar-non-lwt-bgcolor);
      --toolbar-bgimage: var(--toolbar-non-lwt-bgimage);
      --toolbar-color: var(--toolbar-non-lwt-textcolor);
      --panelui-subview-transition-duration: 150ms;
      --autocomplete-popup-highlight-background: SelectedItem;
      --autocomplete-popup-highlight-color: SelectedItemText;
      --arrowpanel-border-color: rgb(0, 0, 128) !important; /* var(--win-toolbarbutton-border-color) */
      --arrowpanel-border-radius: 0px !important;
      --panel-border-color: var(--arrowpanel-border-color) !important;
      --button-border-radius: 0 !important;
      --button-color: var(--lwt-text-color) !important;
      --button-bgcolor: var(--win-theme-color) !important;
      --button-hover-bgcolor: rgb(229, 241, 251) !important; /* var(--win-menuitem-hover-background-color) */
      --button-active-bgcolor: rgb(204, 228, 247) !important; /* var(--win-menuitem-active-background-color) */
      --button-border-color: rgb(0, 120, 215) !important; /* or rgb(173, 173, 173) */
      --button-primary-bgcolor: rgb(0, 97, 224) !important;
      --button-primary-hover-bgcolor: rgb(2, 80, 187) !important;
      --button-primary-active-bgcolor: rgb(5, 62, 148) !important;
      --button-primary-color: rgb(251, 251, 254) !important;
      --focus-outline-color: var(--toolbar-field-focus-border-color);
      --focus-outline-offset: 2px;
      --focus-outline: 2px solid var(--focus-outline-color);
      --input-border-color: color-mix(in srgb, currentColor 41%, transparent);
      --lwt-header-image: none;
      /* Note: Setting this to 0 (without px) breaks CSS calculations for OSX. */
      --space-above-tabbar: 0px;
      --tab-min-height: 26px !important;
      --lwt-tabs-border-color: rgba(0, 0, 0, .3);
      --tabs-tabbar-border-size: 1px;
      --toolbarbutton-border-radius: 0px !important;
      --toolbarbutton-icon-fill-opacity: 1 !important;
      --toolbarbutton-hover-background: var(--win-toolbarbutton-hover-background) !important;
      --toolbarbutton-hover-bordercolor: var(--win-menubar-border-color) !important;
      --toolbarbutton-header-bordercolor: var(--win-menubar-border-color) !important;
      --toolbarbutton-hover-boxshadow: none;
      --toolbarbutton-active-background: var(--win-toolbarbutton-active-background) !important;
      --toolbarbutton-active-bordercolor: var(--win-menubar-border-color) !important;
      --toolbarbutton-active-boxshadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 0 1px rgba(0, 0, 0, .3) inset;
      --toolbarbutton-checked-background: var(--win-toolbarbutton-checked-background) !important;
      --toolbarbutton-icon-fill-attention: var(--lwt-toolbarbutton-icon-fill-attention, #0a84ff);
      --toolbarseparator-color: color-mix(in srgb, currentColor 20%, transparent);
      --toolbar-field-focus-border-color: -moz-accent-color;
      --toolbar-field-highlight: SelectedItem;
      --toolbar-field-highlight-color: SelectedItemText;
      --item-focus-selected-border-color: #0060df;
      --default: #4f526d;
      --primary: #0a84ff;
    }
    /* LW-themes enabled */
    :root:-moz-lwtheme {
      color: var(--lwt-text-color);
      --button-background: #d2d2d3;
      --button-background-hover: #c2c2c3;
      --button-background-active: #b2b2b3;
      --toolbar-color: var(--lwt-text-color, inherit);
      --toolbar-bgcolor: rgba(255, 255, 255, .4);
      --toolbar-bgimage: none;
      --toolbarbutton-icon-fill-opacity: 1;
      --autocomplete-popup-url-color: hsl(210, 77%, 47%);
      --toolbar-field-background-color: hsla(0, 0%, 100%, 0.8);
      --toolbar-field-border-color: hsla(240, 5%, 5%, 0.25);
    }
    :root[lwt-tree] {
      /* --splitter-color: linear-gradient(to right, black, white) !important; */
      --select-focus-text-color: var(--win-white-color) !important;
      --new-focused-folder-color: var(--sidebar-highlight-text-color, var(--sidebar-text-color));
      --row-grouped-header-bg-color: hsla(0, 0%, 50%, 0.15);
      --row-grouped-header-bg-color-selected: var(--sidebar-highlight-background-color,
                                                  hsla(0, 0%, 80%, 0.6));
    }
    #FindToolbar:-moz-lwtheme,
    .themeable-full:-moz-lwtheme,
    .themeable-brighttext:-moz-lwtheme {
      --toolbarbutton-hover-background: var(--win-toolbarbutton-hover-background) !important;
      --toolbarbutton-hover-bordercolor: var(--win-menubar-border-color) !important;
      --toolbarbutton-active-background: var(--win-toolbarbutton-active-background) !important;
      --toolbarbutton-active-bordercolor: var(--win-menubar-border-color) !important;
      --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background,
                                                      rgba(0, 0, 0, .15)) inset;
      --toolbarbutton-checked-background: var(--win-toolbarbutton-checked-background) !important;
    }
    /* Dark themes enabled */
    :root[lwt-tree-brighttext] {
      --default: #dcdcdc;
      --primary: #45b1ff;
      --item-focus-selected-border-color: #bebebf;
      --row-grouped-header-bg-color-selected: var(--sidebar-highlight-background-color,
                                                  rgba(249, 249, 250, 0.3));
    }
    :root[lwt-popup-brighttext] {
      --autocomplete-popup-url-color: #0a84ff;
    }
    toolbar[brighttext] {
      --toolbarbutton-icon-fill-attention: var(--lwt-toolbarbutton-icon-fill-attention, #45a1ff);
    }
    .themeable-full[brighttext],
    :root[lwtheme-brighttext] .themeable-full,
    :root[lwt-tree-brighttext] .themeable-brighttext {
      --toolbarbutton-hover-background: var(--win-toolbarbutton-hover-background) !important;
      --toolbarbutton-hover-bordercolor: var(--win-menubar-border-color) !important;
      --toolbarbutton-header-bordercolor: var(--win-menubar-border-color) !important;
      --toolbarbutton-active-background: var(--win-toolbarbutton-active-background) !important;
      --toolbarbutton-active-bordercolor: var(--win-menubar-border-color) !important;
      --toolbarbutton-active-boxshadow: none;
      --toolbarbutton-checked-background: var(--win-toolbarbutton-checked-background) !important;
    }
    @media (prefers-color-scheme: dark) {
      :root:not([lwt-tree]):-moz-lwtheme,
      :root[lwt-default-theme-in-dark-mode] {
        --button-primary-bgcolor: rgb(0, 97, 224) !important; /* override the default variable */
        --button-primary-hover-bgcolor: rgb(2, 80, 187) !important;
        --button-primary-active-bgcolor: rgb(5, 62, 148) !important;
        --button-primary-color: rgb(251, 251, 254) !important;
        --lwt-accent-color: rgb(24, 24, 26) !important;
        --sidebar-border-color: #606064 !important;
        --lwt-toolbarbutton-hover-background: rgba(179, 179, 179, 0.4);
        --lwt-toolbarbutton-active-background: rgba(179, 179, 179, 0.6);
        --autocomplete-popup-highlight-background: #0060df;
        --toolbar-field-border-color: #5f5f6d !important;
      }
      :root:not([lwt-tree]):-moz-lwtheme {
        --arrowpanel-border-color: #52525e;
        --chrome-content-separator-color: #52525e;
        --item-focus-selected-border-color: #bebebf;
        --default: #dcdcdc;
        --primary: #45b1ff;
        --splitter-color: #606064;
      }
      :root[lwt-default-theme-in-dark-mode] {
        --lwt-selected-tab-background-color: #2a2a2e !important;
        --sidebar-highlight-background-color: #0a84ff;
      }
      :root:-moz-lwtheme .themeable-brighttext {
        --toolbarbutton-header-bordercolor: var(--lwt-toolbarbutton-hover-background,
                                                rgba(255, 255, 255, .25));
      }
      :root[lwt-default-theme-in-dark-mode] #quick-filter-bar:-moz-lwtheme {
        --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background);
        --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background);
        --toolbarbutton-checked-background: var(--lwt-toolbarbutton-hover-background);
        --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background);
        --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background);
        --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background) inset;
      }
    }
    /* UI Density customization */
    :root[uidensity="compact"] {
      --tab-min-height: 24px !important;
    }
    :root[uidensity="touch"] {
      --tab-min-height: 28px !important;
    }
    /* Space above the tab bar */
    :root[extradragspace][tabsintitlebar]:not([inFullscreen]) {
      --space-above-tabbar: 8px;
    }

    /** VARIABLES **********************************************************************/
    :root {
      --autocomplete-popup-url-color: -moz-nativehyperlinktext;
      --tabline-color: SelectedItem;
      --glassShadowColor: hsla(240, 5%, 5%, 0.3);
      --new-folder-color: -moz-hyperlinktext;
      --noselect-folder-color: GrayText;
      --toolbar-non-lwt-bgcolor: var(--win-toolbar-background-color) !important; /* rgb(214, 231, 253) */
      --toolbar-non-lwt-textcolor: -moz-dialogText;
      --toolbar-non-lwt-bgimage: var(--win-toolbar-background-image) !important;
      --chrome-content-separator-color: ThreeDShadow;
      --row-grouped-header-bg-color: -moz-dialog;
      --row-grouped-header-bg-color-selected: SelectedItem;
      --panel-separator-color: ThreeDLightShadow;
      --splitter-color: ThreeDShadow;
    }
    @media (-moz-windows-default-theme) {
      :root {
        --lwt-tabs-border-color: rgba(0, 0, 0, 0.3);
        --tabline-color: #0a84ff;
        --toolbar-non-lwt-bgcolor: var(--win-toolbar-background-color) !important; /* rgb(214, 231, 253) */
        --toolbar-non-lwt-textcolor: #0c0c0d;
        --toolbar-non-lwt-bgimage: var(--win-toolbar-background-image) !important;
        --panel-separator-color: hsla(210, 4%, 10%, 0.14);
        --autocomplete-popup-url-color: hsl(210, 77%, 47%);
        /* --splitter-color: linear-gradient(to right, black, white) !important; */
        --select-focus-text-color: var(--win-white-color) !important;
      }
    }
    :root:-moz-lwtheme {
      --lwt-tabs-border-color: rgba(0, 0, 0, 0.3);
      --panel-separator-color: hsla(210, 4%, 10%, 0.14);
    }
    :root[lwt-popup-brighttext] {
      --panel-separator-color: rgba(249, 249, 250, 0.1);
    }
    @media (prefers-color-scheme: dark) {
      :root:-moz-lwtheme {
        --autocomplete-popup-highlight-color: var(--lwt-text-color);
        --dark-lwt-highlight-color: #0a84ff;
      }
      @media (-moz-windows-non-native-menus) {
        :root:not([lwt-tree]):-moz-lwtheme menupopup {
          --panel-background: var(--arrowpanel-background) !important;
          --panel-color: var(--arrowpanel-color) !important;
          --panel-border-color: var(--arrowpanel-border-color) !important;
          --menu-color: var(--arrowpanel-color) !important;
          --menu-disabled-color: color-mix(in srgb, var(--arrowpanel-color) 35%, transparent) !important;
          --menuitem-hover-background-color: color-mix(in srgb, var(--arrowpanel-color) 13%, transparent) !important;
        }
      }
    }

  }
}