/*= Container Tab - Color line at icon's bottom =====================================*/
.tab-context-line {
  display: none;
}
.tabbrowser-tab {
  --uc-container-position-y: 10px;
  --uc-attention-container-position-x: 16px, 12.5%, 20%, 30%, 40%, 50%, 60%, 70%;
  --uc-pinned-attention-container-position-x: 32%, 50%, 70%;
}
:root[uidensity="compact"] .tabbrowser-tab {
  --uc-container-position-y: 10px;
  --uc-attention-container-position-x: 12px, 12.5%, 20%, 30%, 40%, 50%, 60%, 70%;
  --uc-pinned-attention-container-position-x: 30%, 50%, 70%;
}
:root[uidensity="touch"] .tabbrowser-tab {
  --uc-container-position-y: 12px;
}
.tab-content::before {
  /* Box Model */
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(var(--uc-container-position-y));
  /* Shape */
  border-bottom: 2px solid var(--identity-icon-color);
  border-radius: 8px;
  width: calc(16px + 10%);
}
.tabbrowser-tab:hover:not([pinned], [visuallyselected]) .tab-content::before {
  width: calc(16px + 15%);
}
.tabbrowser-tab[visuallyselected]:not([pinned]) .tab-content::before {
  width: calc(16px + 30%);
}
.tabbrowser-tab:not([visuallyselected]) .tab-content[attention]::before {
  opacity: 0; 
}
/* Animate */
@media (prefers-reduced-motion: no-preference) {
  .tab-content::before {
    transition: 0.15s var(--animation-easing-function);
    transition-property: width, opacity;
  }
}
/* Pinned Tab */
.tabbrowser-tab[pinned] .tab-content:not([attention])::before {
  width: 16px;
}
/* Tab - Hide Titlechanged Indicator */
.tabbrowser-tab > .tab-stack > .tab-content[titlechanged]:not([selected="true"]) {
  background-image: none !important;
}
/* Tab - Attention Indicator override */
.tabbrowser-tab:not([pinned])[usercontextid] > .tab-stack > .tab-content[attention]:not([selected="true"]) {
  /* Original: radial-gradient(circle, var(--attention-icon-color), var(--attention-icon-color) 2px, transparent 2px); */
  --dotted-identity-image: radial-gradient(
    circle,
    var(--identity-icon-color),
    var(--identity-icon-color) 2px,
    transparent 2px
  );
  background-image: var(--dotted-identity-image), var(--dotted-identity-image), var(--dotted-identity-image),
                    var(--dotted-identity-image), var(--dotted-identity-image), var(--dotted-identity-image),
                    var(--dotted-identity-image), var(--dotted-identity-image) !important;
  background-position-x: var(--uc-pinned-attention-container-position-x) !important;
  background-position-y: bottom calc(var(--uc-container-position-y) / 2 - 1.5px) !important;
}
/* Pinned Tab - Attention Indicator override */
.tabbrowser-tab[pinned][usercontextid] > .tab-stack > .tab-content[attention]:not([selected="true"]) {
  background-image: var(--dotted-identity-image), var(--dotted-identity-image), var(--dotted-identity-image) !important;
  background-position-x: var(--uc-pinned-attention-container-position-x) !important;
}
