/*= Container Tab - Color line at icon's bottom ====================== I'VE CHANGED =*/
.tab-context-line {
  display: none;
}
.tabbrowser-tab {
  --container-position-y: 10px;
}
:root[uidensity="compact"] .tabbrowser-tab {
  --container-position-y: 10px;
}
:root[uidensity="touch"] .tabbrowser-tab {
  --container-position-y: 12px;
}
.tab-content::before {
  /* Box Model */
  content: "";
  display: block;
  position: absolute !important;
  transform: translateY(var(--container-position-y));
  /* Shape */
  border-bottom: 2px solid var(--identity-icon-color);
  border-radius: 2px; /* same as close button */
  width: calc(16px + 10%);
}
.tabbrowser-tab:hover:not([pinned], [visuallyselected]) .tab-content::before {
  width: calc(16px + 15%);
}
.tabbrowser-tab[visuallyselected]:not([pinned]) .tab-content::before {
  width: calc(16px + 30%);
}
/* Animate */
@media (prefers-reduced-motion: no-preference) {
  .tab-content:not([titlechanged])::before {
    transition: 0.15s var(--animation-easing-function) !important;
    transition-property: width, opacity;
  }
}
/* Pinned Tab */
.tabbrowser-tab[pinned] .tab-content::before {
  width: 16px;
}
/* Pinned Tab - Titlechanged Indicator override */
.tabbrowser-tab:is([image], [pinned])[usercontextid] > .tab-stack > .tab-content[attention]:not([selected="true"]) {
  /* Original: radial-gradient(circle, var(--attention-icon-color), var(--attention-icon-color) 2px, transparent 2px); */
  --dotted-identity-image: radial-gradient(
    circle,
    var(--identity-icon-color),
    var(--identity-icon-color) 2px,
    transparent 2px
  );
  background-image: var(--dotted-identity-image), var(--dotted-identity-image), var(--dotted-identity-image) !important;
  background-position-x: 32%, 50%, 70% !important;
}
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-image: none !important;
}
:root[uidensity="compact"]
  .tabbrowser-tab:is([image], [pinned])[usercontextid]
  > .tab-stack
  > .tab-content[attention]:not([selected="true"]),
:root[uidensity="compact"]
  .tabbrowser-tab[usercontextid]
  > .tab-stack
  > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  /* Original: radial-gradient(circle, var(--attention-icon-color), var(--attention-icon-color) 2px, transparent 2px); */
  background-position-x: 30%, 50%, 70% !important;
}
.tabbrowser-tab:is([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]),
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  /* Original: center bottom calc(6.5px + var(--tabs-navbar-shadow-size)); */
  background-position-y: top calc(0.5px + 50% + var(--container-position-y)) !important;
}