/*= PictureInPicture Tab - Show PIP Icon ============================================*/
#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-content::after,
#tabbrowser-tabs[closebuttons="activetab"]
  .tabbrowser-tab[pictureinpicture]:not([pinned], :hover)
  .tab-content::after {
   content: "";
}
.tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-content::after {
  /* Shape */
  display: inline-flex !important;
  width: 14px;
  height: 14px;
  background-size: 14px;
  order: 1 !important;
  -moz-box-ordinal-group: 1 !important;
  /* Color */
  fill: currentColor;
  opacity: 0.8;
  -moz-context-properties: fill;
  /* Icon */
  background-image: url("./../images/picture-in-picture-open.svg");
}
.tabbrowser-tab[pictureinpicture]:not([pinned])[selected] .tab-content::after {
  opacity: 0.95;
}
/* Close Button's position */
.tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-close-button {
  order: 2 !important;
  -moz-box-ordinal-group: 2 !important;
}
#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab[pictureinpicture]:not([pinned]) .tab-close-button {
  margin-left: 3px !important;
}
#tabbrowser-tabs:not([closebuttons="activetab"])
  .tabbrowser-tab[pictureinpicture]:not([pinned]):hover
  .tab-close-button {
  margin-left: 3px !important;
}
/*- PictureInPicture Player --------------------------------------------*/
:root {
  --controls-bottom-distance: 5px !important;
  --controls-bottom-upper-height: 25px !important;
  --resize-margin: 0px !important;
}
#scrubber::-moz-range-thumb {
  width: 7px !important;
  height: 7px !important;
  border: 3px solid color-mix(in srgb, #FFFFFF 50%, transparent) !important;
}
#scrubber::-moz-range-track {
  background-color: color-mix(in srgb, #969696 65%, transparent) !important;
}
#scrubber::-moz-range-progress {
  background-color: color-mix(in srgb, #FFFFFF 50%, transparent) !important;
}
#unpip {
  background-image: url("./../images/link-square-pip.svg") !important;
}
#controls:not(.playing) #playpause {
  background-image: url("./../images/play.svg") !important;
}
#controls.playing #playpause {
  background-image: url("./../images/pause.svg") !important;
}
#controls:not(.muted) #audio {
  background-image: url("./../images/audio.svg") !important;
}
#controls.muted #audio {
  background-image: url("./../images/audio-muted.svg") !important;
}
/* #controls #seekBackward {
  background-image: url("./../images/skip-backward.svg") !important;
} */
#controls seekForward {
  background-image: url("./../images/closed-caption.svg") !important;
}
/* #controls #closed-caption {
  background-image: url("./../images/skip-forward.svg") !important;
} */
body:not(:fullscreen) #controls #fullscreen {
  background-image: url("./../images/fullscreenEnterButton.svg") !important;
}
body:fullscreen #controls #fullscreen {
  background-image: url("./../images/fullscreenExitButton.svg") !important;
}
#close {
  background-image: url("./../images/dismiss.svg") !important;
}
