/*= Unselected Tab - Dynamic Separator =============================== I'VE CHANGED =*/
#tabbrowser-arrowscrollbox {
  --end-tab-separator-position-x: -0.5px;
  --tab-separator-position-x: -0.5px;
  --tab-separator-position-y: calc(-50% + 1px);
}
#tabbrowser-arrowscrollbox:-moz-locale-dir(rtl) {
  --end-tab-separator-position-x: 0.5px;
  --tab-separator-position-x: 0.5px;
}
#tabbrowser-arrowscrollbox-periphery {
  position: relative;
}
.tab-stack::before,
#tabbrowser-arrowscrollbox:not([overflowing])
  .tabbrowser-tab:not([visuallyselected], [multiselected], :hover)[last-visible-tab]
  .tab-stack::after {
    /* Box Model */
    content: "";
    display: block;
    position: absolute;
    /* Position */
    top: 50%;
    /* Bar shape */
    width: 1px;
    height: calc(var(--tab-min-height) * 0.64); /* normal/compact = 20px */
    /* Bar Color */
    opacity: 0;
    background-image: var(--toolbarseparator-color);
}
.tab-stack::before {
  transform: translateX(var(--tab-separator-position-x)) translateY(var(--tab-separator-position-y)) !important;
}
.tabbrowser-tab[last-visible-tab] .tab-stack::after {
  right: 0;
  transform: translateX(var(--end-tab-separator-position-x)) translateY(var(--tab-separator-position-y)) !important;
}
.tabbrowser-tab:not([visuallyselected], [multiselected], :hover, :first-child) .tab-stack::before,
#tabbrowser-arrowscrollbox:not([overflowing])
  .tabbrowser-tab:not([visuallyselected], [multiselected], :hover)[last-visible-tab]
  .tab-stack::after {
    opacity: var(--tab-separator-opacity, 0.7);
}
#navigator-toolbox
  .tabbrowser-tab:is([visuallyselected], [multiselected], :hover)
  + .tabbrowser-tab:not([visuallyselected])
  .tab-stack::before,
#navigator-toolbox
  .tabbrowser-tab[first-visible-unpinned-tab]:is([visuallyselected], [multiselected], :hover)
  .tab-stack::before,
#navigator-toolbox
  #tabbrowser-arrowscrollbox[overflowing]
  tab.tabbrowser-tab[first-visible-unpinned-tab]
  .tab-stack::before {
    opacity: 0 !important;
}
:root:not([uidensity="compact"]) #tabs-newtab-button > .toolbarbutton-icon {
  margin-left: 2px;
}
:root[uidensity="compact"] #tabs-newtab-button > .toolbarbutton-icon {
  margin-left: 1px;
}
/* Animate */
@media (prefers-reduced-motion: no-preference) {
  .tab-stack::before,
  #tabbrowser-arrowscrollbox:not([overflowing])
    .tabbrowser-tab:not([visuallyselected], [multiselected], :hover)[last-visible-tab]
    .tab-stack::after {
      transition: opacity 0.2s var(--animation-easing-function); /* cubic-bezier(.07, .95, 0, 1) */
  }
}
/* Latest Tab & New tab margin */
#tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[last-visible-tab] {
  margin-inline-end: 1px !important;
}