/*= Unselected Tab - Dynamic Separator ==============================================*/
#tabbrowser-arrowscrollbox {
  --end-tab-separator-position-x: -4px;
  --tab-separator-position-x: 0px; /* -2.5px; */
  --tab-separator-position-y: calc(-50% + 1px);
}
#tabbrowser-arrowscrollbox:-moz-locale-dir(rtl) {
  --end-tab-separator-position-x: 4px;
}
#tabbrowser-arrowscrollbox-periphery {
  position: relative;
}
/* #tabbrowser-arrowscrollbox {
  position: absolute;
} */
.tab-background::before,
#tabs-newtab-button::before {
  /* Box Model */
  content: "";
  display: block;
  position: absolute;
  /* Position */
  top: 50%;
  /* Bar shape */
  width: 1px;
  height: calc(var(--tab-min-height) * 0.64); /* normal/compact = 20px */
  /* Bar Color */
  opacity: 0;
  background-image: var(--toolbarseparator-color);
}
@supports -moz-bool-pref("userChrome+Content.tor.compatibility") {
  #tabs-newtab-button::before {
    top: unset !important;
  }
}
.tab-background::before {
  transform: translateX(var(--tab-separator-position-x)) translateY(var(--tab-separator-position-y));
}
#tabs-newtab-button::before {
  /* Position */
  transform: translateX(var(--end-tab-separator-position-x)) translateY(var(--tab-separator-position-y));
}
.tabbrowser-tab:not([visuallyselected], [multiselected], :hover, :first-child) .tab-background::before,
#tabs-newtab-button:not([open])::before { /* newtab-button seperator should be visible when hovered */
  opacity: var(--tab-separator-opacity, 0.7);
}
#navigator-toolbox
  .tabbrowser-tab:is([visuallyselected], [multiselected], :hover)
  + .tabbrowser-tab
  .tab-background::before,
#navigator-toolbox
  .tabbrowser-tab:is([visuallyselected], [multiselected], :hover)
  ~ .tabbrowser-tab[afterhovered]
  .tab-background::before,
#navigator-toolbox
  .tabbrowser-tab[last-visible-tab]:is([visuallyselected], [multiselected], :hover)
  ~ #tabbrowser-arrowscrollbox-periphery #tabs-newtab-button::before,
#navigator-toolbox
  .tabbrowser-tab[first-visible-unpinned-tab]:is([visuallyselected], [multiselected], :hover)
  .tab-background::before,
#navigator-toolbox
  #tabbrowser-arrowscrollbox[overflowing]
  tab.tabbrowser-tab[first-visible-unpinned-tab]
  .tab-background::before {
  opacity: 0 !important;
}
@supports -moz-bool-pref("userChrome+Content.tor.compatibility") {
  #navigator-toolbox:not([movingtab])
    .tabbrowser-tab[last-visible-tab]:is([visuallyselected], [multiselected], :hover)
    ~ #tabs-newtab-button::before {
    opacity: 0 !important;  /* Legacy - v103 */
}
/* Animate */
@media (prefers-reduced-motion: no-preference) {
  .tab-background::before,
  #tabs-newtab-button::before {
    transition: opacity 0.2s var(--animation-easing-function); /* cubic-bezier(.07, .95, 0, 1) */
  }
}
/* Latest Tab & New tab margin */
#tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[last-visible-tab] {
  margin-inline-end: 1px !important;
}