/*= Vertical Tab ====================================================================*/
@supports -moz-bool-pref("userChrome+Content.tab.vertical_tab") {
/*- Tab Bar - Shared Layout --------------------------------------------*/
  :root {
    --uc-window-control-width: 0px;
    /* Same as .titlebar-buttonbox-container      -  Space reserved for window controls */
    --uc-window-drag-space-pre: 0px;
    /* Same as .titlebar-spacer[type="pre-tabs"]  - Extra space reserved on both sides of the nav-bar to be able to drag the window */
    --uc-window-drag-space-post: 0px;
    /* Same as .titlebar-spacer[type="post-tabs"] */
    --uc-widow-control-space: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-post));
  }
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-widow-control-space: 0px;
    --uc-window-drag-space-pre: var(--uc-title-pre-spacer, 40px);
    --uc-window-drag-space-post: var(--uc-title-post-spacer, 40px);
  }
  @media (-moz-os-version: windows-win10), (-moz-platform: windows-win10) {
    :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
      --uc-window-control-width: 138px;
    }
  }
  :root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
    --uc-window-drag-space-pre: 0px; /* Remove pre space */
  }
/*- Tab Bar - Show only current tab ------------------------------------*/
  :root:not([tabsintitlebar="true"]) #tabbrowser-tabs,
  #scrollbutton-up,
  #scrollbutton-down,
  .titlebar-spacer[type="pre-tabs"],
  spacer:is([part="overflow-start-indicator"], [part="overflow-end-indicator"]),
  /* spacer[part="overflow-end-indicator"], */
  .tabbrowser-tab:not([selected="true"]),
  .tabbrowser-tab[selected="true"] .tab-background,
  .tabbrowser-tab[selected="true"] .tab-stack:is(::before, ::after),
  tab > stack::before,
  tab > stack::after,
  .tabbrowser-tab[selected="true"] .tab-close-button,
  #tabs-newtab-button {
    display: none !important;
  }
  .tabbrowser-tab[selected="true"] {
    -moz-window-dragging: drag;
    --tab-max-width: 100%;
    width: var(--tab-max-width) !important;
    margin-inline-start: calc(var(--tab-shadow-max-size) * -1) !important;
    /* 
    --tab-max-width: 100vw;
    min-width: calc(var(--uc-tabbar-width, 100vw) - var(--uc-widow-control-space)) !important;
    max-width: var(--tab-max-width) !important;
    */
  }
  .tabbrowser-tab[selected="true"][pinned="true"] {
    -moz-box-flex: 100;
    max-width: var(--tab-max-width) !important;
  }
  .tabbrowser-tab[selected="true"] .tab-label-container {
    margin-inline: 0 !important;
  }
  .tab-content {
    margin-inline: auto;
    width: 100%;
  }
  .tab-content::before {
    width: 70% !important;
    transform: translateY(var(--container-position-y)) translateX(15%) !important;
  }
  /* Pinned */
  /*
  #tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned][selected="true"] {
    position: relative !important;
  }
  */
  #tabbrowser-tabs {
    /* --tab-overflow-pinned-tabs-width: 0 !important; */
    padding-inline: 0 !important;
    /* Original: var(--tab-overflow-pinned-tabs-width) 0; */
  }
  .tab-throbber[pinned],
  .tab-icon-pending[pinned],
  .tab-icon-image[pinned],
  .tab-sharing-icon-overlay[pinned],
  .tab-icon-overlay[pinned] {
    margin-inline-end: 5.5px;
  }
  .tab-label-container[pinned] {
    width: unset !important;
  }
  @supports -moz-bool-pref("browser.tabs.tabmanager.enabled") {
    :root:not([tabsintitlebar="true"]) #tabbrowser-tabs:not([overflow="true"], [hashiddentabs]) ~ #alltabs-button,
    :root:not([tabsintitlebar="true"]) #tabbrowser-tabs[hasadjacentnewtabbutton]:not([overflow="true"]) ~ #new-tab-button {
      display: -moz-box !important;
    }
  }
  #tabbrowser-tabs:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox {
    padding-inline: 12.5px !important;
  }

  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] {
    --inline-tab-padding: 0 !important;
  }
/*- Tab Centered - Make to Center --------------------------------------*/
  .tabbrowser-tab[selected]:not(:hover) .tab-label-container:not([textoverflow]),
  .tabbrowser-tab:not(:hover, [pinned]) .tab-label-container:not([textoverflow]) {
    margin-inline-end: 5px;
  }
  .tab-icon-stack {
    -moz-box-flex: 1;
    justify-content: end;
  }
/*- Sidebar UI ---------------------------------------------------------*/
  #sidebar-box[sidebarcommand="vertical-tabs_typeling1578-sidebar-action"] {
    --uc-sidebar-width: 40px;
    --uc-sidebar-activate-width: 18em;
    --uc-sidebar-activate-width-reverse: calc(-1 * var(--uc-sidebar-activate-width));
    --uc-sidebar-fullscreen-width: 4px;
    --uc-sidebar-shadow-size: 1px;
    --uc-sidebar-shadow-width: 0px;
    --uc-sidebar-shadow-position: var(--uc-sidebar-shadow-position-default);
    --uc-sidebar-shadow-position-default: calc(var(--uc-sidebar-shadow-size) + var(--uc-sidebar-shadow-width));
    --uc-autohide-sidebar-speed: 750ms;
    --uc-autohide-fullscreen-sidebar-speed: 1s;
    --uc-autohide-sidebar-delay: 600ms; /* Wait 0.6s before hiding sidebar */
    z-index: 1 !important;
    position: relative !important;
    box-shadow: var(--uc-sidebar-shadow-position) 0px var(--win-border-color);
  }
  #sidebar-box[sidebarcommand="vertical-tabs_typeling1578-sidebar-action"][positionend="true"] {
    --uc-sidebar-shadow-position: calc(-1 * var(--uc-sidebar-shadow-position-default));
    direction: rtl;
  }
  #sidebar-box[sidebarcommand="vertical-tabs_typeling1578-sidebar-action"] 
    #sidebar {
      display: block;
  }
  #sidebar-splitter {
    display: none !important;
  }
  #sidebar-box[sidebarcommand="vertical-tabs_typeling1578-sidebar-action"]
    #sidebar-header {
      display: none !important;
  }
/*- Auto Hide ----------------------------------------------------------*/
  #sidebar-header,
  #sidebar {
    background-color: var(--sidebar-background-color) !important;
    color: var(--sidebar-text-color) !important;
    overflow: hidden;
  }
  #sidebar-box,
  #sidebar-box > #sidebar,
  #sidebar-header {
    min-width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    will-change: min-width, max-width;
  }
    /*
    #sidebar-box:is(:hover, :focus-within) {
      --uc-sidebar-shadow-width: calc(var(--uc-sidebar-activate-width) - var(--uc-sidebar-width));
    }
    */
  #sidebar-box:is(:hover, :focus-within),
  #sidebar-box:is(:hover, :focus-within) > #sidebar,
  #sidebar-box:is(:hover, :focus-within) > #sidebar-header {
    min-width: var(--uc-sidebar-activate-width) !important;
    max-width: var(--uc-sidebar-activate-width) !important;
  }
    /*
    :root[inFullscreen="true"] #sidebar-box {
      --uc-sidebar-shadow-width: var(--uc-sidebar-fullscreen-width);
      margin-inline-start: var(--uc-sidebar-activate-width-reverse) !important;
      padding-inline-start: var(--uc-sidebar-fullscreen-width);
      will-change: padding-inline-start, opacity, box-shadow, visibility;
    }
    :root[inFullscreen="true"] #sidebar-box:is(:hover, :focus-within) {
      --uc-sidebar-shadow-width: var(--uc-sidebar-activate-width);
      padding-inline-start: var(--uc-sidebar-activate-width);
    }
    */
  :root[inFullscreen="true"] #sidebar-box {
    min-width: var(--uc-sidebar-activate-width) !important;
    max-width: var(--uc-sidebar-activate-width) !important;
    will-change: transform;
  }
  :root[inFullscreen="true"] #sidebar-box:not([positionend="true"]) {
    margin-inline-start: var(--uc-sidebar-activate-width-reverse) !important;
    transform: translateX(var(--uc-sidebar-fullscreen-width)) !important;
  }
  :root[inFullscreen="true"] #sidebar-box:not([positionend="true"]):hover {
    transform: translateX(var(--uc-sidebar-activate-width)) !important;
  }
  :root[inFullscreen="true"] #sidebar-box[positionend="true"] {
    margin-inline-end: var(--uc-sidebar-activate-width-reverse) !important;
    transform: translateX(
      calc(var(--uc-sidebar-activate-width) + -1 * var(--uc-sidebar-fullscreen-width))
    ) !important;
  }
  :root[inFullscreen="true"] #sidebar-box[positionend="true"]:hover {
    transform: translateX(0) !important;
  }
  :root[inFullscreen="true"] #sidebar-box #sidebar-header,
  :root[inFullscreen="true"] #sidebar-box #sidebar {
    min-width: calc(var(--uc-sidebar-activate-width)) !important;
    max-width: calc(var(--uc-sidebar-activate-width)) !important;
    will-change: unset;
  }
  @media (prefers-reduced-motion: no-preference) {
    #sidebar-box,
    #sidebar-box > #sidebar {
      transition: min-width var(--uc-autohide-sidebar-speed) var(--animation-easing-function)
                  var(--uc-autohide-sidebar-delay) !important;
    }
      /*
      #sidebar-box:is(:hover, :focus-within) {
        transition: margin-inline-start var(--uc-autohide-sidebar-speed) var(--animation-easing-function),
                    opacity var(--uc-autohide-sidebar-speed) ease-in-out,
                    box-shadow var(--uc-autohide-sidebar-speed) var(--animation-easing-function) var(--uc-autohide-sidebar-speed),
                    visibility 0s linear !important;
      }
      */
    #sidebar-box:is(:hover, :focus-within),
    #sidebar-box:is(:hover, :focus-within) > #sidebar {
      transition-delay: 0ms !important;
    }
      */
      :root[inFullscreen="true"] #sidebar-box {
        transition: transform var(--uc-autohide-fullscreen-sidebar-speed) var(--animation-easing-function)
                    var(--uc-autohide-sidebar-delay),
                    opacity var(--uc-autohide-fullscreen-sidebar-speed) ease-in-out,
                    box-shadow calc(var(--uc-autohide-fullscreen-sidebar-speed) + 0.05s) var(--animation-easing-function),
                    visibility 0s linear !important;
      }
      */
    :root[inFullscreen="true"] #sidebar-box {
      transition: transform var(--uc-autohide-fullscreen-sidebar-speed) var(--animation-easing-function)
                  var(--uc-autohide-sidebar-delay) !important;
    }
    :root[inFullscreen="true"] #sidebar-box[positionend="true"] {
      transition-property: margin-inline-end !important;
    }
    :root[inFullscreen="true"] #sidebar-box:is(:hover, :focus-within) {
      transition-delay: 0ms !important;
    }
  }
}
